Repository wireapp/wire-webapp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

feat(context-menu): implement context menu positioning with anchor support and viewport clamping
  src/script/ui/ContextMenu.test.tsx
  src/script/ui/ContextMenu.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Added ENV_NAME to env template files, finished playwright-cells-crit-flow-tests.yml, added workaround for imai and fulu envs (they don't have marketing consent pop up)
  .github/workflows/playwright-cells-crit-flow-tests.yml
  test/e2e_tests/.env.fulu.tpl
  test/e2e_tests/.env.imai.tpl
  test/e2e_tests/.env.staging.tpl
  test/e2e_tests/pageManager/webapp/cells/cellsFileDetailView.modal.ts
  test/e2e_tests/pageManager/webapp/pages/groupCreation.page.ts
  test/e2e_tests/specs/CriticalFlow/Cells/uploadingFileInGroupConversation.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat: Virtualization flicker fix
  package.json
  src/script/components/MessagesList/Message/Marker/Marker.tsx
  src/script/components/MessagesList/Message/VirtualizedMessage.tsx
  src/script/components/MessagesList/VirtualizedMessageListWrapper.tsx
  src/script/components/MessagesList/VirtualizedMessagesList/VirtualizedMessagesList.tsx
  src/script/components/MessagesList/VirtualizedMessagesList/useLoadMessages.ts
  src/script/components/MessagesList/utils/useScrollToLastUnreadMessage.ts
  src/style/content/conversation/message-list.less
  yarn.lock
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

fix(context-menu): rename mainElement to activeElement for clarity in context menu positioning
  src/script/ui/ContextMenu.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat: remove ButtonGroup component which is not used anywhere
  src/script/components/calling/ButtonGroup.test.tsx
  src/script/components/calling/ButtonGroup.tsx
  src/script/view_model/CallingViewModel.ts
Due: prettier --ignore-unknown --write, eslint --fix

finish test suite
  test/e2e_tests/.env.tpl
  test/e2e_tests/specs/AccountSettingsSpecs/accountSettings.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

revert tanstack virtual package version
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

feat: update the meeting icon
  src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/ConversationTabs.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat: add meeting cta on the left navigation. also added its route for url based landing on meetings view
  src/i18n/en-US.json
  src/script/page/AppMain.tsx
  src/script/page/LeftSidebar/LeftSidebar.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationHeader/ConversationHeader.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/ConversationTabs.tsx
  src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
  src/script/page/LeftSidebar/panels/Conversations/useSidebarStore.ts
  src/script/page/MainContent/MainContent.tsx
  src/script/page/useAppState.ts
  src/script/view_model/ListViewModel.ts
  src/types/i18n.d.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat: update the margin of left navigation title
  src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/ConversationTabs.styles.ts
  src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/ConversationTabs.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat: Virtualization flicker fix (#19552)
  src/script/components/MessagesList/Message/Marker/Marker.tsx
  src/script/components/MessagesList/Message/VirtualizedMessage.tsx
  src/script/components/MessagesList/VirtualizedMessageListWrapper.tsx
  src/script/components/MessagesList/VirtualizedMessagesList/VirtualizedMessagesList.tsx
  src/script/components/MessagesList/VirtualizedMessagesList/useLoadMessages.ts
  src/script/components/MessagesList/utils/useScrollToLastUnreadMessage.ts
  src/style/content/conversation/message-list.less
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

Added SCIM user for e2e tests in .env.template
  test/e2e_tests/.env.tpl
Due: prettier --ignore-unknown --write

feat: Remove virutal messages list unecessary code
  src/script/components/MessagesList/VirtualizedMessagesList/VirtualizedMessagesList.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat: revert Virtualization flicker fix
  src/script/components/MessagesList/Message/Marker/Marker.tsx
  src/script/components/MessagesList/Message/VirtualizedMessage.tsx
  src/script/components/MessagesList/VirtualizedMessageListWrapper.tsx
  src/script/components/MessagesList/VirtualizedMessagesList/VirtualizedMessagesList.tsx
  src/script/components/MessagesList/VirtualizedMessagesList/useLoadMessages.ts
  src/script/components/MessagesList/utils/useLoadInitialMessage.ts
  src/style/content/conversation/message-list.less
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

feat: revert Virtualization flicker fix (#19553)
  src/script/components/MessagesList/Message/Marker/Marker.tsx
  src/script/components/MessagesList/Message/VirtualizedMessage.tsx
  src/script/components/MessagesList/VirtualizedMessageListWrapper.tsx
  src/script/components/MessagesList/VirtualizedMessagesList/VirtualizedMessagesList.tsx
  src/script/components/MessagesList/VirtualizedMessagesList/useLoadMessages.ts
  src/script/components/MessagesList/utils/useLoadInitialMessage.ts
  src/style/content/conversation/message-list.less
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

fix for overlapping reactions
  src/script/components/MessagesList/VirtualizedMessagesList/VirtualizedMessagesList.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix types
  src/script/components/MessagesList/Message/Marker/Marker.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(e2e): Added SCIM user for e2e test to .env.template [WPB-20560]
  test/e2e_tests/.env.tpl
Due: prettier --ignore-unknown --write

finish first test
  test/e2e_tests/specs/ArchiveSpecs/archive.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(e2e): Added SCIM user for e2e test to .env.template [WPB-20560] (#19554)
  test/e2e_tests/.env.tpl
Due: prettier --ignore-unknown --write

feat: Improve async notifications logs [WPB-19981] (#7374)
  core/src/Account.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat: Improve async notifications logs [WPB-19981] (#7374)
  src/Account.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: Publish [skip ci]
  core/CHANGELOG.md
  core/package.json
Due: prettier --ignore-unknown --write

chore: Publish [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --ignore-unknown --write

feat: Update loading screen decyrption message [WPB-18629]
  src/i18n/de-DE.json
  src/i18n/en-US.json
  src/script/main/app.ts
  src/script/util/DebugUtil.ts
  src/script/util/TimeUtil.ts
  src/types/i18n.d.ts
  test/unit_tests/util/TimeUtilSpec.js
Due: prettier --ignore-unknown --write, eslint --fix

feat: Update loading screen decyrption message [WPB-18629] (#19556)
  src/i18n/de-DE.json
  src/i18n/en-US.json
  src/script/main/app.ts
  src/script/util/DebugUtil.ts
  src/script/util/TimeUtil.ts
  src/types/i18n.d.ts
  test/unit_tests/util/TimeUtilSpec.js
Due: prettier --ignore-unknown --write, eslint --fix

feat: update GroupButtonProps interface [WPB-20282] (#7373)
  react-ui-kit/src/DataDisplay/Tooltip/__snapshots__/Tooltip.test.tsx.snap
  react-ui-kit/src/Inputs/ButtonGroup/ButtonGroup.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat: update GroupButtonProps interface [WPB-20282] (#7373)
  src/DataDisplay/Tooltip/__snapshots__/Tooltip.test.tsx.snap
  src/Inputs/ButtonGroup/ButtonGroup.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore: Publish [skip ci]
  react-ui-kit/CHANGELOG.md
  react-ui-kit/package.json
Due: prettier --ignore-unknown --write

feat: Virtualized MessagesList flickering fix (#19555)
  src/script/components/MessagesList/Message/Marker/Marker.tsx
  src/script/components/MessagesList/Message/VirtualizedMessage.tsx
  src/script/components/MessagesList/VirtualizedMessageListWrapper.tsx
  src/script/components/MessagesList/VirtualizedMessagesList/VirtualizedMessagesList.tsx
  src/script/components/MessagesList/VirtualizedMessagesList/useLoadMessages.ts
  src/script/components/MessagesList/utils/useScrollToLastUnreadMessage.ts
  src/style/content/conversation/message-list.less
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

chore: Bump @wireapp/core from 46.34.11 to 46.34.13 (#19550)
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

chore: bump @wireapp/react-ui-kit from 9.63.0 to 9.64.0
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

Updated precommit-crit-flows.yml with updated env template
  .github/workflows/precommit-crit-flows.yml
Due: prettier --ignore-unknown --write

Path conditions:
  prettier --ignore-unknown --write: any of: *
  stylelint --fix: any of: *.less
  eslint --fix: any of: *.{js,jsx,ts,tsx}
