Repository wireapp/wire-webapp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

fix: add guard on join/call buttons [WPB-21715]. (#19837)
  README.md
  src/script/components/ConversationListCell/ConversationListCell.tsx
  src/script/components/TitleBar/TitleBar.tsx
  src/script/components/calling/CallingCell/CallingCell.tsx
  src/script/components/calling/CallingCell/CallingControls/CallingControls.tsx
  src/script/hooks/useConversationCall.ts
  src/script/view_model/ListViewModel.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat: add aria label and also title on the close screen share icon
  src/i18n/en-US.json
  src/script/components/calling/ChooseScreen.tsx
  src/types/i18n.d.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat: replace button with div and assigned role=button to it. Move inline css to styles.ts
  src/script/components/calling/GroupVideoGridTile.styles.ts
  src/script/components/calling/GroupVideoGridTile.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat: call controls were not working using keyboard.
  src/script/components/calling/GroupVideoGridTile.tsx
  src/script/util/KeyboardUtil.ts
Due: prettier --ignore-unknown --write, eslint --fix

collect traces
  .github/workflows/precommit-crit-flows.yml
  test/e2e_tests/specs/LoginSpecs/login.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

test: remove async getPage from PageManager
  test/e2e_tests/pageManager/index.ts
  test/e2e_tests/specs/Accessibility/Accessibility.spec.ts
  test/e2e_tests/specs/AccountSettingsSpecs/accountSettings.spec.ts
  test/e2e_tests/specs/AppLock/AppLock.spec.ts
  test/e2e_tests/specs/CriticalFlow/addMembersToChat-TC-8631.spec.ts
  test/e2e_tests/specs/CriticalFlow/groupVideoCall-TC-8637.spec.ts
  test/e2e_tests/specs/CriticalFlow/oneOnOneCall-TC-8754.spec.ts
  test/e2e_tests/specs/noInternetCallGuard.spec.ts
  test/e2e_tests/utils/network.util.ts
Due: prettier --ignore-unknown --write, eslint --fix

test(WPB-22129): fix login test util
  test/e2e_tests/pageManager/webapp/pages/login.page.ts
  test/e2e_tests/specs/Authentication/authentication.spec.ts
  test/e2e_tests/specs/Edit/edit.spec.ts
  test/e2e_tests/test.fixtures.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(nx): add Nx workspace configuration
  nx.json
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

chore(nx): move server package to apps/server
  apps/server/.ebextensions/00-environment.config
  apps/server/.ebextensions/10-log-rotation.config
  apps/server/.ebextensions/20-nginx.config
  apps/server/.gitignore
  apps/server/.platform/nginx/conf.d/proxy.conf
  apps/server/Server.ts
  apps/server/babel.config.js
  apps/server/bin/copy_server_assets.js
  apps/server/bin/generateVersionFile.js
  apps/server/certificate/development-cert.pem
  apps/server/certificate/development-key.pem
  apps/server/certificate/rootCA-key.pem
  apps/server/certificate/rootCA.pem
  apps/server/config/client.config.ts
  apps/server/config/config.types.ts
  apps/server/config/env.ts
  apps/server/config/index.ts
  apps/server/config/server.config.ts
  apps/server/index.ts
  apps/server/jest.config.js
  apps/server/package.json
  apps/server/robots/robots-disallow.txt
  apps/server/robots/robots.txt
  apps/server/routes/RedirectRoutes.ts
  apps/server/routes/Root.ts
  apps/server/routes/_health/HealthRoute.ts
  apps/server/routes/appleassociation/AppleAssociationRoute.ts
  apps/server/routes/config/ConfigRoute.ts
  apps/server/routes/error/ErrorRoutes.ts
  apps/server/routes/googlewebmaster/GoogleWebmasterRoute.ts
  apps/server/templates/error.html
  apps/server/tsconfig.json
  apps/server/util/BrowserUtil.test.ts
  apps/server/util/BrowserUtil.ts
  apps/server/util/TimeUtil.test.ts
  apps/server/util/TimeUtil.ts
  apps/server/util/hostnameReplacer.ts
  apps/server/yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

chore(nx): add project configuration for server app
  apps/server/project.json
Due: prettier --ignore-unknown --write

chore(nx): configure TypeScript for server with base config
  apps/server/package.json
  apps/server/tsconfig.json
  tsconfig.base.json
Due: prettier --ignore-unknown --write

chore(nx): add server build/test scripts to root package.json
  package.json
Due: prettier --ignore-unknown --write

chore(nx): verify server migration - all tests passing
  .dockerignore
  .elasticbeanstalk/config.yml
  .eslintrc.js
  .github/workflows/deploy-to-test-env.yml
  .github/workflows/precommit-crit-flows.yml
  .github/workflows/precommit.yml
  .github/workflows/publish.yml
  .gitignore
  README.md
  apps/server/Server.ts
  apps/server/bin/copy_server_assets.js
  apps/server/package.json
  apps/server/project.json
  apps/server/tsconfig.json
  apps/server/yarn.lock
  bin/zip.js
  package.json
  src/script/util/test/mock/wireEnvMock.ts
  src/types/Wire.types.ts
  tsconfig.json
  webpack.config.common.js
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

chore(nx): move webpack configs to apps/webapp
  apps/webapp/webpack.config.common.js
  apps/webapp/webpack.config.dev.js
  apps/webapp/webpack.config.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(nx): move webapp config files to apps/webapp
  apps/webapp/.env.localhost
  apps/webapp/babel.config.js
  apps/webapp/jest.config.ts
  apps/webapp/playwright.config.ts
  apps/webapp/postcss.config.js
  apps/webapp/setupTests.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(nx): move TypeScript configs to apps/webapp
  apps/webapp/tsconfig.build.json
  apps/webapp/tsconfig.json
Due: prettier --ignore-unknown --write

chore(nx): update webapp tsconfig to extend base config
  apps/webapp/tsconfig.json
Due: prettier --ignore-unknown --write

chore(nx): add project configuration for webapp
  apps/webapp/project.json
Due: prettier --ignore-unknown --write

chore(nx): update webpack config paths for monorepo structure
  apps/webapp/webpack.config.common.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(nx): adjust configs, move dockerfile, update readme
  .gitignore
  Procfile
  README.md
  apps/server/Dockerfile
  apps/server/project.json
  apps/webapp/.copyconfigrc.js
  apps/webapp/app-config/package.json
  apps/webapp/apps/webapp/src/script/components/Icon.tsx
  apps/webapp/project.json
  bin/push_docker.js
  nx.json
  package.json
  project.json
Due: prettier --ignore-unknown --write, eslint --fix

chore(nx): move env file, fix path
  apps/server/.env.localhost
  apps/webapp/webpack.config.common.js
Due: prettier --ignore-unknown --write, eslint --fix

feat: add aria label and also title on the close screen share icon (#19845)
  src/i18n/en-US.json
  src/script/components/calling/ChooseScreen.tsx
  src/types/i18n.d.ts
Due: prettier --ignore-unknown --write, eslint --fix

runfix(countly): change url
  src/script/Config.ts
  src/script/repositories/tracking/EventTrackingRepository.ts
Due: prettier --ignore-unknown --write, eslint --fix

Update src/script/Config.ts
  src/script/Config.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat: replace button with div and assigned role=button to it [WPB-21194] (#19846)
  src/script/components/calling/GroupVideoGridTile.styles.ts
  src/script/components/calling/GroupVideoGridTile.tsx
  src/script/util/KeyboardUtil.ts
Due: prettier --ignore-unknown --write, eslint --fix

Revert "fix(websocket): optimise event handling. Add heartbeat [WPB-21950] (#19825)"
  __mocks__/@wireapp/core.ts
  src/script/repositories/event/EventRepository.test.ts
  src/script/repositories/event/EventRepository.ts
Due: prettier --ignore-unknown --write, eslint --fix

Revert "fix(websocket): optimise event handling. Add heartbeat [WPB-21950] (#19825)" (#19865)
  __mocks__/@wireapp/core.ts
  src/script/repositories/event/EventRepository.test.ts
  src/script/repositories/event/EventRepository.ts
Due: prettier --ignore-unknown --write, eslint --fix

runfix(countly): change url [WPB-18185] (#19863)
  src/script/Config.ts
  src/script/repositories/tracking/EventTrackingRepository.ts
Due: prettier --ignore-unknown --write, eslint --fix

runfix(countly): change url [WPB-18185] (#19863) (#19866)
  src/script/Config.ts
  src/script/repositories/tracking/EventTrackingRepository.ts
Due: prettier --ignore-unknown --write, eslint --fix

runfix: update the backgroundColor of the active speaker's name
  src/script/components/calling/GroupVideoGridTile.styles.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: fix lint issue which are caused by prettier version bump
  src/script/auth/component/ClientList.tsx
  src/script/components/InputBar/ReplyBar/ReplyBar.tsx
  src/script/components/TitleBar/TitleBar.tsx
  src/script/components/calling/VideoControls/VideoControls.tsx
  src/script/page/RightSidebar/TimedMessages/TimedMessages.tsx
  src/script/repositories/calling/CallingRepository.ts
  src/script/repositories/conversation/EventBuilder/EventBuilder.ts
  src/style/common/variables.less
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

fix: update "renders an emoticon of someone shrugging" test (#19840)
  src/script/util/messageRenderer.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: any of: *
  stylelint --fix: any of: *.less
  eslint --fix: any of: *.{js,jsx,ts,tsx}
