Repository wireapp/wire-webapp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.less": ["stylelint --fix"],
  "*.{js,jsx,ts,tsx}": ["eslint --fix"]
}

Characterize ambiguous Markdown typing shortcuts
  apps/webapp/src/script/components/InputBar/InputBarEditor/RichTextEditor/markdownShortcuts.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

Characterize preview-mode HTML link pasting
  apps/webapp/src/script/components/InputBar/InputBarEditor/RichTextEditor/plugins/PastePlugin/PastePlugin.test.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Characterize pasted ordinary mention markup fallback
  apps/webapp/src/script/components/InputBar/InputBarEditor/RichTextEditor/plugins/PastePlugin/PastePlugin.test.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Characterize history for custom mention nodes
  apps/webapp/src/script/components/InputBar/InputBarEditor/RichTextEditor/plugins/HistoryPlugin/HistoryPlugin.test.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Characterize history for custom emoji nodes
  apps/webapp/src/script/components/InputBar/InputBarEditor/RichTextEditor/plugins/HistoryPlugin/HistoryPlugin.test.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Characterize RichTextEditor Enter sending behavior
  apps/webapp/src/script/components/InputBar/InputBarEditor/RichTextEditor/FormatToolbar/useListState/useListState.test.tsx
  apps/webapp/src/script/components/InputBar/InputBarEditor/RichTextEditor/RichTextEditor.test.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Bump avs to v10.5.11
  apps/webapp/package.json
  yarn.lock
Due: prettier --ignore-unknown --write

Add support for API v17
  libraries/config/README.md
  libraries/config/src/client.config.spec.ts
  libraries/config/src/client.config.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: pipeline error for missing i18n translate file
  apps/webapp/src/i18n/en-US.json
Due: prettier --ignore-unknown --write

feat: load historical reaction users for tooltips
  apps/webapp/src/script/components/MessagesList/Message/ContentMessage/ContentMessage.tsx
  apps/webapp/src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/EmojiPill.tsx
  apps/webapp/src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/MessageReactionsList.test.tsx
  apps/webapp/src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/MessageReactionsList.tsx
  apps/webapp/src/script/repositories/user/userRepository.test.ts
  apps/webapp/src/script/repositories/user/userRepository.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat: Improve fullscreen file preview header metadata(WPB-20724)
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsTable/CellsFilePreviewModal/CellsFilePreviewModal.tsx
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsTable/CellsTable.tsx
  apps/webapp/src/script/components/Conversation/ConversationCells/ConversationCells.tsx
  apps/webapp/src/script/components/FileFullscreenModal/FileFullscreenModal.tsx
  apps/webapp/src/script/components/FileFullscreenModal/FileFullscreenModalSourceConversationContext.tsx
  apps/webapp/src/script/components/FileFullscreenModal/FileHeader/FileHeader.styles.ts
  apps/webapp/src/script/components/FileFullscreenModal/FileHeader/FileHeader.test.tsx
  apps/webapp/src/script/components/FileFullscreenModal/FileHeader/FileHeader.tsx
  apps/webapp/src/script/components/MessagesList/Message/ContentMessage/ContentMessage.tsx
  apps/webapp/src/script/components/cellsGlobalView/cellsTable/cellsFilePreviewModal/cellsFilePreviewModal.test.tsx
  apps/webapp/src/script/components/cellsGlobalView/cellsTable/cellsFilePreviewModal/cellsFilePreviewModal.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Update browser URL on navigation
  apps/webapp/src/script/page/leftSidebar/panels/conversations/conversations.test.tsx
  apps/webapp/src/script/page/leftSidebar/panels/conversations/conversations.tsx
  apps/webapp/src/script/view_model/ContentViewModel.ts
  apps/webapp/src/script/view_model/ListViewModel.test.ts
  apps/webapp/src/script/view_model/ListViewModel.ts
Due: prettier --ignore-unknown --write, eslint --fix

Make GitHub Release repository explicit
  .github/workflows/release-webapp.yml
Due: prettier --ignore-unknown --write

Remove workflow YAML contract tests
  tools/release-appearance/releaseWebappWorkflow.test.ts
  tools/workflow-tests/manageTeamUrlContract.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

Changed .env for fulu
  apps/webapp/test/e2e_tests/.env.tpl
Due: prettier --ignore-unknown --write

Add fulu to Git Actions job
  .github/workflows/e2e-tests.yml
Due: prettier --ignore-unknown --write

Fix E2E emoji picker and paste test preconditions
  apps/webapp/test/e2e_tests/specs/Conversations/conversations.spec.ts
  apps/webapp/test/e2e_tests/specs/Markdown/markdown.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

Change EXPECTED_MANAGE_TEAM_URL to TEAM_MANAGEMENT_URL and remove it from e2e-test.yml manual input
  .github/workflows/e2e-tests-nightly.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/precommit-slot-run.yml
  .github/workflows/release-maintenance-webapp.yml
  .github/workflows/release-webapp.yml
  apps/webapp/test/e2e_tests/.env.tpl
  apps/webapp/test/e2e_tests/specs/AccountSettings/accountSettings.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat: Show admin hint that invited guests are read-only from all entry points of group/channel creation(WPB-26115)
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/Modals/CreateConversation/CreateConversationSteps/Preference.tsx
  apps/webapp/src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
  apps/webapp/src/script/components/toggle/InfoToggle.test.tsx
  apps/webapp/src/script/components/toggle/InfoToggle.tsx
  apps/webapp/src/style/components/info-toggle.less
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

Change expectation to have url without path
  apps/webapp/test/e2e_tests/specs/AccountSettings/accountSettings.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

Change title and link tests with test case ids in Testiny
  apps/webapp/test/e2e_tests/specs/Markdown/markdown.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: resolve departed reactor names locally
  apps/webapp/src/script/components/Conversation/Conversation.tsx
  apps/webapp/src/script/components/MessagesList/Message/ContentMessage/ContentMessage.test.tsx
  apps/webapp/src/script/components/MessagesList/Message/ContentMessage/ContentMessage.tsx
  apps/webapp/src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/EmojiPill.tsx
  apps/webapp/src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/MessageReactionsList.test.tsx
  apps/webapp/src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/MessageReactionsList.tsx
  apps/webapp/src/script/components/MessagesList/Message/Message.tsx
  apps/webapp/src/script/components/MessagesList/Message/MessageWrapper.test.tsx
  apps/webapp/src/script/components/MessagesList/Message/MessageWrapper.tsx
  apps/webapp/src/script/components/MessagesList/Message/VirtualizedMessage.tsx
  apps/webapp/src/script/components/MessagesList/MessageList.tsx
  apps/webapp/src/script/components/MessagesList/MessageList.types.ts
  apps/webapp/src/script/components/MessagesList/MessageListWrapper.tsx
  apps/webapp/src/script/components/MessagesList/VirtualizedMessageListWrapper.tsx
  apps/webapp/src/script/components/MessagesList/VirtualizedMessagesList/VirtualizedMessagesList.tsx
  apps/webapp/src/script/repositories/user/userRepository.test.ts
  apps/webapp/src/script/repositories/user/userRepository.ts
Due: prettier --ignore-unknown --write, eslint --fix

Wip
  apps/webapp/src/script/components/panel/userActions.test.tsx
  apps/webapp/src/script/components/panel/userActions.tsx
  apps/webapp/src/script/page/leftSidebar/panels/conversations/conversations.test.tsx
  apps/webapp/src/script/page/leftSidebar/panels/conversations/conversations.tsx
  apps/webapp/src/script/router/Router.test.ts
  apps/webapp/src/script/router/Router.ts
  apps/webapp/src/script/view_model/ContentViewModel.test.ts
  apps/webapp/src/script/view_model/ContentViewModel.ts
  apps/webapp/src/script/view_model/ListViewModel.test.ts
  apps/webapp/src/script/view_model/ListViewModel.ts
Due: prettier --ignore-unknown --write, eslint --fix

test: add e2e coverage for URL updates on sidebar navigation
  apps/webapp/test/e2e_tests/pageManager/webapp/components/conversationSidebar.component.ts
  apps/webapp/test/e2e_tests/specs/Navigation/urlOnNavigation.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

test: harden URL navigation e2e empty-list and folders assertions
  apps/webapp/test/e2e_tests/specs/Navigation/urlOnNavigation.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: unblock CI lint and type-check on URL navigation PR
  apps/webapp/src/script/page/leftSidebar/panels/conversations/conversations.test.tsx
  apps/webapp/test/e2e_tests/specs/Navigation/urlOnNavigation.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: add missing typed translate
  apps/webapp/src/i18n/en-US.json
Due: prettier --ignore-unknown --write

fix: add withTheme so ViewerAccessIcon gets theme.general.color
  apps/webapp/src/script/components/toggle/InfoToggle.test.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix: style lint issue in info-toggle
  apps/webapp/src/style/components/info-toggle.less
Due: prettier --ignore-unknown --write, stylelint --fix

Make reaction tooltip tests type-safe
  apps/webapp/src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/MessageReactionsList.test.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Preserve qualified identity for local reaction users
  apps/webapp/src/script/repositories/user/userRepository.test.ts
  apps/webapp/src/script/repositories/user/userRepository.ts
Due: prettier --ignore-unknown --write, eslint --fix

Cover reaction tooltip lookup behavior
  apps/webapp/src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/MessageReactionsList.test.tsx
  apps/webapp/src/script/repositories/user/userRepository.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

Await reaction tooltip user lookups locally
  apps/webapp/src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/EmojiPill.tsx
  apps/webapp/src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/MessageReactionsList.test.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Fix variable name, remove input from e2e-tests-nightly.yml
  .github/workflows/e2e-tests-nightly.yml
  .github/workflows/precommit-e2e-tests.yml
Due: prettier --ignore-unknown --write

Replace reaction retry fake timers with promise control
  apps/webapp/src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/MessageReactionsList.test.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Make teamManagementUrl optional in e2e-tests.yml, rename Run steps
  .github/workflows/e2e-tests.yml
Due: prettier --ignore-unknown --write

Replace staing webapp url with correct one in e2e-tests-nightly.yml
  .github/workflows/e2e-tests-nightly.yml
Due: prettier --ignore-unknown --write
