Repository wireapp/wire-webapp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.less": ["stylelint --fix"],
  "*.{js,jsx,ts,tsx}": ["eslint --fix"]
}

feat: self-deleting messages always off for Cells [WPB-20952]
  apps/webapp/src/script/components/MessagesList/Message/MemberMessage.test.tsx
  apps/webapp/src/script/components/MessagesList/Message/MemberMessage.tsx
  apps/webapp/src/script/components/MessagesList/Message/MessageWrapper.tsx
  apps/webapp/src/style/content/conversation/message-list.less
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

feat: [Web] Secure & Time-limited Public Links(WPB-20913) (#20099)
  apps/webapp/package.json
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/Cells/ShareModal/CellsShareExpirationFields.tsx
  apps/webapp/src/script/components/Cells/ShareModal/CellsShareExpirationStyles.ts
  apps/webapp/src/script/components/Cells/ShareModal/CellsShareModalContent.tsx
  apps/webapp/src/script/components/Cells/ShareModal/CellsSharePasswordStyles.ts
  apps/webapp/src/script/components/Cells/ShareModal/shareModalSerializer.ts
  apps/webapp/src/script/components/Cells/ShareModal/useCellExpirationToggle.ts
  apps/webapp/src/script/components/Cells/ShareModal/useCellPasswordToggle.ts
  apps/webapp/src/script/components/CellsGlobalView/CellsTable/CellsTableColumns/CellsShareModal/CellsShareModal.styles.ts
  apps/webapp/src/script/components/CellsGlobalView/CellsTable/CellsTableColumns/CellsShareModal/CellsShareModal.tsx
  apps/webapp/src/script/components/CellsGlobalView/CellsTable/CellsTableColumns/CellsShareModal/useCellPublicLink.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsNodeShareModal/CellsNodeShareModal.styles.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsNodeShareModal/CellsNodeShareModal.tsx
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsNodeShareModal/useCellPublicLink.ts
  apps/webapp/src/script/repositories/cells/CellsRepository.ts
  apps/webapp/src/style/common/mixins.less
  apps/webapp/src/style/foundation/themes.less
  apps/webapp/src/types/i18n.d.ts
  libraries/api-client/src/cells/CellsAPI.test.ts
  libraries/api-client/src/cells/CellsAPI.ts
  yarn.lock
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

test(MemberMessage): add test for Cells with self-deleting messages banner
  apps/webapp/src/script/components/MessagesList/Message/MemberMessage.test.tsx
Due: prettier --ignore-unknown --write, eslint --fix

refactor(MemberMessage): use a11y-friendly queries in tests
  apps/webapp/src/script/components/MessagesList/Message/MemberMessage.test.tsx
Due: prettier --ignore-unknown --write, eslint --fix

test(MessageWrapper): add tests for Cells conversation logic [WPB-20952]
  apps/webapp/src/script/components/MessagesList/Message/MessageWrapper.test.tsx
Due: prettier --ignore-unknown --write, eslint --fix

allow using an existing wildcard cert
  charts/webapp/templates/_helpers.tpl
  charts/webapp/templates/certificate.yaml
  charts/webapp/templates/ingress.yaml
  charts/webapp/templates/issuer.yaml
  charts/webapp/values.yaml
Due: prettier --ignore-unknown --write

feat: add optional ingress and tls for webapp chart
  charts/webapp/Chart.yaml
  charts/webapp/templates/_helpers.tpl
  charts/webapp/templates/certificate.yaml
  charts/webapp/templates/ingress.yaml
  charts/webapp/templates/issuer.yaml
  charts/webapp/templates/service.yaml
  charts/webapp/templates/validation.yaml
  charts/webapp/values.yaml
Due: prettier --ignore-unknown --write

drop support for kubernetes <1.27
  charts/webapp/templates/_helpers.tpl
  charts/webapp/templates/ingress.yaml
Due: prettier --ignore-unknown --write

update default values
  charts/webapp/values.yaml
Due: prettier --ignore-unknown --write

refactor: add ARIA accessibility improvements for status messages [WPB-20952]
  apps/webapp/src/script/components/MessagesList/Message/MemberMessage.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat: self-deleting messages always off for Cells [WPB-20952] (#20146)
  apps/webapp/src/script/components/MessagesList/Message/MemberMessage.test.tsx
  apps/webapp/src/script/components/MessagesList/Message/MemberMessage.tsx
  apps/webapp/src/script/components/MessagesList/Message/MessageWrapper.test.tsx
  apps/webapp/src/script/components/MessagesList/Message/MessageWrapper.tsx
  apps/webapp/src/style/content/conversation/message-list.less
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

build: Add ingress to helm chart (ported from nginx-ingress-services) [WPB-22715] (#20141)
  charts/webapp/Chart.yaml
  charts/webapp/templates/_helpers.tpl
  charts/webapp/templates/certificate.yaml
  charts/webapp/templates/ingress.yaml
  charts/webapp/templates/issuer.yaml
  charts/webapp/templates/service.yaml
  charts/webapp/templates/validation.yaml
  charts/webapp/values.yaml
Due: prettier --ignore-unknown --write

fix: Rename “Done” CTA to “Save” and do not close the modal(WPB-22976)
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/CellsGlobalView/CellsTable/CellsTableColumns/CellsShareModal/CellsShareModal.tsx
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsNodeShareModal/CellsNodeShareModal.tsx
  apps/webapp/src/types/i18n.d.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: Rename “Done” CTA to “Save” and do not close the modal(WPB-22976) (#20149)
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/CellsGlobalView/CellsTable/CellsTableColumns/CellsShareModal/CellsShareModal.tsx
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsNodeShareModal/CellsNodeShareModal.tsx
  apps/webapp/src/types/i18n.d.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: issue disabling public link expiration [WPB-22980]
  apps/webapp/src/script/components/Cells/ShareModal/shareModalSerializer.test.ts
  apps/webapp/src/script/components/CellsGlobalView/CellsTable/CellsTableColumns/CellsShareModal/CellsShareModal.tsx
  apps/webapp/src/script/components/CellsGlobalView/CellsTable/CellsTableColumns/CellsShareModal/useCellPublicLink.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsNodeShareModal/CellsNodeShareModal.tsx
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsNodeShareModal/useCellPublicLink.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor: remove noise
  apps/webapp/src/script/components/CellsGlobalView/CellsTable/CellsTableColumns/CellsShareModal/useCellPublicLink.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsNodeShareModal/useCellPublicLink.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: update linkData state after save to prevent UI revert [WPB-22980]
  apps/webapp/src/script/components/CellsGlobalView/CellsTable/CellsTableColumns/CellsShareModal/useCellPublicLink.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsNodeShareModal/useCellPublicLink.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(charts/webapp): allow multi-instance installs
  charts/webapp/templates/_helpers.tpl
  charts/webapp/templates/deployment.yaml
  charts/webapp/templates/ingress.yaml
  charts/webapp/templates/poddisruptionbudget.yaml
  charts/webapp/templates/service.yaml
  charts/webapp/values.yaml
Due: prettier --ignore-unknown --write

drive-by fix: add runAsNonRoot: true
  charts/webapp/values.yaml
Due: prettier --ignore-unknown --write

feat: filters as tabs pt. 1
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/ConversationSidebar/ConversationSidebar.tsx
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/ConversationTabs.tsx
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/helpers.tsx
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/useSidebarStore.ts
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/utils/draftUtils.ts
  apps/webapp/src/types/i18n.d.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat: only filter unread conversations instead all of them...
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/ConversationTabs.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix: wrong icon?
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/ConversationTabs.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(tabs): no need to duplicate stuff
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/ConversationTabs.tsx
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/helpers.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(tabs): linter warnings & typo
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(tabs): accessibility stuffs
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/ConversationFilterButton/ConversationFilterButton.styles.ts
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/TabsFilterButton/TabsFilterButton.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(tabs): get rid of polling, use amplify instead
  apps/webapp/src/script/components/InputBar/common/draftState/draftState.ts
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/hooks/useDraftConversations.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(tabs): memoization, brittleness fixes
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/ConversationTabs.tsx
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/TabsFilterButton/TabsFilterButton.tsx
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/hooks/useDraftConversations.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(tabs): clarify why recents should always be visible
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/ConversationTabs.tsx
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/useSidebarStore.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(tabs): fix to ensure filter for channels is only shown if the tab is visible
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/ConversationTabs.tsx
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/TabsFilterButton/TabsFilterButton.tsx
  apps/webapp/src/script/util/useChannelsFeatureFlag.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(tabs): design fixes
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/ConversationFilterButton/ConversationFilterButton.styles.ts
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/TabsFilterButton/TabsFilterButton.tsx
  apps/webapp/src/types/i18n.d.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(tabs): drop memoization
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/ConversationTabs.tsx
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/TabsFilterButton/TabsFilterButton.tsx
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/useSidebarStore.ts
  apps/webapp/src/script/util/KeyboardUtil.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(tabs): fix design and icons
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/ConversationTabs.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(tabs): restore dividers and rounded filters
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/ConversationFilterButton/ConversationFilterButton.styles.ts
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/ConversationFilterButton/ConversationFilterButton.tsx
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/ConversationFilterButton/index.ts
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/TabsFilterButton/TabsFilterButton.styles.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(tabs): tune filter dropdown typography
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/ConversationTabs.styles.ts
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/TabsFilterButton/TabsFilterButton.styles.ts
Due: prettier --ignore-unknown --write, eslint --fix
