Repository wireapp/wire-webapp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.less": ["stylelint --fix"],
  "*.{js,jsx,ts,tsx}": ["eslint --fix"]
}

Add enhanced background performance mode
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/calling/FullscreenVideoCall.tsx
  apps/webapp/src/script/components/calling/VideoControls/VideoBackgroundSettings/VideoBackgroundSettings.test.tsx
  apps/webapp/src/script/components/calling/VideoControls/VideoBackgroundSettings/VideoBackgroundSettings.tsx
  apps/webapp/src/script/repositories/calling/CallingRepository.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/backgroundEffectsController.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/pipe/options.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/pipe/segmenter.test.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/pipe/segmenter.ts
  apps/webapp/src/script/repositories/media/backgroundEffectsHandler.ts
  apps/webapp/src/script/repositories/media/useBackgroundEffectsStore.ts
Due: prettier --ignore-unknown --write, eslint --fix

Add background effects quality radio button
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/Radio/RadioGroup.tsx
  apps/webapp/src/script/components/calling/FullscreenVideoCall.tsx
  apps/webapp/src/script/components/calling/VideoControls/VideoBackgroundSettings/VideoBackgroundSettings.test.tsx
  apps/webapp/src/script/components/calling/VideoControls/VideoBackgroundSettings/VideoBackgroundSettings.tsx
  apps/webapp/src/script/page/rightSidebar/timedMessages/timedMessages.tsx
  apps/webapp/src/script/repositories/media/useBackgroundEffectsStore.test.ts
  apps/webapp/src/script/repositories/media/useBackgroundEffectsStore.ts
Due: prettier --ignore-unknown --write, eslint --fix

Update default video background quality
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/Radio/RadioGroup.styles.ts
  apps/webapp/src/script/components/Radio/RadioGroup.tsx
  apps/webapp/src/script/components/calling/VideoControls/VideoBackgroundSettings/VideoBackgroundSettings.test.tsx
  apps/webapp/src/script/components/calling/VideoControls/VideoBackgroundSettings/VideoBackgroundSettings.tsx
  apps/webapp/src/script/repositories/media/backgroundEffects/backgroundEffectsController.ts
  apps/webapp/src/script/repositories/media/useBackgroundEffectsStore.test.ts
  apps/webapp/src/script/repositories/media/useBackgroundEffectsStore.ts
Due: prettier --ignore-unknown --write, eslint --fix

Pin emoji-picker-react to 4.16.1
  renovate.json
Due: prettier --ignore-unknown --write

refactor: merge the combined state of isHighQualityBlurEnabled and isPerformanceEnhancementEnabled
  apps/webapp/src/script/components/calling/FullscreenVideoCall.tsx
  apps/webapp/src/script/components/calling/VideoControls/VideoBackgroundSettings/VideoBackgroundSettings.test.tsx
  apps/webapp/src/script/components/calling/VideoControls/VideoBackgroundSettings/VideoBackgroundSettings.tsx
  apps/webapp/src/script/repositories/calling/CallingRepository.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/backgroundEffectsController.ts
  apps/webapp/src/script/repositories/media/backgroundEffectsHandler.test.ts
  apps/webapp/src/script/repositories/media/backgroundEffectsHandler.ts
  apps/webapp/src/script/repositories/media/useBackgroundEffectsStore.test.ts
  apps/webapp/src/script/repositories/media/useBackgroundEffectsStore.ts
Due: prettier --ignore-unknown --write, eslint --fix

Remove pull request and Git commit prefix from Crowdin
  .github/workflows/pull-translations-from-crowdin.yml
Due: prettier --ignore-unknown --write

fix: remove schedule of pull translation worfklow
  .github/workflows/pull-translations-from-crowdin.yml
Due: prettier --ignore-unknown --write

Keep meeting lifecycle state synchronized globally
  apps/webapp/src/script/components/Meeting/meetingStore/MeetingStoreRoot.test.tsx
  apps/webapp/src/script/components/Meeting/meetingStore/MeetingStoreRoot.tsx
  apps/webapp/src/script/components/Meeting/meetingStore/createMeetingLifecycleDispatcher.test.ts
  apps/webapp/src/script/components/Meeting/meetingStore/createMeetingLifecycleDispatcher.ts
  apps/webapp/src/script/components/Meeting/meetingStore/subscribeToMeetingLifecycleEvents.test.ts
  apps/webapp/src/script/components/Meeting/meetingStore/subscribeToMeetingLifecycleEvents.ts
  apps/webapp/src/script/components/Meeting/meetings.tsx
  apps/webapp/src/script/components/appContainer/appContainer.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Cover meeting events without conversation metadata
  libraries/core/src/conversation/conversationService/conversationService.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

Allow users to refresh meeting lists
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingList.tsx
  apps/webapp/src/script/components/Meeting/MeetingList/meetingList.test.tsx
  apps/webapp/src/script/components/Meeting/meetings.tsx
  apps/webapp/src/script/page/leftSidebar/panels/conversations/conversationTabs/MeetingsConversationTab.test.tsx
  apps/webapp/src/script/page/leftSidebar/panels/conversations/conversationTabs/MeetingsConversationTab.tsx
  apps/webapp/src/script/page/leftSidebar/panels/conversations/conversationTabs/conversationTabs.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix: open learn more link in a new tab [WPB-27368]
  apps/webapp/src/script/auth/component/layout.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix: open learn more link in a new tab [WPB-27368]
  apps/webapp/src/script/auth/component/Layout.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix: PR feedback comment
  apps/webapp/src/script/externalRoute.ts
  apps/webapp/src/script/page/mainContent/panels/preferences/accountPreferences.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix: remove unused translation keys
  apps/webapp/src/i18n/en-US.json
Due: prettier --ignore-unknown --write

fix: a11y of description inside RadioGroup.tsx
  apps/webapp/src/script/components/Radio/RadioGroup.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix: apply qualityTier on pipeline start
  apps/webapp/src/script/repositories/media/backgroundEffectsHandler.test.ts
  apps/webapp/src/script/repositories/media/backgroundEffectsHandler.ts
Due: prettier --ignore-unknown --write, eslint --fix

add tracking for enhanced model which is currently active after the auto degradation
  apps/webapp/src/script/components/calling/FullscreenVideoCall.tsx
  apps/webapp/src/script/repositories/media/backgroundEffects/backgroundEffectsController.test.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/backgroundEffectsController.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/qualityTierMapping.test.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/qualityTierMapping.ts
  apps/webapp/src/script/repositories/media/backgroundEffectsHandler.test.ts
  apps/webapp/src/script/repositories/media/backgroundEffectsHandler.ts
  apps/webapp/src/script/repositories/media/useBackgroundEffectsStore.test.ts
  apps/webapp/src/script/repositories/media/useBackgroundEffectsStore.ts
Due: prettier --ignore-unknown --write, eslint --fix

show loader on video tiles in all 1:1 cases and also update styling of loader background
  apps/webapp/src/script/components/calling/GroupVideoGrid.test.tsx
  apps/webapp/src/script/components/calling/GroupVideoGridTile.styles.ts
  apps/webapp/src/script/components/calling/GroupVideoGridTile.test.tsx
  apps/webapp/src/script/components/calling/useShowLoadingOverlay.test.ts
  apps/webapp/src/script/components/calling/useShowLoadingOverlay.ts
Due: prettier --ignore-unknown --write, eslint --fix

Update Quay image
  .github/workflows/e2e-tests.yml
Due: prettier --ignore-unknown --write

Prevent stale meeting sync resurrection
  apps/webapp/src/script/components/Meeting/meetingStore/createMeetingStore.test.ts
  apps/webapp/src/script/components/Meeting/meetingStore/createMeetingStore.ts
Due: prettier --ignore-unknown --write, eslint --fix

Prevent stale meeting list restoration
  apps/webapp/src/script/components/Meeting/meetingStore/createMeetingStore.test.ts
  apps/webapp/src/script/components/Meeting/meetingStore/createMeetingStore.ts
Due: prettier --ignore-unknown --write, eslint --fix

Cover stale list after meeting creation
  apps/webapp/src/script/components/Meeting/meetingStore/createMeetingStore.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

Detect rejected meeting sync Tasks
  apps/webapp/src/script/components/Meeting/meetingStore/MeetingStoreRoot.tsx
  apps/webapp/src/script/components/Meeting/meetingStore/createMeetingLifecycleDispatcher.test.ts
  apps/webapp/src/script/components/Meeting/meetingStore/createMeetingLifecycleDispatcher.ts
Due: prettier --ignore-unknown --write, eslint --fix

Fetch team collaborators and show them in the add-participants list
  apps/webapp/src/script/page/rightSidebar/addParticipants/addParticipants.tsx
  apps/webapp/src/script/repositories/team/TeamRepository.ts
  apps/webapp/src/script/repositories/team/TeamService.ts
  libraries/api-client/src/team/index.ts
  libraries/api-client/src/team/team/collaborator/teamCollaborator.ts
  libraries/api-client/src/team/team/teamApi.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: change recurrence option label or "Monthly" to "Every four weeks
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingRecurrence.test.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingRecurrence.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingTypes.ts
  apps/webapp/src/script/components/Meeting/selectors/getMeetingInstancesInRange.test.ts
  apps/webapp/src/script/components/Meeting/selectors/getMeetingInstancesInRange.ts
Due: prettier --ignore-unknown --write, eslint --fix

Preserve shallow subscribable value types for Knockout 3.5.3
  apps/webapp/src/script/util/componentUtil.ts
Due: prettier --ignore-unknown --write, eslint --fix

Type subscribable updates by selected children
  apps/webapp/src/script/util/componentUtil.ts
Due: prettier --ignore-unknown --write, eslint --fix

Disable Dependabot updates in favor of Renovate
  .github/dependabot.yml
Due: prettier --ignore-unknown --write

Fix Knockout 3.5.3 value inference and writable computed typing
  apps/webapp/src/script/repositories/entity/User/User.ts
  apps/webapp/src/script/util/componentUtil.ts
Due: prettier --ignore-unknown --write, eslint --fix

Make Production promotion part of every WebApp release
  .github/workflows/release-webapp.yml
  bin/renderWebappReleaseSummary.test.ts
  bin/renderWebappReleaseSummary.ts
Due: prettier --ignore-unknown --write, eslint --fix

Document mandatory Production promotion for WebApp releases
  docs/decision-records/0002-trunk-based-automated-release-process.md
Due: prettier --ignore-unknown --write

feat: add epoch advancing debug tool [WPB-22420]
  apps/webapp/src/script/components/MessagesList/MessageList.tsx
  apps/webapp/src/script/components/configToolbar/configToolbar.tsx
  apps/webapp/src/script/util/debugUtil.ts
  apps/webapp/src/style/foundation/debug.less
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

Remove obsolete WebApp release workflows
  .github/workflows/create_docker_image.yml
  .github/workflows/publish-and-deploy-webapp.yml
Due: prettier --ignore-unknown --write

Remove obsolete local release commands
  bin/changelog.ts
  bin/release_tag.ts
  package.json
  project.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

Remove obsolete branch defaults and transition wording
  .elasticbeanstalk/config.yml
  .github/workflows/release-webapp.yml
Due: prettier --ignore-unknown --write

Document final WebApp release ownership
  docs/decision-records/0002-trunk-based-automated-release-process.md
  docs/nx-monorepo-integration-overview.md
Due: prettier --ignore-unknown --write

Remove obsolete q1 and q2 release fixtures
  bin/releaseMetadata.test.ts
  bin/releaseMetadataCli.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

Simplify Release WebApp dispatch
  .github/workflows/release-webapp.yml
  bin/renderWebappReleaseSummary.test.ts
  bin/renderWebappReleaseSummary.ts
  docs/decision-records/0002-trunk-based-automated-release-process.md
Due: prettier --ignore-unknown --write, eslint --fix
