Repository wireapp/wire-webapp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

refactor: split and update TC-1718 & TC-1720
  apps/webapp/test/e2e_tests/specs/AccountSettings/accountSettings.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor: update 2FA for teams e2e tests [WPB-22420]
  apps/webapp/test/e2e_tests/specs/2FA-for-TeamsSpecs/2fa-for-teams.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

test: refactor authentication tests [WPB-22420]
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/login.page.ts
  apps/webapp/test/e2e_tests/specs/Authentication/authentication.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

test: fix flake in conversation search tests [WPB-22420]
  apps/webapp/test/e2e_tests/specs/InConversationSearch/inConversationSearch.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

docs: make sure Jira tickets are linked correctly to skipped tests
  apps/webapp/test/e2e_tests/specs/Authentication/authentication.spec.ts
  apps/webapp/test/e2e_tests/specs/Search/search.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat: handle update certificate button visibility [WPB-23318] (#20594)
  apps/webapp/src/script/page/MainContent/panels/preferences/DevicesPreferences/components/E2EICertificateDetails/E2EICertificateDetails.test.tsx
  apps/webapp/src/script/page/MainContent/panels/preferences/DevicesPreferences/components/E2EICertificateDetails/E2EICertificateDetails.tsx
Due: prettier --ignore-unknown --write, eslint --fix

test: implement TC-767
  apps/webapp/test/e2e_tests/specs/SendingAssets/sendingAssets.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

test: implement TC-2874
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/calling.page.ts
  apps/webapp/test/e2e_tests/specs/Calling/calling.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

wip: try checking for CBR with calling service
  apps/webapp/test/e2e_tests/backend/callingServiceClient.e2e.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/audioVideoSettings.page.ts
  apps/webapp/test/e2e_tests/specs/Calling/calling.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat: handle update certificate button visibility [WPB-23318] (#20594) (#20628)
  apps/webapp/src/script/page/MainContent/panels/preferences/DevicesPreferences/components/E2EICertificateDetails/E2EICertificateDetails.test.tsx
  apps/webapp/src/script/page/MainContent/panels/preferences/DevicesPreferences/components/E2EICertificateDetails/E2EICertificateDetails.tsx
Due: prettier --ignore-unknown --write, eslint --fix

runfix(a11y): address accessibility of self deleting message indicator [WPB-22727] (#20251)
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/MessagesList/Message/EphemeralTimer.styles.ts
  apps/webapp/src/script/components/MessagesList/Message/EphemeralTimer.test.tsx
  apps/webapp/src/script/components/MessagesList/Message/EphemeralTimer.tsx
  apps/webapp/src/style/foundation/main.less
  apps/webapp/src/types/i18n.d.ts
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

chore: Update translations [WPB-22420]
  apps/webapp/src/i18n/de-DE.json
Due: prettier --ignore-unknown --write

runfix(a11y): change alt text for conversation title [WPB-22737] (#20296)
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/TitleBar/TitleBar.tsx
  apps/webapp/src/types/i18n.d.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: Update translations (#20300)
  apps/webapp/src/i18n/de-DE.json
  apps/webapp/src/i18n/ru-RU.json
Due: prettier --ignore-unknown --write

fix: use regex to extract verification code from mail
  apps/webapp/test/e2e_tests/backend/inbucketClient.e2e.ts
Due: prettier --ignore-unknown --write, eslint --fix

test: fix hanging tests
  apps/webapp/src/script/util/test/mock/ResponseMock.test.ts
  apps/webapp/src/script/util/test/mock/ResponseMock.ts
  apps/webapp/src/script/webSocketConnection/managedWebSocketConnection.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

test: fix flake in conversation search tests [WPB-22420] (#20627)
  apps/webapp/test/e2e_tests/specs/InConversationSearch/inConversationSearch.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor: update 2FA for teams e2e tests [WPB-22420] (#20625)
  apps/webapp/test/e2e_tests/backend/inbucketClient.e2e.ts
  apps/webapp/test/e2e_tests/specs/2FA-for-TeamsSpecs/2fa-for-teams.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

test: remove duplicate test case [WPB-22420] (#20623)
  apps/webapp/test/e2e_tests/specs/LoginSpecs/login.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

docs: make sure Jira tickets are linked correctly to skipped tests (#20563)
  apps/webapp/test/e2e_tests/specs/Authentication/authentication.spec.ts
  apps/webapp/test/e2e_tests/specs/Search/search.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

test: refactor authentication tests [WPB-22420] (#20626)
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/login.page.ts
  apps/webapp/test/e2e_tests/specs/Authentication/authentication.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor: update account settings tests to align with new utils [WPB-22420] (#20624)
  apps/webapp/test/e2e_tests/pageManager/index.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/modals/createConversation.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/conversation.page.ts
  apps/webapp/test/e2e_tests/specs/AccountSettings/accountSettings.spec.ts
  apps/webapp/test/e2e_tests/test.fixtures.ts
  apps/webapp/test/e2e_tests/utils/userActions.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat: replace window with globalThis
  apps/webapp/src/script/main/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Verify remote tag exists before checkout
  .github/workflows/redeploy-production-from-tag.yml
Due: prettier --ignore-unknown --write

feat: add feature toggle for incremental HTTP retry backoff
  apps/webapp/src/script/featureToggles/startupFeatureToggles.test.ts
  apps/webapp/src/script/featureToggles/startupFeatureToggles.ts
Due: prettier --ignore-unknown --write, eslint --fix

document defaults
  libraries/config/README.md
Due: prettier --ignore-unknown --write

feat: add feature toggle for incremental HTTP retry backoff (#20629)
  apps/webapp/src/script/featureToggles/startupFeatureToggles.test.ts
  apps/webapp/src/script/featureToggles/startupFeatureToggles.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: Remove PM2 from EB startup
  apps/server/package.json
  yarn.lock
Due: prettier --ignore-unknown --write

chore: Fix server deploy by adding tslib runtime dependency
  apps/server/package.json
  yarn.lock
Due: prettier --ignore-unknown --write

ci: add manual production redeploy workflow [WPB-23915] (#20622)
  .github/workflows/redeploy-production-from-tag.yml
Due: prettier --ignore-unknown --write

test: implement TC-2772
  apps/webapp/test/e2e_tests/specs/AppLock/AppLock.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

test: re-enable TC-156 group call after clearing conversation
  apps/webapp/test/e2e_tests/specs/ClearConversationContent/clearConversationContent.spec.ts
  apps/webapp/test/e2e_tests/test.fixtures.ts
Due: prettier --ignore-unknown --write, eslint --fix

ci: increase number of parallel shards for executing e2e tests from 32 to 64
  .github/workflows/e2e-tests.yml
Due: prettier --ignore-unknown --write

test: re-enable TC-156 group call after clearing conversation (#20632)
  apps/webapp/test/e2e_tests/specs/ClearConversationContent/clearConversationContent.spec.ts
  apps/webapp/test/e2e_tests/test.fixtures.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: Remove PM2 from EB startup [WPB-23932] (#20630)
  apps/server/package.json
  yarn.lock
Due: prettier --ignore-unknown --write

ci: increase number of parallel shards for executing e2e tests from 32 to 64 (#20633)
  .github/workflows/e2e-tests.yml
Due: prettier --ignore-unknown --write

test: wait for message to arrive before searching for it [WPB-22420]
  apps/webapp/test/e2e_tests/specs/InConversationSearch/inConversationSearch.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

docs: Clarify environment variables priorities [WPB-23781] (#20590)
  README.md
  libraries/config/README.md
  libraries/config/src/client.config.ts
  libraries/config/src/env.ts
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: any of: *
  stylelint --fix: any of: *.less
  eslint --fix: any of: *.{js,jsx,ts,tsx}
