Repository wireapp/wire-webapp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.less": ["stylelint --fix"],
  "*.{js,jsx,ts,tsx}": ["eslint --fix"]
}

feat: emit WebSocket long-running retry transport event (#20888)
  libraries/api-client/src/tcp/reconnectingWebsocket.ts
  libraries/api-client/src/tcp/webSocketClient.test.ts
  libraries/api-client/src/tcp/webSocketClient.ts
Due: prettier --ignore-unknown --write, eslint --fix

Removing blob report artifacts
  .github/workflows/e2e-tests.yml
Due: prettier --ignore-unknown --write

fix: asset cryptography browser mapping regression
  libraries/core/package.json
  libraries/core/src/cryptography/assetCryptography/assetCryptography.test.ts
  libraries/core/src/cryptography/assetCryptography/crypto.browser.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: asset cryptography browser mapping regression [WPB-22420] (#20894)
  libraries/core/package.json
  libraries/core/src/cryptography/assetCryptography/assetCryptography.test.ts
  libraries/core/src/cryptography/assetCryptography/crypto.browser.ts
Due: prettier --ignore-unknown --write, eslint --fix

Added deletion of traces from a resulting Playwright report archive
  .github/workflows/e2e-tests.yml
Due: prettier --ignore-unknown --write

feat: report WebSocket long-running retries to Countly
  apps/webapp/src/script/repositories/tracking/EventTrackingRepository.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(web): replaced the trailing-slash regex with a linear string scan
  apps/webapp/src/script/components/Conversation/utils/parseAccountDeepLink.ts
Due: prettier --ignore-unknown --write, eslint --fix

test(web): add unit tests for account deep link parsing
  apps/webapp/src/script/components/Conversation/utils/parseAccountDeepLink.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(web): handle Wire account deep links inside conversation
  apps/webapp/src/script/components/Conversation/Conversation.tsx
  apps/webapp/src/script/components/Conversation/utils/parseAccountDeepLink.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(web): extract deep link user lookup and handle missing users explicitly
  apps/webapp/src/script/components/Conversation/Conversation.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(web): changed expect import
  apps/webapp/src/script/components/Conversation/utils/parseAccountDeepLink.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

test(in-conversation-search): add tests for ephemeral messages
  apps/webapp/test/e2e_tests/specs/InConversationSearch/inConversationSearch.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: eol issue in create group style
  apps/webapp/src/style/modal/group-creation.less
Due: prettier --ignore-unknown --write, stylelint --fix

test(in-conversation-search): add tests for ephemeral messages (#20896)
  apps/webapp/test/e2e_tests/specs/InConversationSearch/inConversationSearch.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

Fixed formatting
  apps/webapp/playwright.config.ts
Due: prettier --ignore-unknown --write, eslint --fix

Added error processing in case Playwright folder structure changes
  .github/workflows/e2e-tests.yml
Due: prettier --ignore-unknown --write

feat: add new menu options for create collabora document(WPB-22465) (#20808)
  apps/webapp/package.json
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsHeader/CellsNewMenu/CellsNewFileModal/CellsNewFileModal.styles.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsHeader/CellsNewMenu/CellsNewFileModal/CellsNewFileModal.tsx
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsHeader/CellsNewMenu/CellsNewFolderModal/CellsNewFolderModal.styles.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsHeader/CellsNewMenu/CellsNewFolderModal/CellsNewFolderModal.tsx
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsHeader/CellsNewMenu/CellsNewMenu.tsx
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsTableRowOptions/CellsMoveNodeModal/CellsMoveNodeModal.tsx
  apps/webapp/src/script/components/Conversation/ConversationCells/common/CellsNewNodeForm/CellsNewNodeForm.tsx
  apps/webapp/src/script/components/Conversation/ConversationCells/common/useCellsNewNodeForm/cellsNodeFormUtils.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/common/useCellsNewNodeForm/useCellsNewFileForm.test.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/common/useCellsNewNodeForm/useCellsNewFileForm.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/common/useCellsNewNodeForm/useCellsNewFolderForm.test.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/common/useCellsNewNodeForm/useCellsNewFolderForm.ts
  apps/webapp/src/types/i18n.d.ts
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

Added an option to keep Playwright traces
  .github/workflows/e2e-tests.yml
Due: prettier --ignore-unknown --write

Removed leftovers from a previous e2e-report step
  .github/workflows/e2e-tests.yml
Due: prettier --ignore-unknown --write

chore(Playwright): Optimize the size of playwright reports [WPB-24280] (#20898)
  .github/workflows/e2e-tests.yml
  apps/webapp/playwright.config.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat: report WebSocket long-running retries to Countly (#20895)
  apps/webapp/src/script/repositories/tracking/EventTrackingRepository.ts
Due: prettier --ignore-unknown --write, eslint --fix

test: fix broken AppLock tests [WPB-23749]
  apps/webapp/test/e2e_tests/specs/AppLock/AppLock.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: update translations workflow
  .github/workflows/sync_translations.yml
Due: prettier --ignore-unknown --write

chore: change main to master
  .github/workflows/sync_translations.yml
Due: prettier --ignore-unknown --write

chore(E2E): Updated calling service API client to use 1Password [WPB-24489]
  apps/webapp/test/e2e_tests/.env.fulu.tpl
  apps/webapp/test/e2e_tests/.env.imai.tpl
  apps/webapp/test/e2e_tests/.env.staging.tpl
  apps/webapp/test/e2e_tests/backend/callingServiceClient.e2e.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(E2E): Updated calling service API client to use 1Password [WPB-24489] (#20905)
  apps/webapp/test/e2e_tests/.env.fulu.tpl
  apps/webapp/test/e2e_tests/.env.imai.tpl
  apps/webapp/test/e2e_tests/.env.staging.tpl
  apps/webapp/test/e2e_tests/backend/callingServiceClient.e2e.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: update retries in playwright.config.ts to 3
  apps/webapp/playwright.config.ts
Due: prettier --ignore-unknown --write, eslint --fix

test(app-lock): fix and re-enable flaky inactivity tests (TC-2752, TC-2753)
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/account.page.ts
  apps/webapp/test/e2e_tests/specs/AppLock/AppLock.spec.ts
  apps/webapp/test/e2e_tests/utils/indexedDB.util.ts
  apps/webapp/test/e2e_tests/utils/userActions.ts
Due: prettier --ignore-unknown --write, eslint --fix

test(app-lock): fix and re-enable flaky inactivity tests (TC-2752, TC-2753)
  apps/webapp/test/e2e_tests/specs/AppLock/AppLock.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: bump core-crypto to 9.3.3 [WPB-23860]
  libraries/core/package.json
  yarn.lock
Due: prettier --ignore-unknown --write

chore: use github hoster runners for jobs
  .github/workflows/ci.yml
  .github/workflows/precommit-crit-flows.yml
  .github/workflows/precommit.yml
  .github/workflows/publish-and-deploy-webapp.yml
Due: prettier --ignore-unknown --write

chore: use github hoster runners for jobs (#20910)
  .github/workflows/ci.yml
  .github/workflows/precommit-crit-flows.yml
  .github/workflows/precommit.yml
  .github/workflows/publish-and-deploy-webapp.yml
Due: prettier --ignore-unknown --write

chore: bump core-crypto to 9.3.3 [WPB-23860] (#20909)
  libraries/core/package.json
  yarn.lock
Due: prettier --ignore-unknown --write

feat: ignore epoch advancing on enabling camera on video call
  apps/webapp/src/script/repositories/calling/CallingRepository.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: use github hoster runners for jobs (#20910)
  .github/workflows/ci.yml
  .github/workflows/precommit-crit-flows.yml
  .github/workflows/precommit.yml
  .github/workflows/publish.yml
Due: prettier --ignore-unknown --write

chore: update retries in playwright.config.ts to 3 (#20904)
  apps/webapp/playwright.config.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(WPB-23950): handle account deep links in-app (#20842)
  apps/webapp/src/script/components/Conversation/Conversation.tsx
  apps/webapp/src/script/components/Conversation/utils/parseAccountDeepLink.test.ts
  apps/webapp/src/script/components/Conversation/utils/parseAccountDeepLink.ts
Due: prettier --ignore-unknown --write, eslint --fix

test(app-lock): change locators for appLockCheckboxLabel and appLockCheckbox
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/account.page.ts
Due: prettier --ignore-unknown --write, eslint --fix

test(app-lock): improve readability
  apps/webapp/test/e2e_tests/specs/AppLock/AppLock.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix
