Repository wireapp/wire-webapp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

Added escape for "
  .github/workflows/e2e-tests.yml
Due: prettier --ignore-unknown --write

feat(webapp): include client version in periodic version checks (#20522)
  apps/webapp/src/script/application-periodic-checks/runClientVersionCheck.test.ts
  apps/webapp/src/script/application-periodic-checks/runClientVersionCheck.ts
  apps/webapp/src/script/page/AppMain.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix: Improve media stream error handling using async/await and unified error mapping
  apps/webapp/src/script/repositories/media/MediaStreamHandler.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: Improve media stream error handling using async/await and unified error mapping (#20505)
  apps/webapp/src/script/repositories/media/MediaStreamHandler.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: adjust an output speaker in a call when changing the speaker in main settings
  apps/webapp/src/script/page/MainContent/panels/preferences/AVPreferences.tsx
  apps/webapp/src/script/page/MainContent/panels/preferences/avPreferences/AudioOutPreferences.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix: make audio output onchange callback synchrony
  apps/webapp/src/script/page/MainContent/panels/preferences/avPreferences/AudioOutPreferences.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Fixed if condition
  apps/webapp/test/e2e_tests/scripts/send-playwright-results-to-testiny.ts
Due: prettier --ignore-unknown --write, eslint --fix

ci: replace cherry-pick backport with master-to-dev pull request (#20520)
  .github/workflows/cherry-pick-release-to-dev.yml
  .github/workflows/create-master-to-dev-backport-pull-request.yml
Due: prettier --ignore-unknown --write

ci: remove unused GitHub action workflow
  .github/workflows/rename-cherry-pick-pr.yml
Due: prettier --ignore-unknown --write

ci: remove unused GitHub action workflow
  .github/workflows/codeql-analysis.yml
Due: prettier --ignore-unknown --write

ci: remove unused GitHub action workflow (#20551)
  .github/workflows/rename-cherry-pick-pr.yml
Due: prettier --ignore-unknown --write

ci: remove unused GitHub action workflow (#20552)
  .github/workflows/codeql-analysis.yml
Due: prettier --ignore-unknown --write

docs: add jira ticket about 5s delay to comment
  apps/webapp/test/e2e_tests/specs/CriticalFlow/groupCalls-TC-8632.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

test: "fix" group calls critical flow test by adding delay
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/calling.page.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/groupCalls-TC-8632.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

test: refactor account management
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/audioVideoSettings.page.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/accountManagement-TC-8639.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor: fix assertions in group calls test + remove bad utils
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/calling.page.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/groupCalls-TC-8632.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor: make sure first and lastname match in email
  apps/webapp/test/e2e_tests/data/user.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/accountManagement-TC-8639.spec.ts
  apps/webapp/test/e2e_tests/specs/HistoryBackup/historyBackup.spec.ts
  apps/webapp/test/e2e_tests/utils/userDataGenerator.ts
Due: prettier --ignore-unknown --write, eslint --fix

fixup! refactor: make sure first and lastname match in email
  apps/webapp/test/e2e_tests/specs/HistoryBackup/historyBackup.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(webapp): validate client version check responses with zod result schema
  apps/webapp/src/script/application-periodic-checks/clientVersionCheckResponseSchema.test.ts
  apps/webapp/src/script/application-periodic-checks/clientVersionCheckResponseSchema.ts
  apps/webapp/src/script/application-periodic-checks/runClientVersionCheck.test.ts
  apps/webapp/src/script/application-periodic-checks/runClientVersionCheck.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: use explicit function component type
  apps/webapp/src/script/page/MainContent/panels/preferences/avPreferences/AudioOutPreferences.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix: speaker output not updating during active call when changed in main settings [WPB-23766] (#20527)
  apps/webapp/src/script/page/MainContent/panels/preferences/AVPreferences.tsx
  apps/webapp/src/script/page/MainContent/panels/preferences/avPreferences/AudioOutPreferences.tsx
Due: prettier --ignore-unknown --write, eslint --fix

refactor: move feature enablement into createTeam fixture
  apps/webapp/test/e2e_tests/specs/CriticalFlow/groupCalls-TC-8632.spec.ts
  apps/webapp/test/e2e_tests/test.fixtures.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(webapp): validate client version check responses with zod result schema (#20553)
  apps/webapp/src/script/application-periodic-checks/clientVersionCheckResponseSchema.test.ts
  apps/webapp/src/script/application-periodic-checks/clientVersionCheckResponseSchema.ts
  apps/webapp/src/script/application-periodic-checks/runClientVersionCheck.test.ts
  apps/webapp/src/script/application-periodic-checks/runClientVersionCheck.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(webapp): expose force-reload flag via root context from version check
  apps/webapp/src/script/application-periodic-checks/runClientVersionCheck.test.ts
  apps/webapp/src/script/application-periodic-checks/runClientVersionCheck.ts
  apps/webapp/src/script/page/AppMain.tsx
  apps/webapp/src/script/page/MainContent/MainContent.test.tsx
  apps/webapp/src/script/page/RootProvider.test.tsx
  apps/webapp/src/script/page/RootProvider.tsx
Due: prettier --ignore-unknown --write, eslint --fix

test: re-enable crit flow group call [WPB-23747] (#20519)
  apps/webapp/test/e2e_tests/data/user.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/audioVideoSettings.page.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/calling.page.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/accountManagement-TC-8639.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/groupCalls-TC-8632.spec.ts
  apps/webapp/test/e2e_tests/specs/HistoryBackup/historyBackup.spec.ts
  apps/webapp/test/e2e_tests/test.fixtures.ts
  apps/webapp/test/e2e_tests/utils/userDataGenerator.ts
Due: prettier --ignore-unknown --write, eslint --fix

Revert "feat: move raise hand option in context menu behind feature flag (#20434)"
  src/script/components/calling/VideoControls/VideoControls.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Revert "style: add margin to classified bar items for improved spacing (#20435)"
  src/style/components/classified-bar.less
Due: prettier --ignore-unknown --write, stylelint --fix

chore: revert recents commits from bund old release branch [] (#20555)
  src/script/components/calling/VideoControls/VideoControls.tsx
  src/style/components/classified-bar.less
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

chore: revert recents commits from bund old release branch [] (#20555)
  apps/webapp/src/script/components/calling/VideoControls/VideoControls.tsx
  apps/webapp/src/style/components/classified-bar.less
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

update key material using parent transaction context
  libraries/core/src/messagingProtocols/mls/MLSService/MLSService.ts
Due: prettier --ignore-unknown --write, eslint --fix

Some clean up for playwright result script
  apps/webapp/test/e2e_tests/scripts/send-playwright-results-to-testiny.ts
Due: prettier --ignore-unknown --write, eslint --fix

Removed tmp test API Key
  apps/webapp/test/e2e_tests/scripts/send-playwright-results-to-testiny.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(webapp): expose force-reload flag via root context from version check (#20554)
  apps/webapp/src/script/application-periodic-checks/runClientVersionCheck.test.ts
  apps/webapp/src/script/application-periodic-checks/runClientVersionCheck.ts
  apps/webapp/src/script/page/AppMain.tsx
  apps/webapp/src/script/page/MainContent/MainContent.test.tsx
  apps/webapp/src/script/page/RootProvider.test.tsx
  apps/webapp/src/script/page/RootProvider.tsx
Due: prettier --ignore-unknown --write, eslint --fix

adds tests
  libraries/core/src/messagingProtocols/mls/MLSService/MLSService.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

Added a copyright text and replaced npx ts-node with node in the script command
  .github/workflows/e2e-tests.yml
  apps/webapp/test/e2e_tests/scripts/send-playwright-results-to-testiny.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor: establish MLS groups with one single transaction [WPB-23744] (#20521)
  libraries/core/src/conversation/ConversationService/ConversationService.ts
  libraries/core/src/messagingProtocols/mls/MLSService/MLSService.test.ts
  libraries/core/src/messagingProtocols/mls/MLSService/MLSService.ts
  libraries/core/src/messagingProtocols/mls/recovery/MlsRecoveryOrchestrator.test.ts
  libraries/core/src/messagingProtocols/mls/recovery/MlsRecoveryOrchestrator.ts
Due: prettier --ignore-unknown --write, eslint --fix

test: fix test ids and blocks not matching testiny
  apps/webapp/test/e2e_tests/specs/AccountSettings/accountSettings.spec.ts
  apps/webapp/test/e2e_tests/specs/Archive/archive.spec.ts
  apps/webapp/test/e2e_tests/specs/Authentication/authentication.spec.ts
  apps/webapp/test/e2e_tests/specs/Registration/registration.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

test: await feature activation to reduce flake in group call test [WPB-23747]
  apps/webapp/test/e2e_tests/test.fixtures.ts
Due: prettier --ignore-unknown --write, eslint --fix

test: await feature activation to reduce flake in group call test [WPB-23747] (#20557)
  apps/webapp/test/e2e_tests/test.fixtures.ts
Due: prettier --ignore-unknown --write, eslint --fix

Reduced complexity of the main function
  apps/webapp/test/e2e_tests/scripts/send-playwright-results-to-testiny.ts
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: any of: *
  stylelint --fix: any of: *.less
  eslint --fix: any of: *.{js,jsx,ts,tsx}
