Repository wireapp/wire-webapp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

ci: push PR docker images to quay
  .github/workflows/ci.yml
  bin/push_docker.js
Due: prettier --ignore-unknown --write, eslint --fix

use 7 digit SHA
  bin/push_docker.js
Due: prettier --ignore-unknown --write, eslint --fix

ci: force pr docker tag to head commit
  bin/push_docker.js
Due: prettier --ignore-unknown --write, eslint --fix

bump checkout version
  .github/workflows/ci.yml
Due: prettier --ignore-unknown --write

undo rebase zombie code
  .github/workflows/ci.yml
Due: prettier --ignore-unknown --write

fix(server): Add missing runtime dependencies to server package.json
  apps/server/package.json
Due: prettier --ignore-unknown --write

chore: push lockfile
  yarn.lock
Due: prettier --ignore-unknown --write

fix(server): Add fs-extra dependency to fix production deployment error
  apps/server/package.json
  libraries/config/package.json
  yarn.lock
Due: prettier --ignore-unknown --write

chore(nx): dedupe npm packages, move common dependencies to root [WPB-20913] (#20114)
  apps/server/package.json
  apps/webapp/package.json
  libraries/api-client/package.json
  libraries/config/package.json
  libraries/core/package.json
  libraries/core/src/conversation/SubconversationService/SubconversationService.test.ts
  libraries/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceExternal.test.ts
  libraries/core/src/messagingProtocols/mls/MLSService/MLSService.test.ts
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

chore: update workflow
  .github/workflows/ci.yml
  bin/push_docker.js
Due: prettier --ignore-unknown --write, eslint --fix

chore: do not fetch entire history
  .github/workflows/ci.yml
Due: prettier --ignore-unknown --write

Update .github/workflows/ci.yml
  .github/workflows/ci.yml
Due: prettier --ignore-unknown --write

chore: Fix type check depends on [WPB-20913]
  apps/webapp/project.json
Due: prettier --ignore-unknown --write

chore: Fix type check depends on [WPB-20913] (#20116)
  apps/webapp/project.json
Due: prettier --ignore-unknown --write

chore: Do not publish core lib [WPB-20913] (#20113)
  libraries/core/project.json
Due: prettier --ignore-unknown --write

Revert "chore: do not fetch entire history"
  .github/workflows/ci.yml
Due: prettier --ignore-unknown --write

feat: update styling for group video grid, including box shadow and layout adjustments
  apps/webapp/src/script/components/calling/GroupVideoGridTile.styles.ts
  apps/webapp/src/script/components/calling/GroupVideoGridTile.tsx
  apps/webapp/src/style/components/group-video-grid.less
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

head commit should be used for docker tagging
  .github/workflows/ci.yml
Due: prettier --ignore-unknown --write

feat: update styling for group video grid, including box shadow and layout adjustments (#20117)
  apps/webapp/src/script/components/calling/GroupVideoGridTile.styles.ts
  apps/webapp/src/script/components/calling/GroupVideoGridTile.tsx
  apps/webapp/src/style/components/group-video-grid.less
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

chore(nx): update documentation
  README.md
  docs/nx-monorepo-integration-overview.md
Due: prettier --ignore-unknown --write

chore(nx): update documentation (#20118)
  README.md
  docs/nx-monorepo-integration-overview.md
Due: prettier --ignore-unknown --write

fix search debounce
  apps/webapp/src/script/components/Conversation/ConversationCells/useConversationSearch/useConversationSearchFiles.ts
  apps/webapp/src/types/i18n.d.ts
Due: prettier --ignore-unknown --write, eslint --fix

test(WPB-22420): remove tests for team management app
  apps/webapp/test/e2e_tests/pageManager/index.ts
  apps/webapp/test/e2e_tests/pageManager/team_management/modals/teamsDataShareConsent.modal.ts
  apps/webapp/test/e2e_tests/pageManager/team_management/pages/teamLogin.page.ts
  apps/webapp/test/e2e_tests/pageManager/team_management/pages/teamSignUp.page.ts
  apps/webapp/test/e2e_tests/pageManager/team_management/pages/teams.page.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/modals/marketingConsent.modal.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/setUsername.page.ts
  apps/webapp/test/e2e_tests/specs/teamManagement.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat: Multipart reply previews [WPB-15705]
  apps/webapp/src/script/components/InputBar/ReplyBar/ReplyBar.tsx
  apps/webapp/src/script/components/MessagesList/Message/ContentMessage/MessageQuote.tsx
  apps/webapp/src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssetPreview.tsx
  apps/webapp/src/style/content/conversation/input-bar.less
  apps/webapp/src/style/content/conversation/message-quote.less
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

test(WPB-22420): remove tests for team management app (#20119)
  apps/webapp/test/e2e_tests/pageManager/index.ts
  apps/webapp/test/e2e_tests/pageManager/team_management/modals/teamsDataShareConsent.modal.ts
  apps/webapp/test/e2e_tests/pageManager/team_management/pages/teamLogin.page.ts
  apps/webapp/test/e2e_tests/pageManager/team_management/pages/teamSignUp.page.ts
  apps/webapp/test/e2e_tests/pageManager/team_management/pages/teams.page.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/modals/marketingConsent.modal.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/setUsername.page.ts
  apps/webapp/test/e2e_tests/specs/teamManagement.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

test(WPB-20613): fix critical flow test for personalAccountLifecycle
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/deleteAccount.page.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/outgoingConnection.page.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/registration.page.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/personalAccountLifecycle-TC-8638.spec.ts
  apps/webapp/test/e2e_tests/utils/userActions.ts
Due: prettier --ignore-unknown --write, eslint --fix

test(WPB-20613): fix critical flow test for personalAccountLifecycle (#20120)
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/deleteAccount.page.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/outgoingConnection.page.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/registration.page.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/personalAccountLifecycle-TC-8638.spec.ts
  apps/webapp/test/e2e_tests/utils/userActions.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: expiry date red border issue
  apps/webapp/src/script/components/Cells/ShareModal/CellsShareExpirationFields.tsx
  apps/webapp/src/script/components/Cells/ShareModal/CellsShareExpirationStyles.ts
  apps/webapp/src/types/i18n.d.ts
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

feat: serialize data for public link submit
  apps/webapp/src/script/components/Cells/ShareModal/CellsShareExpirationFields.tsx
  apps/webapp/src/script/components/Cells/ShareModal/CellsShareModalContent.tsx
  apps/webapp/src/script/components/Cells/ShareModal/shareModalSerializer.ts
  apps/webapp/src/script/components/CellsGlobalView/CellsTable/CellsTableColumns/CellsShareModal/CellsShareModal.tsx
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsNodeShareModal/CellsNodeShareModal.tsx
  apps/webapp/src/script/repositories/cells/CellsRepository.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix:expiry message position adjustments
  apps/webapp/src/script/components/Cells/ShareModal/CellsShareExpirationStyles.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat: Search files in cells conversation [WPB-21646] (#20033)
  apps/webapp/src/script/components/CellsGlobalView/common/useCellsStore/useCellsStore.ts
  apps/webapp/src/script/components/CellsGlobalView/useSearchCellsNodes/useSearchCellsNodes.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsHeader/CellsHeader.styles.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsHeader/CellsHeader.tsx
  apps/webapp/src/script/components/Conversation/ConversationCells/ConversationCells.tsx
  apps/webapp/src/script/components/Conversation/ConversationCells/useConversationSearch/useConversationSearchFiles.ts
  apps/webapp/src/script/repositories/cells/CellsRepository.ts
  apps/webapp/src/types/i18n.d.ts
Due: prettier --ignore-unknown --write, eslint --fix

Update apps/webapp/src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssetPreview.tsx
  apps/webapp/src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssetPreview.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix lint
  apps/webapp/src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssetPreview.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix: apply changes for the script to work again
  bin/release_tag.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: changelog generation
  bin/changelog.ts
Due: prettier --ignore-unknown --write, eslint --fix

send full link
  apps/webapp/src/script/components/CellsGlobalView/CellsTable/CellsTableColumns/CellsShareModal/CellsShareModal.tsx
  apps/webapp/src/script/components/CellsGlobalView/CellsTable/CellsTableColumns/CellsShareModal/useCellPublicLink.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsNodeShareModal/CellsNodeShareModal.tsx
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsNodeShareModal/useCellPublicLink.ts
  apps/webapp/src/script/repositories/cells/CellsRepository.ts
  libraries/api-client/src/cells/CellsAPI.test.ts
  libraries/api-client/src/cells/CellsAPI.ts
  libraries/api-client/src/cells/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: fix release_tag.ts workflow [WPB-20913] (#20136)
  bin/changelog.ts
  bin/release_tag.ts
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: any of: *
  stylelint --fix: any of: *.less
  eslint --fix: any of: *.{js,jsx,ts,tsx}
