Repository wireapp/wire-webapp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

Use deterministic wall clock in MeetingStatus tests.
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingStatus/MeetingStatus.test.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Lift useJoinMeetingCall to MeetingListItem.
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingStatus/MeetingStatus.test.tsx
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingStatus/MeetingStatus.tsx
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/meetingListItem.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Remove unused attending prop from MeetingStatus.
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingStatus/MeetingStatus.tsx
  apps/webapp/src/script/components/Meeting/types/meetingSeries.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor to use is.emptyArray
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingService.ts
Due: prettier --ignore-unknown --write, eslint --fix

use is.nonEmptyString
  apps/webapp/src/script/repositories/entity/Conversation.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor to use is.nonEmptyArray
  apps/webapp/src/script/repositories/entity/Conversation.ts
Due: prettier --ignore-unknown --write, eslint --fix

Remove unused service field from meeting member schema.
  libraries/api-client/src/meetings/meetingSchema.test.ts
  libraries/api-client/src/meetings/meetingSchema.ts
  libraries/api-client/src/meetings/meetingsApi.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: Fix wrong references to renamed translation keys. Fix failing tests.
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/MessagesList/Message/MemberMessage.tsx
  apps/webapp/src/script/components/MessagesList/Message/MemberMessage/ConnectedMessage.tsx
  apps/webapp/src/script/components/Modals/CreateConversation/CreateConversationSteps/Preference.test.tsx
  apps/webapp/src/script/components/Modals/CreateConversation/CreateConversationSteps/Preference.tsx
  apps/webapp/src/script/components/Modals/GroupCreation/GroupCreationModal.test.tsx
  apps/webapp/src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
  apps/webapp/src/script/components/Modals/ServiceModal/ServiceModal.tsx
  apps/webapp/src/script/components/Note/AppsDisabledNote/AppsDisabledNote.tsx
  apps/webapp/src/script/components/panel/serviceDetails.tsx
  apps/webapp/src/script/page/leftSidebar/panels/startUi/servicesTab.tsx
  apps/webapp/src/script/page/leftSidebar/panels/startUi/startUi.tsx
  apps/webapp/src/script/page/rightSidebar/addParticipants/addParticipants.tsx
  apps/webapp/src/script/page/rightSidebar/conversationDetails/components/conversationDetailsOptions/conversationDetailsOptions.tsx
  apps/webapp/src/script/page/rightSidebar/conversationDetails/components/conversationDetailsParticipants/conversationDetailsParticipants.tsx
  apps/webapp/src/script/page/rightSidebar/conversationDetails/components/groupDetails/groupDetails.tsx
  apps/webapp/src/script/page/rightSidebar/guestServicesOptions/components/servicesOptions/serviceOptions.test.tsx
  apps/webapp/src/script/page/rightSidebar/guestServicesOptions/components/servicesOptions/servicesOptions.tsx
  apps/webapp/src/script/page/rightSidebar/guestServicesOptions/guestServicesOptions.test.tsx
  apps/webapp/src/script/page/rightSidebar/guestServicesOptions/guestServicesOptions.tsx
  apps/webapp/src/script/repositories/conversation/ConversationRepository.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: fix translation key sorting by running translate:merge script.
  apps/webapp/src/i18n/en-US.json
Due: prettier --ignore-unknown --write

fix: Fix titleBar translations of the warning badge.
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/Modals/ServiceModal/ServiceModal.tsx
  apps/webapp/src/script/components/titleBar/titleBar.test.tsx
  apps/webapp/src/script/components/titleBar/titleBar.tsx
Due: prettier --ignore-unknown --write, eslint --fix

ci: prepare workflows for main branch cutover
  .github/workflows/continuous-integration.yml
  .github/workflows/jira-lint-and-link.yml
Due: prettier --ignore-unknown --write

fix: Fix type error in ConversationStateHandler.
  apps/webapp/src/script/repositories/conversation/ConversationStateHandler.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: refactor `CallingRepository.test.ts` with improved mocks, type safety, and streamlined background effects logic
  apps/webapp/src/script/repositories/calling/CallingRepository.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: clean up formatting and improve consistency in `CallingRepository.test.ts`
  apps/webapp/src/script/repositories/calling/CallingRepository.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: Fix linter error in ConversationStateHandler.
  apps/webapp/src/script/repositories/conversation/ConversationStateHandler.ts
Due: prettier --ignore-unknown --write, eslint --fix

ci: switch repository defaults to main
  .github/workflows/continuous-integration.yml
  .github/workflows/create-master-to-dev-backport-pull-request.yml
  .github/workflows/create-release-branch.yml
  .github/workflows/jira-lint-and-link.yml
  .github/workflows/publish-libraries-on-merge.yml
  .github/workflows/publish-libraries.yml
  .github/workflows/pull-translations-from-crowdin.yml
  .github/workflows/push-translations-to-crowdin.yml
  README.md
  bin/lint-format-check.sh
  docs/library-publishing.md
  nx.json
  package.json
Due: prettier --ignore-unknown --write

fix: add comprehensive tests for background effects handling in `CallingRepository.test.ts`
  apps/webapp/src/script/repositories/calling/CallingRepository.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

move setIsJoining inside call guard
  apps/webapp/src/script/components/Meeting/useJoinMeetingCall.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(core): throttle and deduplicate focus-triggered backend sync tasks
  libraries/core/src/util/recurringTaskScheduler/recurringTaskScheduler.test.ts
  libraries/core/src/util/recurringTaskScheduler/recurringTaskScheduler.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: adopt canonical Beta URL and complete main cutover follow-ups
  .github/workflows/e2e-tests-nightly.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/release-cloud.yml
  README.md
  apps/webapp/test/e2e_tests/README.md
  docs/decision-records/0002-trunk-based-automated-release-process.md
Due: prettier --ignore-unknown --write

Prevent ADR production tags from triggering legacy deployment
  .github/workflows/publish-and-deploy-webapp.yml
  .github/workflows/release-cloud.yml
Due: prettier --ignore-unknown --write

fix: improve mocks, formatting, and type safety in `CallingRepository.test.ts`
  apps/webapp/src/script/repositories/calling/CallingRepository.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: update `hasVideo` logic to check for live video tracks in `CallingRepository`
  apps/webapp/src/script/repositories/calling/CallingRepository.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: replace `mockReturnValue` with `mockImplementation` in `CallingRepository.test.ts`
  apps/webapp/src/script/repositories/calling/CallingRepository.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

Rename the Beta GitHub Environment
  .github/workflows/release-cloud.yml
  docs/decision-records/0002-trunk-based-automated-release-process.md
Due: prettier --ignore-unknown --write

Fix release branch workflow authentication
  .github/workflows/create-release-branch.yml
Due: prettier --ignore-unknown --write

Correct release branch checkout credentials
  .github/workflows/create-release-branch.yml
Due: prettier --ignore-unknown --write

fix(meetings): remove impossible getHours() > 23 check
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingDefaults.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(core): use FireAndForgetInvoker for focus-triggered task execution
  libraries/core/src/account.ts
  libraries/core/src/messagingProtocols/mls/e2eIdentityService/e2eiServiceExternal.test.ts
  libraries/core/src/messagingProtocols/mls/mlsService/mlsService.test.ts
  libraries/core/src/util/recurringTaskScheduler/recurringTaskScheduler.test.ts
  libraries/core/src/util/recurringTaskScheduler/recurringTaskScheduler.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(core): skip focus tasks already in execution
  libraries/core/src/util/recurringTaskScheduler/recurringTaskScheduler.test.ts
  libraries/core/src/util/recurringTaskScheduler/recurringTaskScheduler.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(core): correct import order in Account
  libraries/core/src/account.ts
Due: prettier --ignore-unknown --write, eslint --fix

Restore Beta and E2E runtime separation
  .github/workflows/precommit-slot-run.yml
  .github/workflows/release-cloud.yml
  docs/decision-records/0002-trunk-based-automated-release-process.md
Due: prettier --ignore-unknown --write

Fix release validation attempt isolation
  .github/workflows/precommit-slot-run.yml
  .github/workflows/release-cloud.yml
  docs/decision-records/0002-trunk-based-automated-release-process.md
Due: prettier --ignore-unknown --write

Add collapsible conversation list behind startup feature flag.
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/featureToggles/startupFeatureToggleNames.ts
  apps/webapp/src/script/featureToggles/startupFeatureToggles.test.ts
  apps/webapp/src/script/page/leftSidebar/leftSidebar.tsx
  apps/webapp/src/script/page/leftSidebar/panels/conversations/conversationHeader/conversationHeader.styles.ts
  apps/webapp/src/script/page/leftSidebar/panels/conversations/conversationHeader/conversationHeader.tsx
  apps/webapp/src/script/page/leftSidebar/panels/conversations/conversations.tsx
  apps/webapp/src/script/page/leftSidebar/panels/conversations/conversationsList.tsx
  apps/webapp/src/script/page/leftSidebar/panels/conversations/useSidebarStore.test.ts
  apps/webapp/src/script/page/leftSidebar/panels/conversations/useSidebarStore.ts
  apps/webapp/src/script/page/leftSidebar/panels/listWrapper.tsx
  apps/webapp/src/script/repositories/tracking/eventName.ts
  apps/webapp/src/script/util/useConversationListCollapseFeatureFlag.ts
  apps/webapp/src/style/foundation/framework.less
  apps/webapp/src/style/list/conversation-list-cell.less
  apps/webapp/src/style/list/conversations.less
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

fix translate file
  apps/webapp/src/i18n/en-US.json
Due: prettier --ignore-unknown --write

Optimize Beta tag checkout
  .github/workflows/release-cloud.yml
Due: prettier --ignore-unknown --write

Fix lint issues for collapsible conversation list.
  apps/webapp/src/script/page/leftSidebar/panels/conversations/conversationHeader/conversationHeader.tsx
  apps/webapp/src/style/list/conversation-list-cell.less
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

wip: create api utils to create a sso application and set it up for a team
  apps/webapp/test/e2e_tests/.env.staging.tpl
  apps/webapp/test/e2e_tests/backend/apiManager.e2e.ts
  apps/webapp/test/e2e_tests/backend/brigRepository.e2e.ts
  apps/webapp/test/e2e_tests/backend/identityProviderRespository.e2e.ts
  apps/webapp/test/e2e_tests/backend/oktaClient.e2e.ts
  apps/webapp/test/e2e_tests/specs/SSO&SCIM/SSO&SCIM.spec.ts
  apps/webapp/test/e2e_tests/test.fixtures.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(e2e): Cleanup of unused env templates and references [WPB-27121]
  .github/workflows/e2e-tests.yml
  .github/workflows/playwright-crit-flow-tests.yml
  apps/webapp/test/e2e_tests/.env.fulu.tpl
  apps/webapp/test/e2e_tests/.env.imai.tpl
  apps/webapp/test/e2e_tests/.env.tpl
  apps/webapp/test/e2e_tests/README.md
Due: prettier --ignore-unknown --write

Fix release failure notifications
  .github/workflows/precommit-slot-run.yml
  .github/workflows/publish-and-deploy-webapp.yml
  .github/workflows/redeploy-production-from-tag.yml
  .github/workflows/release-cloud.yml
  .github/workflows/rollback-production.yml
  docs/decision-records/0002-trunk-based-automated-release-process.md
Due: prettier --ignore-unknown --write

Path conditions:
  prettier --ignore-unknown --write: any of: *
  stylelint --fix: any of: *.less
  eslint --fix: any of: *.{js,jsx,ts,tsx}
