Repository wireapp/wire-webapp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

Switch e2e test related jobs to run on self-hosted runner
  .github/workflows/e2e-tests-nightly.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/precommit-e2e-tests.yml
Due: prettier --ignore-unknown --write

Render AppLock line breaks with explicit fragments
  apps/webapp/src/script/page/appLock/appLock.test.tsx
  apps/webapp/src/script/page/appLock/appLock.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Render emoji preference details with React translations
  apps/webapp/src/script/page/mainContent/panels/preferences/optionPreferences.test.tsx
  apps/webapp/src/script/page/mainContent/panels/preferences/optionPreferences.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Wrap translation-state tests with higher-order callbacks
  apps/webapp/src/script/components/messagesList/message/memberMessage.test.tsx
  apps/webapp/src/script/page/appLock/appLock.test.tsx
  apps/webapp/src/script/page/mainContent/panels/preferences/optionPreferences.test.tsx
  apps/webapp/src/script/view_model/WarningsContainer/WarningsContainer.test.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Render team creation introduction with React translations
  apps/webapp/src/script/page/leftSidebar/panels/conversations/conversationTabs/teamCreation/teamCreationSteps/introduction.test.tsx
  apps/webapp/src/script/page/leftSidebar/panels/conversations/conversationTabs/teamCreation/teamCreationSteps/introduction.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat: Add shared drive upload status indicator to files tab(WPB-28319)
  apps/webapp/src/script/components/conversation/conversation.tsx
  apps/webapp/src/script/components/conversation/conversationCells/sharedDriveUploadStatus.ts
  apps/webapp/src/script/components/conversation/conversationCells/sharedDriveUploadStatusPopupHost.tsx
  apps/webapp/src/script/components/conversation/conversationTabs/conversationTabs.test.tsx
  apps/webapp/src/script/components/conversation/conversationTabs/conversationTabs.tsx
  apps/webapp/src/style/content/conversation.less
  libraries/react-ui-kit/src/dataDisplay/icon/index.ts
  libraries/react-ui-kit/src/dataDisplay/icon/sharedDriveUploadCompletedIcon.tsx
  libraries/react-ui-kit/src/dataDisplay/icon/sharedDriveUploadSpinnerIcon.tsx
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

fix: type error
  apps/webapp/src/script/components/conversation/conversationTabs/conversationTabs.test.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Allow mirrored Playwright images to bypass release age
  renovate.json
Due: prettier --ignore-unknown --write

Update Playwright E2E container image to v1.63.0
  .github/workflows/e2e-tests.yml
Due: prettier --ignore-unknown --write

fix: review comments
  apps/webapp/src/script/components/conversation/conversationTabs/conversationTabs.test.tsx
  apps/webapp/src/script/components/conversation/conversationTabs/conversationTabs.tsx
  apps/webapp/src/style/content/conversation.less
  libraries/react-ui-kit/src/dataDisplay/icon/sharedDriveUploadCompletedIcon.tsx
  libraries/react-ui-kit/src/dataDisplay/icon/sharedDriveUploadSpinnerIcon.tsx
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

fix(shared-drive): report precise upload progress
  apps/webapp/src/script/components/conversation/conversation.tsx
  apps/webapp/src/script/components/conversation/conversationCells/sharedDriveUploadController.test.ts
  apps/webapp/src/script/components/conversation/conversationCells/sharedDriveUploadController.ts
  apps/webapp/src/script/components/conversation/conversationCells/sharedDriveUploadStatus.test.ts
  apps/webapp/src/script/components/conversation/conversationCells/sharedDriveUploadStatus.ts
  apps/webapp/src/script/components/conversation/conversationCells/sharedDriveUploadStatusPopup.styles.ts
  apps/webapp/src/script/components/conversation/conversationCells/sharedDriveUploadStatusPopup.test.tsx
  apps/webapp/src/script/components/conversation/conversationCells/sharedDriveUploadStatusPopup.tsx
  apps/webapp/src/script/components/conversation/conversationCells/sharedDriveUploadStatusPopupHost.test.tsx
  apps/webapp/src/script/components/conversation/conversationCells/sharedDriveUploadStatusPopupHost.tsx
  apps/webapp/src/script/repositories/cells/upload/process.test.ts
  libraries/api-client/package.json
  libraries/api-client/src/cells/cellsStorage/s3Service.test.ts
  libraries/api-client/src/cells/cellsStorage/s3Service.ts
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

test(shared-drive): clarify upload test helpers
  apps/webapp/src/script/components/conversation/conversationCells/sharedDriveUploadController.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

Add WebApp Production version logic
  tools/release-metadata/tsconfig.json
  tools/release-metadata/webappVersion.test.ts
  tools/release-metadata/webappVersion.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: lint
  apps/webapp/src/script/mls/MLSConversations.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

Propagate meeting conversation identifiers
  apps/webapp/src/script/components/meeting/meetingNotificationCard/meetingNotificationCard.test.tsx
  apps/webapp/src/script/components/meeting/meetingNotificationEventHandlers.test.ts
  apps/webapp/src/script/components/meeting/meetingNotificationEventHandlers.ts
  apps/webapp/src/script/components/meeting/meetingNotificationHost/meetingNotificationHost.test.tsx
  apps/webapp/src/script/components/meeting/meetingNotificationStore/meetingNotificationStore.test.ts
  apps/webapp/src/script/components/meeting/meetingNotificationStore/meetingNotificationStore.ts
Due: prettier --ignore-unknown --write, eslint --fix

Propagate meeting conversation identifiers
  apps/webapp/src/script/components/meeting/meetingNotificationHost/meetingNotificationHost.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Suppress OS notifications for meeting calls
  apps/webapp/src/script/components/meeting/meetingNotificationHost/meetingNotificationHost.tsx
  apps/webapp/src/script/repositories/notification/NotificationRepository.test.ts
  apps/webapp/src/script/repositories/notification/NotificationRepository.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat: disable read receipts for MLS/Mixed protocol [WPB-27943]
  apps/webapp/src/script/page/rightSidebar/conversationDetails/components/conversationDetailsOptions/conversationDetailsOptions.tsx
  apps/webapp/src/script/repositories/conversation/ConversationRepository.test.ts
  apps/webapp/src/script/repositories/conversation/ConversationRepository.ts
  apps/webapp/src/script/repositories/conversation/ConversationSelectors.ts
  apps/webapp/src/script/repositories/conversation/MessageRepository.test.ts
  apps/webapp/src/script/repositories/conversation/MessageRepository.ts
  apps/webapp/src/script/repositories/event/preprocessor/ReceiptsMiddleware.test.ts
  apps/webapp/src/script/repositories/event/preprocessor/ReceiptsMiddleware.ts
Due: prettier --ignore-unknown --write, eslint --fix

Show join action in meeting notifications
  apps/webapp/src/script/components/meeting/meetingNotificationCard/meetingNotificationCard.test.tsx
  apps/webapp/src/script/components/meeting/meetingNotificationCard/meetingNotificationCard.tsx
  apps/webapp/src/script/components/meeting/useJoinMeetingCall.ts
Due: prettier --ignore-unknown --write, eslint --fix

Add video icon in join button
  apps/webapp/src/script/components/meeting/meetingNotificationCard/meetingNotificationCard.styles.ts
  apps/webapp/src/script/components/meeting/meetingNotificationCard/meetingNotificationCard.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Add Git boundary for WebApp version synchronization
  tools/release-metadata/webappVersionSynchronizationGit.test.ts
  tools/release-metadata/webappVersionSynchronizationGit.ts
  tools/release-metadata/webappVersionSynchronizationGitHubClient.ts
Due: prettier --ignore-unknown --write, eslint --fix

Add GitHub transport for WebApp version synchronization
  tools/release-metadata/webappVersionSynchronizationGitHubClient.test.ts
  tools/release-metadata/webappVersionSynchronizationGitHubClient.ts
Due: prettier --ignore-unknown --write, eslint --fix

Add WebApp synchronization state planning
  tools/release-metadata/webappVersionSynchronization.test.ts
  tools/release-metadata/webappVersionSynchronization.ts
Due: prettier --ignore-unknown --write, eslint --fix

Add WebApp version synchronization orchestration
  tools/release-metadata/webappVersion.ts
  tools/release-metadata/webappVersionSynchronization.ts
  tools/release-metadata/webappVersionSynchronizationGit.ts
  tools/release-metadata/webappVersionSynchronizationGitHubClient.ts
  tools/release-metadata/webappVersionSynchronizationOrchestration.test.ts
  tools/release-metadata/webappVersionSynchronizationOrchestration.ts
Due: prettier --ignore-unknown --write, eslint --fix

Use a set for remote synchronization branch names
  tools/release-metadata/webappVersionSynchronizationGit.ts
Due: prettier --ignore-unknown --write, eslint --fix

Add WebApp synchronization CLI boundary
  eslint.config.mjs
  project.json
  tools/release-cli/releaseCliEntrypoints.test.ts
  tools/release-cli/webappVersionSynchronization.mts
  tools/release-metadata/webappVersionSynchronizationCli.test.ts
  tools/release-metadata/webappVersionSynchronizationCli.ts
Due: prettier --ignore-unknown --write, eslint --fix

Add WebApp Production version synchronization orchestration
  tools/release-metadata/webappVersionSynchronizationGit.test.ts
  tools/release-metadata/webappVersionSynchronizationGit.ts
Due: prettier --ignore-unknown --write, eslint --fix

Add WebApp Production version synchronization orchestration
  tools/release-metadata/webappVersionSynchronization.ts
Due: prettier --ignore-unknown --write, eslint --fix

Block releases on unresolved WebApp version syncs
  tools/release-metadata/webappVersionSynchronization.test.ts
  tools/release-metadata/webappVersionSynchronization.ts
  tools/release-metadata/webappVersionSynchronizationCli.test.ts
  tools/release-metadata/webappVersionSynchronizationCli.ts
  tools/release-metadata/webappVersionSynchronizationOrchestration.test.ts
  tools/release-metadata/webappVersionSynchronizationOrchestration.ts
Due: prettier --ignore-unknown --write, eslint --fix

Separate WebApp synchronization runtime credentials
  project.json
  tools/release-cli/webappVersionSynchronization.mts
  tools/release-metadata/webappVersionSynchronizationRuntime.test.ts
  tools/release-metadata/webappVersionSynchronizationRuntime.ts
Due: prettier --ignore-unknown --write, eslint --fix

Target WebApp synchronization pull request discovery
  project.json
  tools/release-metadata/webappVersionSynchronizationGitHubClient.test.ts
  tools/release-metadata/webappVersionSynchronizationGitHubClient.ts
Due: prettier --ignore-unknown --write, eslint --fix

Authenticate WebApp version sync pushes as Otto
  tools/release-cli/webappVersionSynchronization.mts
  tools/release-metadata/webappVersionSynchronizationGit.test.ts
  tools/release-metadata/webappVersionSynchronizationGit.ts
Due: prettier --ignore-unknown --write, eslint --fix

Split WebApp synchronization pull request searches
  tools/release-metadata/webappVersionSynchronizationGitHubClient.test.ts
  tools/release-metadata/webappVersionSynchronizationGitHubClient.ts
Due: prettier --ignore-unknown --write, eslint --fix

Add WebApp synchronization preflight policy
  tools/release-metadata/webappVersionSynchronizationPreflight.test.ts
  tools/release-metadata/webappVersionSynchronizationPreflight.ts
Due: prettier --ignore-unknown --write, eslint --fix

Enforce WebApp synchronization preflight in CLI
  tools/release-cli/webappVersionSynchronization.mts
  tools/release-metadata/webappVersionSynchronizationPreflight.test.ts
  tools/release-metadata/webappVersionSynchronizationPreflight.ts
Due: prettier --ignore-unknown --write, eslint --fix

Add WebApp synchronization details to release summaries
  tools/release-metadata/webappVersionSynchronizationPreflight.ts
  tools/release-summary/renderWebappReleaseSummary.test.ts
  tools/release-summary/renderWebappReleaseSummary.ts
Due: prettier --ignore-unknown --write, eslint --fix

Add WebApp synchronization preflight gates
  .github/workflows/release-webapp.yml
Due: prettier --ignore-unknown --write

Add post-Production WebApp version synchronization
  .github/workflows/release-webapp.yml
Due: prettier --ignore-unknown --write

Report WebApp synchronization outcomes
  .github/workflows/release-webapp.yml
Due: prettier --ignore-unknown --write

Path conditions:
  prettier --ignore-unknown --write: any of: *
  stylelint --fix: any of: *.less
  eslint --fix: any of: *.{js,jsx,ts,tsx}
