Repository wireapp/wire-webapp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

chore: Publish [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --ignore-unknown --write

chore: Publish [skip ci]
  api-client/CHANGELOG.md
  api-client/package.json
  bazinga64/CHANGELOG.md
  bazinga64/package.json
  certificate-check/CHANGELOG.md
  certificate-check/package.json
  commons/CHANGELOG.md
  commons/package.json
  copy-config/CHANGELOG.md
  copy-config/package.json
  core/CHANGELOG.md
  core/package.json
  eslint-config/CHANGELOG.md
  eslint-config/package.json
  license-collector/CHANGELOG.md
  license-collector/package.json
  prettier-config/CHANGELOG.md
  prettier-config/package.json
  priority-queue/CHANGELOG.md
  priority-queue/package.json
  promise-queue/CHANGELOG.md
  promise-queue/package.json
  react-ui-kit/CHANGELOG.md
  react-ui-kit/package.json
  store-engine-dexie/CHANGELOG.md
  store-engine-dexie/package.json
  store-engine-fs/CHANGELOG.md
  store-engine-fs/package.json
  store-engine/CHANGELOG.md
  store-engine/package.json
  telemetry/CHANGELOG.md
  telemetry/package.json
  webapp-events/CHANGELOG.md
  webapp-events/package.json
Due: prettier --ignore-unknown --write

add file collaboration conversation detail
  src/i18n/en-US.json
  src/script/page/RightSidebar/ConversationDetails/components/ConversationDetailsOptions/ConversationDetailsOptions.tsx
  src/style/panel/panel.less
  src/types/i18n.d.ts
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

change member message for cells conversation creation
  src/i18n/en-US.json
  src/script/components/MessagesList/Message/E2eEncryptionMessage/E2eEncryptionMessage.tsx
  src/script/components/MessagesList/Message/MemberMessage.tsx
  src/script/components/MessagesList/Message/MessageWrapper.tsx
  src/types/i18n.d.ts
Due: prettier --ignore-unknown --write, eslint --fix

update copy for global view empty state
  src/i18n/en-US.json
  src/script/components/CellsGlobalView/CellsGlobalView.tsx
  src/types/i18n.d.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: update copy for timed messages in Cells conversations
  src/i18n/en-US.json
  src/script/page/RightSidebar/ConversationDetails/components/ConversationDetailsOptions/ConversationDetailsOptions.tsx
  src/types/i18n.d.ts
Due: prettier --ignore-unknown --write, eslint --fix

update copy for conversation creation
  src/i18n/en-US.json
  src/types/i18n.d.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix ci
  src/script/components/MessagesList/Message/MemberMessage.test.tsx
  src/script/components/MessagesList/Message/MemberMessage/ConnectedMessage.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Update src/script/page/RightSidebar/ConversationDetails/components/ConversationDetailsOptions/ConversationDetailsOptions.tsx
  src/script/page/RightSidebar/ConversationDetails/components/ConversationDetailsOptions/ConversationDetailsOptions.tsx
Due: prettier --ignore-unknown --write, eslint --fix

runfix(cells): update copy related to conversations with Cells enabled [WPB-20186] (#19699)
  src/i18n/en-US.json
  src/script/components/CellsGlobalView/CellsGlobalView.tsx
  src/script/components/MessagesList/Message/E2eEncryptionMessage/E2eEncryptionMessage.tsx
  src/script/components/MessagesList/Message/MemberMessage.test.tsx
  src/script/components/MessagesList/Message/MemberMessage.tsx
  src/script/components/MessagesList/Message/MemberMessage/ConnectedMessage.tsx
  src/script/components/MessagesList/Message/MessageWrapper.tsx
  src/script/page/RightSidebar/ConversationDetails/components/ConversationDetailsOptions/ConversationDetailsOptions.tsx
  src/style/panel/panel.less
  src/types/i18n.d.ts
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

chore: Update translations
  src/i18n/ru-RU.json
Due: prettier --ignore-unknown --write

chore: Update translations (#19702)
  src/i18n/ru-RU.json
Due: prettier --ignore-unknown --write

chore: Remove instructions to connect to prod BE as it is no longer available
  README.md
Due: prettier --ignore-unknown --write

runfix(cells): use two lines for attachments names [WPB-20813]
  src/script/components/FileCard/FileCardName/FileCardName.styles.ts
  src/script/components/FileCard/FileCardName/FileCardName.tsx
Due: prettier --ignore-unknown --write, eslint --fix

runfix(cells): use two lines for attachments names [WPB-20813] (#19710)
  src/script/components/FileCard/FileCardName/FileCardName.styles.ts
  src/script/components/FileCard/FileCardName/FileCardName.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore: Update translations
  src/i18n/de-DE.json
Due: prettier --ignore-unknown --write

chore: Update translations (#19711)
  src/i18n/de-DE.json
Due: prettier --ignore-unknown --write

fix: make password toggle button accessible and localised(WPB-21228)
  src/i18n/en-US.json
  src/script/auth/component/AccountForm.tsx
  src/script/auth/component/ClientItem.tsx
  src/script/auth/component/JoinGuestLinkPasswordModal.tsx
  src/script/auth/component/LoginForm.tsx
  src/script/auth/page/SetPassword.tsx
  src/script/components/Modals/PrimaryModal/GuestLinkPasswordForm/GuestLinkPasswordForm.tsx
  src/script/components/Modals/PrimaryModal/PasswordAdvancedSecurityForm/PasswordAdvancedSecurityForm.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix: translate type
  src/types/i18n.d.ts
Due: prettier --ignore-unknown --write, eslint --fix

runfix(cells): exclude folders from all files view [WPB-20960]
  src/script/components/CellsGlobalView/useSearchCellsNodes/useSearchCellsNodes.ts
  src/script/repositories/cells/CellsRepository.ts
Due: prettier --ignore-unknown --write, eslint --fix

runfix(cells): exclude folders from all files view [WPB-20960] (#19715)
  src/script/components/CellsGlobalView/useSearchCellsNodes/useSearchCellsNodes.ts
  src/script/repositories/cells/CellsRepository.ts
Due: prettier --ignore-unknown --write, eslint --fix

runfix(cells): correctly truncate lines for attachment names [WPB-20813]
  src/script/components/FileCard/FileCardName/FileCardName.tsx
Due: prettier --ignore-unknown --write, eslint --fix

runfix(cells): correctly truncate lines for attachment names [WPB-20813] (#19716)
  src/script/components/FileCard/FileCardName/FileCardName.tsx
Due: prettier --ignore-unknown --write, eslint --fix

runfix(cells): ignore 401 error when no cells conversations exist [WPB-20957]
  src/script/components/CellsGlobalView/useSearchCellsNodes/useSearchCellsNodes.ts
  src/script/repositories/conversation/ConversationRepository.ts
Due: prettier --ignore-unknown --write, eslint --fix

runfix(cells): ignore 401 error when no cells conversations exist [WPB-20957] (#19717)
  src/script/components/CellsGlobalView/useSearchCellsNodes/useSearchCellsNodes.ts
  src/script/repositories/conversation/ConversationRepository.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: Login - New view is not announced
  src/script/auth/component/RouteA11y.tsx
  src/script/auth/hooks/useRouteA11y.ts
  src/script/auth/page/CreatePersonalAccount.tsx
  src/script/auth/page/Login.tsx
  src/script/auth/page/Root.tsx
  src/script/auth/page/SetAccountType.tsx
  src/script/auth/page/SingleSignOn.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix: make back button accessible WPB-21466
  src/script/auth/component/BackButton.tsx
Due: prettier --ignore-unknown --write, eslint --fix

finish tests
  test/e2e_tests/pageManager/index.ts
  test/e2e_tests/pageManager/webapp/modals/cancelRequest.modal.ts
  test/e2e_tests/pageManager/webapp/pages/conversation.page.ts
  test/e2e_tests/specs/Connections/Connections.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(api-client): add user_groups in User and TeamContact [WPB-16801] (#7519)
  src/team/search/TeamContact.ts
  src/user/User.ts
  src/userGroups/UserGroupSearchOptions.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(api-client): add user_groups in User and TeamContact [WPB-16801] (#7519)
  api-client/src/team/search/TeamContact.ts
  api-client/src/user/User.ts
  api-client/src/userGroups/UserGroupSearchOptions.ts
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: any of: *
  stylelint --fix: any of: *.less
  eslint --fix: any of: *.{js,jsx,ts,tsx}
