Repository wireapp/wire-webapp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

ci: suppress ESLint warnings in GitHub Actions logs
  .github/workflows/continuous-integration.yml
  .github/workflows/publish-libraries.yml
  apps/server/project.json
  apps/webapp/project.json
  libraries/api-client/project.json
  libraries/bazinga64/project.json
  libraries/certificate-check/project.json
  libraries/commons/project.json
  libraries/config/project.json
  libraries/copy-config/project.json
  libraries/core/project.json
  libraries/eslint-config/project.json
  libraries/license-collector/project.json
  libraries/prettier-config/project.json
  libraries/priority-queue/project.json
  libraries/react-ui-kit/project.json
  libraries/store-engine-dexie/project.json
  libraries/store-engine-fs/project.json
  libraries/store-engine/project.json
  libraries/telemetry/project.json
  libraries/webapp-events/project.json
Due: prettier --ignore-unknown --write

Verify Production before tagging
  .github/workflows/release-cloud.yml
  docs/decision-records/0002-trunk-based-automated-release-process.md
Due: prettier --ignore-unknown --write

build: envoy gateway support (helm) [WPB-24493]
  charts/webapp/Chart.yaml
  charts/webapp/templates/_helpers.tpl
  charts/webapp/templates/httproute.yaml
  charts/webapp/templates/ingress.yaml
  charts/webapp/templates/issuer.yaml
  charts/webapp/values.yaml
Due: prettier --ignore-unknown --write

comment
  charts/webapp/values.yaml
Due: prettier --ignore-unknown --write

Do not cache runtime configuration
  apps/server/Server.test.ts
  apps/server/http/setNonCacheHeaders.test.ts
  apps/server/http/setNonCacheHeaders.ts
  apps/server/jest.config.js
  apps/server/routes/clientVersionCheck/clientVersionCheckRoute.ts
  apps/server/routes/config/configRoute.ts
  apps/server/routes/redirectRoutes.test.ts
  apps/server/routes/redirectRoutes.ts
  apps/server/tsconfig.json
Due: prettier --ignore-unknown --write, eslint --fix

fix(meetings): stay within tightened ESLint warning budget
  apps/webapp/src/script/components/Meeting/MeetingParticipantsPicker/MeetingParticipantsPicker.styles.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/ScheduleMeetingForm.tsx
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingDefaults.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/useScheduleMeetingParticipants.ts
Due: prettier --ignore-unknown --write, eslint --fix

Verify deployed version and commit
  .github/workflows/precommit-slot-run.yml
  .github/workflows/release-cloud.yml
  docs/decision-records/0002-trunk-based-automated-release-process.md
Due: prettier --ignore-unknown --write

Remove message list width transition
  apps/webapp/src/style/foundation/framework.less
Due: prettier --ignore-unknown --write, stylelint --fix

Allow Production runtime verification retries
  .github/workflows/release-cloud.yml
Due: prettier --ignore-unknown --write

Make reliable message status handling permanent
  apps/webapp/src/script/components/appContainer/appContainer.tsx
  apps/webapp/src/script/featureToggles/startupFeatureToggleNames.ts
  apps/webapp/src/script/featureToggles/startupFeatureToggles.test.ts
  apps/webapp/src/script/main/app.ts
  apps/webapp/src/script/repositories/conversation/MessageRepository.test.ts
  apps/webapp/src/script/repositories/conversation/MessageRepository.ts
  apps/webapp/test/helper/TestFactory.js
Due: prettier --ignore-unknown --write, eslint --fix

switch to ListenerSet
  charts/webapp/Chart.yaml
  charts/webapp/templates/_helpers.tpl
  charts/webapp/templates/httproute.yaml
  charts/webapp/templates/listenerset.yaml
  charts/webapp/values.yaml
Due: prettier --ignore-unknown --write

Publish Production distribution from Release Cloud
  .github/workflows/publish-production-distribution.yml
  .github/workflows/release-cloud.yml
  .github/workflows/repair-production-distribution.yml
  bin/productionDistribution.test.ts
  bin/productionDistribution.ts
  bin/productionDistributionCli.ts
  bin/publish-production-docker.sh
  bin/publish-production-helm.sh
  bin/push_docker.js
  bin/push_docker.test.ts
  bin/update-wire-builds.sh
  bin/validate-production-distribution.sh
  docs/decision-records/0002-trunk-based-automated-release-process.md
Due: prettier --ignore-unknown --write, eslint --fix

rename
  charts/webapp/Chart.yaml
  charts/webapp/templates/_helpers.tpl
  charts/webapp/templates/certificate.yaml
  charts/webapp/templates/httproute.yaml
  charts/webapp/templates/ingress.yaml
  charts/webapp/templates/issuer.yaml
  charts/webapp/templates/listenerset.yaml
  charts/webapp/templates/service.yaml
  charts/webapp/values.yaml
Due: prettier --ignore-unknown --write

Unlock enterprise features using the IBIS API [WPB-26863]
  apps/webapp/test/e2e_tests/backend/teamRepository.e2e.ts
  apps/webapp/test/e2e_tests/test.fixtures.ts
Due: prettier --ignore-unknown --write, eslint --fix

Fix conversation merge to update observable-backed fields.
  apps/webapp/src/script/repositories/conversation/ConversationMapper.ts
  apps/webapp/src/script/repositories/conversation/ConversationRepository.test.ts
  apps/webapp/src/script/repositories/conversation/ConversationRepository.ts
Due: prettier --ignore-unknown --write, eslint --fix

Use canonical conversation schema for meeting API responses.
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingService.ts
  apps/webapp/src/script/repositories/conversation/ConversationMapper.ts
  apps/webapp/src/script/repositories/conversation/ConversationRepository.ts
  libraries/api-client/src/conversation/conversationSchema.ts
  libraries/api-client/src/meetings/meeting.ts
  libraries/api-client/src/meetings/meetingSchema.test.ts
  libraries/api-client/src/meetings/meetingSchema.ts
Due: prettier --ignore-unknown --write, eslint --fix

Fix group creation message injection for meeting conversations.
  apps/webapp/src/script/repositories/conversation/ConversationRepository.test.ts
  apps/webapp/src/script/repositories/conversation/ConversationRepository.ts
Due: prettier --ignore-unknown --write, eslint --fix

Pass isGroupCall to CallingHeader for meeting calls.
  apps/webapp/src/script/components/calling/CallingCell/CallingCell.tsx
  apps/webapp/src/script/components/calling/CallingCell/CallingHeader/CallingHeader.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Show feedback when meeting call join fails.
  apps/webapp/src/script/components/Meeting/joinMeetingCall.test.ts
  apps/webapp/src/script/components/Meeting/useJoinMeetingCall.test.ts
  apps/webapp/src/script/components/Meeting/useJoinMeetingCall.ts
  apps/webapp/src/script/hooks/useNoInternetCallGuard/useNoInternetCallGuard.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Separate meeting temporal status from call participation.
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingStatus/MeetingStatus.test.tsx
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingStatus/MeetingStatus.tsx
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/meetingListItem.tsx
  apps/webapp/src/script/components/Meeting/utils/meetingStatusUtil.test.ts
  apps/webapp/src/script/components/Meeting/utils/meetingStatusUtil.ts
Due: prettier --ignore-unknown --write, eslint --fix

Fix CI typecheck and ConversationRepository test isolation.
  apps/webapp/src/script/repositories/conversation/ConversationRepository.test.ts
  apps/webapp/src/script/repositories/conversation/ConversationRepository.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: PR comments
  apps/webapp/src/script/components/badge/components/verificationBadges/verificationBadges.test.tsx
  apps/webapp/src/script/components/badge/components/verificationBadges/verificationBadges.tsx
  apps/webapp/src/script/page/leftSidebar/userDetails/userDetails.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix: PR comments
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/badge/components/verificationBadges/verificationBadges.test.tsx
  apps/webapp/src/script/components/badge/components/verificationBadges/verificationBadges.tsx
  apps/webapp/src/script/page/leftSidebar/userDetails/userDetails.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat: add acc string for active and non-active conv [WPB-21212]
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/conversationListCell/conversationListCell.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Stop legacy publication for release branches
  .github/workflows/publish-and-deploy-webapp.yml
Due: prettier --ignore-unknown --write

use name of user + random company name for team upgrade
  apps/webapp/test/e2e_tests/backend/teamRepository.e2e.ts
Due: prettier --ignore-unknown --write, eslint --fix

Wait 5s before executing enterprise upgrade
  apps/webapp/test/e2e_tests/test.fixtures.ts
Due: prettier --ignore-unknown --write, eslint --fix

Limit conversation merge to backend-owned fields.
  apps/webapp/src/script/repositories/conversation/ConversationMapper.test.ts
  apps/webapp/src/script/repositories/conversation/ConversationMapper.ts
  apps/webapp/src/script/repositories/conversation/ConversationRepository.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

Rename new branch files to camelCase.
  apps/server/server.test.ts
  apps/webapp/src/script/components/Meeting/MeetingCallingView/meetingCallingView.tsx
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingStatus/meetingStatus.test.tsx
  apps/webapp/src/script/components/Meeting/Meetings.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Notify Deployoholics when release E2E succeeds
  .github/workflows/release-cloud.yml
  docs/decision-records/0002-trunk-based-automated-release-process.md
Due: prettier --ignore-unknown --write

Align validated meeting conversation types with ConversationMapper.
  apps/webapp/src/script/repositories/conversation/ConversationRepository.ts
  libraries/api-client/src/conversation/conversationSchema.ts
  libraries/api-client/src/meetings/meetingSchema.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

Fix meetingsApi tests after member service normalization.
  libraries/api-client/src/meetings/meetingsApi.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

fixed rendering bug for images sent from services
  apps/webapp/src/script/repositories/cryptography/CryptographyMapper.ts
Due: prettier --ignore-unknown --write, eslint --fix

Add aria-expanded to conversation list collapse handle.
  apps/webapp/src/script/page/leftSidebar/panels/listWrapper.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Keep persisted conversation list collapse preference across tab and viewport changes.
  apps/webapp/src/script/page/leftSidebar/panels/conversations/conversations.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Fix collapsed left column width override in team mode.
  apps/webapp/src/style/foundation/framework.less
Due: prettier --ignore-unknown --write, stylelint --fix

Move conversation list collapse UI out of ListWrapper.
  apps/webapp/src/script/page/leftSidebar/panels/conversations/conversationListCollapseHandle/conversationListCollapseHandle.tsx
  apps/webapp/src/script/page/leftSidebar/panels/conversations/conversationListCollapseHandle/index.ts
  apps/webapp/src/script/page/leftSidebar/panels/conversations/conversations.tsx
  apps/webapp/src/script/page/leftSidebar/panels/listWrapper.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Remove isGuest from backend merge allowlist.
  apps/webapp/src/script/repositories/conversation/ConversationMapper.test.ts
  apps/webapp/src/script/repositories/conversation/ConversationMapper.ts
  apps/webapp/src/script/repositories/conversation/ConversationRepository.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

Resolve conversation list collapse flag at LeftSidebar boundary.
  apps/webapp/src/script/page/leftSidebar/leftSidebar.tsx
  apps/webapp/src/script/page/leftSidebar/panels/conversations/conversations.test.tsx
  apps/webapp/src/script/page/leftSidebar/panels/conversations/conversations.tsx
  apps/webapp/src/script/util/useConversationListCollapseFeatureFlag.ts
Due: prettier --ignore-unknown --write, eslint --fix

Use semantic section landmark for conversation list panel.
  apps/webapp/src/script/page/leftSidebar/panels/conversations/conversationHeader/conversationHeader.tsx
  apps/webapp/src/script/page/leftSidebar/panels/conversations/conversations.tsx
  apps/webapp/src/script/page/leftSidebar/panels/listWrapper.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: any of: *
  stylelint --fix: any of: *.less
  eslint --fix: any of: *.{js,jsx,ts,tsx}
