Repository wireapp/wire-webapp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.less": ["stylelint --fix"],
  "*.{js,jsx,ts,tsx}": ["eslint --fix"]
}

runfix: update the backgroundColor of the active speaker's name (#19868)
  src/script/components/calling/GroupVideoGridTile.styles.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: fix lint issue which are caused by prettier version bump [WPB-19681] (#19869)
  src/script/auth/component/ClientList.tsx
  src/script/components/InputBar/ReplyBar/ReplyBar.tsx
  src/script/components/TitleBar/TitleBar.tsx
  src/script/components/calling/GroupVideoGridTile.styles.ts
  src/script/components/calling/VideoControls/VideoControls.tsx
  src/script/page/RightSidebar/TimedMessages/TimedMessages.tsx
  src/script/repositories/calling/CallingRepository.ts
  src/script/repositories/conversation/EventBuilder/EventBuilder.ts
  src/script/util/messageRenderer.test.ts
  src/style/common/variables.less
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

test(WPB-22129): fix login test util
  test/e2e_tests/pageManager/webapp/pages/login.page.ts
  test/e2e_tests/specs/Authentication/authentication.spec.ts
  test/e2e_tests/specs/Edit/edit.spec.ts
  test/e2e_tests/test.fixtures.ts
Due: prettier --ignore-unknown --write, eslint --fix

Revert "fix(websocket): optimise event handling. Add heartbeat [WPB-21950] (#19825)" (#19865)
  __mocks__/@wireapp/core.ts
  src/script/repositories/event/EventRepository.test.ts
  src/script/repositories/event/EventRepository.ts
Due: prettier --ignore-unknown --write, eslint --fix

test(WPB-22129): fix login test util (#19847)
  test/e2e_tests/pageManager/webapp/pages/login.page.ts
  test/e2e_tests/specs/Authentication/authentication.spec.ts
  test/e2e_tests/specs/Edit/edit.spec.ts
  test/e2e_tests/test.fixtures.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(WPB-19951): Disable primary action of input modal if empty
  src/script/components/Modals/PrimaryModal/InputForm/InputForm.tsx
  src/script/components/Modals/PrimaryModal/PrimaryModal.test.tsx
  src/script/components/Modals/PrimaryModal/PrimaryModal.tsx
Due: prettier --ignore-unknown --write, eslint --fix

refactor: get input by label instead of test id
  src/script/components/Modals/PrimaryModal/InputForm/InputForm.tsx
  src/script/components/Modals/PrimaryModal/PrimaryModal.test.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(WPB-19951): Disable primary action of input modal if empty (#19871)
  src/script/components/Modals/PrimaryModal/PrimaryModal.test.tsx
  src/script/components/Modals/PrimaryModal/PrimaryModal.tsx
Due: prettier --ignore-unknown --write, eslint --fix

test: remove async getPage from PageManager
  test/e2e_tests/pageManager/index.ts
  test/e2e_tests/specs/Accessibility/Accessibility.spec.ts
  test/e2e_tests/specs/AccountSettingsSpecs/accountSettings.spec.ts
  test/e2e_tests/specs/AppLock/AppLock.spec.ts
  test/e2e_tests/specs/CriticalFlow/addMembersToChat-TC-8631.spec.ts
  test/e2e_tests/specs/CriticalFlow/groupVideoCall-TC-8637.spec.ts
  test/e2e_tests/specs/CriticalFlow/oneOnOneCall-TC-8754.spec.ts
  test/e2e_tests/specs/noInternetCallGuard.spec.ts
  test/e2e_tests/utils/network.util.ts
Due: prettier --ignore-unknown --write, eslint --fix

Finalized initial draft
  src/i18n/en-US.json
  src/script/components/CellsGlobalView/transformCellsNodes/transformCellsNodes.ts
  src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsTableRowOptions/CellsTableRowOptions.tsx
  src/script/components/Modals/FileHistoryModal/FileHistoryContent.test.tsx
  src/script/components/Modals/FileHistoryModal/FileHistoryContent.tsx
  src/script/components/Modals/FileHistoryModal/FileHistoryHeader.test.tsx
  src/script/components/Modals/FileHistoryModal/FileHistoryHeader.tsx
  src/script/components/Modals/FileHistoryModal/FileHistoryModal.styles.ts
  src/script/components/Modals/FileHistoryModal/FileHistoryModal.test.tsx
  src/script/components/Modals/FileHistoryModal/FileHistoryModal.tsx
  src/script/components/Modals/FileHistoryModal/FileRestoreConfirmContent.tsx
  src/script/components/Modals/FileHistoryModal/FileVersionItem.tsx
  src/script/components/Modals/FileHistoryModal/hooks/useFileHistoryModal.test.ts
  src/script/components/Modals/FileHistoryModal/hooks/useFileHistoryModal.ts
  src/script/components/Modals/FileHistoryModal/hooks/useFileVersions.ts
  src/script/components/Modals/FileHistoryModal/types.ts
  src/script/components/Modals/FileHistoryModal/utils/fileVersionUtils.ts
  src/script/page/AppMain.tsx
  src/script/repositories/cells/CellsRepository.ts
  src/script/util/util.ts
  src/types/i18n.d.ts
Due: prettier --ignore-unknown --write, eslint --fix

test: remove async getPage from PageManager (#19848)
  test/e2e_tests/pageManager/index.ts
  test/e2e_tests/specs/Accessibility/Accessibility.spec.ts
  test/e2e_tests/specs/AccountSettingsSpecs/accountSettings.spec.ts
  test/e2e_tests/specs/AppLock/AppLock.spec.ts
  test/e2e_tests/specs/CriticalFlow/addMembersToChat-TC-8631.spec.ts
  test/e2e_tests/specs/CriticalFlow/groupVideoCall-TC-8637.spec.ts
  test/e2e_tests/specs/CriticalFlow/oneOnOneCall-TC-8754.spec.ts
  test/e2e_tests/specs/noInternetCallGuard.spec.ts
  test/e2e_tests/utils/network.util.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: disable auto merge and auto approve for major version bumps
  .github/workflows/pr-auto-merge.yml
Due: prettier --ignore-unknown --write

chore: disable auto merge and auto approve for major version bumps (#19872)
  .github/workflows/pr-auto-merge.yml
Due: prettier --ignore-unknown --write

finalized changes
  src/script/components/CellsGlobalView/CellsTable/CellsTableColumns/CellsTableRowOptions/CellsTableRowOptions.tsx
  src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsTableRowOptions/CellsTableRowOptions.tsx
  src/script/components/FileFullscreenModal/FileFullscreenModal.tsx
  src/script/components/FileFullscreenModal/FileHeader/FileHeader.styles.ts
  src/script/components/FileFullscreenModal/FileHeader/FileHeader.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/FileAssetCard/FileAssetSmall/FileAssetSmall.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/FileAssetCard/FileAssetWithPreview/FileAssetWithPreview.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/FileAssetCard/common/FileAssetOptions/FileAssetOptions.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/VideoAssetCard/VideoAssetPlayer/VideoAssetCard/VideoAssetCard.tsx
  src/script/components/Modals/FileHistoryModal/FileHistoryModal.tsx
  src/script/components/Modals/FileHistoryModal/hooks/useFileHistoryModal.ts
  src/script/components/Modals/FileHistoryModal/hooks/useFileVersions.ts
  src/script/components/Modals/ModalComponent/ModalComponent.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fixed tests
  src/script/components/FileFullscreenModal/FileFullscreenModal.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/FileAssetCard/common/FileAssetOptions/FileAssetOptions.test.tsx
  src/script/components/Modals/FileHistoryModal/FileHistoryContent.test.tsx
  src/script/components/Modals/FileHistoryModal/FileHistoryModal.styles.ts
  src/script/components/Modals/FileHistoryModal/FileHistoryModal.test.tsx
  src/script/components/Modals/FileHistoryModal/hooks/useFileHistoryModal.test.ts
  src/script/components/Modals/FileHistoryModal/hooks/useFileVersions.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat: add file versioning for editable files [WPB-21659]
  src/i18n/en-US.json
  src/script/components/CellsGlobalView/CellsTable/CellsTableColumns/CellsTableRowOptions/CellsTableRowOptions.tsx
  src/script/components/CellsGlobalView/transformCellsNodes/transformCellsNodes.ts
  src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsTableRowOptions/CellsTableRowOptions.tsx
  src/script/components/FileFullscreenModal/FileFullscreenModal.test.tsx
  src/script/components/FileFullscreenModal/FileFullscreenModal.tsx
  src/script/components/FileFullscreenModal/FileHeader/FileHeader.styles.ts
  src/script/components/FileFullscreenModal/FileHeader/FileHeader.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/FileAssetCard/FileAssetSmall/FileAssetSmall.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/FileAssetCard/FileAssetWithPreview/FileAssetWithPreview.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/FileAssetCard/common/FileAssetOptions/FileAssetOptions.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/FileAssetCard/common/FileAssetOptions/FileAssetOptions.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/VideoAssetCard/VideoAssetPlayer/VideoAssetCard/VideoAssetCard.tsx
  src/script/components/Modals/FileHistoryModal/FileHistoryContent.test.tsx
  src/script/components/Modals/FileHistoryModal/FileHistoryContent.tsx
  src/script/components/Modals/FileHistoryModal/FileHistoryHeader.test.tsx
  src/script/components/Modals/FileHistoryModal/FileHistoryHeader.tsx
  src/script/components/Modals/FileHistoryModal/FileHistoryModal.styles.ts
  src/script/components/Modals/FileHistoryModal/FileHistoryModal.test.tsx
  src/script/components/Modals/FileHistoryModal/FileHistoryModal.tsx
  src/script/components/Modals/FileHistoryModal/FileRestoreConfirmContent.tsx
  src/script/components/Modals/FileHistoryModal/FileVersionItem.tsx
  src/script/components/Modals/FileHistoryModal/hooks/useFileHistoryModal.test.ts
  src/script/components/Modals/FileHistoryModal/hooks/useFileHistoryModal.ts
  src/script/components/Modals/FileHistoryModal/hooks/useFileVersions.test.ts
  src/script/components/Modals/FileHistoryModal/hooks/useFileVersions.ts
  src/script/components/Modals/FileHistoryModal/types.ts
  src/script/components/Modals/FileHistoryModal/utils/fileVersionUtils.ts
  src/script/components/Modals/ModalComponent/ModalComponent.tsx
  src/script/page/AppMain.tsx
  src/script/repositories/cells/CellsRepository.ts
  src/script/util/util.ts
  src/types/i18n.d.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat: update getNodeVersions, add flags param [WPB-22003] (#7681)
  api-client/src/cells/CellsAPI.schema.ts
  api-client/src/cells/CellsAPI.test.ts
  api-client/src/cells/CellsAPI.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat: update getNodeVersions, add flags param [WPB-22003] (#7681)
  src/cells/CellsAPI.schema.ts
  src/cells/CellsAPI.test.ts
  src/cells/CellsAPI.ts
Due: prettier --ignore-unknown --write, eslint --fix

Update src/script/components/FileFullscreenModal/FileHeader/FileHeader.tsx
  src/script/components/FileFullscreenModal/FileHeader/FileHeader.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Update src/script/components/Modals/FileHistoryModal/hooks/useFileVersions.test.ts
  src/script/components/Modals/FileHistoryModal/hooks/useFileVersions.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

Internationalize restore error message in file version history (#19875)
  src/i18n/en-US.json
  src/script/components/Modals/FileHistoryModal/hooks/useFileVersions.ts
  src/types/i18n.d.ts
Due: prettier --ignore-unknown --write, eslint --fix

Update src/script/components/FileFullscreenModal/FileHeader/FileHeader.styles.ts
  src/script/components/FileFullscreenModal/FileHeader/FileHeader.styles.ts
Due: prettier --ignore-unknown --write, eslint --fix

Update src/script/components/Modals/FileHistoryModal/FileHistoryContent.tsx
  src/script/components/Modals/FileHistoryModal/FileHistoryContent.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Update src/script/components/Modals/FileHistoryModal/FileVersionItem.tsx
  src/script/components/Modals/FileHistoryModal/FileVersionItem.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fixed PR feedback
  src/script/components/CellsGlobalView/CellsTable/CellsTableColumns/CellsTableRowOptions/CellsTableRowOptions.tsx
  src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsTableRowOptions/CellsTableRowOptions.tsx
  src/script/components/Modals/FileHistoryModal/FileHistoryModal.styles.ts
  src/script/components/Modals/FileHistoryModal/hooks/useFileVersions.ts
  src/script/components/Modals/FileHistoryModal/utils/fileVersionUtils.ts
  src/script/components/Modals/ModalComponent/ModalComponent.styles.tsx
  src/script/components/Modals/ModalComponent/ModalComponent.tsx
  src/script/util/TimeUtil.ts
  src/types/i18n.d.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: Publish [skip ci]
  api-client/CHANGELOG.md
  api-client/package.json
  core/CHANGELOG.md
  core/package.json
Due: prettier --ignore-unknown --write

chore: Publish [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --ignore-unknown --write

fixed test and bump web-packages
  package.json
  src/script/components/Modals/FileHistoryModal/FileHistoryContent.test.tsx
  src/script/components/Modals/FileHistoryModal/FileHistoryModal.tsx
  src/script/components/Modals/FileHistoryModal/hooks/useFileVersions.test.ts
  src/script/components/Modals/FileHistoryModal/hooks/useFileVersions.ts
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

fix lint
  src/script/components/FileFullscreenModal/FileHeader/FileHeader.styles.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat: add file versioning for editable files [WPB-21659] (#19874)
  package.json
  src/i18n/en-US.json
  src/script/components/CellsGlobalView/CellsTable/CellsTableColumns/CellsTableRowOptions/CellsTableRowOptions.tsx
  src/script/components/CellsGlobalView/transformCellsNodes/transformCellsNodes.ts
  src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsTableRowOptions/CellsTableRowOptions.tsx
  src/script/components/FileFullscreenModal/FileFullscreenModal.test.tsx
  src/script/components/FileFullscreenModal/FileFullscreenModal.tsx
  src/script/components/FileFullscreenModal/FileHeader/FileHeader.styles.ts
  src/script/components/FileFullscreenModal/FileHeader/FileHeader.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/FileAssetCard/FileAssetSmall/FileAssetSmall.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/FileAssetCard/FileAssetWithPreview/FileAssetWithPreview.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/FileAssetCard/common/FileAssetOptions/FileAssetOptions.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/FileAssetCard/common/FileAssetOptions/FileAssetOptions.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/VideoAssetCard/VideoAssetPlayer/VideoAssetCard/VideoAssetCard.tsx
  src/script/components/Modals/FileHistoryModal/FileHistoryContent.test.tsx
  src/script/components/Modals/FileHistoryModal/FileHistoryContent.tsx
  src/script/components/Modals/FileHistoryModal/FileHistoryHeader.test.tsx
  src/script/components/Modals/FileHistoryModal/FileHistoryHeader.tsx
  src/script/components/Modals/FileHistoryModal/FileHistoryModal.styles.ts
  src/script/components/Modals/FileHistoryModal/FileHistoryModal.test.tsx
  src/script/components/Modals/FileHistoryModal/FileHistoryModal.tsx
  src/script/components/Modals/FileHistoryModal/FileRestoreConfirmContent.tsx
  src/script/components/Modals/FileHistoryModal/FileVersionItem.tsx
  src/script/components/Modals/FileHistoryModal/hooks/useFileHistoryModal.test.ts
  src/script/components/Modals/FileHistoryModal/hooks/useFileHistoryModal.ts
  src/script/components/Modals/FileHistoryModal/hooks/useFileVersions.test.ts
  src/script/components/Modals/FileHistoryModal/hooks/useFileVersions.ts
  src/script/components/Modals/FileHistoryModal/types.ts
  src/script/components/Modals/FileHistoryModal/utils/fileVersionUtils.ts
  src/script/components/Modals/ModalComponent/ModalComponent.styles.tsx
  src/script/components/Modals/ModalComponent/ModalComponent.tsx
  src/script/page/AppMain.tsx
  src/script/repositories/cells/CellsRepository.ts
  src/script/util/TimeUtil.ts
  src/script/util/util.ts
  src/types/i18n.d.ts
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

ci(WPB-21987): use prebuilt testservice in CI
  .github/workflows/precommit-crit-flows.yml
Due: prettier --ignore-unknown --write

docs: document usage of testservice for running tests locally without VPN
  test/e2e_tests/README.md
Due: prettier --ignore-unknown --write

ci(WPB-21987): use prebuilt testservice in CI (#19867)
  .github/workflows/precommit-crit-flows.yml
  test/e2e_tests/README.md
Due: prettier --ignore-unknown --write

test(folders): overhaul testcases according to PR comments
  test/e2e_tests/pageManager/webapp/pages/conversationList.page.ts
  test/e2e_tests/specs/Folders/folders.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

test(folders): overhaul testcases to fix PR comments
  test/e2e_tests/specs/Folders/folders.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

test(folders): add regression tests for custom folders
  test/e2e_tests/specs/Folders/folders.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

test(folders): overhaul testcases to fix code duplication
  test/e2e_tests/specs/Folders/folders.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

test(folders): implemented folder tests according to TCF-1351 in Testiny
  test/e2e_tests/pageManager/index.ts
  test/e2e_tests/pageManager/webapp/modals/option.modal.ts
  test/e2e_tests/pageManager/webapp/pages/conversationList.page.ts
  test/e2e_tests/specs/Folders/folders.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

test(folders): overhaul testcases according to Review comments
  test/e2e_tests/specs/Folders/folders.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix
