Repository wireapp/wire-webapp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

chore(ci): restore legacy unit test report output format
  .github/workflows/generate_test_report.yml
  apps/webapp/jest.report.config.cjs
Due: prettier --ignore-unknown --write

fix: better error handling, function naming and use nullish coalescing to resolve ownerName
  apps/webapp/src/script/components/Modals/FileHistoryModal/hooks/useFileVersions.ts
  apps/webapp/src/script/components/Modals/FileHistoryModal/utils/fileVersionUtils.ts
Due: prettier --ignore-unknown --write, eslint --fix

Generate test reports from the latest commit on a selected branch
  .github/workflows/generate_test_report.yml
Due: prettier --ignore-unknown --write

chore(ci): generate test reports from the latest commit on a selected branch
  .github/workflows/generate_test_report.yml
Due: prettier --ignore-unknown --write

tetst: restore legacy Jest test report output format
  apps/webapp/jest.report.config.cjs
Due: prettier --ignore-unknown --write

Restore legacy Jest test report output format
  apps/webapp/jest.report.config.cjs
Due: prettier --ignore-unknown --write

fix: Replace username with profile name in the version history modal(WPB-24286) (#20943)
  apps/webapp/src/script/components/Modals/FileHistoryModal/hooks/useFileVersions.ts
  apps/webapp/src/script/components/Modals/FileHistoryModal/utils/fileVersionUtils.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: minor fixes
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/ConversationSidebar/ConversationSidebar.tsx
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/ConversationTabs.tsx
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/tabAndFilterSettings/index.ts
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/tabAndFilterSettings/tabAndFilterSettings.styles.ts
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/tabAndFilterSettings/tabAndFilterSettings.test.tsx
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/tabAndFilterSettings/tabAndFilterSettings.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix: keep the details always in a single line and introduce a hiding behind a button behavior in case details are very long(WPB-24288)
  apps/webapp/src/script/components/Modals/FileHistoryModal/FileHistoryModal.styles.ts
  apps/webapp/src/script/components/Modals/FileHistoryModal/FileVersionItem.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix: remove cells from the filter list
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/ConversationTabs.tsx
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/tabAndFilterSettings/tabAndFilterSettings.tsx
Due: prettier --ignore-unknown --write, eslint --fix

test(deepLink): added functionality to open non-native links in the same tab
  apps/webapp/src/script/util/messageRenderer.test.ts
  apps/webapp/src/script/util/messageRenderer.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(deeplink): added regex option
  apps/webapp/src/script/components/Conversation/utils/parseAccountDeepLink.ts
Due: prettier --ignore-unknown --write, eslint --fix

test: remove obsolete smoke and noInternetCallGuard tests
  apps/webapp/test/e2e_tests/specs/Smokes/smoke.spec.ts
  apps/webapp/test/e2e_tests/specs/noInternetCallGuard.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: keep the details always in a single line and introduce a hiding behind a button behavior in case details are very long(WPB-24288) (#20953)
  apps/webapp/src/script/components/Modals/FileHistoryModal/FileHistoryModal.styles.ts
  apps/webapp/src/script/components/Modals/FileHistoryModal/FileVersionItem.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix: case sensitivity in mock componentUtil
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/tabAndFilterSettings/tabAndFilterSettings.test.tsx
Due: prettier --ignore-unknown --write, eslint --fix

test: remove obsolete smoke and noInternetCallGuard tests (#20955)
  apps/webapp/test/e2e_tests/specs/Smokes/smoke.spec.ts
  apps/webapp/test/e2e_tests/specs/noInternetCallGuard.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

test: update locator for shared drive toggle after removal of testId [WPB-22420]
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/groupCreation.page.ts
  apps/webapp/test/e2e_tests/specs/Drive/searchFilesInGroupConversation-TC-8788.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: remove conditional action based on current stage
  apps/webapp/test/e2e_tests/specs/Drive/editMultipartMessage-TC-8786.spec.ts
  apps/webapp/test/e2e_tests/specs/Drive/replyingToMultipartMessage-TC-8787.spec.ts
  apps/webapp/test/e2e_tests/specs/Drive/uploadingFileInGroupConversation-TC-8785.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: remove non-reactive util "isMultipartMessageVisible"
  apps/webapp/test/e2e_tests/pageManager/webapp/cells/cellsConversation.page.ts
  apps/webapp/test/e2e_tests/specs/Drive/editMultipartMessage-TC-8786.spec.ts
  apps/webapp/test/e2e_tests/specs/Drive/replyingToMultipartMessage-TC-8787.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

test: remove util "doesConversationHasMentionIndicator" [WPB-22420]
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/conversationList.page.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/messagesInChannels-TC-8753.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/messagesInGroups-TC-8751.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(webapp): use normalized QualifiedId for conversation retry fetch(WPB-24660)
  apps/webapp/src/script/view_model/ContentViewModel.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: remove unused Jenkinsfile
  Jenkinsfile
Due: prettier --ignore-unknown --write

chore: remove unused Jenkinsfile (#20960)
  Jenkinsfile
Due: prettier --ignore-unknown --write

refactor: remove utils isAudioPlaying & isAudioMessageVisible
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/conversation.page.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/messagesIn1On1-TC-8750.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/messagesInChannels-TC-8753.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/messagesInGroups-TC-8751.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

test: use native JS values to assert video playback
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/conversation.page.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/messagesIn1On1-TC-8750.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/messagesInChannels-TC-8753.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/messagesInGroups-TC-8751.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor: remove isFileMessageVisible util
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/conversation.page.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/messagesInChannels-TC-8753.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/messagesInGroups-TC-8751.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

test: repair / improve wire drive tests after removal of testId [WPB-22420] (#20957)
  apps/webapp/test/e2e_tests/pageManager/webapp/cells/cellsConversation.page.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/groupCreation.page.ts
  apps/webapp/test/e2e_tests/specs/Drive/editMultipartMessage-TC-8786.spec.ts
  apps/webapp/test/e2e_tests/specs/Drive/replyingToMultipartMessage-TC-8787.spec.ts
  apps/webapp/test/e2e_tests/specs/Drive/searchFilesInGroupConversation-TC-8788.spec.ts
  apps/webapp/test/e2e_tests/specs/Drive/uploadingFileInGroupConversation-TC-8785.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

test: remove util "doesConversationHasMentionIndicator" [WPB-22420] (#20958)
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/conversationList.page.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/messagesInChannels-TC-8753.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/messagesInGroups-TC-8751.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

remove mls check in conversationDetailsOptions.tsx for apps option display
  apps/webapp/src/script/page/RightSidebar/conversationDetails/components/conversationDetailsOptions/conversationDetailsOptions.tsx
Due: prettier --ignore-unknown --write, eslint --fix

add css for servicesOptions.tsx
  apps/webapp/src/style/foundation/main.less
  apps/webapp/src/style/panel/service-options.less
Due: prettier --ignore-unknown --write, stylelint --fix

display app access toggle in conversations based on feature flags and protocols
  apps/webapp/src/script/page/RightSidebar/guestServicesOptions/components/servicesOptions/servicesOptions.tsx
  apps/webapp/src/script/page/RightSidebar/guestServicesOptions/guestServicesOptions.tsx
Due: prettier --ignore-unknown --write, eslint --fix

implement serviceOptions.test.tsx
  apps/webapp/src/script/page/RightSidebar/guestServicesOptions/components/servicesOptions/serviceOptions.test.tsx
Due: prettier --ignore-unknown --write, eslint --fix

added testcase with proteus and apps enabled
  apps/webapp/src/script/page/RightSidebar/guestServicesOptions/components/servicesOptions/serviceOptions.test.tsx
Due: prettier --ignore-unknown --write, eslint --fix

refactor: remove isReplyMessageVisible util
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/conversation.page.ts
  apps/webapp/test/e2e_tests/specs/Drive/replyingToMultipartMessage-TC-8787.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor: remove isSystemMessageVisible util
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/conversation.page.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/addMembersToChat-TC-8631.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor: remove isConversationReadonly util
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/conversation.page.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/channelsManagement-TC-8752.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/conversationManagement-TC-8636.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: any of: *
  stylelint --fix: any of: *.less
  eslint --fix: any of: *.{js,jsx,ts,tsx}
