Repository wireapp/wire-webapp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.less": ["stylelint --fix"],
  "*.{js,jsx,ts,tsx}": ["eslint --fix"]
}

chore(ci): pin GitHub Actions in workflow definitions (#20993)
  .github/workflows/e2e-tests.yml
  .github/workflows/jira-lint-and-link.yml
  .github/workflows/label.yml
  .github/workflows/precommit-crit-flows.yml
  .github/workflows/precommit-slot-run.yml
  .github/workflows/precommit.yml
Due: prettier --ignore-unknown --write

fix: Broken dashed line and dots behavior in the version history modal(WPB-24287)
  apps/webapp/src/script/components/Modals/FileHistoryModal/FileHistoryContent.tsx
  apps/webapp/src/script/components/Modals/FileHistoryModal/FileHistoryModal.styles.ts
  apps/webapp/src/script/components/Modals/FileHistoryModal/FileVersionItem.tsx
  apps/webapp/src/style/common/mixins.less
  apps/webapp/src/style/foundation/themes.less
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

fix: Broken dashed line and dots behavior in the version history modal(WPB-24287) (#20990)
  apps/webapp/src/script/components/Modals/FileHistoryModal/FileHistoryContent.tsx
  apps/webapp/src/script/components/Modals/FileHistoryModal/FileHistoryModal.styles.ts
  apps/webapp/src/script/components/Modals/FileHistoryModal/FileVersionItem.tsx
  apps/webapp/src/style/common/mixins.less
  apps/webapp/src/style/foundation/themes.less
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

consolidated services and apps lists in addParticipants.tsx
  apps/webapp/src/script/page/RightSidebar/addParticipants/addParticipants.tsx
Due: prettier --ignore-unknown --write, eslint --fix

added usertype filters in UserSearchableList.tsx
  apps/webapp/src/script/components/UserSearchableList/UserSearchableList.tsx
Due: prettier --ignore-unknown --write, eslint --fix

removed unnecessary usertype filters
  apps/webapp/src/script/components/UserSearchableList/UserSearchableList.tsx
Due: prettier --ignore-unknown --write, eslint --fix

ci: send deployment notifications via deployoholics webhook
  .github/workflows/publish-and-deploy-webapp.yml
  .github/workflows/redeploy-production-from-tag.yml
Due: prettier --ignore-unknown --write

ci: notify deployoholics only on deployment failures
  .github/workflows/publish-and-deploy-webapp.yml
  .github/workflows/redeploy-production-from-tag.yml
Due: prettier --ignore-unknown --write

chore(ci): notify Wire on failures [WPB-24699] (#20976)
  .github/workflows/publish-and-deploy-webapp.yml
  .github/workflows/redeploy-production-from-tag.yml
Due: prettier --ignore-unknown --write

chore: add eventListenerService [WPB-23186]
  apps/webapp/src/script/eventListener/deterministicEventListenerService.test.ts
  apps/webapp/src/script/eventListener/deterministicEventListenerService.ts
  apps/webapp/src/script/eventListener/eventListenerService.test.ts
  apps/webapp/src/script/eventListener/eventListenerService.ts
Due: prettier --ignore-unknown --write, eslint --fix

test: fix TC-8631 after the the behavior of services changed
  apps/webapp/test/e2e_tests/specs/CriticalFlow/addMembersToChat-TC-8631.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: remove adding service to group [WPB-23669]
  apps/webapp/test/e2e_tests/specs/CriticalFlow/addMembersToChat-TC-8631.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

test: add login timeout to manual logins [WPB-22420]
  apps/webapp/test/e2e_tests/specs/Conversations/conversations.spec.ts
  apps/webapp/test/e2e_tests/specs/Guestroom/guestroom.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

fixed test
  apps/webapp/test/e2e_tests/specs/CriticalFlow/addMembersToChat-TC-8631.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

fixed e2e-tests flow
  .github/workflows/e2e-tests.yml
Due: prettier --ignore-unknown --write

feat: add state-machine for appLockflow [WPB-23186]
  apps/webapp/src/script/page/AppLock/appLockStateMachine.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat: added UserType and app fields to User entity
  apps/webapp/src/script/auth/module/reducer/selfReducer.ts
  apps/webapp/src/script/auth/module/selector/SelfSelector.ts
  apps/webapp/src/script/repositories/entity/User/User.ts
  apps/webapp/src/script/repositories/user/UserMapper.ts
  libraries/api-client/src/user/app.ts
  libraries/api-client/src/user/user.ts
Due: prettier --ignore-unknown --write, eslint --fix

added app list in addParticipants.tsx
  apps/webapp/src/script/page/RightSidebar/addParticipants/addParticipants.tsx
Due: prettier --ignore-unknown --write, eslint --fix

added service from user mapper
  apps/webapp/src/script/repositories/integration/IntegrationMapper.ts
  apps/webapp/src/script/repositories/integration/IntegrationRepository.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix import order
  apps/webapp/src/script/repositories/user/UserMapper.ts
Due: prettier --ignore-unknown --write, eslint --fix

fixed missing dependency in addParticipants.tsx
  apps/webapp/src/script/page/RightSidebar/addParticipants/addParticipants.tsx
Due: prettier --ignore-unknown --write, eslint --fix

update ServiceEntity.ts to contain category
  apps/webapp/src/script/repositories/integration/ServiceEntity.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix failing e2e test
  apps/webapp/test/e2e_tests/specs/CriticalFlow/addMembersToChat-TC-8631.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

removed MLS exclusion for services in addParticipants.tsx
  apps/webapp/src/script/page/RightSidebar/addParticipants/addParticipants.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Update apps/webapp/src/script/repositories/user/UserMapper.ts
  apps/webapp/src/script/repositories/user/UserMapper.ts
Due: prettier --ignore-unknown --write, eslint --fix

set default value for usertype in UserMapper.ts
  apps/webapp/src/script/repositories/user/UserMapper.ts
Due: prettier --ignore-unknown --write, eslint --fix

added skeleton for addParticipants.test.tsx
  apps/webapp/src/script/page/RightSidebar/addParticipants/addParticipants.test.tsx
Due: prettier --ignore-unknown --write, eslint --fix

added IntegrationMapper.test.ts
  apps/webapp/src/script/repositories/integration/IntegrationMapper.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

test: add login timeout to manual logins [WPB-22420] (#21004)
  apps/webapp/test/e2e_tests/specs/Conversations/conversations.spec.ts
  apps/webapp/test/e2e_tests/specs/Guestroom/guestroom.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

test: fix TC-8631 after the the behavior of services changed (#21002)
  apps/webapp/test/e2e_tests/specs/CriticalFlow/addMembersToChat-TC-8631.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor: remove util "clickUnblockConversation"
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/conversationList.page.ts
  apps/webapp/test/e2e_tests/specs/Block/block.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor: remove util "getRemoveConversationFromFolderButton"
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/conversationList.page.ts
  apps/webapp/test/e2e_tests/specs/Folders/folders.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix
