Repository wireapp/wire-webapp: changes, and which Codecov flags are due for each by the changed paths.
All: app_webapp, app_server, lib_core, lib_api_client

Make meeting password fields optional
  apps/webapp/src/script/components/PasswordFields/PasswordFields.test.tsx
  apps/webapp/src/script/components/PasswordFields/PasswordFields.tsx
  apps/webapp/src/script/components/meeting/shared/meetingLinkForm/meetingLinkForm.tsx
Due: app_webapp

Improve meeting password validation
  apps/webapp/src/script/components/meeting/meetNowModal/meetNowForm.tsx
  apps/webapp/src/script/components/meeting/meetNowModal/meetNowModal.tsx
  apps/webapp/src/script/components/meeting/meetNowModal/meetNowTypes.ts
  apps/webapp/src/script/components/meeting/meetNowModal/useMeetNowModal.test.ts
  apps/webapp/src/script/components/meeting/meetNowModal/useMeetNowModal.ts
  apps/webapp/src/script/components/meeting/scheduleMeetingModal/scheduleMeetingForm.tsx
  apps/webapp/src/script/components/meeting/scheduleMeetingModal/scheduleMeetingModal.tsx
  apps/webapp/src/script/components/meeting/scheduleMeetingModal/scheduleMeetingTypes.ts
  apps/webapp/src/script/components/meeting/scheduleMeetingModal/scheduleMeetingValidation.test.ts
  apps/webapp/src/script/components/meeting/scheduleMeetingModal/scheduleMeetingValidation.ts
  apps/webapp/src/script/components/meeting/scheduleMeetingModal/useScheduleMeetingModal.ts
  apps/webapp/src/script/components/meeting/shared/validation/meetingPasswordValidation.test.ts
  apps/webapp/src/script/components/meeting/shared/validation/meetingPasswordValidation.ts
Due: app_webapp

Merge pull request #22473 from wireapp/feat/add-hidden-mls-migration-btn-WPB-27445
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/panel/conversationProtocolDetails/conversationProtocolDetails.styles.ts
  apps/webapp/src/script/components/panel/conversationProtocolDetails/conversationProtocolDetails.tsx
  apps/webapp/src/script/components/panel/conversationProtocolDetails/manualMigrationProtocolDetails.styles.ts
  apps/webapp/src/script/components/panel/conversationProtocolDetails/manualMigrationProtocolDetails.test.tsx
  apps/webapp/src/script/components/panel/conversationProtocolDetails/manualMigrationProtocolDetails.tsx
  apps/webapp/src/script/components/panel/conversationProtocolDetails/useOnMultipleClicks.ts
  apps/webapp/src/script/mls/MLSMigration/manualMigration.test.ts
  apps/webapp/src/script/mls/MLSMigration/manualMigration.ts
  apps/webapp/src/script/mls/MLSMigration/useManualMigrationStore.ts
  apps/webapp/src/script/page/rightSidebar/conversationDetails/conversationDetails.tsx
  apps/webapp/src/script/util/errorUtil.ts
  libraries/api-client/src/http/backendErrorLabel.ts
  libraries/api-client/src/team/feature/featureList.schema.test.ts
  libraries/api-client/src/team/feature/featureList.schema.ts
Due: app_webapp, lib_api_client

Merge pull request #22363 from wireapp/fix/mls-recovery-key-packages-exhaustion-WPB-27396
  apps/webapp/src/script/main/app.ts
  apps/webapp/src/script/mls/MLSConversations.test.ts
  apps/webapp/src/script/mls/MLSConversations.ts
  apps/webapp/src/script/repositories/conversation/ConversationRepository.ts
  libraries/core/src/messagingProtocols/mls/mlsService/mlsService.test.ts
  libraries/core/src/messagingProtocols/mls/mlsService/mlsService.ts
  libraries/core/src/storage/coreDb.ts
Due: app_webapp, lib_core

Restore date picker spacing
  apps/webapp/src/script/components/Modals/PrimaryModal/PrimaryModal.test.tsx
  apps/webapp/src/script/components/PasswordFields/PasswordFields.tsx
  apps/webapp/src/script/components/meeting/scheduleMeetingModal/useScheduleMeetingModal.ts
  apps/webapp/src/script/components/meeting/shared/service/meetingService.ts
  apps/webapp/src/script/components/meeting/shared/validation/meetingPasswordValidation.ts
  libraries/react-ui-kit/src/inputs/dateTimePickerField/__snapshots__/dateTimePickerField.test.tsx.snap
  libraries/react-ui-kit/src/inputs/dateTimePickerField/dateTimePickerField.styles.ts
Due: app_webapp

fix: separate audio and camera acquisition when answering calls
  apps/webapp/src/script/repositories/calling/CallingRepository.test.ts
  apps/webapp/src/script/repositories/calling/CallingRepository.ts
Due: app_webapp

Merge pull request #22490 from wireapp/feat/keep-unread-messages-mls-migration-WPB-25346
  apps/webapp/src/script/repositories/entity/Conversation.test.ts
  apps/webapp/src/script/repositories/entity/Conversation.ts
  apps/webapp/test/e2e_tests/specs/Encryption/encryption.spec.ts
Due: app_webapp

Merge pull request #22515 from wireapp/fix/1-1-mls-migration-WPB-25346
  apps/webapp/src/script/repositories/conversation/ConversationRepository.test.ts
  apps/webapp/src/script/repositories/conversation/ConversationRepository.ts
  apps/webapp/test/e2e_tests/specs/Encryption/encryption.spec.ts
Due: app_webapp

Fix MLS key material retry transaction
  libraries/core/src/messagingProtocols/mls/mlsService/mlsService.test.ts
  libraries/core/src/messagingProtocols/mls/mlsService/mlsService.ts
Due: lib_core

test: remove redundant test case for audio and video error handling in `MediaStreamHandler`
  apps/webapp/src/script/repositories/media/MediaStreamHandler.test.ts
Due: app_webapp

Retry failed image loading
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/image/image.tsx
  apps/webapp/src/script/components/messagesList/message/contentMessage/asset/imageAsset/imageAsset.test.tsx
  apps/webapp/src/script/components/messagesList/message/contentMessage/asset/imageAsset/imageAsset.tsx
Due: app_webapp

refactor: clean up test code for `MediaStreamHandler` and `CallingRepository` by adjusting formatting and simplifying spy calls
  apps/webapp/src/script/repositories/calling/CallingRepository.test.ts
  apps/webapp/src/script/repositories/media/MediaStreamHandler.test.ts
Due: app_webapp

Center failed image retry
  apps/webapp/src/script/components/image/image.styles.ts
  apps/webapp/src/script/components/image/image.tsx
Due: app_webapp

Update translations
  apps/webapp/src/i18n/de-DE.json
Due: app_webapp

Render member role update caption with React
  apps/webapp/src/script/components/messagesList/message/systemMessage/systemMessage.test.tsx
  apps/webapp/src/script/components/messagesList/message/systemMessage/systemMessage.tsx
  apps/webapp/src/script/components/messagesList/message/systemMessage/systemMessageCaption.tsx
Due: app_webapp

fix: do not treat a local database failure as a deleted client
  libraries/core/src/client/clientService.test.ts
  libraries/core/src/client/clientService.ts
Due: lib_core

feat: request persistent storage for the local database
  apps/webapp/src/script/service/coreSingleton.ts
Due: app_webapp

Remove redundant TC-60 test (covered in TC-1756)
  apps/webapp/test/e2e_tests/specs/AccountSettings/accountSettings.spec.ts
Due: app_webapp

fix: let keying material update errors bubble to the caller [WPB-28883]
  libraries/core/src/conversation/conversationService/conversationService.ts
  libraries/core/src/conversation/subconversationService/subconversationService.test.ts
  libraries/core/src/messagingProtocols/mls/mlsService/mlsService.test.ts
  libraries/core/src/messagingProtocols/mls/mlsService/mlsService.ts
  libraries/core/src/messagingProtocols/mls/recovery/mlsRecoveryOrchestrator.test.ts
  libraries/core/src/messagingProtocols/mls/recovery/mlsRecoveryOrchestrator.ts
Due: lib_core

Add explicit GitHub rate-limit retry policy
  tools/release-appearance/githubRateLimitPolicy.test.ts
  tools/release-appearance/githubRateLimitPolicy.ts
Due: none

Pace GitHub mutation requests
  tools/release-appearance/githubMutationPacer.test.ts
  tools/release-appearance/githubMutationPacer.ts
  tools/release-appearance/httpClient.test.ts
  tools/release-appearance/httpClient.ts
Due: none

Bound Beta appearance bookkeeping runtime
  .github/workflows/release-webapp.yml
Due: none

Handle GitHub rate-limit retries explicitly
  tools/release-appearance/githubClient.test.ts
  tools/release-appearance/githubRateLimitPolicy.ts
  tools/release-appearance/httpClient.test.ts
  tools/release-appearance/httpClient.ts
  tools/release-cli/ensureProductionGitHubRelease.mts
  tools/release-cli/previewNextBetaCommand.mts
  tools/release-cli/releaseAppearanceCommand.mts
  tools/release-cli/webappVersionSynchronization.mts
Due: none

fix: add error correct handling on media stream requests
  apps/webapp/src/script/repositories/calling/CallingRepository.ts
  apps/webapp/src/script/repositories/media/MediaStreamHandler.test.ts
  apps/webapp/src/script/repositories/media/MediaStreamHandler.ts
Due: app_webapp

feat: send an OS notification 10 minutes before a meeting starts [WPB-28731]
  apps/webapp/src/script/components/meeting/createMeetingReminderOsNotifier.test.ts
  apps/webapp/src/script/components/meeting/createMeetingReminderOsNotifier.ts
  apps/webapp/src/script/components/meeting/meetingStore/meetingStoreRoot.tsx
Due: app_webapp

fix: do not allow starting a call when mic access fails and add test coverage
  apps/webapp/src/script/repositories/calling/CallingRepository.test.ts
  apps/webapp/src/script/repositories/calling/CallingRepository.ts
Due: app_webapp

fix: state the meeting start time in reminder copy instead of a countdown [WPB-28731]
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/meeting/createMeetingReminderOsNotifier.test.ts
  apps/webapp/src/script/components/meeting/createMeetingReminderOsNotifier.ts
  apps/webapp/src/script/components/meeting/meetingNotificationCard/meetingNotificationCard.test.tsx
  apps/webapp/src/script/components/meeting/meetingNotificationCard/meetingNotificationCard.tsx
  apps/webapp/src/script/components/meeting/meetingStore/meetingStoreRoot.tsx
Due: app_webapp

Convert inline SVG styles to React objects
  apps/webapp/bin/generate_react_icons.ts
  apps/webapp/bin/svgToJsx.test.ts
  apps/webapp/bin/svgToJsx.ts
Due: app_webapp

Type-check generated icons during configuration
  apps/webapp/project.json
  apps/webapp/tsconfig.generated-icons.json
  apps/webapp/tsconfig.json
  eslint.config.mjs
Due: app_webapp

Update translations
  apps/webapp/src/i18n/de-DE.json
  apps/webapp/src/i18n/ru-RU.json
Due: app_webapp

Update English translations
  apps/webapp/src/i18n/en-US.json
Due: app_webapp

Customization
  .gitignore
  apps/webapp/.copyconfigrc.js
  apps/webapp/src/page/unsupported.ejs
  apps/webapp/src/script/auth/component/WavesPattern.tsx
  apps/webapp/src/script/auth/component/accountRegistrationLayout.tsx
  apps/webapp/src/script/auth/component/layout.tsx
  apps/webapp/src/script/auth/module/action/clientAction.ts
  apps/webapp/src/script/browser/checkBrowser.ts
  apps/webapp/src/script/localization/Localizer.ts
  apps/webapp/src/script/repositories/entity/message/contentMessage.ts
  apps/webapp/webpack.config.common.js
  libraries/copy-config/project.json
  libraries/copy-config/src/CopyConfig.ts
Due: app_webapp

refactor: move the OS notification adapter behind a shared browser boundary [WPB-28731]
  apps/webapp/src/script/browser/notification/createSystemNotificationApiFromBrowserNotification.ts
  apps/webapp/src/script/components/meeting/createMeetingReminderOsNotifier.test.ts
  apps/webapp/src/script/components/meeting/createMeetingReminderOsNotifier.ts
  apps/webapp/src/script/components/meeting/meetingStore/meetingStoreRoot.tsx
  apps/webapp/src/script/notification/systemNotificationTypes.ts
Due: app_webapp

test: cover the browser notification adapter [WPB-28731]
  apps/webapp/src/script/browser/notification/createSystemNotificationApiFromBrowserNotification.test.ts
Due: app_webapp

fix: restore the desktop window when a notification is clicked [WPB-28731]
  apps/webapp/src/script/browser/notification/createSystemNotificationApiFromBrowserNotification.test.ts
  apps/webapp/src/script/browser/notification/createSystemNotificationApiFromBrowserNotification.ts
Due: app_webapp

Reuse SVG name conversion in icon generator
  apps/webapp/bin/generate_react_icons.ts
  apps/webapp/bin/svgToJsx.test.ts
  apps/webapp/bin/svgToJsx.ts
Due: app_webapp

fix: drop notification handles the platform closed on its own [WPB-28731]
  apps/webapp/src/script/browser/notification/createSystemNotificationApiFromBrowserNotification.test.ts
  apps/webapp/src/script/browser/notification/createSystemNotificationApiFromBrowserNotification.ts
  apps/webapp/src/script/components/meeting/createMeetingReminderOsNotifier.test.ts
  apps/webapp/src/script/components/meeting/createMeetingReminderOsNotifier.ts
  apps/webapp/src/script/notification/systemNotificationTypes.ts
Due: app_webapp

Path conditions:
  app_webapp: any of: apps/webapp/**
  app_server: any of: apps/server/**
  lib_core: any of: libraries/core/**
  lib_api_client: any of: libraries/api-client/**
