Repository wireapp/wire-webapp: changes, and which Codecov flags are due for each by the changed paths.
All: app_webapp, app_server, lib_core, lib_api_client

test: write the second part of Guestroom regression tests [WPB-19953] (#20947)
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/conversation.page.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/conversationJoin.page.ts
  apps/webapp/test/e2e_tests/specs/Guestroom/guestroom.spec.ts
Due: app_webapp

chore(ci): remove broken Wire chat deployment announcement job
  .github/workflows/publish-and-deploy-webapp.yml
Due: none

made GroupCreationModal.tsx set app access state based on feature flag configuration
  apps/webapp/src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
Due: app_webapp

Update apps/webapp/src/script/components/Modals/CreateConversation/CreateConversationSteps/Preference.tsx
  apps/webapp/src/script/components/Modals/CreateConversation/CreateConversationSteps/Preference.tsx
Due: app_webapp

reset apps access state whenever feature changes or dialog rerenders
  apps/webapp/src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
Due: app_webapp

identified the issue
  apps/webapp/src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
Due: app_webapp

removed empty line in GroupCreationModal.tsx
  apps/webapp/src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
Due: app_webapp

moved access state toggling to onOpen in GroupCreationModal.tsx
  apps/webapp/src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
  apps/webapp/src/script/components/Modals/ModalComponent/ModalComponent.tsx
Due: app_webapp

reset apps access state whenever feature changes or dialog rerenders in Preference.tsx
  apps/webapp/src/script/components/Modals/CreateConversation/CreateConversationSteps/Preference.tsx
Due: app_webapp

chore(ci): remove broken Wire chat deployment announcement job (#20982)
  .github/workflows/publish-and-deploy-webapp.yml
Due: none

Formatting for the wire report
  .github/workflows/e2e-tests.yml
Due: none

ci: replace ubuntu-latest with explicit ubuntu-24.04 runners
  .github/workflows/ci.yml
  .github/workflows/create-master-to-dev-backport-pull-request.yml
  .github/workflows/create_docker_image.yml
  .github/workflows/dependency-review.yml
  .github/workflows/deploy-to-test-env.yml
  .github/workflows/e2e-tests-nightly.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/generate_test_report.yml
  .github/workflows/jira-lint-and-link.yml
  .github/workflows/label.yml
  .github/workflows/pr-auto-merge.yml
  .github/workflows/precommit-crit-flows.yml
  .github/workflows/precommit-slot-run.yml
  .github/workflows/precommit.yml
  .github/workflows/publish-and-deploy-webapp.yml
  .github/workflows/publish-libraries-on-merge.yml
  .github/workflows/publish-libraries.yml
  .github/workflows/pull-translations-from-crowdin.yml
  .github/workflows/push-translations-to-crowdin.yml
  .github/workflows/redeploy-production-from-tag.yml
  .github/workflows/semantic-commit-lint.yml
  .github/workflows/translations-auto-merge.yml
Due: none

Fixed the working dir for one of the steps
  .github/workflows/e2e-tests.yml
Due: none

fix: access state on group creation (WPB-23669) (#20978)
  apps/webapp/src/script/components/Modals/CreateConversation/CreateConversationSteps/Preference.tsx
  apps/webapp/src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
  apps/webapp/src/script/components/Modals/ModalComponent/ModalComponent.tsx
Due: app_webapp

chore: update no of retries to 2 on CI
  apps/webapp/playwright.config.ts
Due: app_webapp

ci: replace ubuntu-latest with explicit ubuntu-24.04 runners (#20985)
  .github/workflows/ci.yml
  .github/workflows/create-master-to-dev-backport-pull-request.yml
  .github/workflows/create_docker_image.yml
  .github/workflows/dependency-review.yml
  .github/workflows/deploy-to-test-env.yml
  .github/workflows/e2e-tests-nightly.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/generate_test_report.yml
  .github/workflows/jira-lint-and-link.yml
  .github/workflows/label.yml
  .github/workflows/pr-auto-merge.yml
  .github/workflows/precommit-crit-flows.yml
  .github/workflows/precommit-slot-run.yml
  .github/workflows/precommit.yml
  .github/workflows/publish-and-deploy-webapp.yml
  .github/workflows/publish-libraries-on-merge.yml
  .github/workflows/publish-libraries.yml
  .github/workflows/pull-translations-from-crowdin.yml
  .github/workflows/push-translations-to-crowdin.yml
  .github/workflows/redeploy-production-from-tag.yml
  .github/workflows/semantic-commit-lint.yml
  .github/workflows/translations-auto-merge.yml
Due: none

Added flaky tests to the report message
  .github/workflows/e2e-tests.yml
Due: none

chore(release): run staging releases from master
  project.json
Due: none

chore(release): run staging releases from master (#20988)
  project.json
Due: none

feat: added UserType and app fields to User entity
  apps/webapp/src/script/auth/module/reducer/selfReducer.ts
  apps/webapp/src/script/auth/module/selector/SelfSelector.ts
  apps/webapp/src/script/repositories/entity/User/User.ts
  apps/webapp/src/script/repositories/user/UserMapper.ts
  libraries/api-client/src/user/app.ts
  libraries/api-client/src/user/user.ts
Due: app_webapp, lib_api_client

Better report.json parsing
  .github/workflows/e2e-tests.yml
Due: none

Added better conditioning for reporting
  .github/workflows/e2e-tests.yml
Due: none

Added custom status reporting
  .github/workflows/e2e-tests.yml
Due: none

chore: update no of retries to 2 on CI (#20986)
  apps/webapp/playwright.config.ts
Due: app_webapp

fix failing e2e test
  apps/webapp/test/e2e_tests/specs/CriticalFlow/addMembersToChat-TC-8631.spec.ts
Due: app_webapp

AI review suggestions
  .github/workflows/e2e-tests-nightly.yml
  .github/workflows/e2e-tests.yml
Due: none

chore(ci): pin GitHub Actions in workflow definitions
  .github/workflows/e2e-tests.yml
  .github/workflows/jira-lint-and-link.yml
  .github/workflows/label.yml
  .github/workflows/precommit-crit-flows.yml
  .github/workflows/precommit-slot-run.yml
  .github/workflows/precommit.yml
Due: none

Added check for wire webhook for reporting
  .github/workflows/e2e-tests.yml
Due: none

Update apps/webapp/src/script/repositories/user/UserMapper.ts
  apps/webapp/src/script/repositories/user/UserMapper.ts
Due: app_webapp

Fixed env name
  .github/workflows/e2e-tests.yml
Due: none

chore: replace dependabot with renovate
  .github/dependabot.yml
  .github/workflows/pr-auto-merge.yml
  renovate.json
Due: none

set default value for usertype in UserMapper.ts
  apps/webapp/src/script/repositories/user/UserMapper.ts
Due: app_webapp

fix import order
  apps/webapp/src/script/repositories/user/UserMapper.ts
Due: app_webapp

fixed missing dependency in addParticipants.tsx
  apps/webapp/src/script/page/RightSidebar/addParticipants/addParticipants.tsx
Due: app_webapp

removed MLS exclusion for services in addParticipants.tsx
  apps/webapp/src/script/page/RightSidebar/addParticipants/addParticipants.tsx
Due: app_webapp

added service from user mapper
  apps/webapp/src/script/repositories/integration/IntegrationMapper.ts
  apps/webapp/src/script/repositories/integration/IntegrationRepository.ts
Due: app_webapp

update ServiceEntity.ts to contain category
  apps/webapp/src/script/repositories/integration/ServiceEntity.ts
Due: app_webapp

added app list in addParticipants.tsx
  apps/webapp/src/script/page/RightSidebar/addParticipants/addParticipants.tsx
Due: app_webapp

Path conditions:
  app_webapp: any of: apps/webapp/**
  app_server: any of: apps/server/**
  lib_core: any of: libraries/core/**
  lib_api_client: any of: libraries/api-client/**
