Repository wireapp/wire-webapp: changes, and which Codecov flags are due for each by the changed paths.
All: app_webapp, app_server, lib_core, lib_api_client

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '45...80'
  status:
    project:
      default:
        target: auto
      app_webapp:
        target: auto
        flags:
          - app_webapp
      app_server:
        target: auto
        flags:
          - app_server
      lib_core:
        target: auto
        flags:
          - lib_core
      lib_api_client:
        target: auto
        flags:
          - lib_api_client
    patch:
      default:
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: 'diff, flags, files'
  behavior: default
  require_changes: no

flags:
  app_webapp:
    paths:
      - 'apps/webapp/**'
    carryforward: false
  app_server:
    paths:
      - 'apps/server/**'
    carryforward: true
  lib_core:
    paths:
      - 'libraries/core/**'
    carryforward: true
  lib_api_client:
    paths:
      - 'libraries/api-client/**'
    carryforward: true

github_checks:
  annotations: false

refactor: remove unused util isUserGroupMember
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/conversation.page.ts
Due: app_webapp

refactor: remove unused util isUserGroupAdmin
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/conversation.page.ts
Due: app_webapp

refactor: remove unused util messageCount
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/conversation.page.ts
Due: app_webapp

refactor: remove unused util getTitle
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/conversation.page.ts
Due: app_webapp

fix css property order
  apps/webapp/src/style/panel/service-options.less
Due: app_webapp

refactor: remove isPlusOneReactionVisible util
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/conversation.page.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/messagesInChannels-TC-8753.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/messagesInGroups-TC-8751.spec.ts
Due: app_webapp

refactor: remove isImageFromUserVisible util
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/conversation.page.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/messagesInChannels-TC-8753.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/messagesInGroups-TC-8751.spec.ts
Due: app_webapp

refactor: remove unused util isConversationOpen
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/conversation.page.ts
Due: app_webapp

fix guestServicesOptions.test.tsx
  apps/webapp/src/script/page/RightSidebar/guestServicesOptions/guestServicesOptions.test.tsx
Due: app_webapp

refactor: inline util getImageScreenshot since it's only relevant once
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/conversation.page.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/messagesIn1On1-TC-8750.spec.ts
Due: app_webapp

fix(webapp): use normalized QualifiedId for conversation retry fetch(WPB-24660) (#20959)
  apps/webapp/src/script/view_model/ContentViewModel.ts
Due: app_webapp

test: verify system messages for wireless guest join/leave events TC-3334
  apps/webapp/test/e2e_tests/specs/Guestroom/guestroom.spec.ts
Due: app_webapp

test: verify Invite People button in questroom TC-3335
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/conversation.page.ts
  apps/webapp/test/e2e_tests/specs/Guestroom/guestroom.spec.ts
Due: app_webapp

test: verify system message on guest link expiration TC-3337
  apps/webapp/test/e2e_tests/specs/Guestroom/guestroom.spec.ts
Due: app_webapp

test: verify guests present indicator TC-3338
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/conversation.page.ts
  apps/webapp/test/e2e_tests/specs/Guestroom/guestroom.spec.ts
Due: app_webapp

test: verify conversation added to the conversation list TC-3354
  apps/webapp/test/e2e_tests/specs/Guestroom/guestroom.spec.ts
Due: app_webapp

test: confirm hint text is present in guestroom TC-3340
  apps/webapp/test/e2e_tests/specs/Guestroom/guestroom.spec.ts
Due: app_webapp

test: add TC-3351 for guest link session persistence
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/conversationJoin.page.ts
  apps/webapp/test/e2e_tests/specs/Guestroom/guestroom.spec.ts
Due: app_webapp

test: confirm logged-in user can join as a guest TC-3352
  apps/webapp/test/e2e_tests/specs/Guestroom/guestroom.spec.ts
Due: app_webapp

test: verify join questroom with enterprise login TC-3477
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/conversationJoin.page.ts
  apps/webapp/test/e2e_tests/specs/Guestroom/guestroom.spec.ts
Due: app_webapp

refactor: clean up guestroom tests by removing manual timeouts
  apps/webapp/test/e2e_tests/specs/Guestroom/guestroom.spec.ts
Due: app_webapp

test: verify guest expiration visibility for temporary users TC-3363
  apps/webapp/test/e2e_tests/specs/Guestroom/guestroom.spec.ts
Due: app_webapp

test: improve comment clarity for guest join redirect workaround
  apps/webapp/test/e2e_tests/specs/Guestroom/guestroom.spec.ts
Due: app_webapp

move css to serviceOptions.styles.ts
  apps/webapp/src/script/page/RightSidebar/guestServicesOptions/components/servicesOptions/serviceOptions.styles.ts
  apps/webapp/src/script/page/RightSidebar/guestServicesOptions/components/servicesOptions/servicesOptions.tsx
  apps/webapp/src/style/foundation/main.less
Due: app_webapp

chore(e2e): Setup reporting E2E test runs to Wire conversation [WPB-24686]
  .github/workflows/e2e-tests.yml
Due: none

feat: disable app slider in existing conversations (WPB-23667) (#20962)
  apps/webapp/src/script/page/RightSidebar/conversationDetails/components/conversationDetailsOptions/conversationDetailsOptions.tsx
  apps/webapp/src/script/page/RightSidebar/guestServicesOptions/components/servicesOptions/serviceOptions.styles.ts
  apps/webapp/src/script/page/RightSidebar/guestServicesOptions/components/servicesOptions/serviceOptions.test.tsx
  apps/webapp/src/script/page/RightSidebar/guestServicesOptions/components/servicesOptions/servicesOptions.tsx
  apps/webapp/src/script/page/RightSidebar/guestServicesOptions/guestServicesOptions.test.tsx
  apps/webapp/src/script/page/RightSidebar/guestServicesOptions/guestServicesOptions.tsx
Due: app_webapp

chore: update yarn.lock
  yarn.lock
Due: none

Fixed the path to report.json
  .github/workflows/e2e-tests.yml
Due: none

chore(ci): wait for Elastic Beanstalk deployments before reporting CI success
  .github/workflows/deploy-to-test-env.yml
  .github/workflows/precommit.yml
  .github/workflows/publish-and-deploy-webapp.yml
  .github/workflows/redeploy-production-from-tag.yml
Due: none

Changes to different reporting
  .github/workflows/e2e-tests.yml
Due: none

test: clean out utils of conversation POM [WPB-22420] (#20963)
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/conversation.page.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/addMembersToChat-TC-8631.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/channelsManagement-TC-8752.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/conversationManagement-TC-8636.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/messagesIn1On1-TC-8750.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/messagesInChannels-TC-8753.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/messagesInGroups-TC-8751.spec.ts
  apps/webapp/test/e2e_tests/specs/Drive/replyingToMultipartMessage-TC-8787.spec.ts
Due: app_webapp

Trying changing API key
  .github/workflows/e2e-tests.yml
Due: none

chore(ci): wait for Elastic Beanstalk deployments before reporting CI success (#20975)
  .github/workflows/deploy-to-test-env.yml
  .github/workflows/precommit.yml
  .github/workflows/publish-and-deploy-webapp.yml
  .github/workflows/redeploy-production-from-tag.yml
Due: none

style: format whole repo using prettier [WPB-22420]
  .yarnrc.yml
  apps/webapp/src/script/clock/wallClock.test.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/common/useCellsNewNodeForm/cellsNodeFormUtils.test.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/common/useCellsNewNodeForm/useCellsNewNodeFormBase.test.ts
  apps/webapp/src/script/components/FileFullscreenModal/FileFullscreenModal.test.tsx
  apps/webapp/src/script/components/Modals/CreateConversation/CreateConversationSteps/Preference.test.tsx
  apps/webapp/src/script/components/Modals/GroupCreation/GroupCreationModal.test.tsx
  apps/webapp/src/script/featureToggles/startupFeatureToggles.test.ts
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/ConversationTab/ConversationFolderTab.test.tsx
  apps/webapp/src/script/page/RightSidebar/guestServicesOptions/components/servicesOptions/serviceOptions.test.tsx
  apps/webapp/src/script/page/RootProvider.test.tsx
  apps/webapp/src/script/page/components/ForceReloadModal/ForceReloadModal.test.tsx
  apps/webapp/src/script/repositories/calling/AudioSpeakerFactory.test.ts
  apps/webapp/src/script/repositories/event/EventRepository.test.ts
  apps/webapp/src/script/repositories/media/MediaEmbeds.test.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/segmentation/segmenter.test.ts
  apps/webapp/src/script/repositories/user/AppLockRepository.test.ts
  apps/webapp/src/script/util/featureUtil.test.ts
  apps/webapp/src/script/util/imageUtil.test.ts
  apps/webapp/src/script/util/toError.test.ts
  apps/webapp/test/e2e_tests/scripts/send-playwright-results-to-testiny.ts
  apps/webapp/test/e2e_tests/specs/AppLock/AppLock.spec.ts
  apps/webapp/test/e2e_tests/specs/ClearConversationContent/clearConversationContent.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/messagesInGroups-TC-8751.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/oneOnOneCall-TC-8754.spec.ts
  apps/webapp/test/e2e_tests/specs/Delete/delete.spec.ts
  apps/webapp/test/e2e_tests/specs/InConversationSearch/inConversationSearch.spec.ts
  apps/webapp/test/e2e_tests/specs/Localization/localization.spec.ts
  apps/webapp/test/e2e_tests/specs/Mention/mention.spec.ts
  apps/webapp/test/e2e_tests/specs/SendingAssets/sendingAssets.spec.ts
  apps/webapp/test/integration/ConversationLabelRepositorySync.test.ts
  eslint.config.ts
  libraries/api-client/src/http/httpClient.test.ts
  libraries/api-client/src/http/incrementalRetryBackoff.test.ts
  libraries/config/src/server.config.spec.ts
  libraries/config/src/server.config.ts
Due: app_webapp, lib_api_client

ci: add check to ensure everything is formatted correctly before the PR can be merged
  .github/workflows/ci.yml
  .gitignore
Due: none

Changed API key to test
  .github/workflows/e2e-tests.yml
Due: none

Added secret and made e2e tests run on self-hosted runner
  .github/workflows/e2e-tests.yml
Due: none

Reverted agent to ubuntu-latest
  .github/workflows/e2e-tests.yml
Due: none

ci: format everything & enforce PRs to be formatted correctly [WPB-22420] (#20977)
  .github/workflows/ci.yml
  .gitignore
  .yarnrc.yml
  apps/webapp/src/script/clock/wallClock.test.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/common/useCellsNewNodeForm/cellsNodeFormUtils.test.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/common/useCellsNewNodeForm/useCellsNewNodeFormBase.test.ts
  apps/webapp/src/script/components/FileFullscreenModal/FileFullscreenModal.test.tsx
  apps/webapp/src/script/components/Modals/CreateConversation/CreateConversationSteps/Preference.test.tsx
  apps/webapp/src/script/components/Modals/GroupCreation/GroupCreationModal.test.tsx
  apps/webapp/src/script/featureToggles/startupFeatureToggles.test.ts
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/ConversationTab/ConversationFolderTab.test.tsx
  apps/webapp/src/script/page/RightSidebar/guestServicesOptions/components/servicesOptions/serviceOptions.test.tsx
  apps/webapp/src/script/page/RootProvider.test.tsx
  apps/webapp/src/script/page/components/ForceReloadModal/ForceReloadModal.test.tsx
  apps/webapp/src/script/repositories/calling/AudioSpeakerFactory.test.ts
  apps/webapp/src/script/repositories/event/EventRepository.test.ts
  apps/webapp/src/script/repositories/media/MediaEmbeds.test.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/segmentation/segmenter.test.ts
  apps/webapp/src/script/repositories/user/AppLockRepository.test.ts
  apps/webapp/src/script/util/featureUtil.test.ts
  apps/webapp/src/script/util/imageUtil.test.ts
  apps/webapp/src/script/util/toError.test.ts
  apps/webapp/test/e2e_tests/scripts/send-playwright-results-to-testiny.ts
  apps/webapp/test/e2e_tests/specs/AppLock/AppLock.spec.ts
  apps/webapp/test/e2e_tests/specs/ClearConversationContent/clearConversationContent.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/messagesInGroups-TC-8751.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/oneOnOneCall-TC-8754.spec.ts
  apps/webapp/test/e2e_tests/specs/Delete/delete.spec.ts
  apps/webapp/test/e2e_tests/specs/InConversationSearch/inConversationSearch.spec.ts
  apps/webapp/test/e2e_tests/specs/Localization/localization.spec.ts
  apps/webapp/test/e2e_tests/specs/Mention/mention.spec.ts
  apps/webapp/test/e2e_tests/specs/SendingAssets/sendingAssets.spec.ts
  apps/webapp/test/integration/ConversationLabelRepositorySync.test.ts
  eslint.config.ts
  libraries/api-client/src/http/httpClient.test.ts
  libraries/api-client/src/http/incrementalRetryBackoff.test.ts
  libraries/config/src/server.config.spec.ts
  libraries/config/src/server.config.ts
Due: app_webapp, lib_api_client
