Repository wireapp/wire-webapp: changes, and which Codecov flags are due for each by the changed paths.
All: app_webapp, app_server

core: ignore broken libsodium-wrappers wrapper version 0.7.16
  .github/dependabot.yml
  package.json
  yarn.lock
Due: none

use backend rest
  src/script/externalRoute.ts
  src/script/repositories/conversation/MessageRepository.ts
Due: none

change naming
  src/script/externalRoute.ts
  src/script/repositories/conversation/MessageRepository.ts
Due: none

core: ignore broken libsodium-wrappers wrapper version 0.7.16 (#19972)
  .github/dependabot.yml
  package.json
  yarn.lock
Due: none

move isAuditLogEnabledForBackend
  src/script/externalRoute.ts
  src/script/repositories/conversation/MessageRepository.ts
  src/script/repositories/team/TeamState.ts
Due: none

chore(nc): configure MACP and agents for monorepo
  .mcp.json
  AGENTS.md
  CLAUDE.md
Due: none

fix: Use production url instead of environment variable to enable asset logging [WPB-22566] (#19971)
  src/script/repositories/conversation/MessageRepository.ts
  src/script/repositories/team/TeamState.ts
Due: none

fix: add guard on join/call buttons [WPB-21715]. (#19837)
  README.md
Due: none

chore(nx): add Nx workspace configuration
  nx.json
  package.json
  yarn.lock
Due: none

chore(nx): move server package to apps/server
  apps/server/tsconfig.json
Due: app_server

chore(nx): configure TypeScript for server with base config
  apps/server/package.json
  apps/server/tsconfig.json
  tsconfig.base.json
Due: app_server

chore(nx): add project configuration for server app
  apps/server/project.json
Due: app_server

chore(nx): add server build/test scripts to root package.json
  package.json
Due: none

chore(nx): verify server migration - all tests passing
  .gitignore
  apps/server/package.json
  apps/server/project.json
  apps/server/tsconfig.json
  apps/webapp/src/script/util/test/mock/wireEnvMock.ts
  apps/webapp/src/types/Wire.types.ts
  apps/webapp/webpack.config.common.js
  bin/zip.js
  package.json
  tsconfig.json
  yarn.lock
Due: app_webapp, app_server

fix: Use production url instead of environment variable to enable asset logging [WPB-22566] (#19971) (#20008)
  src/script/repositories/conversation/MessageRepository.ts
  src/script/repositories/team/TeamState.ts
Due: none

chore(nx): move webapp assets and tests to apps/webapp
  apps/webapp/test/e2e_tests/README.md
  apps/webapp/test/e2e_tests/pageManager/webapp/modals/blockWarning.modal.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/modals/cancelRequest.modal.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/modals/copyPassword.modal.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/modals/createGuestLink.modal.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/modals/dataShareConsent.modal.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/modals/error.modal.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/modals/exportBackup.modal.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/modals/importBackup.modal.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/modals/unableToOpenConversation.modal.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/modals/verifyEmail.modal.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/groupVideoCall-TC-8637.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/joinTeam-TC-8635.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/messagesInChannels-TC-8753.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/messagesInGroups-TC-8751.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/oneOnOneCall-TC-8754.spec.ts
Due: app_webapp

chore(nx): move TypeScript configs to apps/webapp
  apps/webapp/tsconfig.build.json
  apps/webapp/tsconfig.json
  tsconfig.json
Due: app_webapp

chore(nx): add project configuration for webapp
  apps/webapp/project.json
Due: app_webapp

chore(nx): update webapp tsconfig to extend base config
  apps/webapp/tsconfig.json
Due: app_webapp

chore(nx): update webpack config paths for monorepo structure
  apps/webapp/webpack.config.common.js
Due: app_webapp

chore(nx): adjust configs, move dockerfile, update readme
  README.md
  apps/server/project.json
  apps/webapp/apps/webapp/src/script/components/Icon.tsx
  apps/webapp/project.json
  nx.json
  package.json
  project.json
Due: app_webapp, app_server

chore(nx): move some web config files and folders
  apps/src/script/components/Icon.tsx
  apps/webapp/bin/generate_react_icons.ts
  apps/webapp/project.json
  apps/webapp/src/script/components/Icon.tsx
  eslint.config.ts
Due: app_webapp

chore(nx): move env file, fix path
  apps/webapp/webpack.config.common.js
Due: app_webapp

feat: add aria label and also title on the close screen share icon (#19845)
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/types/i18n.d.ts
Due: app_webapp

feat: replace button with div and assigned role=button to it [WPB-21194] (#19846)
  apps/webapp/src/script/components/calling/GroupVideoGridTile.styles.ts
Due: app_webapp

chore: Update translations (#19864)
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/i18n/ru-RU.json
Due: app_webapp

chore: fix lint issue which are caused by prettier version bump [WPB-19681] (#19869)
  apps/webapp/src/script/components/calling/GroupVideoGridTile.styles.ts
  apps/webapp/src/script/util/messageRenderer.test.ts
Due: app_webapp

test(WPB-22129): fix login test util (#19847)
  apps/webapp/test/e2e_tests/test.fixtures.ts
Due: app_webapp

test: remove async getPage from PageManager (#19848)
  apps/webapp/test/e2e_tests/specs/Accessibility/Accessibility.spec.ts
  apps/webapp/test/e2e_tests/specs/AppLock/AppLock.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/addMembersToChat-TC-8631.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/groupVideoCall-TC-8637.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/oneOnOneCall-TC-8754.spec.ts
Due: app_webapp

feat: add file versioning for editable files [WPB-21659] (#19874)
  apps/webapp/src/script/components/FileFullscreenModal/FileHeader/FileHeader.tsx
  apps/webapp/src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/FileAssetCard/common/FileAssetOptions/FileAssetOptions.tsx
  apps/webapp/src/script/components/Modals/ModalComponent/ModalComponent.tsx
  apps/webapp/src/types/i18n.d.ts
  package.json
  src/script/components/Modals/FileHistoryModal/FileHistoryContent.test.tsx
  src/script/components/Modals/FileHistoryModal/FileHistoryContent.tsx
  src/script/components/Modals/FileHistoryModal/FileHistoryHeader.test.tsx
  src/script/components/Modals/FileHistoryModal/FileHistoryHeader.tsx
  src/script/components/Modals/FileHistoryModal/FileHistoryModal.styles.ts
  src/script/components/Modals/FileHistoryModal/FileHistoryModal.test.tsx
  src/script/components/Modals/FileHistoryModal/FileHistoryModal.tsx
  src/script/components/Modals/FileHistoryModal/FileRestoreConfirmContent.tsx
  src/script/components/Modals/FileHistoryModal/FileVersionItem.tsx
  src/script/components/Modals/FileHistoryModal/hooks/useFileHistoryModal.test.ts
  src/script/components/Modals/FileHistoryModal/hooks/useFileHistoryModal.ts
  src/script/components/Modals/FileHistoryModal/hooks/useFileVersions.test.ts
  src/script/components/Modals/FileHistoryModal/hooks/useFileVersions.ts
  src/script/components/Modals/FileHistoryModal/types.ts
  src/script/components/Modals/FileHistoryModal/utils/fileVersionUtils.ts
  yarn.lock
Due: app_webapp

ci(WPB-21987): use prebuilt testservice in CI (#19867)
  apps/webapp/test/e2e_tests/README.md
Due: app_webapp

test: folders spec [19951] (#19873)
  apps/webapp/test/e2e_tests/pageManager/index.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/conversationList.page.ts
  test/e2e_tests/specs/Folders/folders.spec.ts
Due: app_webapp

chore(nx): fix deployment packaging and apply NX best practices
  .github/workflows/create_docker_image.yml
  .github/workflows/deploy-to-test-env.yml
  .github/workflows/precommit-crit-flows.yml
  .github/workflows/precommit.yml
  .github/workflows/publish.yml
  README.md
  apps/server/project.json
  apps/webapp/project.json
  package.json
  project.json
Due: app_webapp, app_server

chore(nx): fix ebs.zip location
  bin/zip.js
Due: none

Path conditions:
  app_webapp: any of: apps/webapp/**
  app_server: any of: apps/server/**
