Repository wireapp/wire-webapp: changes, and which Codecov flags are due for each by the changed paths.
All: app_webapp, app_server, lib_core, lib_api_client

Standardize main delivery summaries
  .github/workflows/publish-main.yml
Due: none

test: add unit tests for `runSegmenter` with different rendering paths and mask behaviors
  apps/webapp/src/script/repositories/media/backgroundEffects/pipe/segmenter.test.ts
Due: app_webapp

Standardize Release Cloud summaries
  .github/workflows/release-cloud.yml
Due: none

Extract Release Cloud runtime verification
  .github/actions/verify-webapp-runtime/action.yml
  .github/actions/verify-webapp-runtime/verify-webapp-runtime.sh
  .github/workflows/release-cloud.yml
Due: none

Reuse runtime verification for Hosted Dev
  .github/workflows/publish-main.yml
Due: none

Extract Release Cloud summary renderer
  .github/scripts/render-release-cloud-summary.sh
  .github/workflows/release-cloud.yml
Due: none

Add Release Cloud summary tests
  bin/renderReleaseCloudSummary.test.ts
Due: none

Migrate Release Cloud summary renderer to TypeScript
  .github/scripts/render-release-cloud-summary.sh
  .github/workflows/release-cloud.yml
  bin/renderReleaseCloudSummary.test.ts
  bin/renderReleaseCloudSummary.ts
Due: none

fix(webapp): inject ConversationState into useMeetNowSubmit
  apps/webapp/src/script/components/Meeting/MeetNowModal/MeetNowModal.tsx
  apps/webapp/src/script/components/Meeting/MeetNowModal/useMeetNowSubmit.test.tsx
  apps/webapp/src/script/components/Meeting/MeetNowModal/useMeetNowSubmit.ts
Due: app_webapp

test(webapp): cover Meet Now submit join outcomes in hook tests
  apps/webapp/src/script/components/Meeting/MeetNowModal/useMeetNowSubmit.test.tsx
Due: app_webapp

refactor(webapp): rename Meet Now modal files to camelCase
  apps/webapp/src/script/components/Meeting/Meetings.tsx
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingService.ts
  apps/webapp/src/script/components/Meeting/mapMeetNowFormToCreateMeeting.ts
  apps/webapp/src/script/components/Meeting/meetNowModal/meetNowForm.tsx
  apps/webapp/src/script/components/Meeting/meetNowModal/meetNowModal.styles.ts
  apps/webapp/src/script/components/Meeting/meetNowModal/meetNowModal.tsx
  apps/webapp/src/script/components/Meeting/meetNowModal/meetNowTypes.ts
  apps/webapp/src/script/components/Meeting/meetNowModal/useMeetNowModal.test.ts
  apps/webapp/src/script/components/Meeting/meetNowModal/useMeetNowModal.ts
  apps/webapp/src/script/components/Meeting/meetNowModal/useMeetNowSubmit.test.tsx
  apps/webapp/src/script/components/Meeting/meetNowModal/useMeetNowSubmit.ts
  apps/webapp/src/script/components/Meeting/meetingStore/createMeetingStore.ts
  apps/webapp/src/script/components/Meeting/meetingStore/meetingStoreDeps.ts
  apps/webapp/src/script/components/Meeting/useMeetingActions.test.ts
  apps/webapp/src/script/components/Meeting/useMeetingActions.ts
Due: app_webapp

fix(webapp): return explicit Meet Now submit outcomes
  apps/webapp/src/script/components/Meeting/meetNowModal/meetNowModal.tsx
  apps/webapp/src/script/components/Meeting/meetNowModal/meetNowTypes.ts
  apps/webapp/src/script/components/Meeting/meetNowModal/useMeetNowSubmit.test.tsx
  apps/webapp/src/script/components/Meeting/meetNowModal/useMeetNowSubmit.ts
Due: app_webapp

fix(webapp): prevent Meet Now modal close during submit
  apps/webapp/src/script/components/Meeting/meetNowModal/meetNowModal.tsx
Due: app_webapp

fix(webapp): use semantic form for Meet Now modal
  apps/webapp/src/script/components/Meeting/meetNowModal/meetNowForm.tsx
  apps/webapp/src/script/components/Meeting/meetNowModal/meetNowModal.tsx
Due: app_webapp

refactor(webapp): pass meeting commands into create services
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingService.test.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingService.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingTypes.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/useScheduleMeetingSubmit.test.tsx
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/useScheduleMeetingSubmit.ts
  apps/webapp/src/script/components/Meeting/mapMeetNowCommandToCreateMeeting.test.ts
  apps/webapp/src/script/components/Meeting/mapMeetNowCommandToCreateMeeting.ts
  apps/webapp/src/script/components/Meeting/mapMeetNowFormToMeetingCommand.test.ts
  apps/webapp/src/script/components/Meeting/mapMeetNowFormToMeetingCommand.ts
  apps/webapp/src/script/components/Meeting/mapScheduleCommandToCreateMeeting.test.ts
  apps/webapp/src/script/components/Meeting/mapScheduleCommandToCreateMeeting.ts
  apps/webapp/src/script/components/Meeting/mapScheduleFormToCreateMeeting.ts
  apps/webapp/src/script/components/Meeting/mapScheduleFormToMeetingCommand.test.ts
  apps/webapp/src/script/components/Meeting/mapScheduleFormToMeetingCommand.ts
  apps/webapp/src/script/components/Meeting/meetNowModal/meetNowTypes.ts
  apps/webapp/src/script/components/Meeting/meetNowModal/useMeetNowSubmit.test.tsx
  apps/webapp/src/script/components/Meeting/meetNowModal/useMeetNowSubmit.ts
  apps/webapp/src/script/components/Meeting/meetingStore/createMeetingStore.ts
  apps/webapp/src/script/components/Meeting/meetingStore/meetingStoreDeps.ts
Due: app_webapp

refactor(webapp): extract shared meeting modules from modal features
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/ScheduleMeetingForm.tsx
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/ScheduleMeetingModal.tsx
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingTypes.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/useScheduleMeetingModal.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/useScheduleMeetingSubmit.ts
  apps/webapp/src/script/components/Meeting/mapMeetNowFormToMeetingCommand.ts
  apps/webapp/src/script/components/Meeting/mapScheduleCommandToCreateMeeting.ts
  apps/webapp/src/script/components/Meeting/mapScheduleFormToMeetingCommand.ts
  apps/webapp/src/script/components/Meeting/meetNowModal/meetNowForm.tsx
  apps/webapp/src/script/components/Meeting/meetNowModal/meetNowModal.styles.ts
  apps/webapp/src/script/components/Meeting/meetNowModal/meetNowTypes.ts
  apps/webapp/src/script/components/Meeting/meetNowModal/useMeetNowSubmit.ts
  apps/webapp/src/script/components/Meeting/meetingStore/createMeetingStore.ts
  apps/webapp/src/script/components/Meeting/meetingStore/createMeetingStoreServiceTasks.ts
  apps/webapp/src/script/components/Meeting/meetingStore/meetingStoreDeps.ts
  apps/webapp/src/script/components/Meeting/shared/defaults/meetingDateTimeDefaults.test.ts
  apps/webapp/src/script/components/Meeting/shared/defaults/meetingDateTimeDefaults.ts
  apps/webapp/src/script/components/Meeting/shared/participants/useMeetingParticipants.ts
  apps/webapp/src/script/components/Meeting/shared/service/meetingService.test.ts
  apps/webapp/src/script/components/Meeting/shared/service/meetingService.ts
  apps/webapp/src/script/components/Meeting/shared/styles/meetingForm.styles.ts
  apps/webapp/src/script/components/Meeting/shared/styles/meetingModalShell.styles.ts
  apps/webapp/src/script/components/Meeting/shared/submit/meetingSubmitErrorKeys.ts
  apps/webapp/src/script/components/Meeting/shared/submit/shouldRefreshMeetingsListAfterSubmitError.test.ts
  apps/webapp/src/script/components/Meeting/shared/submit/shouldRefreshMeetingsListAfterSubmitError.ts
  apps/webapp/src/script/components/Meeting/shared/submit/showMeetingPartialAddFailureModal.test.ts
  apps/webapp/src/script/components/Meeting/shared/submit/showMeetingPartialAddFailureModal.tsx
  apps/webapp/src/script/components/Meeting/shared/types/meetingCommandTypes.ts
  apps/webapp/src/script/components/Meeting/useEditMeeting.ts
Due: app_webapp

refactor(webapp): extract meet now submit orchestration
  apps/webapp/src/script/components/Meeting/meetNowModal/submitMeetNow.ts
  apps/webapp/src/script/components/Meeting/meetNowModal/useMeetNowSubmit.ts
Due: app_webapp

test(api-client): add canonical conversationSchema contract tests
  libraries/api-client/src/conversation/conversationSchema.test.ts
Due: lib_api_client

refactor(webapp): inline meeting store service wiring
  apps/webapp/src/script/components/Meeting/Meetings.tsx
  apps/webapp/src/script/components/Meeting/meetingStore/createMeetingStoreServiceTasks.ts
Due: app_webapp

test(webapp): assert Result and Maybe variants in store tests
  apps/webapp/src/script/components/Meeting/meetingStore/createMeetingStore.test.ts
Due: app_webapp

fix(webapp): unwrap Maybe dates in meeting store tests
  apps/webapp/src/script/components/Meeting/meetingStore/createMeetingStore.test.ts
Due: app_webapp

refactor(webapp): make meeting form errors explicit
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/ScheduleMeetingModal.tsx
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingTypes.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingValidation.test.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingValidation.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/useScheduleMeetingModal.ts
  apps/webapp/src/script/components/Meeting/mapMeetNowFormToMeetingCommand.ts
  apps/webapp/src/script/components/Meeting/mapScheduleFormToMeetingCommand.ts
  apps/webapp/src/script/components/Meeting/meetNowModal/meetNowModal.tsx
  apps/webapp/src/script/components/Meeting/meetNowModal/meetNowTypes.ts
  apps/webapp/src/script/components/Meeting/meetNowModal/useMeetNowModal.test.ts
  apps/webapp/src/script/components/Meeting/meetNowModal/useMeetNowModal.ts
Due: app_webapp

refactor(webapp): remove unused Meet Now data-uie-name attrs
  apps/webapp/src/script/components/Meeting/EmptyMeetingList/EmptyMeetingList.tsx
  apps/webapp/src/script/components/Meeting/MeetingParticipantsPicker/MeetingParticipantsPicker.tsx
  apps/webapp/src/script/components/Meeting/meetNowModal/meetNowForm.tsx
  apps/webapp/src/script/components/Meeting/meetNowModal/meetNowModal.tsx
Due: app_webapp

refactor(webapp): rename MeetNowSubmitSuccess to CreateMeetingSuccess
  apps/webapp/src/script/components/Meeting/meetNowModal/submitMeetNow.ts
  apps/webapp/src/script/components/Meeting/meetingStore/createMeetingStore.ts
  apps/webapp/src/script/components/Meeting/meetingStore/meetingStoreDeps.ts
  apps/webapp/src/script/components/Meeting/shared/service/meetingService.ts
Due: app_webapp

refactor(webapp): import shared modal styles directly in Meet Now
  apps/webapp/src/script/components/Meeting/meetNowModal/meetNowModal.styles.ts
  apps/webapp/src/script/components/Meeting/meetNowModal/meetNowModal.tsx
Due: app_webapp

chore(webapp): apply ESLint auto-fixes to Meeting modules
  apps/webapp/src/script/components/Meeting/Meetings.tsx
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/ScheduleMeetingForm.tsx
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/ScheduleMeetingModal.tsx
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingValidation.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/useScheduleMeetingModal.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/useScheduleMeetingSubmit.ts
  apps/webapp/src/script/components/Meeting/mapScheduleFormToMeetingCommand.ts
  apps/webapp/src/script/components/Meeting/meetNowModal/meetNowForm.tsx
  apps/webapp/src/script/components/Meeting/meetNowModal/meetNowModal.tsx
  apps/webapp/src/script/components/Meeting/meetNowModal/useMeetNowSubmit.ts
  apps/webapp/src/script/components/Meeting/meetingStore/createMeetingStore.ts
  apps/webapp/src/script/components/Meeting/meetingStore/meetingStoreDeps.ts
Due: app_webapp

feat: Add self user drive role (editor / viewer) in shared drive(WPB-26111)
  apps/webapp/src/script/components/Conversation/ConversationCells/ConversationCells.tsx
  apps/webapp/src/script/components/Conversation/ConversationCells/common/CellsSelfUserDriveRole/CellsSelfUserDriveRoleContext.test.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/common/CellsSelfUserDriveRole/CellsSelfUserDriveRoleContext.tsx
Due: app_webapp

Formatted folders.spec.ts
  apps/webapp/test/e2e_tests/specs/Folders/folders.spec.ts
Due: app_webapp

Fix logic in TC-548, added more checks for custom folder
  apps/webapp/test/e2e_tests/specs/Folders/folders.spec.ts
Due: app_webapp

Fix TC-548 and TC-553 e2e tests
  apps/webapp/test/e2e_tests/pageManager/webapp/components/conversationSidebar.component.ts
  apps/webapp/test/e2e_tests/specs/Folders/folders.spec.ts
Due: app_webapp

fix: global Cells search root path(WPB-27127)
  libraries/api-client/src/cells/cellsApi.test.ts
  libraries/api-client/src/cells/cellsApi.ts
Due: lib_api_client

Run webapp metadata generation with native Node.js
  apps/server/bin/generateVersionFile.js
  apps/server/bin/generateVersionFile.mts
  apps/server/package.json
  apps/server/project.json
  libraries/config/src/buildMetadata.test.ts
  libraries/config/src/buildMetadata.ts
  libraries/config/src/index.ts
Due: app_server

Make Webpack consume authoritative build metadata
  apps/server/project.json
  apps/webapp/webpack.config.common.js
Due: app_webapp, app_server

Add authoritative webapp build metadata primitives
  apps/server/bin/generateVersionFile.js
  libraries/config/jest.config.js
  libraries/config/package.json
  libraries/config/src/buildMetadata.test.ts
  libraries/config/src/buildMetadata.ts
  libraries/config/src/index.ts
  yarn.lock
Due: app_server

Enforce derived asset versions in build metadata
  apps/server/bin/generateVersionFile.mts
  apps/server/buildMetadata.test.ts
  libraries/config/src/buildMetadata.test.ts
  libraries/config/src/buildMetadata.ts
  libraries/config/src/index.ts
Due: app_server

Format code with latest code style formatting rules
  apps/server/buildMetadata.test.ts
  bin/buildArtifactMetadata.test.ts
  bin/releaseMetadata.test.ts
Due: app_server

Preserve only webapp version comments
  apps/webapp/src/page/auth.ejs
  apps/webapp/src/page/index.ejs
  apps/webapp/src/page/unsupported.ejs
  apps/webapp/webpack.config.common.js
  bin/buildArtifactMetadata.test.ts
  bin/buildArtifactMetadata.ts
Due: app_webapp

Preserve logical versions for legacy production workflows
  .github/workflows/create_docker_image.yml
  .github/workflows/publish-and-deploy-webapp.yml
  .github/workflows/redeploy-production-from-tag.yml
  .github/workflows/rollback-production.yml
  bin/releaseMetadata.test.ts
  bin/releaseMetadata.ts
  bin/releaseMetadataCli.test.ts
  bin/releaseMetadataCli.ts
Due: none

Validate Release Cloud artifact metadata
  .github/workflows/release-cloud.yml
Due: none

Pass explicit webapp metadata through build workflows
  .github/workflows/continuous-integration.yml
  .github/workflows/create_docker_image.yml
  .github/workflows/deploy-to-test-env.yml
  .github/workflows/precommit-e2e-tests.yml
  .github/workflows/publish-and-deploy-webapp.yml
  .github/workflows/publish-main.yml
  .github/workflows/redeploy-production-from-tag.yml
  .github/workflows/release-cloud.yml
  .github/workflows/rollback-production.yml
Due: none

Path conditions:
  app_webapp: any of: apps/webapp/**
  app_server: any of: apps/server/**
  lib_core: any of: libraries/core/**
  lib_api_client: any of: libraries/api-client/**
