Repository wireapp/wire-webapp: changes, and which Codecov flags are due for each by the changed paths.
All: app_webapp, app_server, lib_core, lib_api_client

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '45...80'
  status:
    project:
      default:
        target: auto
      app_webapp:
        target: auto
        flags:
          - app_webapp
      app_server:
        target: auto
        flags:
          - app_server
      lib_core:
        target: auto
        flags:
          - lib_core
      lib_api_client:
        target: auto
        flags:
          - lib_api_client
    patch:
      default:
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: 'diff, flags, files'
  behavior: default
  require_changes: no

flags:
  app_webapp:
    paths:
      - 'apps/webapp/**'
    carryforward: false
  app_server:
    paths:
      - 'apps/server/**'
    carryforward: true
  lib_core:
    paths:
      - 'libraries/core/**'
    carryforward: true
  lib_api_client:
    paths:
      - 'libraries/api-client/**'
    carryforward: true

github_checks:
  annotations: false

feat: integrate team feature flag for background effects
  apps/webapp/src/script/repositories/media/backgroundEffectsHandler.test.ts
  apps/webapp/src/script/repositories/media/backgroundEffectsHandler.ts
  apps/webapp/src/script/repositories/team/TeamState.ts
  libraries/api-client/src/team/feature/featureList.schema.ts
  libraries/api-client/src/team/feature/featureList.types.ts
Due: app_webapp, lib_api_client

chore: fixing compilation errors
  eslint.config.ts
  libraries/react-ui-kit/emotion.d.ts
  libraries/react-ui-kit/package.json
  libraries/react-ui-kit/src/Inputs/Switch/Switch.tsx
  libraries/react-ui-kit/src/Layout/HeaderMenu/MenuContent.tsx
  libraries/react-ui-kit/src/Layout/HeaderMenu/MenuOpenButton.tsx
  libraries/react-ui-kit/src/Typography/Paragraph/Paragraph.tsx
  libraries/react-ui-kit/src/utils/IsInViewport.tsx
  libraries/react-ui-kit/src/utils/testUtil.tsx
  libraries/react-ui-kit/src/utils/util.ts
  libraries/react-ui-kit/tsconfig.json
  yarn.lock
Due: none

remove extra upload
  .github/workflows/ci.yml
Due: none

fix lint speed
  eslint.config.ts
  libraries/react-ui-kit/project.json
Due: none

ci: move Playwright critical flows out of pull requests
  .github/workflows/precommit-crit-flows.yml
  .github/workflows/precommit-slot-run.yml
  .github/workflows/publish-and-deploy-webapp.yml
Due: none

fix: format react-ui-kit babel.config.js for nx format:check
  libraries/react-ui-kit/babel.config.js
Due: none

don't use the name Error
  libraries/react-ui-kit/src/DataDisplay/Pill/Pill.stories.tsx
Due: none

ct: align critical flow concurrency with EB slots
  .github/workflows/precommit-crit-flows.yml
Due: none

chore: merge commons history from wire-web-packages
  libraries/commons/.gitignore
  libraries/commons/CHANGELOG.md
  libraries/commons/README.md
  libraries/commons/jest.config.js
  libraries/commons/package.json
  libraries/commons/src/LogFactory.test.ts
  libraries/commons/src/LogFactory.ts
  libraries/commons/src/TypedEventEmitter/TypedEventEmitter.ts
  libraries/commons/src/TypedEventEmitter/index.ts
  libraries/commons/src/config/CommonConfig.ts
  libraries/commons/src/index.ts
  libraries/commons/src/test/helpers/ExceptionHandler.js
  libraries/commons/src/util/AccentColor.ts
  libraries/commons/src/util/ArrayUtil.test.ts
  libraries/commons/src/util/ArrayUtil.ts
  libraries/commons/src/util/DateUtil.test.ts
  libraries/commons/src/util/DateUtil.ts
  libraries/commons/src/util/RandomUtil.test.ts
  libraries/commons/src/util/RandomUtil.ts
  libraries/commons/src/util/Runtime.test.ts
  libraries/commons/src/util/Runtime.ts
  libraries/commons/src/util/StringUtil.test.ts
  libraries/commons/src/util/StringUtil.ts
  libraries/commons/src/util/TimeUtil.ts
  libraries/commons/src/util/TypeUtil.mock.ts
  libraries/commons/src/util/TypeUtil.ts
  libraries/commons/src/util/UrlUtil.test.ts
  libraries/commons/src/util/UrlUtil.ts
  libraries/commons/src/util/ValidationUtil.test.ts
  libraries/commons/src/util/ValidationUtil.ts
  libraries/commons/src/util/index.ts
  libraries/commons/src/util/testUtils.ts
  libraries/commons/tsconfig.json
Due: none

chore: merge certificate-check history from wire-web-packages
  libraries/certificate-check/CHANGELOG.md
  libraries/certificate-check/README.md
  libraries/certificate-check/jest.config.js
  libraries/certificate-check/package.json
  libraries/certificate-check/spec/helpers/VeriSign-Class-3-Public-Primary-Certification-Authority-G4.pem
  libraries/certificate-check/spec/helpers/VeriSign-Class-3-Public-Primary-Certification-Authority-G5-BROKEN.pem
  libraries/certificate-check/spec/helpers/VeriSign-Class-3-Public-Primary-Certification-Authority-G5.pem
  libraries/certificate-check/spec/helpers/wire.com-issuer.der
  libraries/certificate-check/spec/helpers/wire.com-wildcard.der
  libraries/certificate-check/src/CertUtil.test.ts
  libraries/certificate-check/src/CertUtil.ts
  libraries/certificate-check/src/index.ts
  libraries/certificate-check/src/pinningData.ts
  libraries/certificate-check/tsconfig.json
Due: none

chore: merge copy-config history from wire-web-packages
  libraries/copy-config/.gitignore
  libraries/copy-config/CHANGELOG.md
  libraries/copy-config/README.md
  libraries/copy-config/jest.config.js
  libraries/copy-config/package.json
  libraries/copy-config/spec/helpers/.env.test
  libraries/copy-config/spec/helpers/test1.txt
  libraries/copy-config/spec/helpers/test2.txt
  libraries/copy-config/src/CopyConfig.test.ts
  libraries/copy-config/src/CopyConfig.ts
  libraries/copy-config/src/CopyConfigOptions.ts
  libraries/copy-config/src/cli.ts
  libraries/copy-config/src/index.ts
  libraries/copy-config/src/utils.ts
  libraries/copy-config/tsconfig.json
Due: none

chore: merge priority-queue history from wire-web-packages
  libraries/priority-queue/CHANGELOG.md
  libraries/priority-queue/README.md
  libraries/priority-queue/jest.config.js
  libraries/priority-queue/package.json
  libraries/priority-queue/src/Config.ts
  libraries/priority-queue/src/Item.ts
  libraries/priority-queue/src/Priority.ts
  libraries/priority-queue/src/PriorityQueue.test.ts
  libraries/priority-queue/src/PriorityQueue.ts
  libraries/priority-queue/src/index.ts
  libraries/priority-queue/tsconfig.json
Due: none

chore: merge license-collector history from wire-web-packages
  libraries/license-collector/.gitignore
  libraries/license-collector/CHANGELOG.md
  libraries/license-collector/README.md
  libraries/license-collector/filter.txt
  libraries/license-collector/package.json
  libraries/license-collector/repositories.txt
  libraries/license-collector/src/LicenseCollector.ts
  libraries/license-collector/src/cli.ts
  libraries/license-collector/src/index.ts
  libraries/license-collector/tsconfig.json
Due: none

chore: merge promise-queue history from wire-web-packages
  libraries/promise-queue/.gitignore
  libraries/promise-queue/CHANGELOG.md
  libraries/promise-queue/README.md
  libraries/promise-queue/jest.config.js
  libraries/promise-queue/package.json
  libraries/promise-queue/src/PromiseQueue.test.ts
  libraries/promise-queue/src/PromiseQueue.ts
  libraries/promise-queue/src/PromiseQueueOptions.ts
  libraries/promise-queue/src/QueueEntry.ts
  libraries/promise-queue/src/index.ts
  libraries/promise-queue/tsconfig.json
Due: none

chore: merge prettier-config history from wire-web-packages
  libraries/prettier-config/CHANGELOG.md
  libraries/prettier-config/README.md
  libraries/prettier-config/index.json
  libraries/prettier-config/package.json
Due: none

chore: merge eslint-config history from wire-web-packages
  libraries/eslint-config/CHANGELOG.md
  libraries/eslint-config/README.md
  libraries/eslint-config/eslintrc.js
  libraries/eslint-config/package.json
Due: none

chore: merge store-engine history from wire-web-packages
  libraries/store-engine/CHANGELOG.md
  libraries/store-engine/README.md
  libraries/store-engine/jest.config.js
  libraries/store-engine/package.json
  libraries/store-engine/src/engine/CRUDEngine.ts
  libraries/store-engine/src/engine/EnvironmentUtil.ts
  libraries/store-engine/src/engine/MemoryEngine.test.ts
  libraries/store-engine/src/engine/MemoryEngine.ts
  libraries/store-engine/src/engine/error/LowDiskSpaceError.ts
  libraries/store-engine/src/engine/error/PathValidationError.ts
  libraries/store-engine/src/engine/error/RecordAlreadyExistsError.ts
  libraries/store-engine/src/engine/error/RecordNotFoundError.ts
  libraries/store-engine/src/engine/error/RecordTypeError.ts
  libraries/store-engine/src/engine/error/UnsupportedError.ts
  libraries/store-engine/src/engine/error/index.ts
  libraries/store-engine/src/engine/index.ts
  libraries/store-engine/src/index.ts
  libraries/store-engine/src/store/ExpiredBundle.ts
  libraries/store-engine/src/store/TransientBundle.ts
  libraries/store-engine/src/store/TransientStore.test.ts
  libraries/store-engine/src/store/TransientStore.ts
  libraries/store-engine/src/store/index.ts
  libraries/store-engine/src/test/clearTablesSpec.ts
  libraries/store-engine/src/test/createSpec.ts
  libraries/store-engine/src/test/deleteAllSpec.ts
  libraries/store-engine/src/test/deleteSpec.ts
  libraries/store-engine/src/test/purgeSpec.ts
  libraries/store-engine/src/test/readAllPrimaryKeysSpec.ts
  libraries/store-engine/src/test/readAllSpec.ts
  libraries/store-engine/src/test/readSpec.ts
  libraries/store-engine/src/test/updateOrCreateSpec.ts
  libraries/store-engine/src/test/updateSpec.ts
  libraries/store-engine/tsconfig.json
Due: none

chore: merge store-engine-fs history from wire-web-packages
  libraries/store-engine-fs/CHANGELOG.md
  libraries/store-engine-fs/README.md
  libraries/store-engine-fs/jest.config.js
  libraries/store-engine-fs/package.json
  libraries/store-engine-fs/src/index.test.ts
  libraries/store-engine-fs/src/index.ts
  libraries/store-engine-fs/tsconfig.json
Due: none

chore: merge telemetry history from wire-web-packages
  libraries/telemetry/CHANGELOG.md
  libraries/telemetry/README.md
  libraries/telemetry/adr/001-initialize-library.md
  libraries/telemetry/adr/README.md
  libraries/telemetry/package.json
  libraries/telemetry/src/countly.ts
  libraries/telemetry/src/embed.ts
  libraries/telemetry/src/index.ts
  libraries/telemetry/src/telemetry.ts
  libraries/telemetry/tsconfig.json
  libraries/telemetry/vite.config.js
Due: none

chore: merge webapp-events history from wire-web-packages
  libraries/webapp-events/CHANGELOG.md
  libraries/webapp-events/package.json
  libraries/webapp-events/src/index.ts
  libraries/webapp-events/tsconfig.json
Due: none

chore: merge store-engine-dexie history from wire-web-packages
  libraries/store-engine-dexie/CHANGELOG.md
  libraries/store-engine-dexie/README.md
  libraries/store-engine-dexie/jest.config.js
  libraries/store-engine-dexie/jest.setup.js
  libraries/store-engine-dexie/package.json
  libraries/store-engine-dexie/src/index.test.ts
  libraries/store-engine-dexie/src/index.ts
  libraries/store-engine-dexie/tsconfig.json
Due: none

fix: add `refreshMediaStreams` flag to media devices initialization logic
  apps/webapp/src/script/hooks/useInitializeMediaDevices.ts
  apps/webapp/src/script/repositories/calling/CallingRepository.ts
  apps/webapp/src/script/repositories/media/MediaDevicesHandler.ts
Due: app_webapp

feat: update strings from group to conversation [WPB-24874]
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/types/i18n.d.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/conversationDetails.page.ts
Due: app_webapp

chore: enable single-command dev with library watch refresh
  apps/server/project.json
  apps/webapp/project.json
  docs/nx-monorepo-integration-overview.md
  libraries/bazinga64/project.json
  libraries/certificate-check/project.json
  libraries/commons/project.json
  libraries/config/project.json
  libraries/copy-config/project.json
  libraries/license-collector/project.json
  libraries/priority-queue/project.json
  libraries/promise-queue/project.json
  libraries/store-engine-dexie/project.json
  libraries/store-engine-fs/project.json
  libraries/store-engine/project.json
  libraries/telemetry/project.json
  libraries/webapp-events/project.json
  nx.json
  package.json
Due: app_webapp, app_server

chore: fix yarn dev race between lib clean and watch
  apps/server/project.json
  docs/nx-monorepo-integration-overview.md
  nx.json
Due: app_server

fix(core): declare bazinga64 workspace dependency for CI builds
  libraries/core/package.json
  yarn.lock
Due: lib_core

Fix modal roles to prevent nested dialogs
  apps/webapp/src/script/components/Modals/ModalComponent/ModalComponent.tsx
  apps/webapp/src/script/components/Modals/PrimaryModal/PrimaryModalShell/PrimaryModalShell.tsx
  apps/webapp/test/e2e_tests/pageManager/webapp/modals/acknowledge.modal.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/modals/base.modal.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/modals/confirm.modal.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/modals/guestLinkPassword.modal.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/modals/joinGuestLinkPassword.modal.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/modals/newDevice.modal.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/modals/option.modal.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/modals/password.modal.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/modals/passwordAdvancedSecurity.modal.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/modals/readReceipt.modal.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/modals/withoutTitle.modal.ts
Due: app_webapp

feat: move meeting components on top of dev branch.
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/Meeting/EmptyMeetingList/EmptyListStyles.ts
  apps/webapp/src/script/components/Meeting/EmptyMeetingList/EmptyMeetingList.tsx
  apps/webapp/src/script/components/Meeting/MeetNowMultiActionButton/MeetNowMultiActionButton.styles.ts
  apps/webapp/src/script/components/Meeting/MeetNowMultiActionButton/MeetNowMultiActionButton.tsx
  apps/webapp/src/script/components/Meeting/Meeting.styles.ts
  apps/webapp/src/script/components/Meeting/MeetingHeader/MeetingHeader.styles.ts
  apps/webapp/src/script/components/Meeting/MeetingHeader/MeetingHeader.tsx
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingList.styles.ts
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingList.tsx
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingAction/MeetingAction.styles.ts
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingAction/MeetingAction.tsx
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingListItem.styles.ts
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingListItem.tsx
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingStatus/MeetingStatus.styles.ts
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingStatus/MeetingStatus.tsx
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItemGroup.styles.ts
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItemGroup.tsx
  apps/webapp/src/script/components/Meeting/MeetingList/TodayAndOngoingSection/TodayAndOngoingSection.tsx
  apps/webapp/src/script/components/Meeting/Meetings.tsx
  apps/webapp/src/script/components/Meeting/mocks/MeetingMocks.ts
  apps/webapp/src/script/components/Meeting/utils/MeetingDatesUtil.ts
  apps/webapp/src/script/components/Meeting/utils/MeetingStatusUtil.ts
  apps/webapp/src/script/page/AppMain.tsx
  apps/webapp/src/script/page/LeftSidebar/LeftSidebar.tsx
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/ConversationHeader/ConversationHeader.tsx
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/ConversationTabs.tsx
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/useSidebarStore.ts
  apps/webapp/src/script/page/MainContent/MainContent.tsx
  apps/webapp/src/script/page/useAppState.ts
  apps/webapp/src/script/repositories/team/TeamState.ts
  apps/webapp/src/script/ui/ContextMenu.tsx
  apps/webapp/src/script/view_model/ListViewModel.ts
  apps/webapp/src/types/i18n.d.ts
  libraries/api-client/src/team/feature/featureList.schema.ts
  libraries/api-client/src/team/feature/featureList.types.ts
Due: app_webapp, lib_api_client

lint cache
  apps/webapp/project.json
Due: app_webapp

chore: speed up lint and silence dotenv noise in Nx
  .env.localhost
  .github/workflows/ci.yml
  .github/workflows/create_docker_image.yml
  .github/workflows/deploy-to-test-env.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/playwright-crit-flow-tests.yml
  .github/workflows/precommit-crit-flows.yml
  .github/workflows/publish-and-deploy-webapp.yml
  .github/workflows/publish-libraries.yml
  .github/workflows/push-translations-to-crowdin.yml
  .github/workflows/redeploy-production-from-tag.yml
  apps/server/project.json
  apps/webapp/project.json
  libraries/api-client/project.json
  libraries/config/project.json
  libraries/core/project.json
  libraries/eslint-config/project.json
  libraries/prettier-config/project.json
  nx.json
  scripts/rewire-workspace-deps.mjs
  scripts/scaffold-migrated-libs.mjs
Due: app_webapp, app_server, lib_core, lib_api_client

fix(ci): pass PR base ref via env to prevent shell injection
  .github/workflows/ci.yml
Due: none

fix(ci): pin actions/cache to v4.2.0 commit hash
  .github/workflows/ci.yml
Due: none

chore: downgrade dotenv to 16.4.7 to silence Nx env logs
  .env.localhost
  .github/workflows/ci.yml
  .github/workflows/create_docker_image.yml
  .github/workflows/deploy-to-test-env.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/playwright-crit-flow-tests.yml
  .github/workflows/precommit-crit-flows.yml
  .github/workflows/publish-and-deploy-webapp.yml
  .github/workflows/publish-libraries-on-merge.yml
  .github/workflows/publish-libraries.yml
  .github/workflows/push-translations-to-crowdin.yml
  .github/workflows/redeploy-production-from-tag.yml
  package.json
  yarn.lock
Due: none

feat: move performance panel behind debug menu feature flag
  apps/webapp/src/script/components/calling/VideoControls/videoBackgroundPerformancePanel/videoBackgroundPerformancePanel.tsx
  apps/webapp/src/script/repositories/media/backgroundEffectsHandler.test.ts
  apps/webapp/src/script/repositories/media/backgroundEffectsHandler.ts
  apps/webapp/src/script/repositories/media/useBackgroundEffectsStore.test.ts
  apps/webapp/src/script/repositories/media/useBackgroundEffectsStore.ts
Due: app_webapp

ci: remove Corepack from Yarn bootstrap
  .github/workflows/ci.yml
  .github/workflows/create_docker_image.yml
  .github/workflows/deploy-to-test-env.yml
  .github/workflows/e2e-tests-nightly.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/generate_test_report.yml
  .github/workflows/playwright-crit-flow-tests.yml
  .github/workflows/precommit-crit-flows.yml
  .github/workflows/publish-and-deploy-webapp.yml
  .github/workflows/publish-libraries-on-merge.yml
  .github/workflows/publish-libraries.yml
  .github/workflows/push-translations-to-crowdin.yml
  .github/workflows/redeploy-production-from-tag.yml
  README.md
  apps/server/Dockerfile
  apps/server/package.json
  bin/push_docker.js
  bin/yarn
  docs/library-publishing.md
  docs/nx-monorepo-integration-overview.md
  package.json
Due: app_server

ci: avoid shell interpolation of release artifact input
  .github/workflows/create_docker_image.yml
Due: none

Add role dialog to component Modal from ui-kit [WPB-22420]
  libraries/react-ui-kit/src/Surface/Modal/Modal.tsx
Due: none
