Repository wireapp/wire-webapp: changes, and which Codecov flags are due for each by the changed paths.
All: app_webapp, app_server, lib_core, lib_api_client

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '45...80'
  status:
    project:
      default:
        target: auto
      app_webapp:
        target: auto
        flags:
          - app_webapp
      app_server:
        target: auto
        flags:
          - app_server
      lib_core:
        target: auto
        flags:
          - lib_core
      lib_api_client:
        target: auto
        flags:
          - lib_api_client
    patch:
      default:
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: 'diff, flags, files'
  behavior: default
  require_changes: no

flags:
  app_webapp:
    paths:
      - 'apps/webapp/**'
    carryforward: false
  app_server:
    paths:
      - 'apps/server/**'
    carryforward: true
  lib_core:
    paths:
      - 'libraries/core/**'
    carryforward: true
  lib_api_client:
    paths:
      - 'libraries/api-client/**'
    carryforward: true

github_checks:
  annotations: false

Make dependency on @wireapp/commons explicit [WPB-22420]
  apps/webapp/package.json
  libraries/api-client/package.json
  libraries/core/package.json
  package.json
  yarn.lock
Due: app_webapp, lib_core, lib_api_client

Make api-client depend on its dependencies being built
  libraries/api-client/project.json
Due: lib_api_client

fix: User can't search by folder name(WPB-25672)
  apps/webapp/src/script/components/Conversation/ConversationCells/useConversationSearch/useConversationSearchFiles.ts
Due: app_webapp

fix: remove useMemo that froze conversationPath to the conversation root
  apps/webapp/src/script/components/Conversation/ConversationCells/useGetAllCellsNodes/useGetAllCellsNodes.ts
Due: app_webapp

fix: allow legacy search when new shared drive search is disabled
  apps/webapp/src/script/components/Conversation/Conversation.tsx
  apps/webapp/src/script/components/Conversation/ConversationCells/ConversationCells.tsx
  apps/webapp/src/script/components/Conversation/ConversationCells/useConversationSearch/useConversationSearchFiles.test.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/useConversationSearch/useConversationSearchFiles.ts
Due: app_webapp

feat: recursive search for drive folders
  apps/webapp/src/script/components/Conversation/Conversation.tsx
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsTable/CellsTable.tsx
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsTableColumns.tsx
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsTableNameColumn/CellsTableNameColumn.tsx
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsTableRowOptions/CellsTableRowOptions.tsx
  apps/webapp/src/script/components/Conversation/ConversationCells/ConversationCells.tsx
  apps/webapp/src/script/components/Conversation/ConversationCells/common/openFolder/openFolder.test.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/common/openFolder/openFolder.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/useConversationSearch/useConversationSearchFiles.test.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/useConversationSearch/useConversationSearchFiles.ts
  apps/webapp/src/script/repositories/cells/cellsRepository.ts
  libraries/api-client/src/cells/cellsApi.test.ts
  libraries/api-client/src/cells/cellsApi.ts
Due: app_webapp, lib_api_client

feat: make search/filtering recursive and scoped to current folder
  apps/webapp/src/script/components/Conversation/ConversationCells/useConversationSearch/useConversationSearchFiles.test.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/useConversationSearch/useConversationSearchFiles.ts
Due: app_webapp

chore: remove semantic pull request title enforcement (#21043)
  .github/pr-title-checker-config.json
  .github/workflows/semantic-commit-lint.yml
Due: none

Allow reply action to be retried [WPB-22420]
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/conversation.page.ts
Due: app_webapp

ci(wire-builds): push new release tag to wire-builds [WPB-25848]
  .github/workflows/publish.yml
Due: none

Remove unused meeting list UI elements [WPB-20285]
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingList.tsx
  apps/webapp/src/script/components/Meeting/MeetingList/TodayAndOngoingSection/TodayAndOngoingSection.tsx
  apps/webapp/src/types/i18n.d.ts
Due: app_webapp

Add meetings API client module [WPB-20287]
  libraries/api-client/src/meetings/index.ts
  libraries/api-client/src/meetings/meeting.ts
  libraries/api-client/src/meetings/meetingEmailsInvitation.ts
  libraries/api-client/src/meetings/meetingRecurrence.ts
  libraries/api-client/src/meetings/meetingsApi.ts
  libraries/api-client/src/meetings/newMeeting.ts
  libraries/api-client/src/meetings/updateMeeting.ts
Due: lib_api_client

fix copyright year to 2026 in meetings API module [WPB-20287]
  libraries/api-client/src/meetings/index.ts
  libraries/api-client/src/meetings/meeting.ts
  libraries/api-client/src/meetings/meetingEmailsInvitation.ts
  libraries/api-client/src/meetings/meetingRecurrence.ts
  libraries/api-client/src/meetings/meetingsApi.ts
  libraries/api-client/src/meetings/newMeeting.ts
  libraries/api-client/src/meetings/updateMeeting.ts
Due: lib_api_client

Rename NewMeeting to CreateMeeting
  libraries/api-client/src/meetings/createMeeting.ts
  libraries/api-client/src/meetings/index.ts
  libraries/api-client/src/meetings/meetingsApi.ts
Due: lib_api_client

Improve meetings empty state layout and centralize meet/schedule handlers in a shared hook so the empty list and toolbar use the same entry points.
  apps/webapp/src/script/components/Meeting/EmptyMeetingList/EmptyListStyles.ts
  apps/webapp/src/script/components/Meeting/EmptyMeetingList/EmptyMeetingList.tsx
  apps/webapp/src/script/components/Meeting/MeetNowMultiActionButton/MeetNowMultiActionButton.tsx
  apps/webapp/src/script/components/Meeting/useMeetingActions.ts
Due: app_webapp

Add date, time, and datetime picker fields to react-ui-kit
  libraries/react-ui-kit/package.json
  libraries/react-ui-kit/src/Inputs/DatePickerField/DatePickerField.stories.tsx
  libraries/react-ui-kit/src/Inputs/DatePickerField/DatePickerField.styles.ts
  libraries/react-ui-kit/src/Inputs/DatePickerField/DatePickerField.test.tsx
  libraries/react-ui-kit/src/Inputs/DatePickerField/DatePickerField.tsx
  libraries/react-ui-kit/src/Inputs/DatePickerField/__snapshots__/DatePickerField.test.tsx.snap
  libraries/react-ui-kit/src/Inputs/DatePickerField/index.ts
  libraries/react-ui-kit/src/Inputs/DateTimePickerField/DateTimePickerField.stories.tsx
  libraries/react-ui-kit/src/Inputs/DateTimePickerField/DateTimePickerField.styles.ts
  libraries/react-ui-kit/src/Inputs/DateTimePickerField/DateTimePickerField.test.tsx
  libraries/react-ui-kit/src/Inputs/DateTimePickerField/DateTimePickerField.tsx
  libraries/react-ui-kit/src/Inputs/DateTimePickerField/__snapshots__/DateTimePickerField.test.tsx.snap
  libraries/react-ui-kit/src/Inputs/DateTimePickerField/dateTimeUtils.ts
  libraries/react-ui-kit/src/Inputs/DateTimePickerField/index.ts
  libraries/react-ui-kit/src/Inputs/InputLabel/InputLabel.tsx
  libraries/react-ui-kit/src/Inputs/TimePickerField/TimePickerField.stories.tsx
  libraries/react-ui-kit/src/Inputs/TimePickerField/TimePickerField.styles.ts
  libraries/react-ui-kit/src/Inputs/TimePickerField/TimePickerField.test.tsx
  libraries/react-ui-kit/src/Inputs/TimePickerField/TimePickerField.tsx
  libraries/react-ui-kit/src/Inputs/TimePickerField/__snapshots__/TimePickerField.test.tsx.snap
  libraries/react-ui-kit/src/Inputs/TimePickerField/index.ts
  libraries/react-ui-kit/src/Inputs/TimePickerField/timePickerUtils.ts
  libraries/react-ui-kit/src/Inputs/index.ts
  libraries/react-ui-kit/src/utils/overlayPortal.ts
  yarn.lock
Due: none

fix(react-ui-kit): polish picker and select styling [WPB-25054]
  libraries/react-ui-kit/src/Identity/GlobalCssVariables/GlobalCssVariables.tsx
  libraries/react-ui-kit/src/Identity/Theme/Theme.tsx
  libraries/react-ui-kit/src/Inputs/DatePickerField/DatePickerField.styles.ts
  libraries/react-ui-kit/src/Inputs/DatePickerField/DatePickerField.tsx
  libraries/react-ui-kit/src/Inputs/DatePickerField/__snapshots__/DatePickerField.test.tsx.snap
  libraries/react-ui-kit/src/Inputs/DateTimePickerField/DateTimePickerField.styles.ts
  libraries/react-ui-kit/src/Inputs/DateTimePickerField/DateTimePickerField.tsx
  libraries/react-ui-kit/src/Inputs/DateTimePickerField/__snapshots__/DateTimePickerField.test.tsx.snap
  libraries/react-ui-kit/src/Inputs/Select/BaseSelect/BaseSelect.styles.ts
  libraries/react-ui-kit/src/Inputs/Select/Select.styles.ts
  libraries/react-ui-kit/src/Inputs/Select/__snapshots__/Select.test.tsx.snap
  libraries/react-ui-kit/src/Inputs/TimePickerField/TimePickerField.styles.ts
  libraries/react-ui-kit/src/Inputs/TimePickerField/TimePickerField.tsx
  libraries/react-ui-kit/src/Inputs/TimePickerField/__snapshots__/TimePickerField.test.tsx.snap
Due: none

update react-ui-kit snapshots
  libraries/react-ui-kit/src/Inputs/DatePickerField/__snapshots__/DatePickerField.test.tsx.snap
Due: none

feat: report critical flow failures only for scheduled runs
  .github/workflows/precommit-crit-flows.yml
Due: none

fix: ignore stale conversation search responses
  apps/webapp/src/script/components/Conversation/ConversationCells/useConversationSearch/requestVersionGate.test.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/useConversationSearch/requestVersionGate.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/useConversationSearch/useConversationSearchFiles.test.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/useConversationSearch/useConversationSearchFiles.ts
Due: app_webapp

fix: stale state handoff in Conversation Files when leaving the dedicated search view.
  apps/webapp/src/script/components/Conversation/ConversationCells/ConversationCells.tsx
Due: app_webapp

fix: stale pagination numbers after clearing search
  apps/webapp/src/script/components/Conversation/ConversationCells/useConversationSearch/useConversationSearchFiles.test.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/useConversationSearch/useConversationSearchFiles.ts
Due: app_webapp

feat: add de-DE translations
  apps/webapp/src/i18n/de-DE.json
Due: app_webapp

Increase timeout for guestroom test [WPB-22420]
  apps/webapp/test/e2e_tests/specs/Guestroom/guestroom.spec.ts
Due: app_webapp

Add Schedule Meeting modal [WPB-25054]
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/Meeting/MeetingParticipantsPicker/MeetingParticipantsPicker.styles.ts
  apps/webapp/src/script/components/Meeting/MeetingParticipantsPicker/MeetingParticipantsPicker.test.tsx
  apps/webapp/src/script/components/Meeting/MeetingParticipantsPicker/MeetingParticipantsPicker.tsx
  apps/webapp/src/script/components/Meeting/MeetingParticipantsPicker/formatSelectedSummary.ts
  apps/webapp/src/script/components/Meeting/MeetingParticipantsPicker/index.ts
  apps/webapp/src/script/components/Meeting/MeetingParticipantsPicker/participantPickerUtils.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/ScheduleMeetingForm.styles.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/ScheduleMeetingForm.tsx
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/ScheduleMeetingModal.styles.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/ScheduleMeetingModal.tsx
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/index.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingRecurrence.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingTypes.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingValidation.test.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingValidation.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/useScheduleMeetingModal.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/useScheduleMeetingParticipants.ts
  apps/webapp/src/script/components/Meeting/useMeetingActions.ts
  apps/webapp/src/types/i18n.d.ts
  libraries/react-ui-kit/src/Inputs/DatePickerField/DatePickerField.styles.ts
  libraries/react-ui-kit/src/Inputs/DatePickerField/__snapshots__/DatePickerField.test.tsx.snap
  libraries/react-ui-kit/src/Inputs/DateTimePickerField/DateTimePickerField.styles.ts
  libraries/react-ui-kit/src/Inputs/DateTimePickerField/__snapshots__/DateTimePickerField.test.tsx.snap
  libraries/react-ui-kit/src/Inputs/Select/BaseSelect/BaseSelect.styles.ts
  libraries/react-ui-kit/src/Inputs/Select/Select.styles.ts
  libraries/react-ui-kit/src/Inputs/Select/Select.tsx
  libraries/react-ui-kit/src/Inputs/Select/SelectContainer/SelectContainer.tsx
  libraries/react-ui-kit/src/Inputs/Select/__snapshots__/Select.test.tsx.snap
  libraries/react-ui-kit/src/Inputs/TimePickerField/TimePickerField.styles.ts
  libraries/react-ui-kit/src/Inputs/TimePickerField/TimePickerField.tsx
  libraries/react-ui-kit/src/Inputs/TimePickerField/__snapshots__/TimePickerField.test.tsx.snap
  libraries/react-ui-kit/src/utils/index.ts
Due: app_webapp

fix: format scheduleMeetingValidation test import for CI
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingValidation.test.ts
Due: app_webapp

Change title of e2e test report description [WPB-22420]
  .github/workflows/e2e-tests-nightly.yml
Due: none

fix: ignore stale default drive fetches
  apps/webapp/src/script/components/Conversation/ConversationCells/useGetAllCellsNodes/useGetAllCellsNodes.test.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/useGetAllCellsNodes/useGetAllCellsNodes.ts
Due: app_webapp

fix: stabilize shared Drive loading state(WPB-26425)
  apps/webapp/src/script/components/Conversation/ConversationCells/useConversationSearch/useConversationSearchFiles.ts
Due: app_webapp

wip
  .env.localhost
  apps/webapp/__mocks__/@wireapp/core.ts
  apps/webapp/setupTests.js
  apps/webapp/src/page/auth.ejs
  apps/webapp/src/page/index.ejs
  apps/webapp/webpack.config.common.js
  libraries/core/package.json
  libraries/core/src/account.ts
  libraries/core/src/conversation/conversationService/conversationService.test.ts
  libraries/core/src/conversation/conversationService/conversationService.ts
  libraries/core/src/messagingProtocols/mls/ciphersuite.ts
  libraries/core/src/messagingProtocols/mls/coreCryptoV10.ts
  libraries/core/src/messagingProtocols/mls/e2eIdentityService/e2eiService.types.ts
  libraries/core/src/messagingProtocols/mls/e2eIdentityService/e2eiServiceExternal.test.ts
  libraries/core/src/messagingProtocols/mls/e2eIdentityService/e2eiServiceExternal.ts
  libraries/core/src/messagingProtocols/mls/e2eIdentityService/e2eiServiceInternal.ts
  libraries/core/src/messagingProtocols/mls/e2eIdentityService/helper/index.ts
  libraries/core/src/messagingProtocols/mls/eventHandler/events/messageAdd/messageAdd.ts
  libraries/core/src/messagingProtocols/mls/eventHandler/events/welcomeMessage/welcomeMessage.test.ts
  libraries/core/src/messagingProtocols/mls/index.ts
  libraries/core/src/messagingProtocols/mls/mlsService/commitBundleUtil.test.ts
  libraries/core/src/messagingProtocols/mls/mlsService/commitBundleUtil.ts
  libraries/core/src/messagingProtocols/mls/mlsService/coreCryptoMlsError.test.ts
  libraries/core/src/messagingProtocols/mls/mlsService/coreCryptoMlsError.ts
  libraries/core/src/messagingProtocols/mls/mlsService/mlsService.test.ts
  libraries/core/src/messagingProtocols/mls/mlsService/mlsService.ts
  libraries/core/src/messagingProtocols/mls/mlsService/mlsService.types.ts
  libraries/core/src/messagingProtocols/mls/recovery/mlsErrorMapper.test.ts
  libraries/core/src/messagingProtocols/mls/recovery/mlsErrorMapper.ts
  libraries/core/src/messagingProtocols/proteus/proteusService/cryptoClient/coreCryptoWrapper/coreCryptoWrapper.ts
  libraries/core/src/messagingProtocols/proteus/proteusService/decryptionErrorGenerator/decryptionErrorGenerator.ts
  yarn.lock
Due: app_webapp, lib_core

docs: add instructions to prevent CORS when fetching `self/consent`
  README.md
Due: none

Integrate meetings UI with backend [WPB-25678]
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingList.tsx
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/ScheduleMeetingForm.tsx
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/ScheduleMeetingModal.tsx
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/index.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingNotifier.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingRecurrence.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingService.test.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingService.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingService.types.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/useScheduleMeetingSubmit.ts
  apps/webapp/src/script/components/Meeting/loadMeetingsList.test.ts
  apps/webapp/src/script/components/Meeting/loadMeetingsList.ts
  apps/webapp/src/script/components/Meeting/mapApiMeetingToListMeeting.test.ts
  apps/webapp/src/script/components/Meeting/mapApiMeetingToListMeeting.ts
  apps/webapp/src/script/components/Meeting/mapScheduleFormToCreateMeeting.test.ts
  apps/webapp/src/script/components/Meeting/mapScheduleFormToCreateMeeting.ts
  apps/webapp/src/script/components/Meeting/mocks/MeetingMocks.ts
  apps/webapp/src/script/components/Meeting/partitionMeetingsByDay.test.ts
  apps/webapp/src/script/components/Meeting/partitionMeetingsByDay.ts
  apps/webapp/src/script/components/Meeting/useMeetingsList.ts
  apps/webapp/src/script/main/app.ts
  apps/webapp/src/script/repositories/meetings/index.ts
  apps/webapp/src/script/repositories/meetings/meetingsApiDataSource.test.ts
  apps/webapp/src/script/repositories/meetings/meetingsApiDataSource.ts
  apps/webapp/src/script/repositories/meetings/meetingsDataSource.ts
  apps/webapp/src/script/repositories/meetings/meetingsRepository.ts
  apps/webapp/src/script/view_model/MainViewModel.ts
  apps/webapp/src/types/i18n.d.ts
  libraries/api-client/src/apiClient.ts
  libraries/api-client/src/meetings/meetingsApi.test.ts
  libraries/api-client/src/meetings/meetingsApi.ts
  libraries/config/src/client.config.spec.ts
  libraries/config/src/client.config.ts
Due: app_webapp, lib_api_client

update translations files
  apps/webapp/src/i18n/en-US.json
Due: app_webapp

fix: WPB-26424 Display basic metadata on received assets even if remote is missing
  apps/webapp/src/script/repositories/cryptography/CryptographyMapper.ts
Due: app_webapp

Use static date for snapshot test [WPB-22420]
  libraries/react-ui-kit/src/Inputs/DatePickerField/DatePickerField.test.tsx
Due: none

test: reduce Jest output noise in continuous integration
  apps/server/jest.config.js
  apps/webapp/jest.config.ts
  libraries/api-client/jest.config.js
  libraries/core/jest.config.js
Due: app_webapp, app_server, lib_core, lib_api_client

fix: update `TrackProcessor` to support `globalThis` for cross-environment compatibility
  apps/webapp/src/script/repositories/media/backgroundEffects/pipe/processor.ts
Due: app_webapp

fix: handle `VideoFrame` creation errors in background effects processor
  apps/webapp/src/script/repositories/media/backgroundEffects/pipe/processor.ts
Due: app_webapp
