Repository wireapp/wire-webapp: changes, and which Codecov flags are due for each by the changed paths.
All: app_webapp, app_server, lib_core, lib_api_client

chore: extend incremental filename enforcement to api-client auth
  .ls-lint.yml
  libraries/api-client/src/APIClient.test.ts
  libraries/api-client/src/APIClient.ts
  libraries/api-client/src/auth/accessTokenData.ts
  libraries/api-client/src/auth/accessTokenStore.ts
  libraries/api-client/src/auth/authApi.test.ts
  libraries/api-client/src/auth/authApi.ts
  libraries/api-client/src/auth/authenticationError.ts
  libraries/api-client/src/auth/clientPreKey.ts
  libraries/api-client/src/auth/context.ts
  libraries/api-client/src/auth/cookie.ts
  libraries/api-client/src/auth/cookieList.ts
  libraries/api-client/src/auth/cookieStore.ts
  libraries/api-client/src/auth/index.ts
  libraries/api-client/src/auth/loginCodeResponse.ts
  libraries/api-client/src/auth/loginData.ts
  libraries/api-client/src/auth/preKey.ts
  libraries/api-client/src/auth/preKeyBundle.ts
  libraries/api-client/src/auth/registerData.ts
  libraries/api-client/src/auth/verificationActionType.ts
  libraries/api-client/src/cells/cellsApi.test.ts
  libraries/api-client/src/cells/cellsStorage/s3Service.test.ts
  libraries/api-client/src/services/service.ts
  libraries/api-client/src/shims/node/cookie.ts
  libraries/api-client/src/tcp/webSocketClient.test.ts
  libraries/api-client/src/user/UserAPI.ts
Due: lib_api_client

chore: extend incremental filename enforcement to conversation data
  .ls-lint.yml
  apps/webapp/src/script/auth/module/action/ConversationAction.ts
  apps/webapp/src/script/auth/module/action/creator/ConversationActionCreator.ts
  apps/webapp/src/script/auth/module/reducer/conversationReducer.ts
  apps/webapp/src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
  apps/webapp/src/script/repositories/conversation/ConversationRepository.ts
  libraries/api-client/src/conversation/NewConversation.ts
  libraries/api-client/src/conversation/data/conversationAccessUpdateData.ts
  libraries/api-client/src/conversation/data/conversationAddPermissionUpdateData.ts
  libraries/api-client/src/conversation/data/conversationCodeUpdateData.ts
  libraries/api-client/src/conversation/data/conversationConnectRequestData.ts
  libraries/api-client/src/conversation/data/conversationCreateData.ts
  libraries/api-client/src/conversation/data/conversationJoinData.ts
  libraries/api-client/src/conversation/data/conversationMemberJoinData.ts
  libraries/api-client/src/conversation/data/conversationMemberLeaveData.ts
  libraries/api-client/src/conversation/data/conversationMemberUpdateData.ts
  libraries/api-client/src/conversation/data/conversationMessageTimerUpdateData.ts
  libraries/api-client/src/conversation/data/conversationMlsMessageAddData.ts
  libraries/api-client/src/conversation/data/conversationMlsResetData.ts
  libraries/api-client/src/conversation/data/conversationMlsWelcomeData.ts
  libraries/api-client/src/conversation/data/conversationNameUpdateData.ts
  libraries/api-client/src/conversation/data/conversationOtrMessageAddData.ts
  libraries/api-client/src/conversation/data/conversationProtocolUpdateData.ts
  libraries/api-client/src/conversation/data/conversationReceiptModeUpdateData.ts
  libraries/api-client/src/conversation/data/conversationRenameData.ts
  libraries/api-client/src/conversation/data/conversationTypingData.ts
  libraries/api-client/src/conversation/data/index.ts
  libraries/api-client/src/event/conversationEvent.ts
Due: app_webapp, lib_api_client

chore: extend incremental filename enforcement to api-client events
  .ls-lint.yml
  libraries/api-client/src/event/backendEvent.ts
  libraries/api-client/src/event/conversationEvent.ts
  libraries/api-client/src/event/federationEvent.ts
  libraries/api-client/src/event/index.ts
  libraries/api-client/src/event/teamEvent.ts
  libraries/api-client/src/event/userEvent.ts
  libraries/api-client/src/event/userGroupEvent.ts
Due: lib_api_client

chore: extend incremental filename enforcement to api-client http
  .ls-lint.yml
  libraries/api-client/src/http/abortableWait.test.ts
  libraries/api-client/src/http/abortableWait.ts
  libraries/api-client/src/http/backendError.ts
  libraries/api-client/src/http/backendErrorLabel.ts
  libraries/api-client/src/http/backendErrorMapper.test.ts
  libraries/api-client/src/http/backendErrorMapper.ts
  libraries/api-client/src/http/connectionState.ts
  libraries/api-client/src/http/contentType.ts
  libraries/api-client/src/http/httpClient.test.ts
  libraries/api-client/src/http/httpClient.ts
  libraries/api-client/src/http/incrementalRetryBackoff.test.ts
  libraries/api-client/src/http/incrementalRetryBackoff.ts
  libraries/api-client/src/http/incrementalRetryBackoffRunner.test.ts
  libraries/api-client/src/http/incrementalRetryBackoffRunner.ts
  libraries/api-client/src/http/index.ts
  libraries/api-client/src/http/networkError.ts
  libraries/api-client/src/http/requestCancelable.ts
  libraries/api-client/src/http/requestProgressHandler.ts
  libraries/api-client/src/http/traceState.ts
Due: lib_api_client

chore: extend incremental filename enforcement to team core
  .ls-lint.yml
  apps/webapp/src/script/repositories/team/TeamRepository.ts
  libraries/api-client/src/auth/registerData.ts
  libraries/api-client/src/team/legalhold/legalHoldApi.ts
  libraries/api-client/src/team/member/MemberAPI.ts
  libraries/api-client/src/team/team/app/newApp.ts
  libraries/api-client/src/team/team/app/newAppRequest.ts
  libraries/api-client/src/team/team/app/newAppResponse.ts
  libraries/api-client/src/team/team/index.ts
  libraries/api-client/src/team/team/leadData.ts
  libraries/api-client/src/team/team/newTeamData.ts
  libraries/api-client/src/team/team/teamApi.ts
  libraries/api-client/src/team/team/teamChunkData.ts
  libraries/api-client/src/team/team/teamData.ts
  libraries/api-client/src/team/team/teamInfo.ts
  libraries/api-client/src/team/team/teamSizeData.ts
  libraries/api-client/src/team/team/updateTeamData.ts
Due: app_webapp, lib_api_client

chore: extend incremental filename enforcement to team service
  .ls-lint.yml
  libraries/api-client/src/team/service/index.ts
  libraries/api-client/src/team/service/provider.ts
  libraries/api-client/src/team/service/service.ts
  libraries/api-client/src/team/service/serviceApi.ts
  libraries/api-client/src/team/service/serviceWhitelistData.ts
  libraries/api-client/src/team/service/services.ts
Due: lib_api_client

chore: record api-client team member and payment filename renames
  libraries/api-client/src/team/member/memberApi.ts
  libraries/api-client/src/team/member/memberCsvResponse.ts
  libraries/api-client/src/team/member/memberData.ts
  libraries/api-client/src/team/member/members.ts
  libraries/api-client/src/team/member/permissions.test.ts
  libraries/api-client/src/team/member/permissions.ts
  libraries/api-client/src/team/member/permissionsData.ts
  libraries/api-client/src/team/member/role.test.ts
  libraries/api-client/src/team/member/role.ts
  libraries/api-client/src/team/member/updatedMemberData.ts
  libraries/api-client/src/team/payment/invoiceData.ts
  libraries/api-client/src/team/payment/paymentApi.ts
  libraries/api-client/src/team/payment/paymentBillingData.ts
  libraries/api-client/src/team/payment/paymentData.ts
  libraries/api-client/src/team/payment/paymentDataUpdate.ts
  libraries/api-client/src/team/payment/paymentInterval.ts
  libraries/api-client/src/team/payment/paymentPlan.ts
  libraries/api-client/src/team/payment/paymentStripeCharge.ts
  libraries/api-client/src/team/payment/paymentStripeInvoice.ts
  libraries/api-client/src/team/payment/paymentStripeInvoices.ts
  libraries/api-client/src/team/payment/paymentStripePlan.ts
  libraries/api-client/src/team/payment/supportedCurrency.ts
Due: lib_api_client

chore: extend incremental filename enforcement to team payment
  .ls-lint.yml
  libraries/api-client/src/team/payment/PaymentBillingData.ts
  libraries/api-client/src/team/payment/PaymentData.ts
  libraries/api-client/src/team/payment/PaymentStripeInvoice.ts
  libraries/api-client/src/team/payment/PaymentStripeInvoices.ts
  libraries/api-client/src/team/payment/index.ts
Due: lib_api_client

chore: extend incremental filename enforcement to team conversation
  .ls-lint.yml
  libraries/api-client/src/team/conversation/index.ts
  libraries/api-client/src/team/conversation/teamConversation.ts
  libraries/api-client/src/team/conversation/teamConversationApi.ts
Due: lib_api_client

chore: extend incremental filename enforcement to team sso
  .ls-lint.yml
  libraries/api-client/src/team/sso/index.ts
  libraries/api-client/src/team/sso/ssoApi.ts
  libraries/api-client/src/team/sso/ssoApi.types.ts
Due: lib_api_client

chore: extend incremental filename enforcement to team billing
  .ls-lint.yml
  libraries/api-client/src/team/billing/billingApi.ts
  libraries/api-client/src/team/billing/billingInfo.ts
  libraries/api-client/src/team/billing/billingTeamData.ts
  libraries/api-client/src/team/billing/cardData.ts
  libraries/api-client/src/team/billing/index.ts
  libraries/api-client/src/team/billing/invoiceData.ts
  libraries/api-client/src/team/billing/invoiceListData.ts
  libraries/api-client/src/team/billing/invoiceUpcomingData.ts
  libraries/api-client/src/team/billing/planData.ts
  libraries/api-client/src/team/billing/supportedCurrency.ts
Due: lib_api_client

chore: extend incremental filename enforcement to team invitation
  .ls-lint.yml
  apps/webapp/src/script/repositories/team/TeamService.ts
  libraries/api-client/src/team/invitation/index.ts
  libraries/api-client/src/team/invitation/invitationError.ts
  libraries/api-client/src/team/invitation/newTeamInvitation.ts
  libraries/api-client/src/team/invitation/teamInvitation.ts
  libraries/api-client/src/team/invitation/teamInvitationApi.ts
  libraries/api-client/src/team/invitation/teamInvitationChunk.ts
  libraries/api-client/src/team/invitation/teamMigrationPayload.ts
Due: app_webapp, lib_api_client

chore: extend incremental filename enforcement to core giphy service
  .ls-lint.yml
  libraries/core/src/giphy/giphyService.ts
  libraries/core/src/giphy/index.ts
Due: lib_core

chore: extend incremental filename enforcement to team search
  .ls-lint.yml
  libraries/api-client/src/team/search/channelSearchOptions.ts
  libraries/api-client/src/team/search/channelSearchResult.ts
  libraries/api-client/src/team/search/index.ts
  libraries/api-client/src/team/search/teamContact.ts
  libraries/api-client/src/team/search/teamSearchApi.ts
  libraries/api-client/src/team/search/teamSearchOptions.ts
  libraries/api-client/src/team/search/teamSearchResult.ts
Due: lib_api_client

chore: extend incremental filename enforcement to team member
  .ls-lint.yml
  apps/webapp/src/script/repositories/team/TeamMemberEntity.ts
  apps/webapp/src/script/repositories/team/TeamRepository.ts
  apps/webapp/src/script/repositories/user/UserPermission.ts
  libraries/api-client/src/team/data/teamMemberUpdateData.ts
  libraries/api-client/src/team/member/MemberAPI.ts
  libraries/api-client/src/team/member/MemberData.ts
  libraries/api-client/src/team/member/Members.ts
  libraries/api-client/src/team/member/Permissions.test.ts
  libraries/api-client/src/team/member/PermissionsData.ts
  libraries/api-client/src/team/member/Role.test.ts
  libraries/api-client/src/team/member/Role.ts
  libraries/api-client/src/team/member/UpdatedMemberData.ts
  libraries/api-client/src/team/member/index.ts
  libraries/api-client/src/team/team/newTeamData.ts
Due: app_webapp, lib_api_client

chore: extend incremental filename enforcement to team legalhold
  .ls-lint.yml
  apps/webapp/src/script/repositories/team/TeamMemberEntity.ts
  libraries/api-client/src/team/legalhold/index.ts
  libraries/api-client/src/team/legalhold/legalHoldApi.ts
  libraries/api-client/src/team/legalhold/legalHoldData.ts
  libraries/api-client/src/team/legalhold/legalHoldMemberStatus.ts
  libraries/api-client/src/team/legalhold/newLegalHoldData.ts
Due: app_webapp, lib_api_client

chore: extend incremental filename enforcement to core account service
  .ls-lint.yml
  libraries/core/src/account/accountService.ts
  libraries/core/src/account/index.ts
Due: lib_core

chore: extend incremental filename enforcement to api-client entrypoints
  .ls-lint.yml
  apps/webapp/src/script/Config.ts
  libraries/api-client/README.md
  libraries/api-client/package.json
  libraries/api-client/src/apiClient.test.ts
  libraries/api-client/src/apiClient.ts
  libraries/api-client/src/auth/authApi.test.ts
  libraries/api-client/src/config.ts
  libraries/api-client/src/conversation/conversationApi/conversationApi.ts
  libraries/api-client/src/http/httpClient.ts
  libraries/api-client/src/tcp/webSocketClient.test.ts
  libraries/api-client/src/tcp/webSocketClient.ts
  libraries/api-client/src/user/userApi.ts
  libraries/core/src/Account.test.ts
  libraries/core/src/conversation/ConversationService/Utility/getConversationQualifiedMembers.ts
  libraries/core/src/messagingProtocols/proteus/ProteusService/ProteusService.ts
  libraries/core/src/messagingProtocols/proteus/Utility/Recipients.ts
  libraries/core/src/messagingProtocols/proteus/Utility/getGenericMessageParams.ts
  tsconfig.eslint.json
Due: app_webapp, lib_core, lib_api_client

chore: extend incremental filename enforcement to team scim
  .ls-lint.yml
  libraries/api-client/src/APIClient.ts
  libraries/api-client/src/team/scim/index.ts
  libraries/api-client/src/team/scim/newScimToken.ts
  libraries/api-client/src/team/scim/scimApi.ts
  libraries/api-client/src/team/scim/scimTokenInfo.ts
  libraries/api-client/src/team/scim/scimTokenInfoList.ts
Due: lib_api_client

chore: extend incremental filename enforcement to core connection service
  .ls-lint.yml
  libraries/core/src/connection/connectionService.ts
  libraries/core/src/connection/index.ts
Due: lib_core

fix: stale api-client import casing in core and webapp
  apps/webapp/src/script/auth/hooks/useEnterpriseLoginV2.ts
  apps/webapp/src/script/auth/module/action/AuthAction.ts
  apps/webapp/src/script/auth/module/action/creator/AuthActionCreator.ts
  apps/webapp/src/script/auth/module/reducer/authReducer.ts
  apps/webapp/src/script/repositories/calling/CallingRepository.ts
  apps/webapp/src/script/repositories/entity/message/DeleteConversationMessage.ts
  apps/webapp/src/script/repositories/extension/GiphyRepository.test.ts
  apps/webapp/src/script/repositories/team/TeamRepository.ts
  libraries/core/src/account/AccountService.ts
Due: app_webapp, lib_core

chore: extend incremental filename enforcement to team feature
  .ls-lint.yml
  apps/webapp/setupTests.js
  libraries/api-client/src/team/feature/featureApi.ts
  libraries/api-client/src/team/feature/featureError.ts
  libraries/api-client/src/team/feature/featureList.helper.ts
  libraries/api-client/src/team/feature/featureList.schema.ts
  libraries/api-client/src/team/feature/featureList.types.ts
  libraries/api-client/src/team/feature/index.ts
Due: app_webapp, lib_api_client

chore: extend incremental filename enforcement to team data
  .ls-lint.yml
  libraries/api-client/src/team/data/index.ts
  libraries/api-client/src/team/data/teamConversationCreateData.ts
  libraries/api-client/src/team/data/teamConversationDeleteData.ts
  libraries/api-client/src/team/data/teamFeatureConfigurationUpdateEventData.ts
  libraries/api-client/src/team/data/teamMemberJoinData.ts
  libraries/api-client/src/team/data/teamMemberLeaveData.ts
  libraries/api-client/src/team/data/teamMemberUpdateData.ts
  libraries/api-client/src/team/data/teamUpdateData.ts
Due: lib_api_client

chore: extend incremental filename enforcement to team root
  .ls-lint.yml
  libraries/api-client/src/team/index.ts
  libraries/api-client/src/team/teamError.ts
Due: lib_api_client

chore: extend incremental filename enforcement to core self service
  .ls-lint.yml
  libraries/core/src/self/index.ts
  libraries/core/src/self/selfService.test.ts
  libraries/core/src/self/selfService.ts
Due: lib_core

chore: extend incremental filename enforcement to team identity provider
  .ls-lint.yml
  libraries/api-client/src/team/identityprovider/identityProvider.ts
  libraries/api-client/src/team/identityprovider/identityProviderApi.ts
  libraries/api-client/src/team/identityprovider/identityProviders.ts
  libraries/api-client/src/team/identityprovider/index.ts
Due: lib_api_client

feat(webapp): add YouTube iframe referrerpolicy for embed rendering (#20767)
  apps/webapp/src/script/repositories/media/MediaEmbeds.test.ts
  apps/webapp/src/script/repositories/media/MediaEmbeds.ts
Due: app_webapp

feat(deeplink): extend parser for account-deeplinks to separate domain out of id
  apps/webapp/src/script/components/Conversation/Conversation.tsx
  apps/webapp/src/script/components/Conversation/utils/parseAccountDeepLink.ts
Due: app_webapp

feat(deeplink): renamed parsedQualifiedId to parseQualifiedId
  apps/webapp/src/script/components/Conversation/Conversation.tsx
  apps/webapp/src/script/components/Conversation/utils/parseAccountDeepLink.ts
Due: app_webapp

feat: ship incremental retry backoff by default
  apps/webapp/src/script/auth/main.tsx
  apps/webapp/src/script/featureToggles/startupFeatureToggles.test.ts
  apps/webapp/src/script/lifecycle/createIncrementalHttpRetryBackoffReset.test.ts
  apps/webapp/src/script/lifecycle/createIncrementalHttpRetryBackoffReset.ts
  apps/webapp/src/script/main/index.tsx
  apps/webapp/src/script/service/APIClientSingleton.test.ts
  apps/webapp/src/script/service/APIClientSingleton.ts
  apps/webapp/src/script/service/createAPIClient.test.ts
  apps/webapp/src/script/service/createAPIClient.ts
  libraries/api-client/src/APIClient.test.ts
  libraries/api-client/src/APIClient.ts
  libraries/api-client/src/http/HttpClient.test.ts
  libraries/api-client/src/http/HttpClient.ts
Due: app_webapp, lib_api_client

feat: ship incremental retry backoff by default
  apps/webapp/src/script/auth/main.tsx
  apps/webapp/src/script/featureToggles/startupFeatureToggleNames.ts
  apps/webapp/src/script/featureToggles/startupFeatureToggles.test.ts
  apps/webapp/src/script/lifecycle/createIncrementalHttpRetryBackoffReset.test.ts
  apps/webapp/src/script/lifecycle/createIncrementalHttpRetryBackoffReset.ts
  apps/webapp/src/script/main/index.tsx
  apps/webapp/src/script/service/APIClientSingleton.test.ts
  apps/webapp/src/script/service/APIClientSingleton.ts
  apps/webapp/src/script/service/createAPIClient.test.ts
  apps/webapp/src/script/service/createAPIClient.ts
  libraries/api-client/src/apiClient.test.ts
  libraries/api-client/src/apiClient.ts
  libraries/api-client/src/http/httpClient.test.ts
  libraries/api-client/src/http/httpClient.ts
Due: app_webapp, lib_api_client

feat(deeplink): added void to function inside handleMarkdownLinkClick to satisfy ESLint problems
  apps/webapp/src/script/components/Conversation/Conversation.tsx
Due: app_webapp

test: fix and re-enable group video call TC-8637 (WPB-23748)
  apps/webapp/test/e2e_tests/specs/CriticalFlow/groupVideoCall-TC-8637.spec.ts
Due: app_webapp

feat: ship incremental retry backoff by default (#20772)
  apps/webapp/src/script/auth/main.tsx
  apps/webapp/src/script/featureToggles/startupFeatureToggleNames.ts
  apps/webapp/src/script/featureToggles/startupFeatureToggles.test.ts
  apps/webapp/src/script/lifecycle/createIncrementalHttpRetryBackoffReset.test.ts
  apps/webapp/src/script/lifecycle/createIncrementalHttpRetryBackoffReset.ts
  apps/webapp/src/script/main/index.tsx
  apps/webapp/src/script/service/APIClientSingleton.test.ts
  apps/webapp/src/script/service/APIClientSingleton.ts
  apps/webapp/src/script/service/createAPIClient.test.ts
  apps/webapp/src/script/service/createAPIClient.ts
  libraries/api-client/src/apiClient.test.ts
  libraries/api-client/src/apiClient.ts
  libraries/api-client/src/http/httpClient.test.ts
  libraries/api-client/src/http/httpClient.ts
Due: app_webapp, lib_api_client

ci(github-actions): run precommit critical flow for all pull requests
  .github/workflows/precommit-crit-flows.yml
Due: none

ci(github-actions): run precommit critical flow for all pull requests (#20801)
  .github/workflows/precommit-crit-flows.yml
Due: none

chore: extend incremental filename enforcement to core team service
  .ls-lint.yml
  libraries/core/src/team/index.ts
  libraries/core/src/team/teamService.ts
Due: lib_core

chore: extend incremental filename enforcement to core user
  .ls-lint.yml
  libraries/core/src/user/index.ts
  libraries/core/src/user/userMapper.test.ts
  libraries/core/src/user/userMapper.ts
  libraries/core/src/user/userService.ts
Due: lib_core

chore: extend incremental filename enforcement to core notification
  .ls-lint.yml
  apps/webapp/src/script/repositories/event/NotificationService.ts
  apps/webapp/src/script/util/DebugUtil.ts
  libraries/core/src/notification/index.ts
  libraries/core/src/notification/notificationBackendRepository.ts
  libraries/core/src/notification/notificationDatabaseRepository.ts
  libraries/core/src/notification/notificationService.test.ts
  libraries/core/src/notification/notificationService.ts
  libraries/core/src/notification/notificationSource.types.ts
Due: app_webapp, lib_core

Path conditions:
  app_webapp: any of: apps/webapp/**
  app_server: any of: apps/server/**
  lib_core: any of: libraries/core/**
  lib_api_client: any of: libraries/api-client/**
