Repository wireapp/wire-webapp: changes, and which Codecov flags are due for each by the changed paths.
All: app_webapp, app_server, lib_core, lib_api_client

chore: bump AVS version to 10.4.5
  apps/webapp/package.json
  yarn.lock
Due: app_webapp

chore: re-use existing IntervalIdentifier
  libraries/api-client/src/tcp/reconnectingWebsocket.ts
Due: lib_api_client

feat: force WebSocket reconnect after wake from sleep
  apps/webapp/project.json
  apps/webapp/src/script/auth/main.tsx
  apps/webapp/src/script/auth/page/login/util.test.ts
  apps/webapp/src/script/main/index.tsx
  apps/webapp/src/script/service/apiClientSingleton.test.ts
  apps/webapp/src/script/service/apiClientSingleton.ts
  apps/webapp/src/script/service/createApiClient.test.ts
  apps/webapp/src/script/service/createApiClient.ts
  libraries/api-client/src/apiClient.ts
  libraries/api-client/src/tcp/index.ts
  libraries/api-client/src/tcp/reconnectingWebsocket.backFromSleep.test.ts
  libraries/api-client/src/tcp/reconnectingWebsocket.test.ts
  libraries/api-client/src/tcp/reconnectingWebsocket.ts
  libraries/api-client/src/tcp/webSocketClient.test.ts
  libraries/api-client/src/tcp/webSocketClient.ts
Due: app_webapp, lib_api_client

Update Browserslist database
  yarn.lock
Due: none

add a todo comment on meeting entity
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingList.tsx
Due: app_webapp

remove unused parameters from empty meeting list component
  apps/webapp/src/script/components/Meeting/EmptyMeetingList/EmptyMeetingList.tsx
Due: app_webapp

Use application wallClock for MeetingList time updates.
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingList.tsx
Due: app_webapp

feat: allow Renovate to fetch approved Git dependency
  .yarnrc.yml
Due: none

feat: fix grace period for CTR generation [WPB-24526]
  apps/webapp/src/script/E2EIdentity/E2EIdentityEnrollment.ts
  apps/webapp/src/script/E2EIdentity/EnrollmentTimer/EnrollmentTimer.test.ts
  apps/webapp/src/script/E2EIdentity/EnrollmentTimer/EnrollmentTimer.ts
Due: app_webapp

feat: create fresh WebSocket wrapper when closed
  libraries/api-client/src/tcp/reconnectingWebsocket.test.ts
  libraries/api-client/src/tcp/reconnectingWebsocket.ts
Due: lib_api_client

Gate meetings behind local startup feature toggle.
  apps/webapp/src/script/featureToggles/startupFeatureToggleNames.ts
  apps/webapp/src/script/featureToggles/startupFeatureToggles.test.ts
  apps/webapp/src/script/page/AppMain.tsx
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/ConversationTabs.tsx
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
  apps/webapp/src/script/page/MainContent/MainContent.tsx
  apps/webapp/src/script/util/useMeetingsFeatureFlag.ts
Due: app_webapp

Fix i18n artifact ordering for meetings translations.
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/types/i18n.d.ts
Due: app_webapp

Fix lint formatting in meetings sidebar code.
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItemGroup.tsx
  apps/webapp/src/script/components/Meeting/MeetingList/TodayAndOngoingSection/TodayAndOngoingSection.tsx
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/useSidebarStore.ts
Due: app_webapp

Fix lint warnings introduced by meetings feature.
  apps/webapp/src/script/components/Meeting/utils/MeetingStatusUtil.ts
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/ConversationTabs.tsx
Due: app_webapp

fix: PR comments
  apps/webapp/src/script/E2EIdentity/EnrollmentTimer/EnrollmentTimer.test.ts
  apps/webapp/src/script/E2EIdentity/EnrollmentTimer/EnrollmentTimer.ts
Due: app_webapp

feat: enable reliable WebSocket recovery by default
  apps/webapp/src/script/auth/main.tsx
  apps/webapp/src/script/auth/page/login/util.test.ts
  apps/webapp/src/script/featureToggles/startupFeatureToggleNames.ts
  apps/webapp/src/script/featureToggles/startupFeatureToggleQueryParameters.test.ts
  apps/webapp/src/script/featureToggles/startupFeatureToggles.test.ts
  apps/webapp/src/script/main/index.tsx
  apps/webapp/src/script/page/RootProvider.test.tsx
  apps/webapp/src/script/service/apiClientSingleton.test.ts
  apps/webapp/src/script/service/apiClientSingleton.ts
  libraries/api-client/src/apiClient.ts
  libraries/api-client/src/tcp/reconnectingWebsocket.backFromSleep.test.ts
  libraries/api-client/src/tcp/reconnectingWebsocket.test.ts
  libraries/api-client/src/tcp/reconnectingWebsocket.ts
  libraries/api-client/src/tcp/webSocketClient.test.ts
  libraries/api-client/src/tcp/webSocketClient.ts
Due: app_webapp, lib_api_client

chore: remove obsolete type packages
  libraries/bazinga64/package.json
  libraries/copy-config/package.json
  libraries/eslint-config/package.json
  libraries/store-engine-dexie/package.json
  yarn.lock
Due: none

test: remove Codecov coverage uploads
  .github/workflows/ci.yml
  README.md
  apps/server/jest.config.js
  apps/server/project.json
  apps/webapp/jest.config.ts
  apps/webapp/project.json
  codecov.yml
  docs/ADRs/2025-12-29-nx-monorepo-migration.md
  docs/nx-monorepo-integration-overview.md
  libraries/api-client/jest.config.js
  libraries/api-client/project.json
  libraries/core/jest.config.js
  libraries/core/project.json
Due: app_webapp, app_server, lib_core, lib_api_client

fix: lint
  apps/webapp/src/script/E2EIdentity/EnrollmentTimer/EnrollmentTimer.ts
Due: app_webapp

chore: remove text-encoding dependency
  apps/webapp/package.json
  apps/webapp/src/script/util/test/mock/browserApiMock.ts
  yarn.lock
Due: app_webapp

fix(webapp): Implement recovery mechanism for epoch number mismatch between CC and local state [WPB-23452] (#20515)
  apps/webapp/src/script/repositories/conversation/ConversationRepository.ts
Due: app_webapp

fix(core): Do not reset & re-establish conversations if they do not belong to self backend [WPB-22511] (#20565)
  libraries/core/src/conversation/ConversationService/ConversationService.test.ts
  libraries/core/src/conversation/ConversationService/ConversationService.ts
  libraries/core/src/messagingProtocols/mls/recovery/MlsRecoveryOrchestrator.ts
Due: lib_core

feat: add refresh CRL list debug option [WPB-24944]
  apps/webapp/src/script/components/ConfigToolbar/ConfigToolbar.tsx
  apps/webapp/src/script/util/DebugUtil.ts
  libraries/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceExternal.test.ts
  libraries/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceExternal.ts
  libraries/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceInternal.ts
Due: app_webapp, lib_core

Merge pull request #21439 from wireapp/chore/avs-bump
  apps/webapp/package.json
  yarn.lock
Due: app_webapp

Merge pull request #21449 from wireapp/fix/show-revocation-modal-WPB-24295
  apps/webapp/src/script/repositories/conversation/ConversationVerificationStateHandler/MLS/MLSStateHandler.test.ts
  apps/webapp/src/script/repositories/conversation/ConversationVerificationStateHandler/MLS/MLSStateHandler.ts
Due: app_webapp

Merge pull request #21494 from wireapp/feat/update-string-WPB-24874
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/types/i18n.d.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/conversationDetails.page.ts
Due: app_webapp

Merge pull request #21510 from wireapp/feat/show-correct-grace-period-ctrl-WPB-24526
  apps/webapp/src/script/E2EIdentity/E2EIdentityEnrollment.ts
  apps/webapp/src/script/E2EIdentity/EnrollmentTimer/EnrollmentTimer.test.ts
  apps/webapp/src/script/E2EIdentity/EnrollmentTimer/EnrollmentTimer.ts
Due: app_webapp

chore: remove intersection-observer dependency
  apps/webapp/package.json
  apps/webapp/setupTests.js
  apps/webapp/src/script/components/Avatar/AvatarImage.test.tsx
  apps/webapp/src/script/util/test/mock/intersectionObserverMock.ts
  yarn.lock
Due: app_webapp

fix: update yarn.lock
  yarn.lock
Due: none

chore: bump AVS version to 10.2.21
  apps/webapp/package.json
  yarn.lock
Due: app_webapp

feat: introduce a wall clock [WPB-23299] (#20428)
  apps/webapp/src/script/clock/fakeWallClock.test.ts
  apps/webapp/src/script/clock/fakeWallClock.ts
  apps/webapp/src/script/clock/wallClock.test.ts
  apps/webapp/src/script/clock/wallClock.ts
Due: app_webapp

chore: bump AVS version to 10.2.38
  apps/webapp/package.json
  yarn.lock
Due: app_webapp

fix: rename deterministicWallClock to fakeWallClock
  apps/webapp/src/script/E2EIdentity/EnrollmentTimer/EnrollmentTimer.test.ts
  apps/webapp/src/script/clock/fakeWallClock.test.ts
Due: app_webapp

[WPB-26249] Migrate from anta to QA federation env for federation tests
  apps/webapp/test/e2e_tests/.env.staging.tpl
Due: app_webapp

feat: revert bg blur radius to 30
  apps/webapp/src/script/repositories/media/backgroundEffects/pipe/options.ts
Due: app_webapp

Path conditions:
  app_webapp: any of: apps/webapp/**
  app_server: any of: apps/server/**
  lib_core: any of: libraries/core/**
  lib_api_client: any of: libraries/api-client/**
