Repository wireapp/wire-webapp: changes, and which Codecov flags are due for each by the changed paths.
All: app_webapp, app_server, lib_core, lib_api_client

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '45...80'
  status:
    project:
      default:
        target: auto
      app_webapp:
        target: auto
        flags:
          - app_webapp
      app_server:
        target: auto
        flags:
          - app_server
      lib_core:
        target: auto
        flags:
          - lib_core
      lib_api_client:
        target: auto
        flags:
          - lib_api_client
    patch:
      default:
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: 'diff, flags, files'
  behavior: default
  require_changes: no

flags:
  app_webapp:
    paths:
      - 'apps/webapp/**'
    carryforward: false
  app_server:
    paths:
      - 'apps/server/**'
    carryforward: true
  lib_core:
    paths:
      - 'libraries/core/**'
    carryforward: true
  lib_api_client:
    paths:
      - 'libraries/api-client/**'
    carryforward: true

github_checks:
  annotations: false

feat: disable stefan-test trigger, enable publish workflow on smatting/push-to-quay branch
  .github/workflows/publish.yml
  .github/workflows/stefan-test.yml
Due: none

Add release appearance domain model
  bin/jest.config.js
  tools/release-appearance/releaseAppearance.test.ts
  tools/release-appearance/releaseAppearance.ts
  tools/release-appearance/releaseAppearanceMarkerSchema.test.ts
  tools/release-appearance/releaseAppearanceMarkerSchema.ts
  tsconfig.bin.json
  tsconfig.json
Due: none

Add automated release appearance planning
  project.json
  tools/release-appearance/releaseAppearance.ts
  tools/release-appearance/releaseHistory.integration.test.ts
  tools/release-appearance/releaseHistory.ts
  tools/release-appearance/tsconfig.json
  tsconfig.json
Due: none

Add automated release-appearance comment command
  apps/webapp/package.json
  package.json
  tools/release-appearance/releaseAppearance.test.ts
  tools/release-appearance/releaseAppearanceCommand.test.ts
  tools/release-appearance/releaseAppearanceCommand.ts
  tools/release-appearance/releaseAppearanceCommandDiscovery.test.ts
  tools/release-appearance/releaseAppearanceCommandDiscovery.ts
  tools/release-appearance/releaseAppearanceCommandGitHub.test.ts
  tools/release-appearance/releaseAppearanceCommandGitHub.ts
  tools/release-appearance/releaseAppearanceCommandGitHubSchema.test.ts
  tools/release-appearance/releaseAppearanceCommandGitHubSchema.ts
  tools/release-appearance/releaseAppearanceCommandOutput.test.ts
  tools/release-appearance/releaseAppearanceCommandOutput.ts
  tools/release-appearance/releaseAppearanceCommandParsing.test.ts
  tools/release-appearance/releaseAppearanceCommandParsing.ts
  tools/release-appearance/releaseAppearanceCommandProcessing.test.ts
  tools/release-appearance/releaseAppearanceCommandProcessing.ts
  tools/release-appearance/releaseAppearanceCommandResult.test.ts
  tools/release-appearance/releaseAppearanceCommandResult.ts
  tools/release-appearance/releaseAppearanceCommandSummary.test.ts
  tools/release-appearance/releaseAppearanceCommandSummary.ts
  tools/release-appearance/releaseAppearanceMarkerSchema.test.ts
  tools/release-appearance/releaseHistory.integration.test.ts
  tools/release-appearance/tsconfig.json
  yarn.lock
Due: app_webapp

Integrate release appearance comments
  .github/workflows/release-webapp.yml
  docs/decision-records/0002-trunk-based-automated-release-process.md
  package.json
  yarn.lock
Due: none

Keep release tool Ky dependency isolated
  apps/webapp/package.json
  yarn.lock
Due: app_webapp

change runner
  .github/workflows/publish.yml
Due: none

Harden and consolidate release appearance automation
  bin/jest.config.js
  docs/decision-records/0002-trunk-based-automated-release-process.md
  tools/release-appearance/githubClient.test.ts
  tools/release-appearance/githubClient.ts
  tools/release-appearance/httpClient.ts
  tools/release-appearance/releaseAppearance.test.ts
  tools/release-appearance/releaseAppearance.ts
  tools/release-appearance/releaseAppearanceCommand.test.ts
  tools/release-appearance/releaseAppearanceCommand.ts
  tools/release-appearance/releaseAppearanceCommandDiscovery.test.ts
  tools/release-appearance/releaseAppearanceCommandDiscovery.ts
  tools/release-appearance/releaseAppearanceCommandGitHub.test.ts
  tools/release-appearance/releaseAppearanceCommandGitHub.ts
  tools/release-appearance/releaseAppearanceCommandGitHubSchema.test.ts
  tools/release-appearance/releaseAppearanceCommandGitHubSchema.ts
  tools/release-appearance/releaseAppearanceCommandOutput.test.ts
  tools/release-appearance/releaseAppearanceCommandOutput.ts
  tools/release-appearance/releaseAppearanceCommandParsing.test.ts
  tools/release-appearance/releaseAppearanceCommandParsing.ts
  tools/release-appearance/releaseAppearanceCommandProcessing.test.ts
  tools/release-appearance/releaseAppearanceCommandProcessing.ts
  tools/release-appearance/releaseAppearanceCommandResult.test.ts
  tools/release-appearance/releaseAppearanceCommandResult.ts
  tools/release-appearance/releaseAppearanceCommandSummary.test.ts
  tools/release-appearance/releaseAppearanceCommandSummary.ts
  tools/release-appearance/releaseAppearanceMarkerSchema.test.ts
  tools/release-appearance/releaseAppearanceMarkerSchema.ts
  tools/release-appearance/releaseHistory.integration.test.ts
  tools/release-appearance/releaseHistory.ts
  tsconfig.bin.json
  tsconfig.json
Due: none

pin external actions
  .github/workflows/publish.yml
  .github/workflows/stefan-test.yml
Due: none

Revert "pin external actions"
  .github/workflows/publish.yml
  .github/workflows/stefan-test.yml
Due: none

Include failure reasons in release appearance summaries
  tools/release-appearance/releaseAppearanceCommand.test.ts
  tools/release-appearance/releaseAppearanceCommand.ts
Due: none

Cover incremental Beta candidate history
  tools/release-appearance/releaseHistory.integration.test.ts
Due: none

Cover annotated Production tag ordering
  tools/release-appearance/releaseHistory.integration.test.ts
Due: none

Align release appearance tests with Jest conventions
  tools/release-appearance/githubClient.test.ts
  tools/release-appearance/releaseAppearance.test.ts
  tools/release-appearance/releaseAppearanceCommand.test.ts
  tools/release-appearance/releaseHistory.integration.test.ts
Due: none

Add release appearance comment dry run
  .github/workflows/dry-run-release-appearance-comments.yml
  tools/release-appearance/releaseAppearanceCommand.test.ts
  tools/release-appearance/releaseAppearanceCommand.ts
Due: none

Print release appearance dry-run results
  tools/release-appearance/releaseAppearanceCommand.test.ts
  tools/release-appearance/releaseAppearanceCommand.ts
Due: none

Add next Beta change preview
  .github/workflows/preview-next-beta-changes.yml
  tools/release-appearance/previewNextBetaCommand.test.ts
  tools/release-appearance/previewNextBetaCommand.ts
  tools/release-appearance/releaseHistory.integration.test.ts
  tools/release-appearance/releaseHistory.ts
Due: none

image tag -> chart version
  .github/workflows/stefan-test.yml
Due: none

image tag -> chart version
  .github/workflows/publish.yml
  .github/workflows/stefan-test.yml
Due: none

Add webapp-release-stream-updated dispatch event trigger
  .github/workflows/publish.yml
Due: none

Include pull request titles in Beta preview
  tools/release-appearance/githubClient.test.ts
  tools/release-appearance/githubClient.ts
  tools/release-appearance/previewNextBetaCommand.test.ts
  tools/release-appearance/previewNextBetaCommand.ts
  tools/release-appearance/releaseAppearanceCommand.test.ts
Due: none

remove test trigger
  .github/workflows/publish.yml
Due: none

fix: update css to add spaces in sentence
  server/templates/support/support.css
Due: none

Update translations
  apps/webapp/src/i18n/ru-RU.json
Due: app_webapp

Declare @sindresorhus/is dependency in API client
  libraries/api-client/package.json
  yarn.lock
Due: lib_api_client

Use named is imports in release tooling
  tools/release-appearance/previewNextBetaCommand.test.ts
  tools/release-appearance/previewNextBetaCommand.ts
  tools/release-appearance/releaseHistory.ts
Due: none

Replace removed is function alias
  apps/webapp/src/script/repositories/calling/CallingRepository.ts
  libraries/api-client/src/tcp/reconnectingWebsocket.ts
Due: app_webapp, lib_api_client

Align Node engines with @sindresorhus/is v8
  apps/server/package.json
  libraries/api-client/package.json
Due: app_server, lib_api_client

Transform @sindresorhus/is in Jest
  apps/webapp/jest.config.ts
  bin/jest.config.js
  jest.preset.js
  libraries/api-client/jest.config.js
  libraries/commons/jest.config.js
  libraries/config/jest.config.js
  libraries/core/jest.config.js
  libraries/priority-queue/jest.config.js
  libraries/react-ui-kit/jest.config.js
  libraries/store-engine-dexie/jest.config.js
  libraries/store-engine-fs/jest.config.js
  libraries/store-engine/jest.config.js
Due: app_webapp, lib_core, lib_api_client

Select Node.js 24 for Elastic Beanstalk
  .elasticbeanstalk/config.yml
Due: none

Scope is declaration mappings to consumers
  libraries/api-client/tsconfig.json
  libraries/commons/tsconfig.json
  libraries/config/tsconfig.json
  libraries/core/tsconfig.json
  libraries/priority-queue/tsconfig.json
  libraries/react-ui-kit/tsconfig.json
  libraries/store-engine/tsconfig.json
  tsconfig.base.json
  tsconfig.bin.json
  tsconfig.eslint.json
Due: lib_core, lib_api_client

Require named imports from @sindresorhus/is
  eslint.config.ts
Due: none

Resolve is v8 declarations explicitly
  apps/server/tsconfig.json
  apps/webapp/tsconfig.build.json
  apps/webapp/tsconfig.json
  tsconfig.base.json
Due: app_webapp, app_server

Finish @sindresorhus/is v8 migration
  apps/server/package.json
  apps/server/tsconfig.json
  libraries/api-client/tsconfig.json
  libraries/commons/tsconfig.json
  libraries/config/tsconfig.json
  libraries/core/tsconfig.json
  libraries/priority-queue/tsconfig.json
  libraries/react-ui-kit/tsconfig.json
  libraries/store-engine/tsconfig.json
  tsconfig.base.json
  tsconfig.bin.json
  tsconfig.eslint.json
Due: app_server, lib_core, lib_api_client

Notify Deployoholics about successful releases
  .github/workflows/release-webapp.yml
  docs/decision-records/0002-trunk-based-automated-release-process.md
Due: none

fix(cells): hide +New in recycle bin [WPB-27712]
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsHeader/CellsHeader.test.tsx
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsHeader/CellsHeader.tsx
Due: app_webapp

Reduce release workflow Git fetches
  .github/workflows/publish-production-distribution.yml
  .github/workflows/release-webapp.yml
Due: none

Restore update detection for explicit build metadata
  apps/server/Server.ts
  apps/server/config.ts
  apps/server/package.json
  apps/server/routes/clientVersionCheck/clientVersion.test.ts
  apps/server/routes/clientVersionCheck/clientVersion.ts
  apps/server/routes/clientVersionCheck/clientVersionCheckRoute.test.ts
  apps/server/routes/clientVersionCheck/clientVersionCheckRoute.ts
  apps/server/server.test.ts
  apps/webapp/src/script/applicationPeriodicChecks/runClientVersionCheck.test.ts
  apps/webapp/src/script/applicationPeriodicChecks/runClientVersionCheck.ts
  apps/webapp/src/script/components/appContainer/appContainer.tsx
  apps/webapp/src/script/lifecycle/newVersionHandler.ts
  apps/webapp/src/script/main/app.ts
  apps/webapp/src/script/util/debugUtil.ts
  apps/webapp/src/script/util/test/mock/wireEnvMock.ts
  apps/webapp/test/e2e_tests/specs/Configuration/runtimeConfig.spec.ts
  apps/webapp/test/unit_tests/lifecycle/newVersionHandlerSpec.js
  apps/webapp/webpack.config.common.js
  libraries/config/src/client.config.spec.ts
  libraries/config/src/client.config.ts
  libraries/config/src/config.types.ts
  libraries/config/src/server.config.spec.ts
  yarn.lock
Due: app_webapp, app_server
