Repository wireapp/wire-webapp: changes, and which Codecov flags are due for each by the changed paths.
All: app_webapp, app_server, lib_core, lib_api_client

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '45...80'
  status:
    project:
      default:
        target: auto
      app_webapp:
        target: auto
        flags:
          - app_webapp
      app_server:
        target: auto
        flags:
          - app_server
      lib_core:
        target: auto
        flags:
          - lib_core
      lib_api_client:
        target: auto
        flags:
          - lib_api_client
    patch:
      default:
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: 'diff, flags, files'
  behavior: default
  require_changes: no

flags:
  app_webapp:
    paths:
      - 'apps/webapp/**'
    carryforward: false
  app_server:
    paths:
      - 'apps/server/**'
    carryforward: true
  lib_core:
    paths:
      - 'libraries/core/**'
    carryforward: true
  lib_api_client:
    paths:
      - 'libraries/api-client/**'
    carryforward: true

github_checks:
  annotations: false

use fire and forget to fetch initial meetings list
  apps/webapp/src/script/components/Meeting/useMeetingsList.ts
Due: app_webapp

test: fix failing unit test
  apps/webapp/src/script/components/conversationListCell/components/cellDescription/cellDescription.test.tsx
Due: app_webapp

test: fix failing unit test
  apps/webapp/src/script/components/MessagesList/Message/ContentMessage/asset/FileAsset/FileAsset.test.tsx
Due: app_webapp

Separate schedule-meeting i18n and UI from plain TypeScript modules.
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingList.tsx
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingListItem.tsx
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/ScheduleMeetingForm.tsx
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/index.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingErrorKeys.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingNotifier.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingRecurrence.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingService.test.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingService.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/useScheduleMeetingSubmit.ts
  apps/webapp/src/script/components/Meeting/mapApiMeetingToListMeeting.test.ts
  apps/webapp/src/script/components/Meeting/mapApiMeetingToListMeeting.ts
  apps/webapp/src/script/components/Meeting/partitionMeetingsByDay.test.ts
Due: app_webapp

fix typecheck
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/useScheduleMeetingSubmit.ts
Due: app_webapp

fix lint issue in test file
  apps/webapp/src/script/components/Meeting/partitionMeetingsByDay.test.ts
Due: app_webapp

fix: replace stale WebSocket wrapper after wake
  libraries/api-client/src/tcp/reconnectingWebsocket.backFromSleep.test.ts
  libraries/api-client/src/tcp/reconnectingWebsocket.ts
Due: lib_api_client

feat: add reconnect banner WebSocket diagnostics
  apps/webapp/src/script/featureToggles/startupFeatureToggleNames.ts
  apps/webapp/src/script/featureToggles/startupFeatureToggles.test.ts
  apps/webapp/src/script/page/appMain.tsx
  apps/webapp/src/script/view_model/WarningsContainer/WarningsContainer.test.tsx
  apps/webapp/src/script/view_model/WarningsContainer/WarningsContainer.tsx
  apps/webapp/src/script/view_model/WarningsContainer/webSocketConnectivityDiagnostics.ts
Due: app_webapp

fix: show admin promotion message for self user [WPB-26186]
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/MessagesList/Message/SystemMessage/SystemMessage.test.tsx
  apps/webapp/src/script/components/MessagesList/Message/SystemMessage/SystemMessage.tsx
  apps/webapp/src/script/components/MessagesList/Message/SystemMessage/SystemMessageBase.tsx
  apps/webapp/src/script/message/systemMessageType.ts
  apps/webapp/src/script/repositories/conversation/ConversationRepository.ts
  apps/webapp/src/script/repositories/conversation/EventBuilder/EventBuilder.ts
  apps/webapp/src/script/repositories/conversation/EventMapper.ts
  apps/webapp/src/script/repositories/entity/message/memberRoleUpdateMessage.ts
  apps/webapp/src/script/repositories/event/Client.ts
  apps/webapp/src/script/repositories/event/EventTypeHandling.ts
  libraries/react-ui-kit/src/DataDisplay/Icon/ConversationSettingsIcon.tsx
  libraries/react-ui-kit/src/DataDisplay/Icon/index.ts
Due: app_webapp

fix: lint
  apps/webapp/src/script/components/MessagesList/Message/SystemMessage/SystemMessage.tsx
  apps/webapp/src/script/repositories/conversation/EventMapper.ts
Due: app_webapp

Exclude meeting conversations from the sidebar list
  apps/webapp/src/script/repositories/conversation/ConversationSelectors.ts
  apps/webapp/src/script/repositories/conversation/ConversationState.test.ts
  apps/webapp/src/script/repositories/conversation/ConversationState.ts
  apps/webapp/src/script/repositories/entity/Conversation.ts
  libraries/api-client/src/conversation/conversation.ts
Due: app_webapp, lib_api_client

rename isMeetingConversation to isConversationForScheduledMeeting
  apps/webapp/src/script/repositories/conversation/ConversationSelectors.ts
  apps/webapp/src/script/repositories/conversation/ConversationState.ts
Due: app_webapp

feat: allow hosts to edit scheduled meetings from the calendar list [WPB-25503]
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingList.tsx
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingAction/MeetingAction.tsx
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingAction/getMeetingActionEntries.test.tsx
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingAction/getMeetingActionEntries.tsx
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingListItem.tsx
  apps/webapp/src/script/components/Meeting/MeetingParticipantsPicker/MeetingParticipantsPicker.test.tsx
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingErrorKeys.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingService.test.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingService.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/useScheduleMeetingModal.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/useScheduleMeetingSubmit.ts
  apps/webapp/src/script/components/Meeting/getInvitedEmailsFromSelectedUsers.ts
  apps/webapp/src/script/components/Meeting/getScheduleMeetingParticipantPool.ts
  apps/webapp/src/script/components/Meeting/mapApiMeetingToListMeeting.test.ts
  apps/webapp/src/script/components/Meeting/mapApiMeetingToListMeeting.ts
  apps/webapp/src/script/components/Meeting/mapMeetingToScheduleFormState.test.ts
  apps/webapp/src/script/components/Meeting/mapMeetingToScheduleFormState.ts
  apps/webapp/src/script/components/Meeting/mapScheduleFormToUpdateMeeting.test.ts
  apps/webapp/src/script/components/Meeting/mapScheduleFormToUpdateMeeting.ts
  apps/webapp/src/script/components/Meeting/partitionMeetingsByDay.test.ts
  apps/webapp/src/script/components/Meeting/useEditMeeting.ts
  apps/webapp/src/script/components/Meeting/utils/canEditMeeting.test.ts
  apps/webapp/src/script/components/Meeting/utils/canEditMeeting.ts
  apps/webapp/src/script/repositories/meetings/meetingsApiDataSource.ts
  apps/webapp/src/script/repositories/meetings/meetingsRepository.ts
Due: app_webapp

pre release 12
  libraries/core/package.json
  yarn.lock
Due: lib_core

bund next column 1
  .env.localhost
Due: none

implement e2ei hooks
  libraries/core/src/account.ts
  libraries/core/src/messagingProtocols/mls/e2eIdentityService/e2eiServiceExternal.ts
  libraries/core/src/messagingProtocols/proteus/proteusService/cryptoClient/coreCryptoWrapper/coreCryptoWrapper.ts
  libraries/core/src/messagingProtocols/proteus/proteusService/proteusService.mocks.ts
Due: lib_core

fix: explicit typescript check and use one Map for getUniqueQualifiedIds
  apps/webapp/src/script/components/Conversation/ConversationCells/useGetAllCellsNodes/getUsersFromNodes.ts
Due: app_webapp

migrate to new x509 credential acquisition
  libraries/core/src/account.ts
  libraries/core/src/messagingProtocols/mls/e2eIdentityService/e2eiServiceExternal.ts
  libraries/core/src/messagingProtocols/mls/e2eIdentityService/e2eiServiceInternal.ts
  libraries/core/src/messagingProtocols/mls/e2eIdentityService/steps/authorization.ts
  libraries/core/src/messagingProtocols/mls/e2eIdentityService/storage/e2eiStorage.schema.ts
  libraries/core/src/messagingProtocols/mls/mlsService/mlsService.ts
Due: lib_core

refactor: use true-myth Maybe instead of null in meetings feature [WPB-25503]
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/ScheduleMeetingForm.tsx
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/requireScheduleMeetingTimes.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingService.test.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingTypes.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingValidation.test.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingValidation.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/useScheduleMeetingModal.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/useScheduleMeetingSubmit.ts
  apps/webapp/src/script/components/Meeting/mapMeetingToScheduleFormState.test.ts
  apps/webapp/src/script/components/Meeting/mapMeetingToScheduleFormState.ts
  apps/webapp/src/script/components/Meeting/mapScheduleFormToCreateMeeting.test.ts
  apps/webapp/src/script/components/Meeting/mapScheduleFormToCreateMeeting.ts
  apps/webapp/src/script/components/Meeting/mapScheduleFormToUpdateMeeting.test.ts
  apps/webapp/src/script/components/Meeting/mapScheduleFormToUpdateMeeting.ts
Due: app_webapp

update wasm file path
  apps/webapp/src/script/service/coreSingleton.ts
  apps/webapp/webpack.config.common.js
Due: app_webapp

update i18n files
  apps/webapp/src/i18n/en-US.json
Due: app_webapp

patch e2ei service
  libraries/core/src/messagingProtocols/mls/e2eIdentityService/e2eiServiceExternal.ts
Due: lib_core

fix: apply prettier formatting to meeting update test [WPB-25503]
  apps/webapp/src/script/components/Meeting/mapScheduleFormToUpdateMeeting.test.ts
Due: app_webapp

Fix invalid quotes in workflow conditions
  .github/workflows/precommit-crit-flows.yml
Due: none

refactor: use Result for schedule meeting form mapping errors [WPB-25503]
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/Meeting/ScheduleFormErrors.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/requireScheduleMeetingTimes.test.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingErrorKeys.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingService.test.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingService.ts
  apps/webapp/src/script/components/Meeting/mapScheduleFormToCreateMeeting.test.ts
  apps/webapp/src/script/components/Meeting/mapScheduleFormToCreateMeeting.ts
  apps/webapp/src/script/components/Meeting/mapScheduleFormToUpdateMeeting.test.ts
  apps/webapp/src/script/components/Meeting/mapScheduleFormToUpdateMeeting.ts
Due: app_webapp

refactor: use is.nonEmptyArray for meeting invitation checks [WPB-25503]
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingService.ts
Due: app_webapp

refactor: use named parameters for tryUpdateMeeting [WPB-25503]
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingService.test.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingService.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/useScheduleMeetingSubmit.ts
Due: app_webapp

refactor: return Task from MeetingsRepository methods [WPB-25503]
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingService.test.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingService.ts
  apps/webapp/src/script/components/Meeting/loadMeetingsList.test.ts
  apps/webapp/src/script/components/Meeting/loadMeetingsList.ts
  apps/webapp/src/script/repositories/meetings/meetingsRepository.ts
Due: app_webapp

refactor: return Task from meeting submit services with granular errors [WPB-25503]
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/FileFullscreenModal/FileEditor/validateCollaboraUrl.test.ts
  apps/webapp/src/script/components/Meeting/MeetingSubmitErrors.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/requireScheduleMeetingTimes.test.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingErrorKeys.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingService.test.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingService.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/useScheduleMeetingSubmit.ts
  apps/webapp/src/script/components/Meeting/mapScheduleFormToCreateMeeting.test.ts
  apps/webapp/src/script/components/Meeting/mapScheduleFormToUpdateMeeting.test.ts
  apps/webapp/src/script/util/test/resultTestSupport.ts
Due: app_webapp

use const for dates in test file
  apps/webapp/src/script/components/Meeting/utils/canEditMeeting.test.ts
Due: app_webapp

trim email
  apps/webapp/src/script/components/Meeting/mapMeetingToScheduleFormState.ts
Due: app_webapp

do not use ! when checking for email
  apps/webapp/src/script/components/Meeting/mapMeetingToScheduleFormState.ts
Due: app_webapp

fix: evaluate meeting edit eligibility at menu open time [WPB-25503]
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingAction/MeetingAction.tsx
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingListItem.tsx
Due: app_webapp

fix: send null recurrence when clearing meeting recurrence on update [WPB-25503]
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingService.test.ts
  apps/webapp/src/script/components/Meeting/mapScheduleFormToUpdateMeeting.test.ts
  apps/webapp/src/script/components/Meeting/mapScheduleFormToUpdateMeeting.ts
  libraries/api-client/src/meetings/updateMeeting.ts
Due: app_webapp, lib_api_client

fix: fail closed when edit submit is missing meeting id [WPB-25503]
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/Meeting/MeetingSubmitErrors.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingErrorKeys.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingService.test.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingService.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/useScheduleMeetingSubmit.ts
Due: app_webapp

rename file to match workflow name
  .github/workflows/precommit-e2e-tests.yml
Due: none

Update workflow concurrency to not cancel ongoing runs of other PRs
  .github/workflows/precommit-crit-flows.yml
Due: none

Run all e2e tests for precommit workflow
  .github/workflows/precommit-crit-flows.yml
Due: none

fix: skip critical flow status job without run-e2e label
  .github/workflows/precommit-crit-flows.yml
Due: none

feat: expose Testiny reporting for reusable E2E workflow
  .github/workflows/e2e-tests.yml
Due: none
