Repository wireapp/wire-webapp: changes, and which Codecov flags are due for each by the changed paths.
All: app_webapp, app_server, lib_core, lib_api_client

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '45...80'
  status:
    project:
      default:
        target: auto
      app_webapp:
        target: auto
        flags:
          - app_webapp
      app_server:
        target: auto
        flags:
          - app_server
      lib_core:
        target: auto
        flags:
          - lib_core
      lib_api_client:
        target: auto
        flags:
          - lib_api_client
    patch:
      default:
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: 'diff, flags, files'
  behavior: default
  require_changes: no

flags:
  app_webapp:
    paths:
      - 'apps/webapp/**'
    carryforward: false
  app_server:
    paths:
      - 'apps/server/**'
    carryforward: true
  lib_core:
    paths:
      - 'libraries/core/**'
    carryforward: true
  lib_api_client:
    paths:
      - 'libraries/api-client/**'
    carryforward: true

github_checks:
  annotations: false

chore: Revert websocket changes
  apps/webapp/__mocks__/@wireapp/core.ts
  apps/webapp/src/script/repositories/event/EventRepository.test.ts
  apps/webapp/src/script/repositories/event/EventRepository.ts
  apps/webapp/src/script/repositories/event/WebSocketConnectionManager.test.ts
  apps/webapp/src/script/repositories/event/WebSocketConnectionManager.ts
Due: app_webapp

Merge pull request #20242 from wireapp/revert-socket-changes
  apps/webapp/__mocks__/@wireapp/core.ts
  apps/webapp/src/script/repositories/event/EventRepository.test.ts
  apps/webapp/src/script/repositories/event/EventRepository.ts
  apps/webapp/src/script/repositories/event/WebSocketConnectionManager.test.ts
  apps/webapp/src/script/repositories/event/WebSocketConnectionManager.ts
Due: app_webapp

Merge pull request #20242 from wireapp/revert-socket-changes (#20244)
  apps/webapp/__mocks__/@wireapp/core.ts
  apps/webapp/src/script/repositories/event/EventRepository.test.ts
  apps/webapp/src/script/repositories/event/EventRepository.ts
  apps/webapp/src/script/repositories/event/WebSocketConnectionManager.test.ts
  apps/webapp/src/script/repositories/event/WebSocketConnectionManager.ts
Due: app_webapp

test(reactions): add regression tests for message reactions
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/conversation.page.ts
  apps/webapp/test/e2e_tests/specs/Reactions/reactions.spec.ts
Due: app_webapp

test(reactions): add regression tests for message reactions
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/conversation.page.ts
Due: app_webapp

test(WPB-19964): add regression tests for message reactions (#20232)
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/conversation.page.ts
  apps/webapp/test/e2e_tests/specs/Reactions/reactions.spec.ts
Due: app_webapp

fix: Use new websocket address
  libraries/api-client/src/tcp/WebSocketClient.ts
Due: lib_api_client

fix: Use new websocket address (#20245)
  libraries/api-client/src/tcp/WebSocketClient.ts
Due: lib_api_client

fix: Use new websocket address (#20245) (#20246)
  libraries/api-client/src/tcp/WebSocketClient.ts
Due: lib_api_client

chore: add missing dist script used by lerna [WPB-22210] (#7845)
  telemetry/package.json
Due: none

chore: Publish [skip ci]
  telemetry/CHANGELOG.md
  telemetry/package.json
Due: none

feat: introduce secondary button(WPB-23027) (#7844)
  react-ui-kit/src/Inputs/SecondaryButton/SecondaryButton.style.ts
  react-ui-kit/src/Inputs/SecondaryButton/SecondaryButton.test.tsx
  react-ui-kit/src/Inputs/SecondaryButton/SecondaryButton.tsx
  react-ui-kit/src/Inputs/SecondaryButton/index.ts
  react-ui-kit/src/Inputs/index.ts
Due: none

feat: introduce secondary button(WPB-23027) (#7844)
  src/Inputs/SecondaryButton/SecondaryButton.style.ts
  src/Inputs/SecondaryButton/SecondaryButton.test.tsx
  src/Inputs/SecondaryButton/SecondaryButton.tsx
  src/Inputs/SecondaryButton/index.ts
  src/Inputs/index.ts
Due: none

chore: Publish [skip ci]
  react-ui-kit/CHANGELOG.md
  react-ui-kit/package.json
Due: none

chore: Publish [skip ci]
  CHANGELOG.md
  package.json
Due: none

chore: bump ui-kit
  apps/webapp/package.json
Due: app_webapp

chore: update lock file
  yarn.lock
Due: none

feat: Conversation search misses Shared Drive button(WPB-23027) (#20239)
  apps/webapp/package.json
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsHeader/CellsHeader.styles.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsHeader/CellsHeader.tsx
  apps/webapp/src/script/page/MainContent/panels/Collection/Collection.tsx
  apps/webapp/src/types/i18n.d.ts
  yarn.lock
Due: app_webapp

fix: translation type(WPB-22818)
  apps/webapp/src/types/i18n.d.ts
Due: app_webapp

feat: Update error screen when Collabora cannot be opened(WPB-22818)
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/FileFullscreenModal/FileEditor/FileEditor.tsx
  apps/webapp/src/script/components/Modals/ModalComponent/ModalComponent.styles.tsx
  apps/webapp/src/types/i18n.d.ts
Due: app_webapp

fix: dark mode collabora styling issues(WPB-22818)
  apps/webapp/src/script/components/FileFullscreenModal/FileHeader/FileHeader.styles.ts
  apps/webapp/src/script/components/FileFullscreenModal/PdfViewer/PdfControls/PdfControls.styles.ts
Due: app_webapp

fix: Use original /await websocket endpoint
  libraries/api-client/src/tcp/WebSocketClient.ts
Due: lib_api_client

fix: Use original /await websocket endpoint (#20249)
  libraries/api-client/src/tcp/WebSocketClient.ts
Due: lib_api_client

fix: handle profile img upload on logging enabled env [WPB-23055] (#20241)
  apps/webapp/src/script/repositories/assets/AssetRepository.ts
  apps/webapp/src/script/repositories/conversation/MessageRepository.ts
  apps/webapp/src/script/repositories/team/TeamState.ts
  apps/webapp/src/script/repositories/user/UserRepository.ts
  libraries/core/src/linkPreview/LinkPreviewService.ts
Due: app_webapp, lib_core

runfix(a11y): refactor ephemaral style from less to CSS object
  apps/webapp/src/script/components/MessagesList/Message/EphemeralTimer.styles.ts
  apps/webapp/src/style/foundation/main.less
Due: app_webapp

runfix(a11y): address accesibility of self deleting message indicator [WPB-22727]
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/MessagesList/Message/EphemeralTimer.tsx
  apps/webapp/src/types/i18n.d.ts
Due: app_webapp

adjust test
  apps/webapp/src/script/components/MessagesList/Message/EphemeralTimer.test.tsx
Due: app_webapp

runfix(a11y): address accessibility of self deleting message indicator [WPB-22727] (#20251)
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/MessagesList/Message/EphemeralTimer.styles.ts
  apps/webapp/src/script/components/MessagesList/Message/EphemeralTimer.test.tsx
  apps/webapp/src/script/components/MessagesList/Message/EphemeralTimer.tsx
  apps/webapp/src/style/foundation/main.less
  apps/webapp/src/types/i18n.d.ts
Due: app_webapp

fix: Only use /await on staging server
  libraries/api-client/src/tcp/WebSocketClient.ts
Due: lib_api_client

check window object
  libraries/api-client/src/tcp/WebSocketClient.ts
Due: lib_api_client

fix: Only use /await on staging server (#20252)
  libraries/api-client/src/tcp/WebSocketClient.ts
Due: lib_api_client

feat: Add error screen when Collabora cannot be opened, fix dark mode style issues(WPB-22818) (#20248)
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/FileFullscreenModal/FileEditor/FileEditor.tsx
  apps/webapp/src/script/components/FileFullscreenModal/FileHeader/FileHeader.styles.ts
  apps/webapp/src/script/components/FileFullscreenModal/PdfViewer/PdfControls/PdfControls.styles.ts
  apps/webapp/src/script/components/Modals/ModalComponent/ModalComponent.styles.tsx
  apps/webapp/src/types/i18n.d.ts
Due: app_webapp

chore: Update translations
  apps/webapp/src/i18n/ru-RU.json
Due: app_webapp
