Repository wireapp/wire-webapp: changes, and which Codecov flags are due for each by the changed paths.
All: app_webapp, app_server, lib_core, lib_api_client

feat: add shared drive direct upload startup toggle [WPB-28285]
  apps/webapp/src/script/featureToggles/startupFeatureToggleNames.ts
  apps/webapp/src/script/featureToggles/startupFeatureToggles.test.ts
Due: app_webapp

fix: allow the text column to shrink, make the admin hint wrap within available width and keep the switch from shrinking(WPB-26115)
  apps/webapp/src/script/components/toggle/InfoToggle.tsx
  apps/webapp/src/style/components/info-toggle.less
Due: app_webapp

fix: lint formatting issue
  apps/webapp/src/style/components/info-toggle.less
Due: app_webapp

feat: send meeting tzid and expand recurrence in the creator's zone [WPB-27613]
  apps/webapp/package.json
  apps/webapp/src/script/components/meeting/deviceTimeZone.ts
  apps/webapp/src/script/components/meeting/loadMeetingsList.test.ts
  apps/webapp/src/script/components/meeting/mapApiMeetingToSeries.test.ts
  apps/webapp/src/script/components/meeting/mapApiMeetingToSeries.ts
  apps/webapp/src/script/components/meeting/mapMeetNowCommandToCreateMeeting.test.ts
  apps/webapp/src/script/components/meeting/mapMeetNowCommandToCreateMeeting.ts
  apps/webapp/src/script/components/meeting/mapMeetingInstanceToScheduleFormState.test.ts
  apps/webapp/src/script/components/meeting/mapScheduleCommandToCreateMeeting.test.ts
  apps/webapp/src/script/components/meeting/mapScheduleCommandToCreateMeeting.ts
  apps/webapp/src/script/components/meeting/meetingList/meetingList.test.tsx
  apps/webapp/src/script/components/meeting/meetingList/meetingListItemGroup/meetingListItem/meetingAction/getMeetingActionEntries.test.tsx
  apps/webapp/src/script/components/meeting/meetingList/meetingListItemGroup/meetingListItem/meetingAction/meetingAction.test.tsx
  apps/webapp/src/script/components/meeting/meetingNotificationEventHandlers.test.ts
  apps/webapp/src/script/components/meeting/meetingStore/createMeetingLifecycleDispatcher.test.ts
  apps/webapp/src/script/components/meeting/meetingStore/createMeetingStore.test.ts
  apps/webapp/src/script/components/meeting/meetingStore/meetingStoreDeps.ts
  apps/webapp/src/script/components/meeting/meetingStore/meetingStoreRoot.test.tsx
  apps/webapp/src/script/components/meeting/meetingStore/meetingStoreRoot.tsx
  apps/webapp/src/script/components/meeting/meetingStore/subscribeToMeetingConversationEvents.test.ts
  apps/webapp/src/script/components/meeting/scheduleMeetingModal/useScheduleMeetingSubmit.test.tsx
  apps/webapp/src/script/components/meeting/selectors/getMeetingInstancePage.test.ts
  apps/webapp/src/script/components/meeting/selectors/getMeetingInstancesInRange.test.ts
  apps/webapp/src/script/components/meeting/selectors/getMeetingInstancesInRange.ts
  apps/webapp/src/script/components/meeting/selectors/groupMeetingInstancesByDay.test.ts
  apps/webapp/src/script/components/meeting/selectors/isMeetingInstanceVisibleInMeetingList.test.ts
  apps/webapp/src/script/components/meeting/shared/service/deleteMeeting.test.ts
  apps/webapp/src/script/components/meeting/shared/service/meetingService.test.ts
  apps/webapp/src/script/components/meeting/shared/service/meetingService.ts
  apps/webapp/src/script/components/meeting/shared/submit/submitDeleteMeeting.test.ts
  apps/webapp/src/script/components/meeting/utils/canDeleteMeeting.test.ts
  apps/webapp/src/script/components/meeting/utils/canEditMeeting.test.ts
  apps/webapp/src/script/repositories/meetings/meetingsApiDataSource.test.ts
  libraries/api-client/src/meetings/createMeeting.ts
  libraries/api-client/src/meetings/meeting.ts
  libraries/api-client/src/meetings/meetingSchema.test.ts
  libraries/api-client/src/meetings/meetingSchema.ts
  libraries/api-client/src/meetings/meetingsApi.test.ts
  yarn.lock
Due: app_webapp, lib_api_client

fix: fail closed on missing meeting tzid [WPB-27613]
  apps/webapp/src/script/components/meeting/loadMeetingsList.test.ts
  apps/webapp/src/script/components/meeting/mapApiMeetingToSeries.test.ts
  apps/webapp/src/script/components/meeting/mapApiMeetingToSeries.ts
  apps/webapp/src/script/components/meeting/selectors/getMeetingInstancesInRange.test.ts
  libraries/api-client/src/meetings/meetingSchema.test.ts
  libraries/api-client/src/meetings/meetingsApi.test.ts
  libraries/api-client/src/meetings/meetingsApi.ts
Due: app_webapp, lib_api_client

Fix navigation issue while archiving/unarchiving conversation
  apps/webapp/src/script/repositories/conversation/ConversationRepository.ts
Due: app_webapp

fix: keep TZDate through meeting recurrence stepping [WPB-27613]
  apps/webapp/src/script/components/meeting/selectors/getMeetingInstancesInRange.ts
Due: app_webapp

Added a unit test to validate if there is only 1 conversation which is archived now.
  apps/webapp/src/script/repositories/conversation/ConversationRepository.test.ts
Due: app_webapp

Using isUndefined for nextConversationEntity as it can be Conversation|undefined
  apps/webapp/src/script/repositories/conversation/ConversationRepository.ts
Due: app_webapp

fix: gate meetings behind API v17 [WPB-27613]
  apps/webapp/src/script/Config.ts
  apps/webapp/src/script/page/appMain.tsx
  apps/webapp/src/script/util/canUseMeetings.test.ts
  apps/webapp/src/script/util/canUseMeetings.ts
  libraries/api-client/src/meetings/meetingSchema.test.ts
Due: app_webapp, lib_api_client

test: assert meeting schema parse success [WPB-27613]
  libraries/api-client/src/meetings/meetingSchema.test.ts
Due: lib_api_client

test: assert tzid is preserved on valid parse [WPB-27613]
  libraries/api-client/src/meetings/meetingSchema.test.ts
Due: lib_api_client

fix: use stored meeting tzid without a Berlin fallback [WPB-27613]
  apps/webapp/src/script/components/meeting/selectors/getMeetingInstancesInRange.ts
Due: app_webapp

test: drop redundant tzid preservation case [WPB-27613]
  libraries/api-client/src/meetings/meetingSchema.test.ts
Due: lib_api_client

test: cover weekly DST start in America/New_York [WPB-27613]
  apps/webapp/src/script/components/meeting/selectors/getMeetingInstancesInRange.test.ts
Due: app_webapp

test: assert createMeeting forwards tzid in the POST body [WPB-27613]
  libraries/api-client/src/meetings/meetingsApi.test.ts
Due: lib_api_client

test: drop extra getMeetingsList spyOn case [WPB-27613]
  libraries/api-client/src/meetings/meetingsApi.test.ts
Due: lib_api_client

style: format meetings API v17 gate [WPB-27613]
  apps/webapp/src/script/util/canUseMeetings.ts
  apps/webapp/src/script/util/useMeetingsFeatureFlag.ts
Due: app_webapp

test: negotiate API v17 in MeetingStoreRoot tests [WPB-27613]
  apps/webapp/src/script/components/meeting/meetingStore/meetingStoreRoot.test.tsx
Due: app_webapp

Update translations
  apps/webapp/src/i18n/de-DE.json
Due: app_webapp

fix: use profile name first then fallback to user name(WPB-20724)
  apps/webapp/src/script/components/cells/common/transformCellsNodes/transformCellsNodes.test.ts
  apps/webapp/src/script/components/cells/common/transformCellsNodes/transformCellsNodes.ts
Due: app_webapp

fix: normalize the optional user qualified ID with Maybe before resolving the matching user.
  apps/webapp/src/script/components/cells/common/transformCellsNodes/transformCellsNodes.ts
Due: app_webapp

refactor: use Maybe.find to match user(WPB-20724)
  apps/webapp/src/script/components/cells/common/transformCellsNodes/transformCellsNodes.ts
Due: app_webapp

Keep participant search results in one scroll container
  apps/webapp/src/script/page/leftSidebar/panels/conversations/conversationsList.test.tsx
  apps/webapp/src/script/page/leftSidebar/panels/conversations/conversationsList.tsx
Due: app_webapp

Handle NETWORK_QUALITY 0 while parsing network quality from AVS.
  apps/webapp/src/script/repositories/calling/CallingRepository.test.ts
  apps/webapp/src/script/repositories/calling/CallingRepository.ts
  apps/webapp/src/script/repositories/calling/calling.schema.test.ts
  apps/webapp/src/script/repositories/calling/calling.schema.ts
Due: app_webapp

fix: polish shared-drive viewer UI [WPB-24974]
  apps/webapp/src/script/components/conversation/conversationViewerPermissionBanner/conversationViewerPermissionBanner.tsx
  apps/webapp/src/script/page/rightSidebar/sharedDrive/sharedDrive.tsx
  apps/webapp/src/style/content/conversation.less
  libraries/config/README.md
  libraries/config/src/client.config.ts
  libraries/config/src/env.ts
Due: app_webapp

fix: label viewer banner close control [WPB-24974]
  apps/webapp/src/script/components/conversation/conversationViewerPermissionBanner/conversationViewerPermissionBanner.tsx
Due: app_webapp

fix: align shared-drive panel content [WPB-24974]
  apps/webapp/src/script/page/rightSidebar/sharedDrive/sharedDrive.tsx
Due: app_webapp

fix: update shared-drive support link [WPB-24974]
  apps/webapp/src/script/components/conversation/conversationViewerPermissionBanner/conversationViewerPermissionBanner.tsx
Due: app_webapp

refactor: source shared-drive URL from config [WPB-24974]
  apps/webapp/src/script/components/conversation/conversationViewerPermissionBanner/conversationViewerPermissionBanner.tsx
  apps/webapp/src/script/util/test/mock/wireEnvMock.ts
Due: app_webapp

Fix ghost conversation text
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/conversationListCell/components/statusIcon/statusIcon.tsx
Due: app_webapp

Select preceding production tag safely
  tools/release-metadata/releaseMetadata.test.ts
  tools/release-metadata/releaseMetadata.ts
Due: none

Add GitHub Release API boundary
  tools/release-appearance/githubReleaseClient.test.ts
  tools/release-appearance/githubReleaseClient.ts
Due: none

Preserve existing Production GitHub Releases
  tools/release-appearance/ensureProductionGitHubRelease.test.ts
  tools/release-appearance/ensureProductionGitHubRelease.ts
  tools/release-appearance/tsconfig.json
Due: none

Add Production GitHub Release CLI
  tools/release-cli/ensureProductionGitHubRelease.mts
  tools/release-cli/releaseCliEntrypoints.test.ts
Due: none

Populate production GitHub release drafts
  .github/workflows/release-webapp.yml
  tools/release-appearance/ensureProductionGitHubRelease.test.ts
  tools/release-appearance/githubReleaseClient.test.ts
  tools/release-appearance/releaseAppearanceCommand.test.ts
  tools/release-cli/ensureProductionGitHubRelease.mts
Due: none

Create idempotent Production GitHub Release drafts
  .github/workflows/release-webapp.yml
  tools/release-summary/renderWebappReleaseSummary.test.ts
  tools/release-summary/renderWebappReleaseSummary.ts
Due: none

Make Production GitHub Release handoff reliable
  tools/release-appearance/ensureProductionGitHubRelease.test.ts
  tools/release-appearance/ensureProductionGitHubRelease.ts
  tools/release-appearance/githubReleaseClient.test.ts
  tools/release-appearance/githubReleaseClient.ts
Due: none

Preserve artifact metadata through HTML minification
  apps/webapp/webpack.config.js
  tools/build-artifact/buildArtifactMetadata.test.ts
  tools/build-artifact/buildArtifactMetadata.ts
Due: app_webapp

Path conditions:
  app_webapp: any of: apps/webapp/**
  app_server: any of: apps/server/**
  lib_core: any of: libraries/core/**
  lib_api_client: any of: libraries/api-client/**
