Repository wireapp/wire-webapp: changes, and which Codecov flags are due for each by the changed paths.
All: app_webapp, app_server, lib_core, lib_api_client

test: cover cells search request failures [WPB-20817]
  apps/webapp/src/script/components/cellsGlobalView/useSearchCellsNodes/useSearchCellsNodes.test.ts
Due: app_webapp

chore: address cells search review feedback [WPB-20817]
  apps/webapp/src/script/components/Conversation/ConversationCells/useConversationSearch/requestVersionGate.test.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/useConversationSearch/requestVersionGate.ts
  apps/webapp/src/script/components/cellsGlobalView/useSearchCellsNodes/useSearchCellsNodes.test.ts
  apps/webapp/src/script/components/cellsGlobalView/useSearchCellsNodes/useSearchCellsNodes.ts
Due: app_webapp

feat: add asynchronous GPU performance tracking to improve WebGL rendering and segmentation metrics
  apps/webapp/src/script/repositories/media/backgroundEffects/pipe/segmenter.ts
Due: app_webapp

Fix formatting
  apps/webapp/test/e2e_tests/specs/Federation/federation.spec.ts
Due: app_webapp

chore: format cells search test [WPB-20817]
  apps/webapp/src/script/components/cellsGlobalView/useSearchCellsNodes/useSearchCellsNodes.test.ts
Due: app_webapp

address PR reviews
  charts/webapp/templates/_helpers.tpl
  charts/webapp/templates/certificate.yaml
  charts/webapp/templates/httproute.yaml
  charts/webapp/templates/ingress.yaml
  charts/webapp/templates/issuer.yaml
  charts/webapp/templates/listenerset.yaml
  charts/webapp/templates/service.yaml
  charts/webapp/values.yaml
Due: none

Lint federation.spec.ts
  apps/webapp/test/e2e_tests/specs/Federation/federation.spec.ts
Due: app_webapp

feat: enhance model path handling for background effects with dynamic updates and quality-based logic
  apps/webapp/src/script/repositories/media/backgroundEffects/backgroundEffectsController.ts
Due: app_webapp

feat: add support for selfie segmenter and multiclass models in background effects store
  apps/webapp/src/script/repositories/media/useBackgroundEffectsStore.ts
Due: app_webapp

feat: implement adaptive quality mode for background effects with dynamic tier adjustments and resolution enhancements and allow fhd as max resolution
  apps/webapp/src/script/repositories/media/backgroundEffects/backgroundEffectsController.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/quality/qualityController.ts
  apps/webapp/src/script/repositories/media/useBackgroundEffectsStore.ts
Due: app_webapp

refactor: separate hardware and performance max tier caps in qualityController, update constructor, and revise related logic and tests
  apps/webapp/src/script/repositories/media/backgroundEffects/quality/qualityController.test.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/quality/qualityController.ts
Due: app_webapp

fix: wire core-crypto db if client is stale [WPB-26879]
  libraries/core/src/client/clientService.ts
Due: lib_core

fix: add unit tests
  libraries/core/src/client/clientService.test.ts
Due: lib_core

fix: lint
  apps/webapp/src/i18n/en-US.json
Due: app_webapp

fix: lint
  apps/webapp/src/script/components/conversationListCell/conversationListCell.tsx
Due: app_webapp

feat: consume simplifiedUserConnectionRequestQRCode [WPB-22749]
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/Conversation/Conversation.tsx
  apps/webapp/src/script/page/mainContent/panels/preferences/accountPreferences.tsx
  apps/webapp/src/script/repositories/team/TeamState.ts
Due: app_webapp

Remove unused translation keys.
  apps/webapp/src/i18n/en-US.json
Due: app_webapp

feat: publish refresh event for desktop updates
  apps/webapp/src/script/main/app.ts
  apps/webapp/src/script/main/applicationRefresh.test.ts
  apps/webapp/src/script/main/applicationRefresh.ts
Due: app_webapp

Remove obsolete pull request auto-merge workflow
  .github/workflows/pr-auto-merge.yml
Due: none

Remove ineffective code owners
  .github/CODEOWNERS
Due: none

chore: Update translations
  apps/webapp/src/i18n/de-DE.json
Due: app_webapp

fix: show all group app participants
  apps/webapp/src/script/page/rightSidebar/conversationDetails/conversationDetails.test.tsx
  apps/webapp/src/script/page/rightSidebar/conversationDetails/conversationDetails.tsx
Due: app_webapp

chore: address cells search review follow-ups [WPB-20817]
  apps/webapp/src/script/components/cellsGlobalView/useSearchCellsNodes/useSearchCellsNodes.test.ts
  apps/webapp/src/script/components/cellsGlobalView/useSearchCellsNodes/useSearchCellsNodes.ts
Due: app_webapp

fix: Reapply updated file type labels [WPB-27130]
  apps/webapp/src/i18n/en-US.json
Due: app_webapp

Model immutable release appearance state
  bin/releaseAppearance.test.ts
  bin/releaseAppearance.ts
  package.json
  yarn.lock
Due: none

Add first-appearance comment orchestration
  bin/jest.config.js
  bin/releaseAppearanceCli.test.ts
  bin/releaseAppearanceCli.ts
  package.json
  yarn.lock
Due: none

Add non-gating first-appearance workflow jobs
  .github/workflows/release-webapp.yml
Due: none

Allow release appearance CLI to run with native Node
  bin/releaseAppearanceCli.ts
Due: none

Run release appearance CLI with native Node
  .github/workflows/release-webapp.yml
Due: none

Document first-appearance release metadata
  docs/decision-records/0002-trunk-based-automated-release-process.md
Due: none

test: cover legacy bots during protocol migration
  apps/webapp/src/script/page/rightSidebar/conversationDetails/conversationDetails.test.tsx
Due: app_webapp

Add enhanced background performance mode
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/calling/FullscreenVideoCall.tsx
  apps/webapp/src/script/components/calling/VideoControls/VideoBackgroundSettings/VideoBackgroundSettings.test.tsx
  apps/webapp/src/script/components/calling/VideoControls/VideoBackgroundSettings/VideoBackgroundSettings.tsx
  apps/webapp/src/script/repositories/calling/CallingRepository.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/backgroundEffectsController.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/pipe/options.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/pipe/segmenter.test.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/pipe/segmenter.ts
  apps/webapp/src/script/repositories/media/backgroundEffectsHandler.ts
  apps/webapp/src/script/repositories/media/useBackgroundEffectsStore.ts
Due: app_webapp

Disable semantic commits for Renovate
  renovate.json
Due: none

Improve release appearance comment validation
  .github/workflows/test-release-appearance-comments.yml
  bin/releaseAppearance.test.ts
  bin/releaseAppearance.ts
  bin/releaseAppearanceCli.test.ts
  bin/releaseAppearanceCli.ts
  bin/releaseAppearanceGit.integration.test.ts
  docs/release-appearance-comment-validation.md
Due: none

fix: enhanced logging for GPU sync query and improved error handling
  apps/webapp/src/script/repositories/media/backgroundEffects/pipe/segmenter.ts
Due: app_webapp

Path conditions:
  app_webapp: any of: apps/webapp/**
  app_server: any of: apps/server/**
  lib_core: any of: libraries/core/**
  lib_api_client: any of: libraries/api-client/**
