Repository wireapp/wire-webapp: changes, and which Codecov flags are due for each by the changed paths.
All: app_webapp, app_server, lib_core, lib_api_client

chore(ci): remove dependency review workflow
  .github/workflows/dependency-review.yml
Due: none

fix: allow apps to be enabled during channel creation [WPB-21440]
  apps/webapp/src/script/components/Modals/CreateConversation/hooks/useCreateConversation.ts
Due: app_webapp

fix: display "apps are active badge" for conversations containing active apps [WPB-21440]
  apps/webapp/src/script/components/TitleBar/TitleBar.test.tsx
  apps/webapp/src/script/components/TitleBar/TitleBar.tsx
  apps/webapp/src/script/repositories/entity/Conversation.test.ts
  apps/webapp/src/script/repositories/entity/Conversation.ts
Due: app_webapp

wip: add changes to e2e_tests folder
  apps/webapp/test/e2e_tests/README.md
Due: app_webapp

chore(ci): remove dependency review workflow (#21108)
  .github/workflows/dependency-review.yml
Due: none

fix(core): skip stale MLS pending proposal commits
  libraries/core/src/messagingProtocols/mls/mlsService/mlsService.test.ts
  libraries/core/src/messagingProtocols/mls/mlsService/mlsService.ts
Due: lib_core

fix: display "apps are active badge" for conversations containing active apps [WPB-21440] (#21112)
  apps/webapp/src/script/components/TitleBar/TitleBar.test.tsx
  apps/webapp/src/script/components/TitleBar/TitleBar.tsx
  apps/webapp/src/script/repositories/entity/Conversation.test.ts
  apps/webapp/src/script/repositories/entity/Conversation.ts
Due: app_webapp

chore(Git Actions): Cleanup of unused Git Actions [WPB-24633]
  .github/workflows/playwright-cells-crit-flow-tests-manual.yml
  .github/workflows/playwright-cells-crit-flow-tests-scheduled.yml
  .github/workflows/playwright-smoke-tests.yml
  .github/workflows/run-cells-crit-flow-e2e-tests.yml
Due: none

use info log level
  libraries/core/src/messagingProtocols/mls/mlsService/mlsService.ts
Due: lib_core

test(webapp): transpile uuid in jest configs
  apps/webapp/jest.config.ts
  apps/webapp/jest.report.config.cjs
  libraries/api-client/jest.config.js
  libraries/core/jest.config.js
Due: app_webapp, lib_core, lib_api_client

fix: allow apps to be enabled during channel creation [WPB-21440] (#21111)
  apps/webapp/src/script/components/Modals/CreateConversation/hooks/useCreateConversation.ts
Due: app_webapp

chore(Git Actions): Cleanup of unused Git Actions [WPB-24633] (#21114)
  .github/workflows/playwright-cells-crit-flow-tests-manual.yml
  .github/workflows/playwright-cells-crit-flow-tests-scheduled.yml
  .github/workflows/playwright-smoke-tests.yml
  .github/workflows/run-cells-crit-flow-e2e-tests.yml
Due: none

fix: display system message warning about apps when they are added [WPB-20363]
  apps/webapp/src/script/repositories/event/preprocessor/ServiceMiddleware.test.ts
  apps/webapp/src/script/repositories/event/preprocessor/ServiceMiddleware.ts
Due: app_webapp

fix: display system message warning about apps when they are added [WPB-20363] (#21115)
  apps/webapp/src/script/repositories/event/preprocessor/ServiceMiddleware.test.ts
  apps/webapp/src/script/repositories/event/preprocessor/ServiceMiddleware.ts
Due: app_webapp

fix(webapp): import I18nProvider from react-aria-components
  apps/webapp/src/script/components/Cells/ShareModal/CellsShareExpirationFields.tsx
Due: app_webapp

fix: ensure app author is always resolved [WPB-21440]
  apps/webapp/src/script/page/RightSidebar/groupParticipantService/groupParticipantService.tsx
Due: app_webapp

fix: don't show apps which have already been added to the conversation when adding [WPB-22420]
  apps/webapp/src/script/page/RightSidebar/addParticipants/addParticipants.tsx
Due: app_webapp

fix: don't show apps when adding participants if the feature was disabled[WPB-22420]
  apps/webapp/src/script/page/RightSidebar/addParticipants/addParticipants.tsx
Due: app_webapp

test: refactor deep link setup to use beforeEach
  apps/webapp/test/e2e_tests/specs/DeepLinks/deepLinks.spec.ts
Due: app_webapp

chore: add translation for description
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/types/i18n.d.ts
Due: app_webapp

fix: make service details take up full height of panel
  apps/webapp/src/script/page/RightSidebar/groupParticipantService/groupParticipantService.tsx
Due: app_webapp

feat: align design of service details with figma
  apps/webapp/src/script/components/panel/ServiceDetails.styles.ts
  apps/webapp/src/script/components/panel/ServiceDetails.tsx
Due: app_webapp

fix: align add app button style with figma
  apps/webapp/src/script/page/RightSidebar/groupParticipantService/groupParticipantService.tsx
Due: app_webapp

feat: make unread marker readable for screen readers [WPB-22778]
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/MessagesList/Message/Marker/Marker.tsx
  apps/webapp/src/types/i18n.d.ts
Due: app_webapp

test(webapp): replace removed sinon fake server in unit tests
  apps/webapp/src/script/repositories/conversation/ConversationRepository.test.ts
  apps/webapp/test/helper/mockHttpServer.ts
  apps/webapp/test/unit_tests/conversation/ConversationServiceSpec.js
Due: app_webapp

ci: prepare Playwright dependencies once per E2E run
  .github/workflows/e2e-tests.yml
Due: none

fix: move actions into panel footer to fix sliding animation
  apps/webapp/src/script/page/RightSidebar/groupParticipantService/groupParticipantService.tsx
Due: app_webapp

refactor: re-use condition to show actions
  apps/webapp/src/script/page/RightSidebar/groupParticipantService/groupParticipantService.tsx
Due: app_webapp

fix(core): skip stale MLS pending proposal commits [WPB-24984] (#21113)
  libraries/core/src/messagingProtocols/mls/mlsService/mlsService.test.ts
  libraries/core/src/messagingProtocols/mls/mlsService/mlsService.ts
Due: lib_core

test: refactor deep link setup to use beforeEach (#21124)
  apps/webapp/test/e2e_tests/specs/DeepLinks/deepLinks.spec.ts
Due: app_webapp

Changed order in which users are created in TC-141
  apps/webapp/test/e2e_tests/specs/Block/block.spec.ts
Due: app_webapp

Added explicit opening of connect request in conversation list
  apps/webapp/test/e2e_tests/specs/Block/block.spec.ts
Due: app_webapp

feat: search for apps (WPB-20363) (#21035)
  apps/webapp/src/script/components/UserSearchableList/UserSearchableList.tsx
  apps/webapp/src/script/externalRoute.ts
  apps/webapp/src/script/page/RightSidebar/addParticipants/addParticipants.tsx
  apps/webapp/src/script/repositories/integration/IntegrationMapper.ts
  apps/webapp/src/script/repositories/integration/IntegrationRepository.ts
  apps/webapp/src/script/repositories/integration/ServiceEntity.ts
Due: app_webapp

feat: add apps to conversations (WPB-20363) (#21045)
  apps/webapp/src/script/components/Avatar/Avatar.tsx
  apps/webapp/src/script/components/ServiceList/components/ServiceListItem/ServiceListItem.tsx
  apps/webapp/src/script/guards/Panel.ts
  apps/webapp/src/script/guards/Service.ts
  apps/webapp/src/script/page/RightSidebar/RightSidebar.tsx
  apps/webapp/src/script/page/RightSidebar/addParticipants/addParticipants.tsx
  apps/webapp/src/script/page/RightSidebar/groupParticipantService/groupParticipantService.tsx
  apps/webapp/src/script/repositories/conversation/ConversationRepository.ts
  apps/webapp/src/script/repositories/integration/IntegrationMapper.ts
  apps/webapp/src/script/repositories/integration/ServiceEntity.ts
Due: app_webapp

feat: app details view (WPB-21440) (#21081)
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/Avatar/AvatarImage.tsx
  apps/webapp/src/script/components/panel/ServiceDetails.styles.ts
  apps/webapp/src/script/components/panel/ServiceDetails.tsx
  apps/webapp/src/script/page/RightSidebar/RightSidebar.tsx
  apps/webapp/src/script/page/RightSidebar/conversationDetails/conversationDetails.tsx
  apps/webapp/src/script/page/RightSidebar/groupParticipantService/groupParticipantService.tsx
  apps/webapp/src/script/repositories/integration/ServiceEntity.ts
  apps/webapp/src/script/repositories/team/TeamRepository.ts
  apps/webapp/src/script/view_model/ActionsViewModel.ts
  apps/webapp/src/types/i18n.d.ts
Due: app_webapp

revert show apps tab in connect flow (#21104)
  apps/webapp/src/script/page/LeftSidebar/panels/StartUI/StartUI.tsx
Due: app_webapp

fix: don't show apps when adding participants if the feature was disabled[WPB-22420] (#21123)
  apps/webapp/src/script/page/RightSidebar/addParticipants/addParticipants.tsx
Due: app_webapp

remove whitelisted services from app feature availability check (#21105)
  apps/webapp/src/script/components/Modals/CreateConversation/CreateConversationSteps/Preference.test.tsx
  apps/webapp/src/script/components/Modals/CreateConversation/CreateConversationSteps/Preference.tsx
  apps/webapp/src/script/components/Modals/GroupCreation/GroupCreationModal.test.tsx
  apps/webapp/src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
  apps/webapp/src/script/page/RightSidebar/guestServicesOptions/components/servicesOptions/serviceOptions.test.tsx
  apps/webapp/src/script/page/RightSidebar/guestServicesOptions/components/servicesOptions/servicesOptions.tsx
  apps/webapp/src/script/page/RightSidebar/guestServicesOptions/guestServicesOptions.test.tsx
  apps/webapp/src/script/util/featureUtil.test.ts
  apps/webapp/src/script/util/featureUtil.ts
Due: app_webapp

Path conditions:
  app_webapp: any of: apps/webapp/**
  app_server: any of: apps/server/**
  lib_core: any of: libraries/core/**
  lib_api_client: any of: libraries/api-client/**
