Repository wireapp/wire-webapp: changes, and which Codecov flags are due for each by the changed paths.
All: app_webapp, app_server, lib_core, lib_api_client

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '45...80'
  status:
    project:
      default:
        target: auto
      app_webapp:
        target: auto
        flags:
          - app_webapp
      app_server:
        target: auto
        flags:
          - app_server
      lib_core:
        target: auto
        flags:
          - lib_core
      lib_api_client:
        target: auto
        flags:
          - lib_api_client
    patch:
      default:
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: 'diff, flags, files'
  behavior: default
  require_changes: no

flags:
  app_webapp:
    paths:
      - 'apps/webapp/**'
    carryforward: false
  app_server:
    paths:
      - 'apps/server/**'
    carryforward: true
  lib_core:
    paths:
      - 'libraries/core/**'
    carryforward: true
  lib_api_client:
    paths:
      - 'libraries/api-client/**'
    carryforward: true

github_checks:
  annotations: false

ci: enforce WPB Jira key pattern in PR linking workflow (#20720)
  .github/workflows/jira-lint-and-link.yml
Due: none

chore: resolve conflict
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/utils/draftUtils.ts
Due: app_webapp

feat: leave subConversation on error during MLS conference join without rejecting calls.
  apps/webapp/src/script/repositories/calling/CallingRepository.ts
Due: app_webapp

ci: add temporary tag redeploy workflow for EB clone
  .github/workflows/redeploy-temporary-from-tag.yml
Due: none

ci: add temporary tag redeploy workflow for EB clone (#20728)
  .github/workflows/redeploy-temporary-from-tag.yml
Due: none

chore: Revert "ci: add temporary tag redeploy workflow for EB clone (#20728)"
  .github/workflows/redeploy-temporary-from-tag.yml
Due: none

test: write the Sending Assets regression tests [WPB-19969] (#20678)
  apps/webapp/test/e2e_tests/specs/SendingAssets/sendingAssets.spec.ts
  apps/webapp/test/e2e_tests/utils/asset.util.ts
Due: app_webapp

chore: Revert "ci: add temporary tag redeploy workflow for EB clone (#20728)" (#20729)
  .github/workflows/redeploy-temporary-from-tag.yml
Due: none

feat: refactor VideoControls to enhance background effects support and update UI structure
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/calling/VideoControls/VideoControls.styles.ts
  apps/webapp/src/script/components/calling/VideoControls/VideoControls.tsx
  apps/webapp/src/script/components/calling/VideoControls/VideoControlsMenu/BackgroundEffectsPicker.styles.ts
  apps/webapp/src/script/components/calling/VideoControls/VideoControlsMenu/BackgroundEffectsPicker.tsx
  apps/webapp/src/script/components/calling/VideoControls/VideoControlsMenu/VideoControlsMenu.tsx
  apps/webapp/src/types/i18n.d.ts
Due: app_webapp

chore: extend filename policy enforcement to server routes
  .ls-lint.yml
  apps/server/Server.ts
  apps/server/routes/appleassociation/appleAssociationRoute.ts
  apps/server/routes/clientVersionCheck/clientVersion.test.ts
  apps/server/routes/clientVersionCheck/clientVersion.ts
  apps/server/routes/clientVersionCheck/clientVersionCheckRoute.test.ts
  apps/server/routes/clientVersionCheck/clientVersionCheckRoute.ts
  apps/server/routes/config/configRoute.ts
  apps/server/routes/error/errorRoutes.ts
  apps/server/routes/googlewebmaster/googleWebmasterRoute.ts
  apps/server/routes/health/healthRoute.ts
  apps/server/routes/redirectRoutes.test.ts
  apps/server/routes/redirectRoutes.ts
  apps/server/routes/root.ts
Due: app_server

feat: inject startup feature toggles into API client creation
  apps/webapp/src/script/auth/main.tsx
  apps/webapp/src/script/main/index.tsx
  apps/webapp/src/script/service/createAPIClient.test.ts
  apps/webapp/src/script/service/createAPIClient.ts
Due: app_webapp

chore: extend filename policy enforcement to server routes (#20725)
  .ls-lint.yml
  apps/server/Server.ts
  apps/server/routes/appleassociation/appleAssociationRoute.ts
  apps/server/routes/clientVersionCheck/clientVersion.test.ts
  apps/server/routes/clientVersionCheck/clientVersion.ts
  apps/server/routes/clientVersionCheck/clientVersionCheckRoute.test.ts
  apps/server/routes/clientVersionCheck/clientVersionCheckRoute.ts
  apps/server/routes/config/configRoute.ts
  apps/server/routes/error/errorRoutes.ts
  apps/server/routes/googlewebmaster/googleWebmasterRoute.ts
  apps/server/routes/health/healthRoute.ts
  apps/server/routes/redirectRoutes.test.ts
  apps/server/routes/redirectRoutes.ts
  apps/server/routes/root.ts
Due: app_server

feat: inject startup feature toggles into API client creation (#20730)
  apps/webapp/src/script/auth/main.tsx
  apps/webapp/src/script/main/index.tsx
  apps/webapp/src/script/service/createAPIClient.test.ts
  apps/webapp/src/script/service/createAPIClient.ts
Due: app_webapp

test: re-enable channels management critical flow (WPB-23751)
  apps/webapp/test/e2e_tests/specs/CriticalFlow/channelsManagement-TC-8752.spec.ts
Due: app_webapp

feat: update VideoControls to improve background effects handling and adjust styles
  apps/webapp/src/script/components/calling/VideoControls/VideoControls.styles.ts
  apps/webapp/src/script/components/calling/VideoControls/VideoControls.tsx
  apps/webapp/src/script/components/calling/VideoControls/VideoControlsMenu/VideoControlsMenu.tsx
Due: app_webapp

chore: remove unused imports in VideoControls and VideoControlsMenu
  apps/webapp/src/script/components/calling/VideoControls/VideoControls.tsx
  apps/webapp/src/script/components/calling/VideoControls/VideoControlsMenu/VideoControlsMenu.tsx
Due: app_webapp

test: re-enable channels management critical flow (WPB-23751) (#20731)
  apps/webapp/test/e2e_tests/specs/CriticalFlow/channelsManagement-TC-8752.spec.ts
Due: app_webapp

feat: add support for CallingRepository and BackgroundEffectsHandler in test utilities
  apps/webapp/src/script/auth/util/test/TestUtil.tsx
  apps/webapp/src/script/components/calling/fullscreenVideoCall.test.tsx
  apps/webapp/src/script/repositories/calling/CallingRepository.test.ts
Due: app_webapp

feat: add aria label and also title on the close screen share icon (#19845)
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/types/i18n.d.ts
  src/script/components/calling/ChooseScreen.tsx
Due: app_webapp

feat: enhance button accessibility with focus and disabled styles (#20027)
  apps/webapp/src/script/components/calling/VideoControls/VideoControls.styles.ts
  apps/webapp/src/style/foundation/video-calling.less
Due: app_webapp

fix: update background color for focus-visible on inactive buttons (#20063)
  apps/webapp/src/script/components/calling/VideoControls/VideoControls.styles.ts
  apps/webapp/src/style/foundation/video-calling.less
Due: app_webapp

feat: add i18n strings and update VideoControls for background effects customization
  apps/webapp/src/script/components/calling/VideoControls/VideoControls.tsx
  apps/webapp/src/types/i18n.d.ts
Due: app_webapp

feat: add i18n strings for video call background effects and settings
  apps/webapp/src/i18n/en-US.json
Due: app_webapp

chore: extend camelCase filename enforcement to api-client validation
  .ls-lint.yml
  libraries/api-client/src/broadcast/BroadcastAPI.ts
  libraries/api-client/src/validation/index.ts
  libraries/api-client/src/validation/validationError.ts
Due: lib_api_client

fix: restore accidentally removed i18n string for videoCallBackgroundsLabel
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/types/i18n.d.ts
Due: app_webapp

chore: extend camelCase filename enforcement to api-client validation (#20735)
  .ls-lint.yml
  libraries/api-client/src/broadcast/BroadcastAPI.ts
  libraries/api-client/src/validation/index.ts
  libraries/api-client/src/validation/validationError.ts
Due: lib_api_client

fix: improve error handling in FrameSource and clean up unused segmenter code
  apps/webapp/src/script/repositories/media/BackgroundEffects/effects/FrameSource.ts
  apps/webapp/src/script/repositories/media/BackgroundEffects/segmentation/segmenter.ts
Due: app_webapp

chore: extend camelCase filename enforcement to api-client obfuscation
  .ls-lint.yml
  libraries/api-client/src/APIClient.ts
  libraries/api-client/src/http/HttpClient.ts
  libraries/api-client/src/obfuscation/index.ts
  libraries/api-client/src/obfuscation/obfuscationUtil.test.ts
  libraries/api-client/src/obfuscation/obfuscationUtil.ts
  libraries/api-client/src/shims/node/cookie.ts
Due: lib_api_client

fix: type handling and clean up BackgroundEffects imports and styles
  apps/webapp/src/script/auth/util/test/TestUtil.tsx
  apps/webapp/src/script/components/calling/VideoControls/VideoControls.styles.ts
  apps/webapp/src/script/main/app.ts
  apps/webapp/src/script/repositories/media/BackgroundEffects/effects/BackgroundEffectsController.ts
  apps/webapp/src/script/repositories/media/BackgroundEffects/effects/VideoSource.ts
  apps/webapp/src/script/repositories/media/BackgroundEffects/index.ts
  apps/webapp/src/script/repositories/media/BackgroundEffects/test-basic.ts
  apps/webapp/src/script/repositories/media/BackgroundEffectsHandler.ts
  apps/webapp/src/script/repositories/team/TeamState.ts
Due: app_webapp

fix(webapp): avoid window-dependent imports in backup zip worker
  apps/webapp/src/script/repositories/backup/zipWorker.ts
Due: app_webapp

chore: extend camelCase filename enforcement to api-client obfuscation (#20736)
  .ls-lint.yml
  libraries/api-client/src/APIClient.ts
  libraries/api-client/src/http/HttpClient.ts
  libraries/api-client/src/obfuscation/index.ts
  libraries/api-client/src/obfuscation/obfuscationUtil.test.ts
  libraries/api-client/src/obfuscation/obfuscationUtil.ts
  libraries/api-client/src/shims/node/cookie.ts
Due: lib_api_client

refactor(webapp): extract worker-safe toError utility
  apps/webapp/src/script/auth/module/action/AuthAction.ts
  apps/webapp/src/script/auth/module/action/ClientAction.ts
  apps/webapp/src/script/auth/module/action/ConversationAction.ts
  apps/webapp/src/script/auth/module/action/InvitationAction.ts
  apps/webapp/src/script/auth/module/action/LocalStorageAction.ts
  apps/webapp/src/script/auth/module/action/SelfAction.test.ts
  apps/webapp/src/script/auth/module/action/SelfAction.ts
  apps/webapp/src/script/auth/module/action/UserAction.ts
  apps/webapp/src/script/auth/page/OAuthPermissions.tsx
  apps/webapp/src/script/auth/page/SetEmail.tsx
  apps/webapp/src/script/auth/page/SetPassword.tsx
  apps/webapp/src/script/components/Modals/LegalHoldModal/LegalHoldModal.tsx
  apps/webapp/src/script/components/UserDevices/components/DeviceDetails/DeviceDetails.tsx
  apps/webapp/src/script/page/AppLock/AppLock.tsx
  apps/webapp/src/script/repositories/backup/zipWorker.ts
  apps/webapp/src/script/repositories/calling/CallingRepository.ts
  apps/webapp/src/script/repositories/client/ClientRepository.ts
  apps/webapp/src/script/repositories/connection/ConnectionRepository.ts
  apps/webapp/src/script/repositories/conversation/ConversationRepository.ts
  apps/webapp/src/script/repositories/conversation/EventMapper.ts
  apps/webapp/src/script/repositories/cryptography/CryptographyMapper.ts
  apps/webapp/src/script/repositories/event/EventRepository.ts
  apps/webapp/src/script/repositories/event/EventService.ts
  apps/webapp/src/script/repositories/integration/IntegrationRepository.ts
  apps/webapp/src/script/repositories/media/MediaStreamHandler.ts
  apps/webapp/src/script/repositories/storage/StorageService.ts
  apps/webapp/src/script/repositories/user/UserRepository.ts
  apps/webapp/src/script/util/TypePredicateUtil.test.ts
  apps/webapp/src/script/util/TypePredicateUtil.ts
  apps/webapp/src/script/util/toError.ts
Due: app_webapp

chore: remove member from codeowners
  .github/CODEOWNERS
Due: none

move tests
  apps/webapp/src/script/util/TypePredicateUtil.test.ts
  apps/webapp/src/script/util/toError.test.ts
Due: app_webapp

refactor
  apps/webapp/src/script/util/toError.ts
Due: app_webapp
