Repository wireapp/wire-webapp: changes, and which Codecov flags are due for each by the changed paths.
All: app_webapp, app_server, lib_core, lib_api_client

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '45...80'
  status:
    project:
      default:
        target: auto
      app_webapp:
        target: auto
        flags:
          - app_webapp
      app_server:
        target: auto
        flags:
          - app_server
      lib_core:
        target: auto
        flags:
          - lib_core
      lib_api_client:
        target: auto
        flags:
          - lib_api_client
    patch:
      default:
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: 'diff, flags, files'
  behavior: default
  require_changes: no

flags:
  app_webapp:
    paths:
      - 'apps/webapp/**'
    carryforward: false
  app_server:
    paths:
      - 'apps/server/**'
    carryforward: true
  lib_core:
    paths:
      - 'libraries/core/**'
    carryforward: true
  lib_api_client:
    paths:
      - 'libraries/api-client/**'
    carryforward: true

github_checks:
  annotations: false

another try
  .github/workflows/e2e-tests.yml
Due: none

fix e2e-report run
  .github/workflows/e2e-tests.yml
Due: none

chore: extend incremental filename enforcement to core test helpers
  .ls-lint.yml
  libraries/core/src/conversation/ConversationService/ConversationService.test.ts
  libraries/core/src/conversation/message/MessageService.test.ts
  libraries/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceExternal.test.ts
  libraries/core/src/messagingProtocols/proteus/ProteusService/ProteusService.mocks.ts
  libraries/core/src/test/accountHelper.ts
  libraries/core/src/test/payloadHelper.ts
  libraries/core/src/test/storeHelper.ts
Due: lib_core

chore: extend incremental filename enforcement to core secret store
  .ls-lint.yml
Due: none

chore: extend incremental filename enforcement to core cryptography
  .ls-lint.yml
  libraries/core/src/conversation/AssetService/AssetService.ts
  libraries/core/src/cryptography/assetCryptography/assetCryptography.test.ts
  libraries/core/src/cryptography/assetCryptography/assetCryptography.ts
  libraries/core/src/cryptography/assetCryptography/crypto.browser.ts
  libraries/core/src/cryptography/assetCryptography/crypto.node.ts
  libraries/core/src/cryptography/assetCryptography/encryptedAsset.ts
  libraries/core/src/cryptography/assetCryptography/index.ts
  libraries/core/src/cryptography/assetCryptography/interfaces.ts
  libraries/core/src/cryptography/genericMessageMapper.ts
  libraries/core/src/cryptography/index.ts
  libraries/core/src/cryptography/messageHashService.test.ts
  libraries/core/src/cryptography/messageHashService.ts
  libraries/core/src/cryptography/sessionPayloadBundle.ts
Due: lib_core

chore: extend incremental filename enforcement to core conversation content
  .ls-lint.yml
  libraries/core/src/conversation/content/FileContent.ts
  libraries/core/src/conversation/content/index.ts
Due: lib_core

chore: extend incremental filename enforcement to core conversation support services
  .ls-lint.yml
  apps/webapp/src/script/repositories/assets/assetRemoteData.ts
  apps/webapp/src/script/repositories/calling/CallingEpochCache.ts
  apps/webapp/src/script/repositories/calling/CallingRepository.ts
  libraries/core/src/Account.ts
  libraries/core/src/conversation/ConversationService/ConversationService.test.ts
  libraries/core/src/conversation/ConversationService/ConversationService.ts
  libraries/core/src/conversation/assetService/assetService.test.ts
  libraries/core/src/conversation/assetService/assetService.ts
  libraries/core/src/conversation/assetService/index.ts
  libraries/core/src/conversation/conversationMapper/conversationMapper.test.ts
  libraries/core/src/conversation/conversationMapper/conversationMapper.ts
  libraries/core/src/conversation/index.ts
  libraries/core/src/conversation/messageTimer/index.ts
  libraries/core/src/conversation/messageTimer/messageTimer.test.ts
  libraries/core/src/conversation/messageTimer/messageTimer.ts
  libraries/core/src/conversation/subconversationService/subconversationService.test.ts
  libraries/core/src/conversation/subconversationService/subconversationService.ts
  libraries/core/src/conversation/subconversationService/subconversationUtil.ts
Due: app_webapp, lib_core

chore: record missing core conversation content filename rename
  libraries/core/src/conversation/content/fileContent.ts
Due: lib_core

chore: record missing core conversation content filename renames
  libraries/core/src/conversation/content/assetContent.ts
  libraries/core/src/conversation/content/buttonActionConfirmationContent.ts
  libraries/core/src/conversation/content/buttonActionContent.ts
  libraries/core/src/conversation/content/callingContent.ts
  libraries/core/src/conversation/content/clearedContent.ts
  libraries/core/src/conversation/content/clientActionContent.ts
  libraries/core/src/conversation/content/clientAddContent.ts
  libraries/core/src/conversation/content/clientRemoveContent.ts
  libraries/core/src/conversation/content/compositeContent.ts
  libraries/core/src/conversation/content/confirmationContent.ts
  libraries/core/src/conversation/content/contentType.guards.ts
  libraries/core/src/conversation/content/conversationContent.ts
  libraries/core/src/conversation/content/deletedContent.ts
  libraries/core/src/conversation/content/editedTextContent.ts
  libraries/core/src/conversation/content/hiddenContent.ts
  libraries/core/src/conversation/content/imageContent.ts
  libraries/core/src/conversation/content/inCallEmojiContent.ts
  libraries/core/src/conversation/content/inCallHandRaiseContent.ts
  libraries/core/src/conversation/content/knockContent.ts
  libraries/core/src/conversation/content/linkPreviewContent.ts
  libraries/core/src/conversation/content/locationContent.ts
  libraries/core/src/conversation/content/mentionContent.ts
  libraries/core/src/conversation/content/multipartContent.ts
  libraries/core/src/conversation/content/quoteContent.ts
  libraries/core/src/conversation/content/reactionContent.ts
  libraries/core/src/conversation/content/textContent.ts
  libraries/core/src/conversation/content/tweetContent.ts
Due: lib_core

chore(E2E): Optimize the size of Playwright reports [WPB-24280]
  apps/webapp/playwright.config.ts
Due: app_webapp

Removed attachments from Playwright traces
  apps/webapp/playwright.config.ts
Due: app_webapp

Removing blob reports after merging them
  .github/workflows/e2e-tests.yml
Due: none

feat: add new menu options for create collabora document(WPB-22465)
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsHeader/CellsNewMenu/CellsNewItemModal/CellsNewItemModal.tsx
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsHeader/CellsNewMenu/CellsNewMenu.tsx
  apps/webapp/src/types/i18n.d.ts
Due: app_webapp

feat: show modal based on file/folder and file type
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsHeader/CellsNewMenu/CellsNewItemModal/CellsNewItemModal.tsx
  apps/webapp/src/script/components/Conversation/ConversationCells/common/CellsNewNodeForm/CellsNewNodeForm.tsx
Due: app_webapp

refactor: split new node flow into dedicated file and folder hooks/modals
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsHeader/CellsNewMenu/CellsNewFileModal/CellsNewFileModal.styles.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsHeader/CellsNewMenu/CellsNewFileModal/CellsNewFileModal.tsx
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsHeader/CellsNewMenu/CellsNewFolderModal/CellsNewFolderModal.styles.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsHeader/CellsNewMenu/CellsNewFolderModal/CellsNewFolderModal.tsx
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsHeader/CellsNewMenu/CellsNewMenu.tsx
  apps/webapp/src/script/components/Conversation/ConversationCells/common/CellsNewNodeForm/CellsNewNodeForm.tsx
  apps/webapp/src/script/components/Conversation/ConversationCells/common/useCellsNewNodeForm/cellsNodeFormUtils.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/common/useCellsNewNodeForm/useCellsNewFileForm.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/common/useCellsNewNodeForm/useCellsNewFolderForm.ts
  apps/webapp/src/types/i18n.d.ts
Due: app_webapp

feat: update new files copyright year
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsHeader/CellsNewMenu/CellsNewFolderModal/CellsNewFolderModal.styles.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsHeader/CellsNewMenu/CellsNewFolderModal/CellsNewFolderModal.tsx
Due: app_webapp

fix: stale import in CellsMoveNodeModal
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsTableRowOptions/CellsMoveNodeModal/CellsMoveNodeModal.tsx
Due: app_webapp

chore: regenerate i18n translations and types
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/types/i18n.d.ts
Due: app_webapp

fix: import case localizerUtil
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsHeader/CellsNewMenu/CellsNewFolderModal/CellsNewFolderModal.tsx
Due: app_webapp

feat: use feature toggle for cells new file creation
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsHeader/CellsNewMenu/CellsNewMenu.tsx
Due: app_webapp

fix: localizerUtil casing
  apps/webapp/src/script/components/Conversation/ConversationCells/common/useCellsNewNodeForm/useCellsNewFileForm.test.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/common/useCellsNewNodeForm/useCellsNewFolderForm.test.ts
Due: app_webapp

fix: type issues
  apps/webapp/src/script/components/Conversation/ConversationCells/common/useCellsNewNodeForm/cellsNodeFormUtils.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/common/useCellsNewNodeForm/useCellsNewFileForm.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/common/useCellsNewNodeForm/useCellsNewFolderForm.ts
Due: app_webapp

test: test coverage
  apps/webapp/src/script/components/Conversation/ConversationCells/common/useCellsNewNodeForm/useCellsNewFileForm.test.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/common/useCellsNewNodeForm/useCellsNewFolderForm.test.ts
Due: app_webapp

fix: avoid Maybe.map(undefined) in getErrorStatus
  apps/webapp/src/script/components/Conversation/ConversationCells/common/useCellsNewNodeForm/cellsNodeFormUtils.ts
Due: app_webapp

chore: version bump of react-ui-kit
  apps/webapp/package.json
  yarn.lock
Due: app_webapp

fix: cellsRepository casing
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsHeader/CellsNewMenu/CellsNewFolderModal/CellsNewFolderModal.tsx
  apps/webapp/src/script/components/Conversation/ConversationCells/common/useCellsNewNodeForm/useCellsNewFileForm.ts
Due: app_webapp

chore: update AWS_REGION environment variable placement in workflow files
  .github/workflows/publish-and-deploy-webapp.yml
  .github/workflows/redeploy-production-from-tag.yml
Due: none

chore: update AWS_REGION environment variable placement in workflow files (#20891)
  .github/workflows/publish-and-deploy-webapp.yml
  .github/workflows/redeploy-production-from-tag.yml
Due: none

feat: emit WebSocket long-running retry transport event
  libraries/api-client/src/tcp/reconnectingWebsocket.ts
  libraries/api-client/src/tcp/webSocketClient.test.ts
  libraries/api-client/src/tcp/webSocketClient.ts
Due: lib_api_client

chore: extend incremental filename enforcement to core conversation message
  .ls-lint.yml
  apps/webapp/src/script/repositories/calling/CallingRepository.ts
  apps/webapp/src/script/repositories/conversation/ClientMismatchUtil.ts
  apps/webapp/src/script/repositories/conversation/MessageRepository.ts
  libraries/core/src/broadcast/broadcastService.ts
  libraries/core/src/conversation/ConversationService/ConversationService.test.ts
  libraries/core/src/conversation/conversationMapper/conversationMapper.test.ts
  libraries/core/src/conversation/conversationMapper/conversationMapper.ts
  libraries/core/src/conversation/index.ts
  libraries/core/src/conversation/message/index.ts
  libraries/core/src/conversation/message/message.ts
  libraries/core/src/conversation/message/message.types.ts
  libraries/core/src/conversation/message/messageBuilder.ts
  libraries/core/src/conversation/message/messageService.test.ts
  libraries/core/src/conversation/message/messageService.ts
  libraries/core/src/conversation/message/messageToProtoMapper.ts
  libraries/core/src/conversation/message/otrMessage.ts
  libraries/core/src/conversation/message/payloadBundle.ts
  libraries/core/src/conversation/message/recipientsHelper.ts
  libraries/core/src/conversation/message/teamMessage.ts
  libraries/core/src/conversation/message/textContentBuilder.ts
  libraries/core/src/conversation/message/userClientsUtil.ts
  libraries/core/src/conversation/message/userClientsUtils.test.ts
  libraries/core/src/conversation/message/userMessage.ts
  libraries/core/src/index.ts
  libraries/core/src/messagingProtocols/proteus/ProteusService/ProteusService.test.ts
  libraries/core/src/messagingProtocols/proteus/ProteusService/ProteusService.ts
  libraries/core/src/messagingProtocols/proteus/ProteusService/WithMockedGenerics.test.ts
  libraries/core/src/messagingProtocols/proteus/Utility/Recipients.ts
  libraries/core/src/messagingProtocols/proteus/Utility/SessionHandler/SessionHandler.ts
  libraries/core/src/user/userMapper.test.ts
  libraries/core/src/user/userMapper.ts
Due: app_webapp, lib_core

chore: extend incremental filename enforcement to core conversation root
  apps/webapp/src/script/repositories/conversation/EventBuilder/EventBuilder.ts
  libraries/core/src/conversation/abortReason.ts
  libraries/core/src/conversation/assetTransferState.ts
  libraries/core/src/conversation/clientActionType.ts
  libraries/core/src/conversation/content/inCallEmojiContent.ts
  libraries/core/src/conversation/genericMessageType.ts
  libraries/core/src/conversation/inCallEmojiType.ts
  libraries/core/src/conversation/index.ts
  libraries/core/src/conversation/message/messageBuilder.ts
  libraries/core/src/conversation/message/messageToProtoMapper.ts
  libraries/core/src/conversation/reactionType.ts
Due: app_webapp, lib_core

chore: extend incremental filename enforcement to core conversation service
  .ls-lint.yml
  libraries/core/src/conversation/conversationService/conversationService.test.ts
  libraries/core/src/conversation/conversationService/conversationService.ts
  libraries/core/src/conversation/conversationService/conversationService.types.ts
  libraries/core/src/conversation/conversationService/index.ts
  libraries/core/src/conversation/conversationService/utility/getConversationQualifiedMembers.ts
  libraries/core/src/conversation/index.ts
  libraries/core/src/messagingProtocols/proteus/Utility/Recipients.ts
  libraries/core/src/messagingProtocols/proteus/Utility/index.ts
Due: lib_core

chore: extend incremental filename enforcement to core proteus utility
  .ls-lint.yml
  libraries/core/src/client/clientDatabaseRepository.ts
  libraries/core/src/messagingProtocols/proteus/ProteusService/ProteusService.test.ts
  libraries/core/src/messagingProtocols/proteus/ProteusService/ProteusService.ts
  libraries/core/src/messagingProtocols/proteus/ProteusService/WithMockedGenerics.test.ts
  libraries/core/src/messagingProtocols/proteus/ProteusService/index.ts
  libraries/core/src/messagingProtocols/proteus/utility/getGenericMessageParams.ts
  libraries/core/src/messagingProtocols/proteus/utility/index.ts
  libraries/core/src/messagingProtocols/proteus/utility/isClearFromMismatch.ts
  libraries/core/src/messagingProtocols/proteus/utility/recipients.ts
  libraries/core/src/messagingProtocols/proteus/utility/sessionHandler/index.ts
  libraries/core/src/messagingProtocols/proteus/utility/sessionHandler/sessionHandler.test.ts
  libraries/core/src/messagingProtocols/proteus/utility/sessionHandler/sessionHandler.ts
  libraries/core/src/messagingProtocols/proteus/utility/sessionHandler/sessionHandler.types.ts
  libraries/core/src/messagingProtocols/proteus/utility/userIds.ts
Due: lib_core

chore: extend incremental filename enforcement to core proteus decryption errors
  .ls-lint.yml
  libraries/core/src/messagingProtocols/proteus/ProteusService/ProteusService.ts
  libraries/core/src/messagingProtocols/proteus/ProteusService/decryptionErrorGenerator/decryptionErrorGenerator.test.ts
  libraries/core/src/messagingProtocols/proteus/ProteusService/decryptionErrorGenerator/decryptionErrorGenerator.ts
  libraries/core/src/messagingProtocols/proteus/ProteusService/decryptionErrorGenerator/index.ts
  libraries/core/src/messagingProtocols/proteus/ProteusService/index.ts
Due: lib_core

chore: extend incremental filename enforcement to core proteus crypto client
  .ls-lint.yml
  libraries/core/src/Account.ts
  libraries/core/src/client/clientService.ts
  libraries/core/src/messagingProtocols/proteus/ProteusService/ProteusService.mocks.ts
  libraries/core/src/messagingProtocols/proteus/ProteusService/ProteusService.test.ts
  libraries/core/src/messagingProtocols/proteus/ProteusService/ProteusService.ts
  libraries/core/src/messagingProtocols/proteus/ProteusService/cryptoClient/coreCryptoWrapper/coreCryptoWrapper.ts
  libraries/core/src/messagingProtocols/proteus/ProteusService/cryptoClient/coreCryptoWrapper/index.ts
  libraries/core/src/messagingProtocols/proteus/ProteusService/cryptoClient/coreCryptoWrapper/prekeysTracker/index.ts
  libraries/core/src/messagingProtocols/proteus/ProteusService/cryptoClient/coreCryptoWrapper/prekeysTracker/prekeysTracker.store.ts
  libraries/core/src/messagingProtocols/proteus/ProteusService/cryptoClient/coreCryptoWrapper/prekeysTracker/prekeysTracker.test.ts
  libraries/core/src/messagingProtocols/proteus/ProteusService/cryptoClient/coreCryptoWrapper/prekeysTracker/prekeysTracker.ts
  libraries/core/src/messagingProtocols/proteus/ProteusService/cryptoClient/cryptoClient.types.ts
  libraries/core/src/messagingProtocols/proteus/ProteusService/cryptoClient/cryptoboxWrapper.ts
  libraries/core/src/messagingProtocols/proteus/ProteusService/cryptoClient/index.ts
  libraries/core/src/messagingProtocols/proteus/utility/sessionHandler/sessionHandler.test.ts
  libraries/core/src/messagingProtocols/proteus/utility/sessionHandler/sessionHandler.ts
Due: lib_core

fix: overflow glitch in create group modal
  apps/webapp/src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
  apps/webapp/src/style/modal/group-creation.less
Due: app_webapp
