Repository wireapp/wire-webapp: changes, and which Codecov flags are due for each by the changed paths.
All: app_webapp, app_server

chore: configure TypeScript project references and update gitignore
  .gitignore
  apps/webapp/tsconfig.build.json
  apps/webapp/tsconfig.eslint.json
  apps/webapp/tsconfig.json
  eslint.config.ts
  tsconfig.json
Due: app_webapp

chore(nx): try to fix the ebs config paths
  apps/server/config/index.ts
  bin/zip.js
Due: app_server

chore(nx): ignore generated file
  apps/webapp/.gitignore
  apps/webapp/src/script/components/Icon.tsx
  package.json
  yarn.lock
Due: app_webapp

chore(nx): better detect if the script runs in a monorepo or not
  apps/server/config/index.ts
Due: app_server

chore(nx): adjust all e2e-test paths and commands in workflows
  .github/workflows/precommit-crit-flows.yml
Due: none

chore(nx): adjust github workflow paths, use nvmrc as default
  .github/workflows/pull_translations.yml
  .github/workflows/sync_translations.yml
Due: none

chore(nx): codecov respects monorepo
  .github/workflows/ci.yml
  apps/server/jest.config.js
  apps/server/project.json
Due: app_server

chore(cx): additional codecov changes
  .github/workflows/ci.yml
  apps/server/project.json
  apps/webapp/project.json
  codecov.yml
Due: app_webapp, app_server

chore(nx): yaml validation failed
  codecov.yml
Due: none

chore(nx): additional codecov changes, playwright changes
  .github/workflows/ci.yml
  .github/workflows/precommit-crit-flows.yml
  codecov.yml
Due: none

chore(e2e): investigate playwright reports in pipeline issue
  .github/workflows/precommit-crit-flows.yml
Due: none

chore(workflows): new try with codecov and e2e
  .github/workflows/ci.yml
  .github/workflows/precommit-crit-flows.yml
  codecov.yml
Due: none

chore(eslint): restore header plugin functionality
  .github/workflows/ci.yml
  .github/workflows/precommit-crit-flows.yml
  eslint.config.ts
  yarn.lock
Due: none

chore: rebuild lockfile
  yarn.lock
Due: none

fix: auro initialise warning, configs, tests
  apps/webapp/src/script/browser/CheckBrowser.ts
  apps/webapp/src/script/util/Logger.ts
  libraries/Logger/__mocks__/@datadog/browser-logs.js
  libraries/Logger/__mocks__/@datadog/browser-rum.js
  libraries/Logger/babel.config.cjs
  libraries/Logger/jest.config.cjs
  libraries/Logger/project.json
  libraries/Logger/src/GlobalConfig.ts
  libraries/Logger/src/__tests__/DatadogUserManagement.test.ts
  libraries/Logger/src/__tests__/GlobalConfig.test.ts
  libraries/Logger/src/test-setup.ts
  libraries/Logger/src/transports/DatadogTransport.ts
Due: app_webapp

chore(logging): update docs
  docs/ADRs/2025-12-29-unified-logging-library.md
  libraries/Logger/README.md
  libraries/Logger/docs/presidio-integration.md
Due: none

fix(datadog): bundle dependencies properly
  apps/webapp/src/script/browser/CheckBrowser.ts
  libraries/Logger/package.json
  libraries/Logger/src/transports/DatadogTransport.ts
  libraries/Logger/vite.config.ts
Due: app_webapp

chore(logging): update docs
  docs/ADRs/2025-12-29-unified-logging-library.md
Due: none

chore(depenabot): fix config
  .github/dependabot.yml
Due: none

chore(depenabot): fix config (#20009)
  .github/dependabot.yml
Due: none

feat: Search files in cells conversation [WPB-21646]
  src/script/components/CellsGlobalView/common/useCellsStore/useCellsStore.ts
  src/script/components/CellsGlobalView/useSearchCellsNodes/useSearchCellsNodes.ts
  src/script/components/Conversation/ConversationCells/CellsHeader/CellsHeader.styles.ts
  src/script/components/Conversation/ConversationCells/CellsHeader/CellsHeader.tsx
  src/script/components/Conversation/ConversationCells/ConversationCells.tsx
  src/script/components/Conversation/ConversationCells/useConversationSearch/useConversationSearchFiles.ts
  src/script/repositories/cells/CellsRepository.ts
Due: none

chore(nx): remove compiled library
  libraries/Logger/lib/GlobalConfig.d.ts
  libraries/Logger/lib/GlobalConfig.d.ts.map
  libraries/Logger/lib/LoggerWithGlobalConfig.d.ts
  libraries/Logger/lib/LoggerWithGlobalConfig.d.ts.map
  libraries/Logger/lib/config/ContextWhitelist.d.ts
  libraries/Logger/lib/config/ContextWhitelist.d.ts.map
  libraries/Logger/lib/consoleOverride/ConsoleOverride.d.ts
  libraries/Logger/lib/consoleOverride/ConsoleOverride.d.ts.map
  libraries/Logger/lib/debug/enableDebugLogging.d.ts
  libraries/Logger/lib/debug/enableDebugLogging.d.ts.map
  libraries/Logger/lib/debug/wireLoggingHelper.d.ts
  libraries/Logger/lib/debug/wireLoggingHelper.d.ts.map
  libraries/Logger/lib/index.d.ts
  libraries/Logger/lib/index.d.ts.map
  libraries/Logger/lib/index.js
  libraries/Logger/lib/memoryBuffer/InMemoryLogBuffer.d.ts
  libraries/Logger/lib/memoryBuffer/InMemoryLogBuffer.d.ts.map
  libraries/Logger/lib/presidio/PresidioConverter.d.ts
  libraries/Logger/lib/presidio/PresidioConverter.d.ts.map
  libraries/Logger/lib/presidio/PresidioLoader.d.ts
  libraries/Logger/lib/presidio/PresidioLoader.d.ts.map
  libraries/Logger/lib/presidio/PresidioTypes.d.ts
  libraries/Logger/lib/presidio/PresidioTypes.d.ts.map
  libraries/Logger/lib/presidio/presidio-recognizers.json.d.ts
  libraries/Logger/lib/sanitization/Sanitizer.d.ts
  libraries/Logger/lib/sanitization/Sanitizer.d.ts.map
  libraries/Logger/lib/test-setup.d.ts
  libraries/Logger/lib/test-setup.d.ts.map
  libraries/Logger/lib/transports/ConsoleTransport.d.ts
  libraries/Logger/lib/transports/ConsoleTransport.d.ts.map
  libraries/Logger/lib/transports/DatadogTransport.d.ts
  libraries/Logger/lib/transports/DatadogTransport.d.ts.map
  libraries/Logger/lib/transports/FileTransport.d.ts
  libraries/Logger/lib/transports/FileTransport.d.ts.map
  libraries/Logger/lib/transports/TransportManager.d.ts
  libraries/Logger/lib/transports/TransportManager.d.ts.map
  libraries/Logger/lib/types.d.ts
  libraries/Logger/lib/types.d.ts.map
  libraries/Logger/lib/utils/avsFilter.d.ts
  libraries/Logger/lib/utils/avsFilter.d.ts.map
Due: none

chore(nx): remove compiled library (#20020)
  libraries/Logger/lib/GlobalConfig.d.ts
  libraries/Logger/lib/GlobalConfig.d.ts.map
  libraries/Logger/lib/LoggerWithGlobalConfig.d.ts
  libraries/Logger/lib/LoggerWithGlobalConfig.d.ts.map
  libraries/Logger/lib/config/ContextWhitelist.d.ts
  libraries/Logger/lib/config/ContextWhitelist.d.ts.map
  libraries/Logger/lib/consoleOverride/ConsoleOverride.d.ts
  libraries/Logger/lib/consoleOverride/ConsoleOverride.d.ts.map
  libraries/Logger/lib/debug/enableDebugLogging.d.ts
  libraries/Logger/lib/debug/enableDebugLogging.d.ts.map
  libraries/Logger/lib/debug/wireLoggingHelper.d.ts
  libraries/Logger/lib/debug/wireLoggingHelper.d.ts.map
  libraries/Logger/lib/index.d.ts
  libraries/Logger/lib/index.d.ts.map
  libraries/Logger/lib/index.js
  libraries/Logger/lib/memoryBuffer/InMemoryLogBuffer.d.ts
  libraries/Logger/lib/memoryBuffer/InMemoryLogBuffer.d.ts.map
  libraries/Logger/lib/presidio/PresidioConverter.d.ts
  libraries/Logger/lib/presidio/PresidioConverter.d.ts.map
  libraries/Logger/lib/presidio/PresidioLoader.d.ts
  libraries/Logger/lib/presidio/PresidioLoader.d.ts.map
  libraries/Logger/lib/presidio/PresidioTypes.d.ts
  libraries/Logger/lib/presidio/PresidioTypes.d.ts.map
  libraries/Logger/lib/presidio/presidio-recognizers.json.d.ts
  libraries/Logger/lib/sanitization/Sanitizer.d.ts
  libraries/Logger/lib/sanitization/Sanitizer.d.ts.map
  libraries/Logger/lib/test-setup.d.ts
  libraries/Logger/lib/test-setup.d.ts.map
  libraries/Logger/lib/transports/ConsoleTransport.d.ts
  libraries/Logger/lib/transports/ConsoleTransport.d.ts.map
  libraries/Logger/lib/transports/DatadogTransport.d.ts
  libraries/Logger/lib/transports/DatadogTransport.d.ts.map
  libraries/Logger/lib/transports/FileTransport.d.ts
  libraries/Logger/lib/transports/FileTransport.d.ts.map
  libraries/Logger/lib/transports/TransportManager.d.ts
  libraries/Logger/lib/transports/TransportManager.d.ts.map
  libraries/Logger/lib/types.d.ts
  libraries/Logger/lib/types.d.ts.map
  libraries/Logger/lib/utils/avsFilter.d.ts
  libraries/Logger/lib/utils/avsFilter.d.ts.map
Due: none

chore(docker): remove invalid install flag
  apps/server/Dockerfile
Due: app_server

chore(docker): remove invalid install flag (#20026)
  apps/server/Dockerfile
Due: app_server

feat: enhance button accessibility with focus and disabled styles
  apps/webapp/src/script/components/calling/VideoControls/VideoControls.styles.ts
  apps/webapp/src/style/components/list/conversation-list-calling-cell.less
  apps/webapp/src/style/foundation/video-calling.less
Due: app_webapp

feat: enhance button accessibility with focus and disabled styles (#20027)
  apps/webapp/src/script/components/calling/VideoControls/VideoControls.styles.ts
  apps/webapp/src/style/components/list/conversation-list-calling-cell.less
  apps/webapp/src/style/foundation/video-calling.less
Due: app_webapp

chore: enable corepack in all workflows, fix the docker start path
  .github/workflows/ci.yml
  .github/workflows/create_docker_image.yml
  .github/workflows/deploy-to-test-env.yml
  .github/workflows/generate_test_report.yml
  .github/workflows/playwright-crit-flow-tests.yml
  .github/workflows/playwright-regression-flow-tests.yml
  .github/workflows/playwright-smoke-tests.yml
  .github/workflows/precommit-crit-flows.yml
  .github/workflows/precommit.yml
  .github/workflows/publish.yml
  .github/workflows/run-cells-crit-flow-e2e-tests.yml
  .github/workflows/sync_translations.yml
  apps/server/Dockerfile
Due: app_server

chore: enable corepack in all workflows, fix the docker start path (#20028)
  .github/workflows/ci.yml
  .github/workflows/create_docker_image.yml
  .github/workflows/deploy-to-test-env.yml
  .github/workflows/generate_test_report.yml
  .github/workflows/playwright-crit-flow-tests.yml
  .github/workflows/playwright-regression-flow-tests.yml
  .github/workflows/playwright-smoke-tests.yml
  .github/workflows/precommit-crit-flows.yml
  .github/workflows/precommit.yml
  .github/workflows/publish.yml
  .github/workflows/run-cells-crit-flow-e2e-tests.yml
  .github/workflows/sync_translations.yml
  apps/server/Dockerfile
Due: app_server

chore: enable corepack before node setup (yarn 4 issue in pipeline)
  .github/workflows/ci.yml
  .github/workflows/create_docker_image.yml
  .github/workflows/deploy-to-test-env.yml
  .github/workflows/generate_test_report.yml
  .github/workflows/playwright-regression-flow-tests.yml
  .github/workflows/playwright-smoke-tests.yml
  .github/workflows/precommit.yml
  .github/workflows/publish.yml
  .github/workflows/sync_translations.yml
Due: none

chore: add missing files
  .github/workflows/playwright-crit-flow-tests.yml
  .github/workflows/precommit-crit-flows.yml
  .github/workflows/run-cells-crit-flow-e2e-tests.yml
Due: none

chore: fix only self hosted runners
  .github/workflows/ci.yml
  .github/workflows/create_docker_image.yml
  .github/workflows/deploy-to-test-env.yml
  .github/workflows/generate_test_report.yml
  .github/workflows/playwright-crit-flow-tests.yml
  .github/workflows/playwright-regression-flow-tests.yml
  .github/workflows/playwright-smoke-tests.yml
  .github/workflows/precommit-crit-flows.yml
  .github/workflows/precommit.yml
  .github/workflows/publish.yml
  .github/workflows/run-cells-crit-flow-e2e-tests.yml
  .github/workflows/sync_translations.yml
Due: none

feat: Support edit for multipart messages [WPB-20940]
  apps/webapp/src/script/repositories/conversation/EventBuilder/EventBuilder.ts
  apps/webapp/src/script/repositories/conversation/EventMapper.ts
  apps/webapp/src/script/repositories/conversation/MessageRepository.test.ts
  apps/webapp/src/script/repositories/conversation/MessageRepository.ts
  apps/webapp/src/script/repositories/cryptography/CryptographyMapper.ts
  apps/webapp/src/script/repositories/entity/message/Message.test.ts
  apps/webapp/src/script/repositories/entity/message/Message.ts
  apps/webapp/src/script/repositories/event/preprocessor/EventStorageMiddleware/eventHandlers/editedEventHandler.ts
  apps/webapp/src/script/repositories/event/preprocessor/EventStorageMiddleware/eventHandlers/getCommonMessageUpdates.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/cells/cellsConversation.page.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/components/inputBarControls.component.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/Cells/editMultipartMessage-TC-8786.spec.ts
Due: app_webapp

chore: disable cache and enable corepack for self hosted runners [WPB-22420] (#20029)
  .github/workflows/ci.yml
  .github/workflows/create_docker_image.yml
  .github/workflows/deploy-to-test-env.yml
  .github/workflows/generate_test_report.yml
  .github/workflows/playwright-crit-flow-tests.yml
  .github/workflows/playwright-regression-flow-tests.yml
  .github/workflows/playwright-smoke-tests.yml
  .github/workflows/precommit-crit-flows.yml
  .github/workflows/precommit.yml
  .github/workflows/publish.yml
  .github/workflows/run-cells-crit-flow-e2e-tests.yml
  .github/workflows/sync_translations.yml
Due: none

feat: Support multipart message replies [WPB-15705]
  apps/webapp/src/script/message/MessageHasher.ts
  apps/webapp/src/script/repositories/conversation/EventBuilder/EventBuilder.ts
  apps/webapp/src/script/repositories/event/EventService.ts
  apps/webapp/src/script/repositories/event/preprocessor/QuoteDecoderMiddleware.ts
  apps/webapp/src/script/repositories/event/preprocessor/RepliesUpdaterMiddleware.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/cells/cellsConversation.page.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/components/inputBarControls.component.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/conversation.page.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/Cells/replyingToMultipartMessage-TC-8787.spec.ts
Due: app_webapp

chore(npm): update packages to the latest minor version available
  .github/copilot-instructions.md
  .prettierignore
  apps/server/templates/error.html
  apps/webapp/package.json
  apps/webapp/src/style/fonts/zeta-neue.css
  bin/transalations_generate_types.js
  bin/zip.js
  codecov.yml
  docs/ADRs/2025-12-29-nx-monorepo-migration.md
  docs/ADRs/README.md
  package.json
  project.json
  tsconfig.eslint.json
  tsconfig.json
  yarn.lock
Due: app_webapp, app_server

chore: revert some prettier changes, enhance prettierignore
  .github/copilot-instructions.md
  .prettierignore
  tsconfig.eslint.json
  tsconfig.json
Due: none

feat: Search files in cells conversation [WPB-21646]
  apps/webapp/src/script/components/CellsGlobalView/common/useCellsStore/useCellsStore.ts
  apps/webapp/src/script/components/CellsGlobalView/useSearchCellsNodes/useSearchCellsNodes.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsHeader/CellsHeader.styles.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsHeader/CellsHeader.tsx
  apps/webapp/src/script/components/Conversation/ConversationCells/ConversationCells.tsx
  apps/webapp/src/script/components/Conversation/ConversationCells/useConversationSearch/useConversationSearchFiles.ts
  apps/webapp/src/script/repositories/cells/CellsRepository.ts
Due: app_webapp

Path conditions:
  app_webapp: any of: apps/webapp/**
  app_server: any of: apps/server/**
