Repository wireapp/wire-webapp: changes, and which Codecov flags are due for each by the changed paths.
All: app_webapp, app_server, lib_core, lib_api_client

fix: show all group app participants
  apps/webapp/src/script/page/rightSidebar/conversationDetails/conversationDetails.test.tsx
  apps/webapp/src/script/page/rightSidebar/conversationDetails/conversationDetails.tsx
Due: app_webapp

test: cover legacy bots during protocol migration
  apps/webapp/src/script/page/rightSidebar/conversationDetails/conversationDetails.test.tsx
Due: app_webapp

Add background effects quality radio button
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/Radio/RadioGroup.tsx
  apps/webapp/src/script/components/calling/FullscreenVideoCall.tsx
  apps/webapp/src/script/components/calling/VideoControls/VideoBackgroundSettings/VideoBackgroundSettings.test.tsx
  apps/webapp/src/script/components/calling/VideoControls/VideoBackgroundSettings/VideoBackgroundSettings.tsx
  apps/webapp/src/script/page/rightSidebar/timedMessages/timedMessages.tsx
  apps/webapp/src/script/repositories/media/useBackgroundEffectsStore.test.ts
  apps/webapp/src/script/repositories/media/useBackgroundEffectsStore.ts
Due: app_webapp

feat: add `isHighQuality` field to quality definitions and update low-quality tier check logic
  apps/webapp/src/script/repositories/media/backgroundEffects/backgroundEffectsController.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/quality/definitions.ts
Due: app_webapp

fix: improve WebGL context handling with enhanced logging and prevent redundant log entries
  apps/webapp/src/script/repositories/media/backgroundEffects/pipe/segmenter.test.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/pipe/segmenter.ts
Due: app_webapp

chore: rm close method from database in accordance with unified db
  libraries/core/src/messagingProtocols/proteus/proteusService/cryptoClient/coreCryptoWrapper/coreCryptoWrapper.ts
Due: lib_core

Make release appearance bootstrap state explicit
  bin/releaseAppearance.test.ts
  bin/releaseAppearance.ts
  bin/releaseAppearanceCli.test.ts
  bin/releaseAppearanceCli.ts
  bin/releaseAppearanceGit.integration.test.ts
Due: none

fix: removed tests
  libraries/core/src/client/clientService.test.ts
Due: lib_core

Add new keys containing keyword App instead of Service, without removing the keys containing the word Service, as part of two phase rename of the translation keys.
  apps/webapp/src/i18n/en-US.json
Due: app_webapp

fix: update concurrency group of pull translation and cancel-in-progress to true for both workflow
  .github/workflows/pull-translations-from-crowdin.yml
  .github/workflows/push-translations-to-crowdin.yml
Due: none

chore: Update translations
  apps/webapp/src/i18n/de-DE.json
  apps/webapp/src/i18n/ru-RU.json
Due: app_webapp

Reconstruct current Beta candidate history
  bin/releaseAppearance.test.ts
  bin/releaseAppearance.ts
  bin/releaseAppearanceCli.test.ts
  bin/releaseAppearanceCli.ts
  bin/releaseAppearanceGit.integration.test.ts
Due: none

Use verified Beta history for Production comments
  bin/releaseAppearance.test.ts
  bin/releaseAppearance.ts
  bin/releaseAppearanceCli.test.ts
  bin/releaseAppearanceCli.ts
  bin/releaseAppearanceGit.integration.test.ts
Due: none

Reconcile ambiguous release appearance comment creation
  bin/releaseAppearance.test.ts
  bin/releaseAppearance.ts
  bin/releaseAppearanceCli.test.ts
  bin/releaseAppearanceCli.ts
Due: none

Pass promoted Beta tag to Production comment processing
  .github/workflows/release-webapp.yml
  .github/workflows/test-release-appearance-comments.yml
  bin/releaseAppearanceCli.test.ts
  bin/releaseAppearanceCli.ts
Due: none

Correct release appearance tracking across Beta and Production
  bin/releaseAppearanceCli.ts
  bin/releaseAppearanceGit.integration.test.ts
Due: none

Add first-appearance comment orchestration
  bin/jest.config.js
  bin/releaseAppearanceCli.test.ts
  bin/releaseAppearanceCli.ts
  package.json
  yarn.lock
Due: none

Run release appearance CLI with native Node
  .github/workflows/release-webapp.yml
Due: none

Add non-gating first-appearance workflow jobs
  .github/workflows/release-webapp.yml
Due: none

Allow release appearance CLI to run with native Node
  bin/releaseAppearanceCli.ts
Due: none

Document first-appearance release metadata
  docs/decision-records/0002-trunk-based-automated-release-process.md
Due: none

Improve release appearance comment validation
  .github/workflows/test-release-appearance-comments.yml
  bin/releaseAppearance.test.ts
  bin/releaseAppearance.ts
  bin/releaseAppearanceCli.test.ts
  bin/releaseAppearanceCli.ts
  bin/releaseAppearanceGit.integration.test.ts
  docs/release-appearance-comment-validation.md
Due: none

Model immutable release appearance state
  bin/releaseAppearance.test.ts
  bin/releaseAppearance.ts
  package.json
  yarn.lock
Due: none

chore: update `@wireapp/avs` to v10.4.28 in dependencies and lockfile
  apps/webapp/package.json
  yarn.lock
Due: app_webapp

feat: prevent user-modal to open when FF is off
  apps/webapp/src/script/page/appMain.tsx
Due: app_webapp

Select desktop update event by wrapper capability
  apps/webapp/src/script/main/app.ts
  apps/webapp/src/script/main/applicationRefresh.test.ts
  apps/webapp/src/script/main/applicationRefresh.ts
  apps/webapp/src/script/repositories/conversation/linkPreviews/index.ts
Due: app_webapp

Serialize WebApp delivery and release workflows
  .github/workflows/publish-and-deploy-webapp.yml
  .github/workflows/publish-main.yml
  .github/workflows/redeploy-production-from-tag.yml
  .github/workflows/release-webapp.yml
  .github/workflows/rollback-production.yml
Due: none

feat: remove shared drive search feature flag [WPB-25204]
  apps/webapp/src/script/components/Conversation/Conversation.tsx
  apps/webapp/src/script/components/Conversation/ConversationCells/ConversationCells.tsx
  apps/webapp/src/script/components/Conversation/ConversationCells/useConversationSearch/useConversationSearchFiles.test.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/useConversationSearch/useConversationSearchFiles.ts
  apps/webapp/src/script/components/cellsGlobalView/cellsGlobalView.tsx
  apps/webapp/src/script/components/cellsGlobalView/cellsHeader/cellsFilters/cellsClearFilters/cellsClearFilters.styles.ts
  apps/webapp/src/script/components/cellsGlobalView/cellsHeader/cellsFilters/cellsClearFilters/cellsClearFilters.tsx
  apps/webapp/src/script/components/cellsGlobalView/cellsHeader/cellsFilters/cellsFilters.tsx
  apps/webapp/src/script/components/cellsGlobalView/cellsHeader/cellsFilters/cellsFiltersMenu/cellsFiltersMenu.styles.ts
  apps/webapp/src/script/components/cellsGlobalView/cellsHeader/cellsFilters/cellsFiltersMenu/cellsFiltersMenu.tsx
  apps/webapp/src/script/components/cellsGlobalView/cellsHeader/cellsFilters/cellsFiltersMenu/cellsFiltersModal/cellsFilterModalHeader/cellsFilterModalHeader.styles.ts
  apps/webapp/src/script/components/cellsGlobalView/cellsHeader/cellsFilters/cellsFiltersMenu/cellsFiltersModal/cellsFilterModalHeader/cellsFilterModalHeader.tsx
  apps/webapp/src/script/components/cellsGlobalView/cellsHeader/cellsFilters/cellsFiltersMenu/cellsFiltersModal/cellsFiltersModal.styles.ts
  apps/webapp/src/script/components/cellsGlobalView/cellsHeader/cellsFilters/cellsFiltersMenu/cellsFiltersModal/cellsFiltersModal.tsx
  apps/webapp/src/script/components/cellsGlobalView/cellsHeader/cellsFilters/cellsFiltersMenu/cellsFiltersModal/cellsFiltersModalActions/cellsFiltersModalActions.styles.ts
  apps/webapp/src/script/components/cellsGlobalView/cellsHeader/cellsFilters/cellsFiltersMenu/cellsFiltersModal/cellsFiltersModalActions/cellsFiltersModalActions.tsx
  apps/webapp/src/script/components/cellsGlobalView/cellsHeader/cellsFilters/cellsFiltersMenu/cellsFiltersModal/cellsTagsFilter/cellsTagsFilter.styles.ts
  apps/webapp/src/script/components/cellsGlobalView/cellsHeader/cellsFilters/cellsFiltersMenu/cellsFiltersModal/cellsTagsFilter/cellsTagsFilter.tsx
  apps/webapp/src/script/components/cellsGlobalView/cellsHeader/cellsFilters/cellsFiltersMenu/cellsFiltersModal/useModalFilters/useModalFilters.ts
  apps/webapp/src/script/components/cellsGlobalView/cellsHeader/cellsFilters/cellsFiltersMenu/cellsFiltersModal/useModalFiltersStore/useModalFiltersStore.ts
  apps/webapp/src/script/components/cellsGlobalView/cellsHeader/cellsFilters/cellsFiltersMenu/useGetAllTags/useGetAllTags.test.ts
  apps/webapp/src/script/components/cellsGlobalView/cellsHeader/cellsFilters/cellsFiltersMenu/useGetAllTags/useGetAllTags.ts
  apps/webapp/src/script/components/cellsGlobalView/cellsHeader/cellsHeader.tsx
  apps/webapp/src/script/components/cellsGlobalView/common/useCellsStore/useCellsStore.ts
  apps/webapp/src/script/featureToggles/startupFeatureToggleNames.ts
  apps/webapp/src/script/featureToggles/startupFeatureToggles.test.ts
Due: app_webapp

Expose single-meeting retrieval in webapp repository
  apps/webapp/src/script/repositories/meetings/meetingsApiDataSource.test.ts
  apps/webapp/src/script/repositories/meetings/meetingsApiDataSource.ts
  apps/webapp/src/script/repositories/meetings/meetingsDataSource.ts
  apps/webapp/src/script/repositories/meetings/meetingsRepository.ts
Due: app_webapp

Normalize meeting lifecycle event routing
  apps/webapp/src/script/repositories/event/EventRepository.test.ts
  apps/webapp/src/script/repositories/event/EventRepository.ts
  libraries/webapp-events/src/index.ts
Due: app_webapp

Synchronize meetings into the local store
  apps/webapp/src/script/components/Meeting/meetingStore/createMeetingStore.test.ts
  apps/webapp/src/script/components/Meeting/meetingStore/createMeetingStore.ts
Due: app_webapp

Path conditions:
  app_webapp: any of: apps/webapp/**
  app_server: any of: apps/server/**
  lib_core: any of: libraries/core/**
  lib_api_client: any of: libraries/api-client/**
