Repository wireapp/wire-webapp: changes, and which Codecov flags are due for each by the changed paths.
All: app_webapp, app_server, lib_core, lib_api_client

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '45...80'
  status:
    project:
      default:
        target: auto
      app_webapp:
        target: auto
        flags:
          - app_webapp
      app_server:
        target: auto
        flags:
          - app_server
      lib_core:
        target: auto
        flags:
          - lib_core
      lib_api_client:
        target: auto
        flags:
          - lib_api_client
    patch:
      default:
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: 'diff, flags, files'
  behavior: default
  require_changes: no

flags:
  app_webapp:
    paths:
      - 'apps/webapp/**'
    carryforward: false
  app_server:
    paths:
      - 'apps/server/**'
    carryforward: true
  lib_core:
    paths:
      - 'libraries/core/**'
    carryforward: true
  lib_api_client:
    paths:
      - 'libraries/api-client/**'
    carryforward: true

github_checks:
  annotations: false

chore: enable strict boolean checks for server
  apps/server/Server.ts
  apps/server/config.ts
  apps/server/routes/googlewebmaster/googleWebmasterRoute.ts
  apps/server/routes/redirectRoutes.ts
  apps/server/routes/root.ts
  apps/server/util/browserUtil.ts
  eslint.config.ts
Due: app_server

chore: fix strict boolean checks in libraries
  libraries/api-client/src/apiClient.ts
  libraries/api-client/src/asset/assetApi.ts
  libraries/api-client/src/auth/authApi.ts
  libraries/api-client/src/broadcast/broadcastApi.ts
  libraries/api-client/src/cells/cellsApi.ts
  libraries/api-client/src/connection/connectionApi.ts
  libraries/api-client/src/conversation/conversationApi/conversationApi.ts
  libraries/api-client/src/http/backendErrorMapper.ts
  libraries/api-client/src/http/httpClient.ts
  libraries/api-client/src/notification/notificationApi/notificationApi.ts
  libraries/api-client/src/shims/node/cookie.ts
  libraries/api-client/src/tcp/reconnectingWebsocket.ts
  libraries/api-client/src/tcp/webSocketClient.ts
  libraries/api-client/src/team/invitation/teamInvitationApi.ts
  libraries/api-client/src/team/member/memberApi.ts
  libraries/api-client/src/user/userApi.ts
  libraries/api-client/src/utils/backFromSleepHandler/backFromSleepHandler.ts
  libraries/certificate-check/src/CertUtil.ts
  libraries/commons/src/util/DateUtil.ts
  libraries/commons/src/util/Runtime.ts
  libraries/commons/src/util/UrlUtil.ts
  libraries/copy-config/src/CopyConfig.ts
  libraries/copy-config/src/cli.ts
  libraries/copy-config/src/utils.ts
  libraries/license-collector/src/LicenseCollector.ts
  libraries/license-collector/src/cli.ts
  libraries/store-engine-dexie/src/index.ts
  libraries/store-engine/src/engine/MemoryEngine.ts
  libraries/store-engine/src/store/TransientStore.ts
Due: lib_api_client

chore: fix strict boolean checks in react UI kit
  libraries/react-ui-kit/src/Inputs/CodeInput/CodeInput.tsx
  libraries/react-ui-kit/src/Inputs/ComboboxSelect/ComboboxSelect.tsx
  libraries/react-ui-kit/src/Inputs/DateTimePickerField/DateTimePickerField.tsx
  libraries/react-ui-kit/src/Inputs/IndicatorRangeInput/IndicatorRangeInput.styles.ts
  libraries/react-ui-kit/src/Inputs/IndicatorRangeInput/IndicatorRangeInput.tsx
  libraries/react-ui-kit/src/Inputs/Input/Input.tsx
  libraries/react-ui-kit/src/Inputs/RangeInput/RangeInput.styles.ts
  libraries/react-ui-kit/src/Inputs/Select/Select.tsx
  libraries/react-ui-kit/src/Inputs/TimePickerField/TimePickerField.tsx
  libraries/react-ui-kit/src/Inputs/TimePickerField/timePickerUtils.ts
  libraries/react-ui-kit/src/Layout/Container/Container.tsx
  libraries/react-ui-kit/src/Layout/MatchMedia/MatchMedia.tsx
  libraries/react-ui-kit/src/Layout/StyledApp/StyledApp.tsx
  libraries/react-ui-kit/src/Typography/Link/Link.tsx
  libraries/react-ui-kit/src/utils/overlayPortal.ts
  libraries/react-ui-kit/src/utils/useLongTouch.ts
Due: none

chore: scope strict boolean checks to migrated projects
  eslint.config.ts
Due: none

chore: remove redundant Cells API non-null assertions
  libraries/api-client/src/cells/cellsApi.ts
Due: lib_api_client

ci: update testservice image commit hash
  .github/workflows/e2e-tests.yml
Due: none

Refactor safeAddUsers to return explicit failedToAdd results.
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingService.test.ts
  apps/webapp/src/script/components/Meeting/meetingConversationSync.test.ts
  apps/webapp/src/script/components/Meeting/meetingConversationSync.ts
  apps/webapp/src/script/repositories/conversation/ConversationRepository.safeWrappers.test.ts
  apps/webapp/src/script/repositories/conversation/ConversationRepository.ts
Due: app_webapp

fix(tests): format meeting store tests for Prettier
  apps/webapp/src/script/components/Meeting/meetingConversationSync.test.ts
  apps/webapp/src/script/components/Meeting/meetingStore/createMeetingStore.test.ts
Due: app_webapp

ci: make Prettier lint failures obvious in CI
  .github/workflows/continuous-integration.yml
  AGENTS.md
  bin/lint-format-check.sh
  package.json
Due: none

Refresh meetings list after partial submit failures.
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingService.test.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingService.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/shouldRefreshMeetingsListAfterSubmitError.test.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/shouldRefreshMeetingsListAfterSubmitError.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/useScheduleMeetingSubmit.test.tsx
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/useScheduleMeetingSubmit.ts
Due: app_webapp

ci: only annotate existing files in lint-format-check
  bin/lint-format-check.sh
Due: none

fix(tests): assert hasLoadError in loadMeetingsList empty result test
  apps/webapp/src/script/components/Meeting/loadMeetingsList.test.ts
Due: app_webapp

Fix Prettier formatting in useScheduleMeetingSubmit tests.
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/useScheduleMeetingSubmit.test.tsx
Due: app_webapp

feat: enable strict boolean expressions for core
  eslint.config.ts
  libraries/core/src/account.ts
  libraries/core/src/client/clientService.ts
  libraries/core/src/conversation/conversationService/conversationService.ts
  libraries/core/src/conversation/conversationService/utility/getConversationQualifiedMembers.ts
  libraries/core/src/conversation/message/messageToProtoMapper.ts
  libraries/core/src/conversation/message/textContentBuilder.ts
  libraries/core/src/conversation/message/userClientsUtil.ts
  libraries/core/src/conversation/subconversationService/subconversationService.ts
  libraries/core/src/cryptography/messageHashService.ts
  libraries/core/src/messagingProtocols/mls/e2eIdentityService/e2eiServiceExternal.ts
  libraries/core/src/messagingProtocols/mls/e2eIdentityService/e2eiServiceInternal.ts
  libraries/core/src/messagingProtocols/mls/e2eIdentityService/steps/authorization.ts
  libraries/core/src/messagingProtocols/mls/e2eIdentityService/steps/certificate.ts
  libraries/core/src/messagingProtocols/mls/e2eIdentityService/steps/dpopChallenge/dpopChallenge.ts
  libraries/core/src/messagingProtocols/mls/eventHandler/events/messageAdd/messageAdd.ts
  libraries/core/src/messagingProtocols/mls/mlsService/mlsService.ts
  libraries/core/src/messagingProtocols/mls/recovery/mlsRecoveryOrchestrator.ts
  libraries/core/src/messagingProtocols/proteus/eventHandler/events/otrMessageAdd/otrMessageAdd.ts
  libraries/core/src/messagingProtocols/proteus/proteusService/cryptoClient/coreCryptoWrapper/coreCryptoWrapper.ts
  libraries/core/src/messagingProtocols/proteus/proteusService/cryptoClient/cryptoboxWrapper.ts
  libraries/core/src/messagingProtocols/proteus/utility/getGenericMessageParams.ts
  libraries/core/src/messagingProtocols/proteus/utility/sessionHandler/sessionHandler.ts
  libraries/core/src/notification/notificationService.ts
  libraries/core/src/secretStore/encryptedStore.ts
  libraries/core/src/secretStore/secretKeyGenerator.ts
  libraries/core/src/user/userService.ts
  libraries/core/src/util/lowPrecisionTaskScheduler/lowPrecisionTaskScheduler.ts
  libraries/core/src/util/taskScheduler/taskScheduler.ts
Due: lib_core

test: generate package unit test report artifacts
  .github/workflows/generate_test_report.yml
  bin/generateUnitTestReports.test.ts
  bin/generateUnitTestReports.ts
Due: none

test: use workflow branch for test report generation
  .github/workflows/generate_test_report.yml
Due: none

Show role-specific delete actions in meeting menu.
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingAction/getMeetingActionEntries.test.tsx
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingAction/getMeetingActionEntries.tsx
  apps/webapp/src/script/components/Meeting/utils/canEditMeeting.ts
Due: app_webapp

Revert "feat: temporarily disable the Background effects regardless of backend [WPB-26420]"
  apps/webapp/src/script/repositories/media/backgroundEffectsHandler.test.ts
  apps/webapp/src/script/repositories/team/TeamState.ts
Due: app_webapp

Extract meeting action translation keys into constants.
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingAction/getMeetingActionEntries.test.tsx
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingAction/getMeetingActionEntries.tsx
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingAction/meetingActionTranslationKeys.ts
Due: app_webapp

Use deterministic wall clock in meeting action entry tests.
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingAction/getMeetingActionEntries.test.tsx
Due: app_webapp

Add unit test for meeting action menu labels.
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingAction/getMeetingActionEntries.test.tsx
Due: app_webapp

Fix Prettier formatting in getMeetingActionEntries test.
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingAction/getMeetingActionEntries.test.tsx
Due: app_webapp

Hide "Does not repeat" badge on meeting list items.
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingListItem.tsx
Due: app_webapp

ci: fix stale webapp Jest report config
  apps/webapp/jest.report.config.cjs
Due: app_webapp

Show ongoing meetings in the Today list section.
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingList.test.tsx
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItemGroup.tsx
  apps/webapp/src/script/components/Meeting/MeetingList/TodayAndOngoingSection/TodayAndOngoingSection.tsx
  apps/webapp/src/script/components/Meeting/utils/MeetingStatusUtil.ts
Due: app_webapp

Remove hour labels from the meeting list.
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItemGroup.styles.ts
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItemGroup.tsx
Due: app_webapp

Remove calendar icon from meeting list time display.
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingListItem.tsx
Due: app_webapp

Use calendar icon for meeting list avatar.
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingListItem.styles.ts
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingListItem.tsx
Due: app_webapp

Fix meeting list item background and alignment.
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingListItem.styles.ts
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingStatus/MeetingStatus.styles.ts
Due: app_webapp

Connect meeting list items into one continuous border.
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItemGroup.styles.ts
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItemGroup.tsx
Due: app_webapp

Keep meeting list dividers visible at ongoing transitions.
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingListItem.styles.ts
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingListItem.tsx
Due: app_webapp

Show meeting participants in the meeting list.
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingListItem.styles.ts
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingListItem.tsx
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingParticipants/MeetingParticipants.styles.ts
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingParticipants/MeetingParticipants.tsx
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingParticipants/getMeetingParticipantsForDisplay.test.ts
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingParticipants/getMeetingParticipantsForDisplay.ts
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingParticipants/useMeetingConversation.ts
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingParticipants/useMeetingParticipants.ts
  apps/webapp/src/script/components/avatar/stackedAvatars/getStackedAvatarDisplay.test.ts
  apps/webapp/src/script/components/avatar/stackedAvatars/getStackedAvatarDisplay.ts
  apps/webapp/src/script/components/avatar/stackedAvatars/index.ts
  apps/webapp/src/script/components/avatar/stackedAvatars/stackedAvatars.styles.ts
  apps/webapp/src/script/components/avatar/stackedAvatars/stackedAvatars.test.tsx
  apps/webapp/src/script/components/avatar/stackedAvatars/stackedAvatars.tsx
Due: app_webapp

Fix prettier formatting in MeetingStatusUtil.
  apps/webapp/src/script/components/Meeting/utils/MeetingStatusUtil.ts
Due: app_webapp

use conversation id for meeting key
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItemGroup.tsx
Due: app_webapp
