Repository wireapp/wire-webapp: changes, and which Codecov flags are due for each by the changed paths.
All: app_webapp, app_server, lib_core, lib_api_client

chore: remove member from codeowners (#20739)
  .github/CODEOWNERS
Due: none

fix tests
  apps/webapp/src/script/util/toError.test.ts
Due: app_webapp

chore(eslint): enforce trailing newline at end of files
  eslint.config.ts
  package.json
  yarn.lock
Due: none

refactor(webapp): extract worker-safe toError utility [WPB-22420] (#20738)
  apps/webapp/src/script/auth/module/action/AuthAction.ts
  apps/webapp/src/script/auth/module/action/ClientAction.ts
  apps/webapp/src/script/auth/module/action/ConversationAction.ts
  apps/webapp/src/script/auth/module/action/InvitationAction.ts
  apps/webapp/src/script/auth/module/action/LocalStorageAction.ts
  apps/webapp/src/script/auth/module/action/SelfAction.test.ts
  apps/webapp/src/script/auth/module/action/SelfAction.ts
  apps/webapp/src/script/auth/module/action/UserAction.ts
  apps/webapp/src/script/auth/page/OAuthPermissions.tsx
  apps/webapp/src/script/auth/page/SetEmail.tsx
  apps/webapp/src/script/auth/page/SetPassword.tsx
  apps/webapp/src/script/components/Modals/LegalHoldModal/LegalHoldModal.tsx
  apps/webapp/src/script/components/UserDevices/components/DeviceDetails/DeviceDetails.tsx
  apps/webapp/src/script/page/AppLock/AppLock.tsx
  apps/webapp/src/script/repositories/backup/zipWorker.ts
  apps/webapp/src/script/repositories/calling/CallingRepository.ts
  apps/webapp/src/script/repositories/client/ClientRepository.ts
  apps/webapp/src/script/repositories/connection/ConnectionRepository.ts
  apps/webapp/src/script/repositories/conversation/ConversationRepository.ts
  apps/webapp/src/script/repositories/conversation/EventMapper.ts
  apps/webapp/src/script/repositories/cryptography/CryptographyMapper.ts
  apps/webapp/src/script/repositories/event/EventRepository.ts
  apps/webapp/src/script/repositories/event/EventService.ts
  apps/webapp/src/script/repositories/integration/IntegrationRepository.ts
  apps/webapp/src/script/repositories/media/MediaStreamHandler.ts
  apps/webapp/src/script/repositories/storage/StorageService.ts
  apps/webapp/src/script/repositories/user/UserRepository.ts
  apps/webapp/src/script/util/TypePredicateUtil.test.ts
  apps/webapp/src/script/util/TypePredicateUtil.ts
  apps/webapp/src/script/util/toError.test.ts
  apps/webapp/src/script/util/toError.ts
Due: app_webapp

test(webapp): inline one-off code block markdown helper into spec
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/conversation.page.ts
  apps/webapp/test/e2e_tests/specs/Markdown/markdown.spec.ts
Due: app_webapp

chore(eslint): enforce trailing newline at end of files (#20740)
  eslint.config.ts
  package.json
  yarn.lock
Due: none

fix: add getSegmenter method and update tests for segmenter behavior
  apps/webapp/src/script/repositories/media/BackgroundEffects/segmentation/segmenter.test.ts
  apps/webapp/src/script/repositories/media/BackgroundEffects/segmentation/segmenter.ts
Due: app_webapp

refactor(webapp): inject app lock crypto dependency
  apps/webapp/src/script/page/AppLock/AppLock.test.tsx
  apps/webapp/src/script/repositories/user/AppLockRepository.test.ts
  apps/webapp/src/script/repositories/user/AppLockRepository.ts
Due: app_webapp

fix lint issue
  apps/webapp/src/script/repositories/user/AppLockRepository.ts
Due: app_webapp

chore: fix test
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/types/i18n.d.ts
  apps/webapp/test/e2e_tests/specs/RegressionSpecs/tabsFiltersFlagOff.spec.ts
Due: app_webapp

feat: replace reject call with leave
  apps/webapp/src/script/repositories/calling/CallingRepository.ts
Due: app_webapp

fix: umlauts in folder names [WPB-22692]
  apps/webapp/src/script/repositories/conversation/ConversationLabelRepository.ts
Due: app_webapp

chore: bump core-crypto to 9.3.2
  libraries/core/package.json
  yarn.lock
Due: lib_core

fix: update QualityController tiers logic and adjust tests accordingly
  apps/webapp/src/script/repositories/media/BackgroundEffects/quality/QualityController.test.ts
  apps/webapp/src/script/repositories/media/BackgroundEffects/quality/QualityController.ts
Due: app_webapp

chore: bump core-crypto to 9.3.2 (#20745)
  libraries/core/package.json
  yarn.lock
Due: lib_core

eol
  apps/webapp/src/script/repositories/user/AppLockRepository.test.ts
Due: app_webapp

PR feedback
  apps/webapp/src/script/repositories/conversation/ConversationLabelRepository.ts
Due: app_webapp

Update apps/webapp/src/script/repositories/user/AppLockRepository.test.ts
  apps/webapp/src/script/repositories/user/AppLockRepository.test.ts
Due: app_webapp

return type
  apps/webapp/src/script/repositories/user/AppLockRepository.test.ts
Due: app_webapp

remove spy on user
  apps/webapp/src/script/page/AppLock/AppLock.test.tsx
  apps/webapp/src/script/repositories/user/AppLockRepository.test.ts
Due: app_webapp

refactor(webapp): inject app lock crypto dependency [WPB-22420] (#20743)
  apps/webapp/src/script/page/AppLock/AppLock.test.tsx
  apps/webapp/src/script/repositories/user/AppLockRepository.test.ts
  apps/webapp/src/script/repositories/user/AppLockRepository.ts
Due: app_webapp

fix: umlauts in folder names [WPB-22692] (#20744)
  apps/webapp/src/script/repositories/conversation/ConversationLabelRepository.ts
Due: app_webapp

refactor: complete private 'page' refactor in missed test files (WPB-22420)
  apps/webapp/test/e2e_tests/specs/Delete/delete.spec.ts
  apps/webapp/test/e2e_tests/specs/InConversationSearch/inConversationSearch.spec.ts
  apps/webapp/test/e2e_tests/specs/Reactions/reactions.spec.ts
  apps/webapp/test/e2e_tests/specs/Reply/reply.spec.ts
Due: app_webapp

fix(webapp): initialize app lock crypto limits after libsodium is ready
  apps/webapp/src/script/repositories/user/AppLockRepository.ts
Due: app_webapp

test(e2e): stabilize TC-8639 app lock setup flow
  apps/webapp/test/e2e_tests/pageManager/webapp/modals/appLock.modal.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/accountManagement-TC-8639.spec.ts
Due: app_webapp

test(e2e): handle optional history info on auth re-login
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/infoHistory.page.ts
  apps/webapp/test/e2e_tests/specs/Authentication/authentication.spec.ts
Due: app_webapp

fix: handle semicolon on links [WPB-22693]
  apps/webapp/src/script/components/InputBar/InputBarEditor/RichTextEditor/utils/url.test.tsx
  apps/webapp/src/script/components/InputBar/InputBarEditor/RichTextEditor/utils/url.ts
Due: app_webapp

fix: handle semicolon on links [WPB-22693] (#20750)
  apps/webapp/src/script/components/InputBar/InputBarEditor/RichTextEditor/utils/url.test.tsx
  apps/webapp/src/script/components/InputBar/InputBarEditor/RichTextEditor/utils/url.ts
Due: app_webapp

fix flaky test
  apps/webapp/test/e2e_tests/specs/Authentication/authentication.spec.ts
Due: app_webapp

chore: extend incremental filename enforcement to server utilities
  .ls-lint.yml
  apps/server/index.ts
  apps/server/routes/error/errorRoutes.ts
  apps/server/routes/redirectRoutes.ts
  apps/server/util/browserUtil.test.ts
  apps/server/util/browserUtil.ts
  apps/server/util/timeUtil.test.ts
  apps/server/util/timeUtil.ts
Due: app_server

chore: extend incremental filename enforcement to api-client core utilities
  .ls-lint.yml
  libraries/api-client/src/APIClient.ts
  libraries/api-client/src/broadcast/broadcastApi.ts
  libraries/api-client/src/broadcast/index.ts
  libraries/api-client/src/env/backend.ts
  libraries/api-client/src/env/index.ts
  libraries/api-client/src/generic/genericApi.ts
  libraries/api-client/src/generic/index.ts
Due: lib_api_client

chore: extend incremental filename enforcement to api-client services
  .ls-lint.yml
  libraries/api-client/src/federation/data/federationConnectionRemovedData.ts
  libraries/api-client/src/federation/data/federationDeleteData.ts
  libraries/api-client/src/federation/data/index.ts
  libraries/api-client/src/services/index.ts
  libraries/api-client/src/services/service.ts
  libraries/api-client/src/services/servicesApi.ts
Due: lib_api_client

chore: extend incremental filename enforcement to api-client giphy and sleep handling
  .ls-lint.yml
  libraries/api-client/src/APIClient.ts
  libraries/api-client/src/giphy/giphyApi.ts
  libraries/api-client/src/giphy/giphyImage.ts
  libraries/api-client/src/giphy/giphyOptions.ts
  libraries/api-client/src/giphy/giphyResult.ts
  libraries/api-client/src/giphy/index.ts
  libraries/api-client/src/services/servicesApi.ts
  libraries/api-client/src/tcp/ReconnectingWebsocket.ts
  libraries/api-client/src/utils/backFromSleepHandler/backFromSleepHandler.test.ts
  libraries/api-client/src/utils/backFromSleepHandler/backFromSleepHandler.ts
  libraries/api-client/src/utils/backFromSleepHandler/index.ts
Due: lib_api_client

Path conditions:
  app_webapp: any of: apps/webapp/**
  app_server: any of: apps/server/**
  lib_core: any of: libraries/core/**
  lib_api_client: any of: libraries/api-client/**
