Repository wireapp/wire-webapp: changes, and which Codecov flags are due for each by the changed paths.
All: app_webapp, app_server, lib_core, lib_api_client

fix: don't show apps which have already been added to the conversation when adding [WPB-22420] (#21122)
  apps/webapp/src/script/page/RightSidebar/addParticipants/addParticipants.tsx
Due: app_webapp

fix: display system message warning about apps when they are added [WPB-20363] (#21115)
  apps/webapp/src/script/repositories/event/preprocessor/ServiceMiddleware.test.ts
  apps/webapp/src/script/repositories/event/preprocessor/ServiceMiddleware.ts
Due: app_webapp

fix: allow apps to be enabled during channel creation [WPB-21440] (#21111)
  apps/webapp/src/script/components/Modals/CreateConversation/hooks/useCreateConversation.ts
Due: app_webapp

feat: align design of service details with figma [WPB-20363] (#21125)
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/panel/ServiceDetails.styles.ts
  apps/webapp/src/script/components/panel/ServiceDetails.tsx
  apps/webapp/src/script/page/RightSidebar/groupParticipantService/groupParticipantService.tsx
  apps/webapp/src/types/i18n.d.ts
Due: app_webapp

fix: ensure app author is always resolved [WPB-21440] (#21116)
  apps/webapp/src/script/page/RightSidebar/groupParticipantService/groupParticipantService.tsx
Due: app_webapp

style: resolve linter errors with import order
  apps/webapp/src/script/components/panel/ServiceDetails.tsx
  apps/webapp/src/script/page/RightSidebar/addParticipants/addParticipants.tsx
Due: app_webapp

refactor(deeplinks): reformat userProfile.modal.ts to satisfy linting rules
  apps/webapp/test/e2e_tests/pageManager/webapp/modals/userProfile.modal.ts
Due: app_webapp

ci: enable yarn offline mode during install [WPB-22420]
  .github/workflows/e2e-tests.yml
Due: none

style: ensure order of translations is correct
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/types/i18n.d.ts
Due: app_webapp

style: ensure everything is formatted correctly
  apps/webapp/src/script/page/RightSidebar/guestServicesOptions/components/servicesOptions/serviceOptions.test.tsx
Due: app_webapp

fix(webapp): prevent IndexedDB limit overflow in EventService message loading
  apps/webapp/src/script/repositories/event/EventService.ts
Due: app_webapp

feat: remove sensitive data from logs [WPB-24990]
  apps/webapp/src/script/auth/page/SingleSignOn.tsx
  apps/webapp/src/script/repositories/conversation/ConversationRepository.ts
  apps/webapp/src/script/repositories/storage/StorageService.ts
  apps/webapp/src/script/repositories/user/UserRepository.ts
  libraries/core/src/conversation/conversationService/conversationService.ts
  libraries/core/src/notification/notificationService.ts
Due: app_webapp, lib_core

ci: enable yarn offline mode during install [WPB-22420] (#21130)
  .github/workflows/e2e-tests.yml
Due: none

fixed lint
  apps/webapp/src/script/components/MessagesList/Message/Marker/Marker.tsx
Due: app_webapp

fix: prevent multiple pipeline initialization calls
  apps/webapp/src/script/repositories/media/backgroundEffects/effects/backgroundEffectsController.ts
  apps/webapp/src/script/repositories/team/TeamState.ts
Due: app_webapp

fix: add missing dependencies to showIntegrations useMemo
  apps/webapp/src/script/page/RightSidebar/addParticipants/addParticipants.tsx
Due: app_webapp

chore: remove not needed GitHub action
  .github/no-response.yml
Due: none

chore: remove pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Support Apps in Wire Web [WPB-17918] (#21128)
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/Avatar/Avatar.tsx
  apps/webapp/src/script/components/Avatar/AvatarImage.tsx
  apps/webapp/src/script/components/Modals/CreateConversation/CreateConversationSteps/Preference.test.tsx
  apps/webapp/src/script/components/Modals/CreateConversation/CreateConversationSteps/Preference.tsx
  apps/webapp/src/script/components/Modals/CreateConversation/hooks/useCreateConversation.ts
  apps/webapp/src/script/components/Modals/GroupCreation/GroupCreationModal.test.tsx
  apps/webapp/src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
  apps/webapp/src/script/components/ServiceList/components/ServiceListItem/ServiceListItem.tsx
  apps/webapp/src/script/components/TitleBar/TitleBar.test.tsx
  apps/webapp/src/script/components/TitleBar/TitleBar.tsx
  apps/webapp/src/script/components/UserSearchableList/UserSearchableList.tsx
  apps/webapp/src/script/components/panel/ServiceDetails.styles.ts
  apps/webapp/src/script/components/panel/ServiceDetails.tsx
  apps/webapp/src/script/externalRoute.ts
  apps/webapp/src/script/guards/Panel.ts
  apps/webapp/src/script/guards/Service.ts
  apps/webapp/src/script/page/LeftSidebar/panels/StartUI/StartUI.tsx
  apps/webapp/src/script/page/RightSidebar/RightSidebar.tsx
  apps/webapp/src/script/page/RightSidebar/addParticipants/addParticipants.tsx
  apps/webapp/src/script/page/RightSidebar/conversationDetails/conversationDetails.tsx
  apps/webapp/src/script/page/RightSidebar/groupParticipantService/groupParticipantService.tsx
  apps/webapp/src/script/page/RightSidebar/guestServicesOptions/components/servicesOptions/serviceOptions.test.tsx
  apps/webapp/src/script/page/RightSidebar/guestServicesOptions/components/servicesOptions/servicesOptions.tsx
  apps/webapp/src/script/page/RightSidebar/guestServicesOptions/guestServicesOptions.test.tsx
  apps/webapp/src/script/repositories/conversation/ConversationRepository.ts
  apps/webapp/src/script/repositories/entity/Conversation.test.ts
  apps/webapp/src/script/repositories/entity/Conversation.ts
  apps/webapp/src/script/repositories/event/preprocessor/ServiceMiddleware.test.ts
  apps/webapp/src/script/repositories/event/preprocessor/ServiceMiddleware.ts
  apps/webapp/src/script/repositories/integration/IntegrationMapper.ts
  apps/webapp/src/script/repositories/integration/IntegrationRepository.ts
  apps/webapp/src/script/repositories/integration/ServiceEntity.ts
  apps/webapp/src/script/repositories/team/TeamRepository.ts
  apps/webapp/src/script/util/featureUtil.test.ts
  apps/webapp/src/script/util/featureUtil.ts
  apps/webapp/src/script/view_model/ActionsViewModel.ts
  apps/webapp/src/types/i18n.d.ts
Due: app_webapp

test: increase timeout for TC-2752 [WPB-22420]
  apps/webapp/test/e2e_tests/specs/AppLock/AppLock.spec.ts
Due: app_webapp

test: increase timeout after manual login in TC-2763 [WPB-22420]
  apps/webapp/test/e2e_tests/specs/AppLock/AppLock.spec.ts
Due: app_webapp

chore(deps): update tests for tooling v30
  apps/webapp/src/script/E2EIdentity/E2EIdentityEnrollment.test.ts
  apps/webapp/src/script/auth/page/Success.test.tsx
  apps/webapp/src/script/auth/page/Success.tsx
  apps/webapp/src/script/navigation/browserLocation.ts
  apps/webapp/src/script/repositories/LifeCycleRepository/LifeCycleRepository.test.ts
  apps/webapp/src/script/repositories/LifeCycleRepository/LifeCycleRepository.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/effects/capability.test.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/effects/capability.ts
  libraries/api-client/src/tcp/reconnectingWebsocket.test.ts
Due: app_webapp, lib_api_client

test: increase timeout for TC-2752 [WPB-22420] (#21139)
  apps/webapp/test/e2e_tests/specs/AppLock/AppLock.spec.ts
Due: app_webapp

ci: isolate unit tests from network
  .github/workflows/ci.yml
  bin/run-with-network-isolation.sh
Due: none

fix: PR feedback
  libraries/core/src/conversation/conversationService/conversationService.ts
  libraries/core/src/notification/notificationService.ts
Due: lib_core

fix: add aria-label for restore button [WPB-22743]
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/HistoryImport/BackupFileUpload.tsx
  apps/webapp/src/types/i18n.d.ts
Due: app_webapp

test: allow loopback in isolated unit test job
  bin/run-with-network-isolation.sh
Due: none

test: increase timeout after manual login in TC-2763 [WPB-22420] (#21138)
  apps/webapp/test/e2e_tests/specs/AppLock/AppLock.spec.ts
Due: app_webapp

fix: handle broken conversation after restore [WPB-24192] (#21085)
  apps/webapp/src/script/repositories/conversation/ConversationRepository.test.ts
  apps/webapp/src/script/repositories/conversation/ConversationRepository.ts
Due: app_webapp

fix: add aria-label for restore button [WPB-22743] (#21142)
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/HistoryImport/BackupFileUpload.tsx
  apps/webapp/src/types/i18n.d.ts
Due: app_webapp

fix(webapp): prevent IndexedDB limit overflow in EventService message loading (#21131)
  apps/webapp/src/script/repositories/event/EventService.ts
Due: app_webapp

feat: remove sensitive data from logs [WPB-24990] (#21132)
  apps/webapp/src/script/auth/page/SingleSignOn.tsx
  apps/webapp/src/script/repositories/conversation/ConversationRepository.ts
  apps/webapp/src/script/repositories/storage/StorageService.ts
  apps/webapp/src/script/repositories/user/UserRepository.ts
Due: app_webapp

Isolate unit tests from network [WPB-22420] (#21141)
  .github/workflows/ci.yml
  bin/run-with-network-isolation.sh
Due: none

feat: make unread marker readable for screen readers [WPB-22778] (#21126)
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/MessagesList/Message/Marker/Marker.tsx
  apps/webapp/src/types/i18n.d.ts
Due: app_webapp

chore: remove not needed GitHub action (#21134)
  .github/no-response.yml
Due: none

feat: add capability polling and move it behind feature flag
  apps/webapp/src/script/components/calling/VideoControls/videoBackgroundPerformancePanel/videoBackgroundPerformancePanel.tsx
Due: app_webapp

wip
  apps/webapp/jest.config.ts
  apps/webapp/jest.report.config.cjs
  apps/webapp/src/script/components/calling/VideoControls/videoBackgroundPerformancePanel/capabilityInformationValidator.test.ts
  apps/webapp/src/script/components/calling/VideoControls/videoBackgroundPerformancePanel/capabilityInformationValidator.ts
  apps/webapp/src/script/components/calling/VideoControls/videoBackgroundPerformancePanel/videoBackgroundPerformancePanel.tsx
  apps/webapp/src/script/repositories/media/backgroundEffects/backgroundEffectsWorkerTypes.ts
  package.json
  yarn.lock
Due: app_webapp

feat: enhance polling logic with panel state checks, change useEffect return type
  apps/webapp/src/script/components/calling/VideoControls/videoBackgroundPerformancePanel/videoBackgroundPerformancePanel.tsx
Due: app_webapp

test: coverage for capabilityInformationValidator
  apps/webapp/src/script/components/calling/VideoControls/videoBackgroundPerformancePanel/capabilityInformationValidator.test.ts
Due: app_webapp

Path conditions:
  app_webapp: any of: apps/webapp/**
  app_server: any of: apps/server/**
  lib_core: any of: libraries/core/**
  lib_api_client: any of: libraries/api-client/**
