Repository wireapp/wire-webapp: changes, and which Codecov flags are due for each by the changed paths.
All: app_webapp, app_server, lib_core, lib_api_client

fix: ignore config-lib build output in ESLint
  eslint.config.ts
Due: none

fix: update config-lib build to use non-composite tsconfig
  libraries/config/project.json
  libraries/config/tsconfig.json
Due: none

feat: add clean task to config-lib
  libraries/config/project.json
Due: none

chore: make the build work
  apps/server/Server.ts
  apps/server/bin/generateVersionFile.js
  apps/server/config.ts
  apps/server/routes/RedirectRoutes.ts
  apps/server/routes/config/ConfigRoute.ts
  apps/server/routes/googlewebmaster/GoogleWebmasterRoute.ts
  apps/webapp/webpack.config.common.js
  libraries/config/tsconfig.json
Due: app_webapp, app_server

fix: resolve webapp build dependency on server and fix deployment config bundling
  apps/server/bin/copy_server_assets.js
  apps/webapp/package.json
  apps/webapp/webpack.config.common.js
  bin/zip.js
  libraries/config/src/server.config.ts
  yarn.lock
Due: app_webapp, app_server

fix: automatically handle all workspace dependencies in deployment
  apps/server/bin/copy_server_assets.js
  bin/zip.js
Due: app_server

fix: remove duplicate server_tokens directive from nginx config
  apps/server/.platform/nginx/conf.d/proxy.conf
Due: app_server

fix: correct config-lib types path for deployment
  apps/server/bin/copy_server_assets.js
  libraries/config/package.json
Due: app_server

fix: add platform hook to install npm dependencies on deployment
  apps/server/.platform/hooks/predeploy/01_npm_install.sh
Due: app_server

fix: mark workspace dependencies as bundled to preserve them during npm install
  bin/zip.js
Due: none

fix: correct .env.defaults path resolution for AWS EB deployment
  apps/server/config.ts
Due: app_server

fix: mark workspace dependencies as bundledDependencies to prevent reinstallation
  bin/zip.js
Due: none

debug: add diagnostic logging for environment variable loading
  apps/server/config.ts
Due: app_server

chore: exclude spec files from config library build
  libraries/config/tsconfig.json
Due: none

chore: move .env.localhost to root and add comprehensive config tests
  .env.localhost
  apps/server/.gitignore
  apps/webapp/.gitignore
  libraries/config/src/client.config.spec.ts
  libraries/config/src/env.spec.ts
  libraries/config/src/server.config.spec.ts
Due: app_webapp, app_server

chore: apply linter fixes to client.config.spec.ts
  libraries/config/src/client.config.spec.ts
Due: none

fix: add tslib dependency and improve workspace library bundling
  apps/server/package.json
  bin/zip.js
  libraries/config/package.json
  yarn.lock
Due: app_server

fix: correct workspace library bundling in deployment package
  apps/server/bin/copy_server_assets.js
Due: app_server

docs: add config library to documentation
  .github/copilot-instructions.md
  .github/dependabot.yml
  .github/labeler.yml
  README.md
Due: none

chore: configure Nx base branch and improve precommit hooks
  .github/labeler.yml
  apps/webapp/src/style/foundation/video-calling.less
  lint-staged.config.js
  nx.json
Due: app_webapp

feat: change history restore string
  apps/webapp/src/i18n/en-US.json
Due: app_webapp

feat: change history restore string (#20089)
  apps/webapp/src/i18n/en-US.json
Due: app_webapp

chore: update wire-web-config dependencies to version 0.34.8
  apps/webapp/app-config/package.json
Due: app_webapp

chore: update wire-web-config dependencies to version 0.34.8 (#20091)
  apps/webapp/app-config/package.json
Due: app_webapp

chore(nx): fix the docker file
  apps/server/Dockerfile
Due: app_server

chore(nx): fix the docker file (#20092)
  apps/server/Dockerfile
Due: app_server

chore: modernize GitHub Actions to latest versions
  .github/workflows/cherry-pick-release-to-dev.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/create_docker_image.yml
  .github/workflows/dependency-review.yml
  .github/workflows/deploy-to-test-env.yml
  .github/workflows/generate_test_report.yml
  .github/workflows/playwright-crit-flow-tests.yml
  .github/workflows/playwright-regression-flow-tests.yml
  .github/workflows/playwright-smoke-tests.yml
  .github/workflows/pr-auto-merge.yml
  .github/workflows/precommit-crit-flows.yml
  .github/workflows/precommit.yml
  .github/workflows/publish.yml
  .github/workflows/pull_translations.yml
  .github/workflows/run-cells-crit-flow-e2e-tests.yml
  .github/workflows/semantic-commit-lint.yml
  .github/workflows/sync_translations.yml
Due: none

chore: modernize GitHub Actions to latest versions (#20094)
  .github/workflows/cherry-pick-release-to-dev.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/create_docker_image.yml
  .github/workflows/dependency-review.yml
  .github/workflows/deploy-to-test-env.yml
  .github/workflows/generate_test_report.yml
  .github/workflows/playwright-crit-flow-tests.yml
  .github/workflows/playwright-regression-flow-tests.yml
  .github/workflows/playwright-smoke-tests.yml
  .github/workflows/pr-auto-merge.yml
  .github/workflows/precommit-crit-flows.yml
  .github/workflows/precommit.yml
  .github/workflows/publish.yml
  .github/workflows/pull_translations.yml
  .github/workflows/run-cells-crit-flow-e2e-tests.yml
  .github/workflows/semantic-commit-lint.yml
  .github/workflows/sync_translations.yml
Due: none

fix lint
  libraries/api-client/src/cells/CellsAPI.ts
Due: lib_api_client

bring back jest config
  libraries/api-client/jest.config.js
Due: lib_api_client

refactor: merge utils selectUser and selectUsers into one
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/startUI.page.ts
  apps/webapp/test/e2e_tests/specs/Block/block.spec.ts
  apps/webapp/test/e2e_tests/specs/Connections/Connections.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/Cells/editMultipartMessage-TC-8786.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/Cells/replyingToMultipartMessage-TC-8787.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/Cells/uploadingFileInGroupConversation.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/addMembersToChat-TC-8631.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/backupRestoration-TC-8634.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/channelsCall-TC-8755.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/channelsManagement-TC-8752.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/groupCalls-TC-8632.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/groupVideoCall-TC-8637.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/messagesInChannels-TC-8753.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/personalAccountLifecycle-TC-8638.spec.ts
  apps/webapp/test/e2e_tests/specs/RegressionSpecs/archive.spec.ts
  apps/webapp/test/e2e_tests/specs/RegressionSpecs/block-messages.spec.ts
  apps/webapp/test/e2e_tests/specs/RegressionSpecs/block-search.spec.ts
  apps/webapp/test/e2e_tests/specs/Smokes/smoke.spec.ts
  apps/webapp/test/e2e_tests/specs/noInternetCallGuard.spec.ts
  apps/webapp/test/e2e_tests/utils/userActions.ts
Due: app_webapp

refactor: refactor invalid usages of startUI
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/groupCreation.page.ts
  apps/webapp/test/e2e_tests/specs/Block/block.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/Cells/editMultipartMessage-TC-8786.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/Cells/replyingToMultipartMessage-TC-8787.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/Cells/uploadingFileInGroupConversation.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/addMembersToChat-TC-8631.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/backupRestoration-TC-8634.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/channelsCall-TC-8755.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/channelsManagement-TC-8752.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/conversationManagement-TC-8636.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/groupCalls-TC-8632.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/groupVideoCall-TC-8637.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/messagesInChannels-TC-8753.spec.ts
  apps/webapp/test/e2e_tests/specs/RegressionSpecs/archive.spec.ts
  apps/webapp/test/e2e_tests/specs/RegressionSpecs/block-messages.spec.ts
  apps/webapp/test/e2e_tests/utils/userActions.ts
Due: app_webapp

refactor: refactor locators of startUI
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/startUI.page.ts
  apps/webapp/test/e2e_tests/specs/Search/search.spec.ts
Due: app_webapp

fix: wait for mls connection to be created before sending message
  apps/webapp/test/e2e_tests/specs/RegressionSpecs/block-messages.spec.ts
Due: app_webapp

test(WPB-22420): remove clickUserFromSearchResults util
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/startUI.page.ts
  apps/webapp/test/e2e_tests/specs/Search/search.spec.ts
Due: app_webapp

chore: update translation workflow paths for Nx monorepo structure
  bin/transalations_generate_types.js
  bin/translations_extract_formatter.js
  crowdin.yaml
Due: none

chore: update translation workflow paths for Nx monorepo structure (#20095)
  bin/transalations_generate_types.js
  bin/translations_extract_formatter.js
  crowdin.yaml
Due: none

Path conditions:
  app_webapp: any of: apps/webapp/**
  app_server: any of: apps/server/**
  lib_core: any of: libraries/core/**
  lib_api_client: any of: libraries/api-client/**
