Repository wireapp/wire-webapp: changes, and which Codecov flags are due for each by the changed paths.
All: app_webapp, app_server, lib_core, lib_api_client

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '45...80'
  status:
    project:
      default:
        target: auto
      app_webapp:
        target: auto
        flags:
          - app_webapp
      app_server:
        target: auto
        flags:
          - app_server
      lib_core:
        target: auto
        flags:
          - lib_core
      lib_api_client:
        target: auto
        flags:
          - lib_api_client
    patch:
      default:
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: 'diff, flags, files'
  behavior: default
  require_changes: no

flags:
  app_webapp:
    paths:
      - 'apps/webapp/**'
    carryforward: false
  app_server:
    paths:
      - 'apps/server/**'
    carryforward: true
  lib_core:
    paths:
      - 'libraries/core/**'
    carryforward: true
  lib_api_client:
    paths:
      - 'libraries/api-client/**'
    carryforward: true

github_checks:
  annotations: false

refactor: inline Connect Button Locator
  apps/webapp/test/e2e_tests/specs/CriticalFlow/onPremLoginRedirect-TC-8757.spec.ts
Due: app_webapp

refactor: remove redundant customBackend.page.ts
  apps/webapp/test/e2e_tests/pageManager/index.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/customBackend.page.ts
Due: app_webapp

feat: add locale string for Muted
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/ConversationListCell/ConversationListCell.tsx
  apps/webapp/src/types/i18n.d.ts
Due: app_webapp

Disable poor quality banner
  apps/webapp/src/script/repositories/calling/CallingRepository.ts
Due: app_webapp

refactor: replace hardcoded backend URLs with env vars
  apps/webapp/test/e2e_tests/backend/brigRepository.e2e.ts
Due: app_webapp

Update test ids for block tests [WPB-26012]
  apps/webapp/test/e2e_tests/specs/Block/block.spec.ts
Due: app_webapp

Remove dedicated login e2e test [WPB-22420]
  apps/webapp/test/e2e_tests/specs/LoginSpecs/login.spec.ts
Due: app_webapp

fix: skip poor call quality warning tests
  apps/webapp/src/script/repositories/calling/CallingRepository.test.ts
Due: app_webapp

chore (e2e): Added an option to run E2E tests against QA env
  .github/workflows/e2e-tests.yml
Due: none

Update apps/webapp/src/script/components/InputBar/InputBarEditor/RichTextEditor/RichTextEditor.tsx
  apps/webapp/src/script/components/InputBar/InputBarEditor/RichTextEditor/RichTextEditor.tsx
Due: app_webapp

Update apps/webapp/src/script/components/InputBar/InputBar.tsx
  apps/webapp/src/script/components/InputBar/InputBar.tsx
Due: app_webapp

address PR comment
  apps/webapp/src/script/components/ConfigToolbar/ConfigToolbar.styles.tsx
  apps/webapp/src/script/components/ConfigToolbar/ConfigToolbar.tsx
  apps/webapp/src/script/components/InputBar/InputBar.tsx
Due: app_webapp

Add env vars for federation environment to .env template [WPB-25319]
  apps/webapp/test/e2e_tests/.env.staging.tpl
Due: app_webapp

lint
  apps/webapp/src/script/components/InputBar/InputBarEditor/RichTextEditor/RichTextEditor.tsx
Due: app_webapp

fix(api-client): force WebSocket reconnect after sleep when socket stays OPEN
  libraries/api-client/src/tcp/reconnectingWebsocket.backFromSleep.test.ts
  libraries/api-client/src/tcp/reconnectingWebsocket.ts
Due: lib_api_client

fix(api-client): keep WebSocket ping interval alive across reconnects
  libraries/api-client/src/tcp/reconnectingWebsocket.backFromSleep.test.ts
  libraries/api-client/src/tcp/reconnectingWebsocket.test.ts
  libraries/api-client/src/tcp/reconnectingWebsocket.ts
Due: lib_api_client

implemented edit composite message
  apps/webapp/src/script/repositories/conversation/ConversationRepository.ts
  apps/webapp/src/script/repositories/conversation/EventBuilder/EventBuilder.ts
  apps/webapp/src/script/repositories/conversation/EventMapper.ts
  apps/webapp/src/script/repositories/cryptography/CryptographyMapper.ts
  apps/webapp/src/script/repositories/event/preprocessor/EventStorageMiddleware/eventHandlers/editedEventHandler.ts
  apps/webapp/src/script/repositories/event/preprocessor/EventStorageMiddleware/eventHandlers/getCommonMessageUpdates.ts
Due: app_webapp

use is to determine if edited_time is non-null
  apps/webapp/src/script/repositories/conversation/ConversationRepository.ts
Due: app_webapp

extract message add metadata into its own type
  apps/webapp/src/script/repositories/conversation/EventBuilder/EventBuilder.ts
Due: app_webapp

feat: load-more pagination for conversation drive search view
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/Conversation/ConversationCells/ConversationCells.tsx
  apps/webapp/src/script/components/Conversation/ConversationCells/common/loadMorePagination/loadMorePagination.test.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/common/loadMorePagination/loadMorePagination.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/common/useCellsStore/useCellsStore.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/useConversationSearch/useConversationSearchFiles.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/useGetAllCellsNodes/useGetAllCellsNodes.ts
  apps/webapp/src/script/repositories/cells/cellsRepository.ts
  apps/webapp/src/types/i18n.d.ts
Due: app_webapp

feat: update max legth for formatted code block [WPB-16654]
  apps/webapp/src/style/components/lexical-input.less
  apps/webapp/src/style/content/conversation/message-quote.less
Due: app_webapp

feat: keep the focus trapped inside the wrapper when background sidebar is closed
  apps/webapp/src/script/components/calling/FullscreenVideoCall.tsx
Due: app_webapp

feat: rename checkbox to Enhanced Quality
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/calling/VideoControls/VideoBackgroundSettings/VideoBackgroundSettings.styles.ts
  apps/webapp/src/script/components/calling/VideoControls/VideoBackgroundSettings/VideoBackgroundSettings.tsx
  apps/webapp/src/types/i18n.d.ts
Due: app_webapp

feat: add WebGL availability check and hint for background settings
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/calling/FullscreenVideoCall.tsx
  apps/webapp/src/script/components/calling/VideoControls/VideoBackgroundSettings/VideoBackgroundSettings.styles.ts
  apps/webapp/src/script/components/calling/VideoControls/VideoBackgroundSettings/VideoBackgroundSettings.test.tsx
  apps/webapp/src/script/components/calling/VideoControls/VideoBackgroundSettings/VideoBackgroundSettings.tsx
  apps/webapp/src/script/components/calling/VideoControls/VideoControls.tsx
  apps/webapp/src/script/repositories/media/backgroundEffectsHandler.test.ts
  apps/webapp/src/script/repositories/media/backgroundEffectsHandler.ts
  apps/webapp/src/types/i18n.d.ts
  libraries/config/src/client.config.ts
  libraries/config/src/env.ts
Due: app_webapp

fix: share modal and root context
  apps/webapp/src/script/components/Cells/common/useCellPublicLink/useCellPublicLink.test.ts
  apps/webapp/src/script/components/Cells/common/useCellPublicLink/useCellPublicLink.ts
  apps/webapp/src/script/components/CellsGlobalView/CellsTable/CellsTableColumns/CellsShareModal/CellsShareModal.tsx
  apps/webapp/src/script/components/CellsGlobalView/CellsTable/CellsTableColumns/CellsShareModal/useCellGlobalPublicLink.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsNodeShareModal/CellsNodeShareModal.tsx
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsNodeShareModal/useCellConversationPublicLink.ts
Due: app_webapp

feat(react-ui-kit): adopt theme's color for icons of BlurLowIcon, BlurHighIcon, CircleIcon, ImageIcon (#8126)
  src/DataDisplay/Icon/BlurHighIcon.tsx
  src/DataDisplay/Icon/BlurLowIcon.tsx
  src/DataDisplay/Icon/CircleIcon.tsx
  src/DataDisplay/Icon/ImageIcon.tsx
Due: none

feat(react-ui-kit): adopt theme's color for icons of BlurLowIcon, BlurHighIcon, CircleIcon, ImageIcon (#8126)
  react-ui-kit/src/DataDisplay/Icon/BlurHighIcon.tsx
  react-ui-kit/src/DataDisplay/Icon/BlurLowIcon.tsx
  react-ui-kit/src/DataDisplay/Icon/CircleIcon.tsx
  react-ui-kit/src/DataDisplay/Icon/ImageIcon.tsx
Due: none

chore: Publish [skip ci]
  CHANGELOG.md
  package.json
Due: none

chore: Publish [skip ci]
  react-ui-kit/CHANGELOG.md
  react-ui-kit/package.json
Due: none

feat: bump react-ui-kit version to 9.77.0
  apps/webapp/package.json
  yarn.lock
Due: app_webapp

fix: pass fire-and-forget invoker to cells share modals(WPB-26087)
  apps/webapp/src/script/components/Cells/common/useCellPublicLink/useCellPublicLink.test.ts
  apps/webapp/src/script/components/Cells/common/useCellPublicLink/useCellPublicLink.ts
  apps/webapp/src/script/components/CellsGlobalView/CellsTable/CellsTableColumns/CellsShareModal/CellsShareModal.test.tsx
  apps/webapp/src/script/components/CellsGlobalView/CellsTable/CellsTableColumns/CellsShareModal/CellsShareModal.tsx
  apps/webapp/src/script/components/CellsGlobalView/CellsTable/CellsTableColumns/CellsShareModal/useCellGlobalPublicLink.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsNodeShareModal/CellsNodeShareModal.test.tsx
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsNodeShareModal/CellsNodeShareModal.tsx
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsNodeShareModal/useCellConversationPublicLink.ts
Due: app_webapp

chore: bump avs version to 10.3.40
  apps/webapp/package.json
  yarn.lock
Due: app_webapp

feat: update WebGL availability hint component and improve background effect options
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/calling/VideoControls/VideoBackgroundSettings/VideoBackgroundSettings.test.tsx
  apps/webapp/src/script/components/calling/VideoControls/VideoBackgroundSettings/VideoBackgroundSettings.tsx
  apps/webapp/src/script/components/calling/VideoControls/VideoControls.tsx
  apps/webapp/src/types/i18n.d.ts
Due: app_webapp

feat: show loader during background effect initialization
  apps/webapp/src/script/components/calling/GroupVideoGridTile.styles.ts
  apps/webapp/src/script/components/calling/GroupVideoGridTile.tsx
  apps/webapp/src/script/repositories/calling/CallingRepository.ts
  apps/webapp/src/script/repositories/media/useBackgroundEffectsStore.ts
Due: app_webapp

fix: correct frame timing in segmenter to improve performance measurement
  apps/webapp/src/script/repositories/media/backgroundEffects/pipe/segmenter.ts
Due: app_webapp
