Repository wireapp/wire-webapp: changes, and which Codecov flags are due for each by the changed paths.
All: app_webapp, app_server, lib_core, lib_api_client

refactor: centralize drive filter search mapping
  apps/webapp/src/script/components/CellsGlobalView/CellsGlobalView.tsx
  apps/webapp/src/script/components/CellsGlobalView/common/useGlobalDriveFilters/useGlobalDriveFilters.tsx
  apps/webapp/src/script/components/CellsGlobalView/useSearchCellsNodes/useSearchCellsNodes.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/ConversationCells.tsx
  apps/webapp/src/script/components/Conversation/ConversationCells/common/driveFilters/driveFilters.test.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/common/driveFilters/driveFilters.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/common/useConversationDriveFilters/useConversationDriveFilters.tsx
  apps/webapp/src/script/components/Conversation/ConversationCells/useConversationSearch/useConversationSearchFiles.ts
Due: app_webapp

bring back filter config
  apps/webapp/src/script/components/Conversation/ConversationCells/common/CellsFiltersBar/filterConfig.ts
Due: app_webapp

fix: hasFetched: true only when fetched and validated tags successfully otherwise its false
  apps/webapp/src/script/components/Conversation/ConversationCells/common/useAllCellsTagsStore/useAllCellsTagsStore.test.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/common/useAllCellsTagsStore/useAllCellsTagsStore.ts
Due: app_webapp

chore: type-check root bin/ scripts
  bin/release_tag.ts
  project.json
  tsconfig.bin.json
Due: none

chore: align bin ts-node commands with tooling tsconfig
  project.json
Due: none

increase test timeout for tests using waitForTimeout
  apps/webapp/test/e2e_tests/specs/2FA-for-TeamsSpecs/2fa-for-teams.spec.ts
  apps/webapp/test/e2e_tests/specs/Calling/calling.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/messagesIn1On1-TC-8750.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/messagesInChannels-TC-8753.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/messagesInGroups-TC-8751.spec.ts
  apps/webapp/test/e2e_tests/specs/Guestroom/guestroom.spec.ts
  apps/webapp/test/e2e_tests/specs/InConversationSearch/inConversationSearch.spec.ts
  apps/webapp/test/e2e_tests/specs/Mention/mention.spec.ts
  apps/webapp/test/e2e_tests/specs/SelfDeletingMessages/selfDeletingMessages.spec.ts
  apps/webapp/test/e2e_tests/specs/SendingAssets/sendingAssets.spec.ts
Due: app_webapp

chore: run workspace tools type-check in continuous integration
  .github/workflows/ci.yml
Due: none

remove unused e2e test utils
  apps/webapp/test/e2e_tests/utils/indexedDB.util.ts
  apps/webapp/test/e2e_tests/utils/network.util.ts
  apps/webapp/test/e2e_tests/utils/userActions.ts
Due: app_webapp

feat: refactor SSO login for multi-ingress flow [WPB-20447]
  apps/webapp/src/script/auth/hooks/useEnterpriseLoginV2.ts
  apps/webapp/src/script/auth/page/ConversationJoin.tsx
  apps/webapp/src/script/auth/page/Login/Login.styles.ts
  apps/webapp/src/script/auth/page/Login/Login.test.tsx
  apps/webapp/src/script/auth/page/Login/Login.tsx
  apps/webapp/src/script/auth/page/Login/SingleSignOn.tsx
  apps/webapp/src/script/auth/page/Login/SingleSignOnForm.test.tsx
  apps/webapp/src/script/auth/page/Login/SingleSignOnForm.tsx
  apps/webapp/src/script/auth/page/Login/util.ts
  apps/webapp/src/script/auth/page/Root.tsx
Due: app_webapp

fix: added tests for login util
  apps/webapp/src/script/auth/page/Login/util.test.ts
Due: app_webapp

test: add unit tests for `runSegmenter` with WebGL context lost/restored handling
  apps/webapp/src/script/repositories/media/backgroundEffects/pipe/segmenter.test.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/pipe/segmenter.ts
Due: app_webapp

fix: upate numbers with status codes
  libraries/api-client/src/http/incrementalRetryBackoff.ts
Due: lib_api_client

fix: align trimmed semantics across search input handling
  apps/webapp/src/script/components/Conversation/ConversationCells/ConversationCells.tsx
  apps/webapp/src/script/components/Conversation/ConversationCells/useConversationSearch/useConversationSearchFiles.ts
Due: app_webapp

test: implement sequential restart queue for `runSegmenter` and add comprehensive tests
  apps/webapp/src/script/repositories/media/backgroundEffects/helper/restartQueue.test.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/helper/restartQueue.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/pipe/segmenter.test.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/pipe/segmenter.ts
Due: app_webapp

chore: update dependencies in `yarn.lock`, including `@babel/runtime`, `worker-timers`, and related packages
  yarn.lock
Due: none

fix: use fireAndForgetInvoker
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsTableRowOptions/CellsTagsModal/useTagsManagement/useTagsManagement.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/useConversationSearch/useConversationSearchFiles.ts
Due: app_webapp

Update apps/webapp/src/script/components/Conversation/ConversationCells/common/driveFilters/driveFilters.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/common/driveFilters/driveFilters.ts
Due: app_webapp

chore: fix duplicate import for `createRestartQueue` in `segmenter.ts`
  apps/webapp/src/script/repositories/media/backgroundEffects/pipe/segmenter.ts
Due: app_webapp

chore: remove `restartEvery` segmenter logic to streamline background effects processing
  apps/webapp/src/script/repositories/media/backgroundEffects/backgroundEffectsController.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/pipe/options.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/pipe/segmenter.ts
Due: app_webapp

chore: make `setBackgroundSource` asynchronous to ensure proper handling of image bitmaps
  apps/webapp/src/script/repositories/media/backgroundEffects/backgroundEffectsController.ts
  apps/webapp/src/script/repositories/media/backgroundEffectsHandler.ts
Due: app_webapp

chore: refactor `backgroundEffectsController` to ensure proper worker cleanup and message handling
  apps/webapp/src/script/repositories/media/backgroundEffects/backgroundEffectsController.ts
Due: app_webapp

chore: removing unused `stop` logic in `backgroundEffectsController`
  apps/webapp/src/script/repositories/media/backgroundEffects/backgroundEffectsController.ts
  apps/webapp/src/script/repositories/media/backgroundEffectsHandler.ts
Due: app_webapp

feat: add /sso/get-by-email endpoint
  libraries/api-client/src/account/accountApi.ts
  libraries/api-client/src/account/ssoCode.ts
Due: lib_api_client

fix: replace statuscodes with numbers
  libraries/api-client/src/http/incrementalRetryBackoff.ts
Due: lib_api_client

fix: update filenames with new conventions
  apps/webapp/src/script/auth/page/ConversationJoin.tsx
  apps/webapp/src/script/auth/page/Login/Login.test.tsx
  apps/webapp/src/script/auth/page/Login/Login.tsx
  apps/webapp/src/script/auth/page/Login/SingleSignOn.tsx
  apps/webapp/src/script/auth/page/Login/SingleSignOnForm.test.tsx
  apps/webapp/src/script/auth/page/Login/SingleSignOnForm.tsx
  apps/webapp/src/script/auth/page/Root.tsx
Due: app_webapp

fix: update filenames with new conventions v2
  apps/webapp/src/script/auth/page/Login/login.styles.ts
  apps/webapp/src/script/auth/page/Login/login.test.tsx
  apps/webapp/src/script/auth/page/Login/login.tsx
  apps/webapp/src/script/auth/page/Login/singleSignOn.tsx
  apps/webapp/src/script/auth/page/Login/singleSignOnForm.test.tsx
  apps/webapp/src/script/auth/page/Login/singleSignOnForm.tsx
Due: app_webapp

chore: restrict `BackgroundSource` to `image` type
  apps/webapp/src/script/repositories/media/VideoBackgroundEffects.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/backgroundEffectsController.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/pipe/options.ts
Due: app_webapp

fix: update filenames with new conventions v3
  apps/webapp/src/script/auth/page/ConversationJoin.tsx
  apps/webapp/src/script/auth/page/Root.tsx
  apps/webapp/src/script/auth/page/login/login.styles.ts
  apps/webapp/src/script/auth/page/login/login.test.tsx
  apps/webapp/src/script/auth/page/login/login.tsx
  apps/webapp/src/script/auth/page/login/singleSignOn.tsx
  apps/webapp/src/script/auth/page/login/singleSignOnForm.test.tsx
  apps/webapp/src/script/auth/page/login/singleSignOnForm.tsx
  apps/webapp/src/script/auth/page/login/util.test.ts
  apps/webapp/src/script/auth/page/login/util.ts
Due: app_webapp

fix: remove login folder
  apps/webapp/src/script/auth/page/Login/Login.styles.ts
  apps/webapp/src/script/auth/page/Login/Login.test.tsx
  apps/webapp/src/script/auth/page/Login/Login.tsx
  apps/webapp/src/script/auth/page/Login/SingleSignOn.tsx
  apps/webapp/src/script/auth/page/Login/SingleSignOnForm.test.tsx
  apps/webapp/src/script/auth/page/Login/SingleSignOnForm.tsx
  apps/webapp/src/script/auth/page/Login/login.styles.ts
  apps/webapp/src/script/auth/page/Login/login.test.tsx
  apps/webapp/src/script/auth/page/Login/login.tsx
  apps/webapp/src/script/auth/page/Login/singleSignOn.tsx
  apps/webapp/src/script/auth/page/Login/singleSignOnForm.test.tsx
  apps/webapp/src/script/auth/page/Login/singleSignOnForm.tsx
  apps/webapp/src/script/auth/page/Login/util.test.ts
  apps/webapp/src/script/auth/page/Login/util.ts
  apps/webapp/src/script/auth/page/login/login.styles.ts
  apps/webapp/src/script/auth/page/login/login.test.tsx
  apps/webapp/src/script/auth/page/login/login.tsx
  apps/webapp/src/script/auth/page/login/singleSignOn.tsx
  apps/webapp/src/script/auth/page/login/singleSignOnForm.test.tsx
  apps/webapp/src/script/auth/page/login/singleSignOnForm.tsx
  apps/webapp/src/script/auth/page/login/util.test.ts
  apps/webapp/src/script/auth/page/login/util.ts
Due: app_webapp

fix: add files back
  apps/webapp/src/script/auth/page/login/login.styles.ts
  apps/webapp/src/script/auth/page/login/login.test.tsx
  apps/webapp/src/script/auth/page/login/login.tsx
  apps/webapp/src/script/auth/page/login/singleSignOn.tsx
  apps/webapp/src/script/auth/page/login/singleSignOnForm.test.tsx
  apps/webapp/src/script/auth/page/login/singleSignOnForm.tsx
  apps/webapp/src/script/auth/page/login/util.test.ts
  apps/webapp/src/script/auth/page/login/util.ts
Due: app_webapp

chore: use ESM import for logdown in release script
  bin/release_tag.ts
Due: none

chore(ci): ensure repo-wide type-check includes workspace tooling
  .github/workflows/ci.yml
  nx.json
Due: none

fix: final changes
  libraries/api-client/src/http/incrementalRetryBackoff.ts
Due: lib_api_client

chore: refactor `segmenterOptions` handling with `updateSegmenterOptions` for runtime updates
  apps/webapp/src/script/repositories/media/backgroundEffects/backgroundEffectsController.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/pipe/options.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/pipe/segmenter.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/pipe/worker.ts
Due: app_webapp

chore: remove `video` background type support from `WebGLRenderer`
  apps/webapp/src/script/repositories/media/backgroundEffects/pipe/renderer.ts
Due: app_webapp

test: add tests for `updateSegmenterOptions` and refine `runSegmenter` context handling
  apps/webapp/src/script/repositories/media/backgroundEffects/pipe/segmenter.test.ts
Due: app_webapp

chore: remove unused assertions in `backgroundEffectsHandler` tests
  apps/webapp/src/script/repositories/media/backgroundEffectsHandler.test.ts
Due: app_webapp

Path conditions:
  app_webapp: any of: apps/webapp/**
  app_server: any of: apps/server/**
  lib_core: any of: libraries/core/**
  lib_api_client: any of: libraries/api-client/**
