Repository wireapp/wire-webapp: changes, and which Codecov flags are due for each by the changed paths.
All: app_webapp, app_server, lib_core, lib_api_client

chore: update precommit-crit-flows to report status correctly [WPB-17563]
  .github/workflows/precommit-crit-flows.yml
Due: none

chore: rename files and folders in camelCase
  .ls-lint.yml
  apps/webapp/src/script/repositories/media/backgroundEffects/README.md
  apps/webapp/src/script/repositories/media/backgroundEffects/backgroundEffectsWorkerTypes.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/effects/backgroundEffectsController.test.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/effects/backgroundEffectsController.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/pipelines/canvas2dPipeline.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/pipelines/mainWebGlPipeline.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/pipelines/workerWebGlPipeline.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/renderer/backgroundRenderer.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/renderer/renderPasses.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/renderer/webGlRenderer.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/renderer/webGlResources.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/testBasic.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/worker/backgroundEffectsWorkerState.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/worker/contextLoss.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/worker/handlers.ts
Due: app_webapp

chore: update precommit-crit-flows to report status correctly [WPB-17563] (#20865)
  .github/workflows/precommit-crit-flows.yml
Due: none

feat: generate types
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/types/i18n.d.ts
Due: app_webapp

feat: track retry count and duration in HTTP incremental backoff state (#20861)
  libraries/api-client/src/http/incrementalRetryBackoff.test.ts
  libraries/api-client/src/http/incrementalRetryBackoff.ts
Due: lib_api_client

chore: update AWS action for EB deployment
  .github/workflows/precommit-crit-flows.yml
Due: none

chore: update AWS action for EB deployment
  .github/workflows/deploy-to-test-env.yml
Due: none

chore: optimize critical flow tests runner [WPB-17563]
  .github/workflows/e2e-tests.yml
Due: none

fixed Install 1Password CLI
  .github/workflows/e2e-tests.yml
Due: none

fix cache issue
  .github/workflows/e2e-tests.yml
Due: none

fix: skip failing tests for release/q1-2026
  apps/webapp/src/i18n/en-US.json
  apps/webapp/test/e2e_tests/specs/AccountSettingsSpecs/accountSettings.spec.ts
  apps/webapp/test/e2e_tests/specs/AppLock/AppLock.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/addMembersToChat-TC-8631.spec.ts
  apps/webapp/test/e2e_tests/specs/noInternetCallGuard.spec.ts
Due: app_webapp

fix: typo
  apps/webapp/src/script/repositories/media/backgroundEffects/effects/backgroundEffectsController.test.ts
Due: app_webapp

feat: emit HTTP long-running retry transport event
  libraries/api-client/src/http/httpClient.ts
  libraries/api-client/src/http/incrementalRetryBackoffRunner.ts
Due: lib_api_client

chore: update AWS action for EB deployment
  .github/workflows/deploy-to-test-env.yml
  .github/workflows/precommit-crit-flows.yml
  .github/workflows/precommit.yml
  .github/workflows/publish-and-deploy-webapp.yml
  .github/workflows/redeploy-production-from-tag.yml
Due: none

feat: emit HTTP long-running retry transport event (#20867)
  libraries/api-client/src/http/httpClient.ts
  libraries/api-client/src/http/incrementalRetryBackoffRunner.ts
Due: lib_api_client

feat: add Countly connectivity retry tracking constants
  apps/webapp/src/script/repositories/tracking/EventName.ts
  apps/webapp/src/script/repositories/tracking/Segmentation.ts
Due: app_webapp

feat: add Countly connectivity retry tracking constants (#20869)
  apps/webapp/src/script/repositories/tracking/EventName.ts
  apps/webapp/src/script/repositories/tracking/Segmentation.ts
Due: app_webapp

feat: report API long-running retries to Countly behind feature flag
  apps/webapp/src/script/components/AppContainer/AppContainer.tsx
  apps/webapp/src/script/main/app.ts
  apps/webapp/src/script/repositories/tracking/EventTrackingRepository.ts
Due: app_webapp

feat: report API long-running retries to Countly behind feature flag (#20870)
  apps/webapp/src/script/components/AppContainer/AppContainer.tsx
  apps/webapp/src/script/main/app.ts
  apps/webapp/src/script/repositories/tracking/EventTrackingRepository.ts
Due: app_webapp

chore: update AWS action for EB deployment
  .github/workflows/precommit.yml
Due: none

chore: update AWS action for EB deployment [WPB-24365] (#20868)
  .github/workflows/deploy-to-test-env.yml
  .github/workflows/precommit-crit-flows.yml
  .github/workflows/precommit.yml
  .github/workflows/publish-and-deploy-webapp.yml
  .github/workflows/redeploy-production-from-tag.yml
Due: none

chore(nx): disable workspace Nx Cloud connectivity
  nx.json
Due: none

chore(nx): disable workspace Nx Cloud connectivity (#20871)
  nx.json
Due: none

feat: create feature flag for create a new collabora document(WPB-22465)
  apps/webapp/src/script/featureToggles/startupFeatureToggleNames.ts
  apps/webapp/src/script/featureToggles/startupFeatureToggles.test.ts
Due: app_webapp

chore: if build or deployment is failed then playwright tests should not run
  .github/workflows/precommit-crit-flows.yml
Due: none

feat: create feature flag for create a new collabora document(WPB-22465) (#20872)
  apps/webapp/src/script/featureToggles/startupFeatureToggleNames.ts
  apps/webapp/src/script/featureToggles/startupFeatureToggles.test.ts
Due: app_webapp

feat: add styled DropdownMenu submenu trigger/content with default indicator(WPB-22465) (#8023)
  src/Surface/DropdownMenu/DropdownMenu.styles.ts
  src/Surface/DropdownMenu/DropdownMenu.tsx
Due: none

feat: add styled DropdownMenu submenu trigger/content with default indicator(WPB-22465) (#8023)
  react-ui-kit/src/Surface/DropdownMenu/DropdownMenu.styles.ts
  react-ui-kit/src/Surface/DropdownMenu/DropdownMenu.tsx
Due: none

chore: Publish [skip ci]
  CHANGELOG.md
  package.json
Due: none

chore: Publish [skip ci]
  react-ui-kit/CHANGELOG.md
  react-ui-kit/package.json
Due: none

chore: if build or deployment is failed then playwright tests should not run (#20873)
  .github/workflows/precommit-crit-flows.yml
Due: none

chore: remove feature flag(WPB-23544)
  apps/webapp/src/script/components/FileFullscreenModal/FileEditor/FileEditor.tsx
  apps/webapp/src/script/featureToggles/startupFeatureToggleNames.ts
  apps/webapp/src/script/featureToggles/startupFeatureToggles.test.ts
Due: app_webapp

Remove collaboraClipboardAccessFeatureToggleName export
  apps/webapp/src/script/featureToggles/startupFeatureToggleNames.ts
Due: app_webapp

chore: remove feature flag(WPB-23544) (#20876)
  apps/webapp/src/script/components/FileFullscreenModal/FileEditor/FileEditor.tsx
  apps/webapp/src/script/featureToggles/startupFeatureToggleNames.ts
  apps/webapp/src/script/featureToggles/startupFeatureToggles.test.ts
Due: app_webapp

Path conditions:
  app_webapp: any of: apps/webapp/**
  app_server: any of: apps/server/**
  lib_core: any of: libraries/core/**
  lib_api_client: any of: libraries/api-client/**
