Repository wireapp/wire-webapp: changes, and which Codecov flags are due for each by the changed paths.
All: app_webapp, app_server, lib_core, lib_api_client

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '45...80'
  status:
    project:
      default:
        target: auto
      app_webapp:
        target: auto
        flags:
          - app_webapp
      app_server:
        target: auto
        flags:
          - app_server
      lib_core:
        target: auto
        flags:
          - lib_core
      lib_api_client:
        target: auto
        flags:
          - lib_api_client
    patch:
      default:
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: 'diff, flags, files'
  behavior: default
  require_changes: no

flags:
  app_webapp:
    paths:
      - 'apps/webapp/**'
    carryforward: false
  app_server:
    paths:
      - 'apps/server/**'
    carryforward: true
  lib_core:
    paths:
      - 'libraries/core/**'
    carryforward: true
  lib_api_client:
    paths:
      - 'libraries/api-client/**'
    carryforward: true

github_checks:
  annotations: false

Migrate remaining authentication boolean expressions
  apps/webapp/src/script/auth/page/conversationJoin.tsx
  apps/webapp/src/script/auth/page/conversationJoinComponents.tsx
Due: app_webapp

Migrate modal and application UI boolean expressions
  apps/webapp/src/script/components/FileFullscreenModal/FileHeader/FileHeader.tsx
  apps/webapp/src/script/components/Modals/DetailViewModal/index.tsx
  apps/webapp/src/script/components/Modals/InviteModal/InviteModal.tsx
  apps/webapp/src/script/components/Modals/ModalComponent/ModalComponent.tsx
  apps/webapp/src/script/components/Modals/PrimaryModal/PrimaryModal.tsx
  apps/webapp/src/script/components/Modals/PrimaryModal/PrimaryModalShell/PrimaryModalShell.tsx
  apps/webapp/src/script/components/Modals/PrimaryModal/PrimaryModalState.tsx
  apps/webapp/src/script/components/Modals/QualityFeedbackModal/QualityFeedbackModal.tsx
  apps/webapp/src/script/components/Modals/UserModal/UserModal.tsx
  apps/webapp/src/script/components/ServiceList/ServiceList.tsx
  apps/webapp/src/script/components/appLoader/appLoader.tsx
  apps/webapp/src/script/components/appNotification/appNotification.tsx
  apps/webapp/src/script/components/emojiPicker/emojiPicker.tsx
  apps/webapp/src/script/components/fileCard/common/fileCardContext/fileCardContext.tsx
  apps/webapp/src/script/components/giphy/giphy.tsx
  apps/webapp/src/script/components/historyExport/historyExport.tsx
  apps/webapp/src/script/components/historyImport/historyImport.tsx
  apps/webapp/src/script/components/image/image.tsx
Due: app_webapp

Migrate preference boolean expressions
  apps/webapp/src/script/page/mainContent/panels/preferences/aboutPreferences.tsx
  apps/webapp/src/script/page/mainContent/panels/preferences/accountPreferences.tsx
  apps/webapp/src/script/page/mainContent/panels/preferences/accountPreferences/accountInput.tsx
  apps/webapp/src/script/page/mainContent/panels/preferences/accountPreferences/accountSecuritySection.tsx
  apps/webapp/src/script/page/mainContent/panels/preferences/accountPreferences/avatarInput.tsx
  apps/webapp/src/script/page/mainContent/panels/preferences/accountPreferences/fileInput.tsx
  apps/webapp/src/script/page/mainContent/panels/preferences/accountPreferences/historyBackupSection.tsx
  apps/webapp/src/script/page/mainContent/panels/preferences/accountPreferences/nameInput.tsx
  apps/webapp/src/script/page/mainContent/panels/preferences/accountPreferences/usernameInput.tsx
  apps/webapp/src/script/page/mainContent/panels/preferences/avPreferences/cameraPreferences.tsx
  apps/webapp/src/script/page/mainContent/panels/preferences/avPreferences/deviceSelect.tsx
  apps/webapp/src/script/page/mainContent/panels/preferences/avPreferences/inputLevel.tsx
  apps/webapp/src/script/page/mainContent/panels/preferences/avPreferences/microphonePreferences.tsx
  apps/webapp/src/script/page/mainContent/panels/preferences/components/preferencesSection.tsx
  apps/webapp/src/script/page/mainContent/panels/preferences/devicesPreferences/components/device/device.tsx
  apps/webapp/src/script/page/mainContent/panels/preferences/devicesPreferences/components/deviceDetailsPreferences/deviceDetailsPreferences.tsx
  apps/webapp/src/script/page/mainContent/panels/preferences/devicesPreferences/components/e2eiCertificateDetails/e2eiCertificateDetails.styles.ts
  apps/webapp/src/script/page/mainContent/panels/preferences/devicesPreferences/components/e2eiCertificateDetails/e2eiCertificateDetails.tsx
  apps/webapp/src/script/page/mainContent/panels/preferences/devicesPreferences/devicesPreference.tsx
Due: app_webapp

Migrate user and device UI boolean expressions
  apps/webapp/src/script/components/UserInfo/UserInfo.tsx
  apps/webapp/src/script/components/UserSearchableList/UserSearchableList.tsx
  apps/webapp/src/script/components/avatar/avatar.tsx
  apps/webapp/src/script/components/avatar/avatarBadge.tsx
  apps/webapp/src/script/components/avatar/avatarImage.tsx
  apps/webapp/src/script/components/avatar/stackedAvatars/participantAvatarTooltip.tsx
  apps/webapp/src/script/components/avatar/userAvatar/userAvatar.tsx
  apps/webapp/src/script/components/badge/components/userStatusBadges/userStatusBadges.tsx
  apps/webapp/src/script/components/panel/enrichedFields.tsx
  apps/webapp/src/script/components/panel/userDetails.tsx
  apps/webapp/src/script/components/participantItemContent/participantItemContent.tsx
  apps/webapp/src/script/components/toggle/InfoToggle.tsx
  apps/webapp/src/script/components/userDevices/components/SelfFingerprint/SelfFingerprint.tsx
  apps/webapp/src/script/components/userDevices/components/deviceCard/deviceCard.tsx
  apps/webapp/src/script/components/userDevices/components/deviceDetails/DeviceDetails.tsx
  apps/webapp/src/script/components/userDevices/userDevices.tsx
Due: app_webapp

Expand strict boolean enforcement for application UI
  eslint.config.mjs
Due: none

Migrate remaining application hooks and page UI boolean expressions
  apps/webapp/src/script/hooks/useInitializeMediaDevices.ts
  apps/webapp/src/script/page/appLock/appLock.tsx
  apps/webapp/src/script/page/components/featureConfigChange/featureConfigChangeNotifier/featureConfigChangeNotifier.store.ts
  apps/webapp/src/script/page/components/featureConfigChange/featureConfigChangeNotifier/featureConfigChangeNotifier.ts
  apps/webapp/src/script/page/components/windowTitleUpdater.ts
  apps/webapp/src/script/page/leftSidebar/panels/listWrapper.tsx
  apps/webapp/src/script/page/leftSidebar/panels/preferences.tsx
  apps/webapp/src/script/page/leftSidebar/panels/startUi/components/topPeople/topContact.tsx
  apps/webapp/src/script/page/leftSidebar/panels/startUi/peopleTab.tsx
  apps/webapp/src/script/page/leftSidebar/panels/startUi/servicesTab.tsx
  apps/webapp/src/script/page/leftSidebar/panels/startUi/startUi.tsx
  apps/webapp/src/script/page/rightSidebar/panelHeader/panelHeader.tsx
  apps/webapp/src/script/ui/contextMenu.tsx
  apps/webapp/src/script/view_model/WarningsContainer/WarningsState.ts
Due: app_webapp

Use explicit nullish predicates
  apps/webapp/src/script/auth/page/conversationJoin.tsx
  apps/webapp/src/script/auth/page/conversationJoinComponents.tsx
  apps/webapp/src/script/components/FileFullscreenModal/FileHeader/FileHeader.tsx
  apps/webapp/src/script/components/Modals/DetailViewModal/index.tsx
  apps/webapp/src/script/components/Modals/ModalComponent/ModalComponent.tsx
  apps/webapp/src/script/components/Modals/PrimaryModal/PrimaryModal.tsx
  apps/webapp/src/script/components/Modals/PrimaryModal/PrimaryModalState.tsx
  apps/webapp/src/script/components/Modals/QualityFeedbackModal/QualityFeedbackModal.tsx
  apps/webapp/src/script/components/appNotification/appNotification.tsx
  apps/webapp/src/script/components/historyExport/historyExport.tsx
  apps/webapp/src/script/components/panel/userDetails.tsx
  apps/webapp/src/script/components/userDevices/components/SelfFingerprint/SelfFingerprint.tsx
  apps/webapp/src/script/components/userDevices/components/deviceDetails/DeviceDetails.tsx
  apps/webapp/src/script/components/userDevices/userDevices.tsx
  apps/webapp/src/script/page/components/featureConfigChange/featureConfigChangeNotifier/featureConfigChangeNotifier.store.ts
  apps/webapp/src/script/page/leftSidebar/panels/listWrapper.tsx
  apps/webapp/src/script/page/leftSidebar/panels/startUi/servicesTab.tsx
  apps/webapp/src/script/page/leftSidebar/panels/startUi/startUi.tsx
  apps/webapp/src/script/page/mainContent/panels/preferences/aboutPreferences.tsx
  apps/webapp/src/script/page/mainContent/panels/preferences/accountPreferences/accountInput.tsx
  apps/webapp/src/script/page/mainContent/panels/preferences/devicesPreferences/components/e2eiCertificateDetails/e2eiCertificateDetails.styles.ts
  apps/webapp/src/script/page/mainContent/panels/preferences/devicesPreferences/devicesPreference.tsx
  apps/webapp/src/script/ui/contextMenu.tsx
  apps/webapp/src/script/view_model/WarningsContainer/WarningsState.ts
Due: app_webapp

Preserve ReactNode header truthiness
  apps/webapp/src/script/page/leftSidebar/panels/listWrapper.tsx
Due: app_webapp

fix(webapp): allow independent upload retries
  apps/webapp/src/script/components/conversation/conversationCells/sharedDriveUploadStatusPopupHost.test.tsx
  apps/webapp/src/script/components/conversation/conversationCells/sharedDriveUploadStatusPopupHost.tsx
Due: app_webapp

test(webapp): cover asynchronous multi-upload retry management
  apps/webapp/src/script/components/conversation/conversationCells/sharedDriveUploadController.test.ts
Due: app_webapp

refactor: remove multipleFiles from SharedDriveUploadRejectionReason type as we support it now(WPB-28297)
  apps/webapp/src/script/components/conversation/conversationCells/sharedDriveUploadValidation.ts
Due: app_webapp

Restore Sinhala legal hold substitution marker
  apps/webapp/src/i18n/si-LK.json
Due: app_webapp

Share translation substitution marker grammar
  apps/webapp/src/script/util/localizerUtil/translate.ts
  apps/webapp/src/script/util/localizerUtil/translationMarkers.ts
Due: app_webapp

Validate translation file structure with Zod
  tools/i18n/translationFileSchema.test.ts
  tools/i18n/translationFileSchema.ts
Due: none

Validate translation substitution markers
  tools/i18n/translationPlaceholderValidator.test.ts
  tools/i18n/translationPlaceholderValidator.ts
Due: none

Add translation marker validation command
  apps/webapp/project.json
  tools/i18n/validateTranslationPlaceholders.mts
Due: app_webapp

Run translation marker validation in CI
  .github/workflows/continuous-integration.yml
  .github/workflows/pull-translations-from-crowdin.yml
  eslint.config.mjs
  project.json
Due: none

Repair safe translation marker mismatches
  apps/webapp/src/i18n/ar-SA.json
  apps/webapp/src/i18n/da-DK.json
  apps/webapp/src/i18n/de-DE.json
  apps/webapp/src/i18n/es-ES.json
  apps/webapp/src/i18n/fa-IR.json
  apps/webapp/src/i18n/hi-IN.json
  apps/webapp/src/i18n/id-ID.json
  apps/webapp/src/i18n/it-IT.json
  apps/webapp/src/i18n/ja-JP.json
  apps/webapp/src/i18n/lt-LT.json
  apps/webapp/src/i18n/pt-BR.json
  apps/webapp/src/i18n/ro-RO.json
  apps/webapp/src/i18n/ru-RU.json
  apps/webapp/src/i18n/si-LK.json
  apps/webapp/src/i18n/sk-SK.json
  apps/webapp/src/i18n/sl-SI.json
  apps/webapp/src/i18n/sr-SP.json
  apps/webapp/src/i18n/sv-SE.json
  apps/webapp/src/i18n/tr-TR.json
  apps/webapp/src/i18n/uk-UA.json
  apps/webapp/src/i18n/zh-CN.json
  apps/webapp/src/i18n/zh-TW.json
Due: app_webapp

refactor: centralize media stream acquisition logic in `CallingRepository` and add tests for `acquireCallMedia`
  apps/webapp/src/script/repositories/calling/CallingRepository.test.ts
  apps/webapp/src/script/repositories/calling/CallingRepository.ts
  apps/webapp/src/script/util/test/mock/webRtcMock.ts
Due: app_webapp

fix: refresh current shared drive view after uploads
  apps/webapp/src/script/components/conversation/conversationCells/conversationCells.tsx
  apps/webapp/src/script/components/conversation/conversationCells/sharedDriveUploadController.test.ts
  apps/webapp/src/script/components/conversation/conversationCells/sharedDriveUploadController.ts
  apps/webapp/src/script/components/conversation/conversationCells/sharedDriveUploadStatusPopupHost.test.tsx
  apps/webapp/src/script/components/conversation/conversationTabs/conversationTabs.test.tsx
Due: app_webapp

feat: handle mls reset system message [WPB-26398]
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/messagesList/message/systemMessage/mlsResetMessage.test.tsx
  apps/webapp/src/script/components/messagesList/message/systemMessage/systemMessage.tsx
  apps/webapp/src/script/message/systemMessageType.ts
  apps/webapp/src/script/repositories/conversation/ConversationRepository.test.ts
  apps/webapp/src/script/repositories/conversation/ConversationRepository.ts
  apps/webapp/src/script/repositories/conversation/EventMapper.test.ts
  apps/webapp/src/script/repositories/conversation/EventMapper.ts
  apps/webapp/src/script/repositories/entity/message/mlsResetMessage.ts
  apps/webapp/src/script/repositories/event/EventTypeHandling.ts
Due: app_webapp

fix: lint
  apps/webapp/src/i18n/en-US.json
Due: app_webapp

Fix remaining translation marker mismatches
  apps/webapp/src/i18n/ar-SA.json
  apps/webapp/src/i18n/cs-CZ.json
  apps/webapp/src/i18n/da-DK.json
  apps/webapp/src/i18n/de-DE.json
  apps/webapp/src/i18n/el-GR.json
  apps/webapp/src/i18n/es-ES.json
  apps/webapp/src/i18n/et-EE.json
  apps/webapp/src/i18n/fa-IR.json
  apps/webapp/src/i18n/fi-FI.json
  apps/webapp/src/i18n/fr-FR.json
  apps/webapp/src/i18n/hi-IN.json
  apps/webapp/src/i18n/hu-HU.json
  apps/webapp/src/i18n/id-ID.json
  apps/webapp/src/i18n/it-IT.json
  apps/webapp/src/i18n/ja-JP.json
  apps/webapp/src/i18n/lt-LT.json
  apps/webapp/src/i18n/nl-NL.json
  apps/webapp/src/i18n/pl-PL.json
  apps/webapp/src/i18n/pt-PT.json
  apps/webapp/src/i18n/ro-RO.json
  apps/webapp/src/i18n/ru-RU.json
  apps/webapp/src/i18n/si-LK.json
  apps/webapp/src/i18n/sk-SK.json
  apps/webapp/src/i18n/sl-SI.json
  apps/webapp/src/i18n/sr-SP.json
  apps/webapp/src/i18n/sv-SE.json
  apps/webapp/src/i18n/tr-TR.json
  apps/webapp/src/i18n/uk-UA.json
  apps/webapp/src/i18n/zh-CN.json
  apps/webapp/src/i18n/zh-TW.json
Due: app_webapp

Update German translation rendering test
  apps/webapp/src/script/components/messagesList/message/failedToAddUsersMessage.test.tsx
Due: app_webapp

Update translations
  apps/webapp/src/i18n/ar-SA.json
  apps/webapp/src/i18n/da-DK.json
  apps/webapp/src/i18n/de-DE.json
  apps/webapp/src/i18n/el-GR.json
  apps/webapp/src/i18n/es-ES.json
  apps/webapp/src/i18n/et-EE.json
  apps/webapp/src/i18n/fa-IR.json
  apps/webapp/src/i18n/fi-FI.json
  apps/webapp/src/i18n/fr-FR.json
  apps/webapp/src/i18n/hi-IN.json
  apps/webapp/src/i18n/hu-HU.json
  apps/webapp/src/i18n/id-ID.json
  apps/webapp/src/i18n/it-IT.json
  apps/webapp/src/i18n/ja-JP.json
  apps/webapp/src/i18n/lt-LT.json
  apps/webapp/src/i18n/nl-NL.json
  apps/webapp/src/i18n/pl-PL.json
  apps/webapp/src/i18n/pt-BR.json
  apps/webapp/src/i18n/pt-PT.json
  apps/webapp/src/i18n/ro-RO.json
  apps/webapp/src/i18n/ru-RU.json
  apps/webapp/src/i18n/si-LK.json
  apps/webapp/src/i18n/sk-SK.json
  apps/webapp/src/i18n/sl-SI.json
  apps/webapp/src/i18n/sr-SP.json
  apps/webapp/src/i18n/sv-SE.json
  apps/webapp/src/i18n/tr-TR.json
  apps/webapp/src/i18n/uk-UA.json
  apps/webapp/src/i18n/zh-CN.json
  apps/webapp/src/i18n/zh-TW.json
Due: app_webapp

Allow missing locale keys in translation marker validation
  tools/i18n/translationPlaceholderValidator.test.ts
  tools/i18n/translationPlaceholderValidator.ts
Due: none

feat: support folder selection in shared drive uploads(WPB-28308)
  apps/webapp/src/script/components/conversation/conversation.tsx
  apps/webapp/src/script/components/conversation/conversationCells/conversationCells.tsx
  apps/webapp/src/script/components/conversation/conversationCells/sharedDriveUploadFileInput.tsx
  apps/webapp/src/script/components/conversation/conversationCells/sharedDriveUploadInput.test.tsx
  apps/webapp/src/script/components/conversation/conversationCells/sharedDriveUploadInput.tsx
  apps/webapp/src/script/components/conversation/conversationCells/sharedDriveUploadInputHandler.test.ts
  apps/webapp/src/script/components/conversation/conversationCells/sharedDriveUploadInputHandler.ts
Due: app_webapp

refactor: unify call media acquisition
  apps/webapp/src/script/repositories/calling/CallingRepository.test.ts
  apps/webapp/src/script/repositories/calling/CallingRepository.ts
Due: app_webapp

fix: upload key-packages on mls intialization [WPB-27396]
  libraries/core/src/messagingProtocols/mls/mlsService/mlsService.test.ts
  libraries/core/src/messagingProtocols/mls/mlsService/mlsService.ts
Due: lib_core

feat: notify in-app 10 minutes before a meeting starts [WPB-28730]
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/meeting/createMeetingReminderScheduler.test.ts
  apps/webapp/src/script/components/meeting/createMeetingReminderScheduler.ts
  apps/webapp/src/script/components/meeting/meetingNotificationCard/meetingNotificationCard.test.tsx
  apps/webapp/src/script/components/meeting/meetingNotificationCard/meetingNotificationCard.tsx
  apps/webapp/src/script/components/meeting/meetingNotificationEventHandlers.test.ts
  apps/webapp/src/script/components/meeting/meetingNotificationEventHandlers.ts
  apps/webapp/src/script/components/meeting/meetingNotificationStore/meetingNotificationStore.test.ts
  apps/webapp/src/script/components/meeting/meetingNotificationStore/meetingNotificationStore.ts
  apps/webapp/src/script/components/meeting/meetingStore/meetingStoreRoot.test.tsx
  apps/webapp/src/script/components/meeting/meetingStore/meetingStoreRoot.tsx
  apps/webapp/src/script/components/meeting/selectors/getNextSchedulableMeetingReminder.test.ts
  apps/webapp/src/script/components/meeting/selectors/getNextSchedulableMeetingReminder.ts
Due: app_webapp

fix: lint
  apps/webapp/src/script/components/panel/conversationProtocolDetails/manualMigrationProtocolDetails.tsx
Due: app_webapp

fix: handle unread msgs while 1-1 mls migration [WPB-25346]
  apps/webapp/src/script/repositories/conversation/ConversationRepository.test.ts
  apps/webapp/src/script/repositories/conversation/ConversationRepository.ts
  apps/webapp/test/e2e_tests/specs/Encryption/encryption.spec.ts
Due: app_webapp

Remove PrimaryModal HTML translation fallback
  apps/webapp/src/script/components/Modals/CreateConversation/hooks/useCreateConversation.ts
  apps/webapp/src/script/components/Modals/CreateConversation/utils.ts
  apps/webapp/src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
  apps/webapp/src/script/components/Modals/PrimaryModal/Content/MessageContent.test.tsx
  apps/webapp/src/script/components/Modals/PrimaryModal/Content/MessageContent.tsx
  apps/webapp/src/script/components/Modals/PrimaryModal/PrimaryModal.tsx
  apps/webapp/src/script/components/Modals/PrimaryModal/PrimaryModalState.tsx
  apps/webapp/src/script/components/Modals/PrimaryModal/PrimaryModalTypes.ts
  apps/webapp/src/script/components/conversation/conversation.tsx
  apps/webapp/src/script/components/meeting/shared/submit/showMeetingPartialAddFailureModal.test.ts
  apps/webapp/src/script/components/meeting/shared/submit/showMeetingPartialAddFailureModal.tsx
  apps/webapp/src/script/components/panel/userActions.tsx
  apps/webapp/src/script/e2eIdentity/modals/modals.ts
  apps/webapp/src/script/legal-hold/LegalHoldWarning.ts
  apps/webapp/src/script/page/components/featureConfigChange/featureConfigChangeNotifier/featureConfigChangeNotifier.test.tsx
  apps/webapp/src/script/page/components/featureConfigChange/featureConfigChangeNotifier/featureConfigChangeNotifier.ts
  apps/webapp/src/script/page/components/forceReloadModal/forceReloadModal.test.tsx
  apps/webapp/src/script/page/components/forceReloadModal/forceReloadModal.tsx
  apps/webapp/src/script/repositories/calling/CallingRepository.ts
  apps/webapp/src/script/repositories/connection/connectionRepository.test.ts
  apps/webapp/src/script/repositories/connection/connectionRepository.ts
  apps/webapp/src/script/repositories/conversation/ConversationRepository.ts
  apps/webapp/src/script/repositories/properties/propertiesRepository.ts
  apps/webapp/src/script/repositories/team/TeamRepository.ts
  apps/webapp/src/script/util/localizerUtil/index.ts
  apps/webapp/src/script/util/localizerUtil/link.ts
  apps/webapp/src/script/view_model/CallingViewModel.ts
Due: app_webapp

Use shallow checkout for Crowdin translations
  .github/workflows/pull-translations-from-crowdin.yml
Due: none

Bound asset download retries
  libraries/api-client/src/asset/assetApi.test.ts
  libraries/api-client/src/asset/assetApi.ts
Due: lib_api_client
