Repository wireapp/wire-webapp: changes, and which Codecov flags are due for each by the changed paths.
All: app_webapp, app_server, lib_core, lib_api_client

Fix draft state of composer
  apps/webapp/src/script/components/inputBar/common/draftState/draftState.test.ts
  apps/webapp/src/script/components/inputBar/common/draftState/draftState.ts
Due: app_webapp

FluidVideoGrid tuning and improvements.
  apps/calling-grid-fixture/package.json
  apps/calling-grid-fixture/src/FixtureInstance.tsx
  apps/calling-grid-fixture/src/components/FluidVideoGrid/FluidVideoGrid.tsx
  apps/calling-grid-fixture/src/components/FluidVideoGrid/FluidVideoGrid.types.ts
  apps/calling-grid-fixture/src/components/FluidVideoGrid/FluidVideoGridContext.tsx
  apps/calling-grid-fixture/src/components/FluidVideoGrid/FractionTile.tsx
  apps/calling-grid-fixture/src/components/FluidVideoGrid/FractionalTile.tsx
  apps/calling-grid-fixture/src/components/FluidVideoGrid/OverflowTile.tsx
  apps/calling-grid-fixture/src/components/FluidVideoGrid/gridReducer.test.ts
  apps/calling-grid-fixture/src/components/FluidVideoGrid/gridReducer.ts
  apps/calling-grid-fixture/src/components/FluidVideoGrid/index.ts
  apps/calling-grid-fixture/src/constants.ts
  apps/calling-grid-fixture/src/useFixtureState.ts
  apps/webapp/src/script/components/calling/CallingCell/CallingCell.tsx
  apps/webapp/src/script/components/calling/FullscreenVideoCall.tsx
  apps/webapp/src/script/components/calling/WireFluidVideoGrid.tsx
Due: app_webapp

Use is predicates for recovery error details
  libraries/core/src/messagingProtocols/mls/recovery/mlsRecoveryOrchestrator.test.ts
  libraries/core/src/messagingProtocols/mls/recovery/mlsRecoveryOrchestrator.ts
Due: lib_core

Simplify recovery error detail extraction
  libraries/core/src/messagingProtocols/mls/recovery/mlsRecoveryOrchestrator.ts
Due: lib_core

Enable media device preference persistence unconditionally
  apps/webapp/src/script/components/appContainer/appContainer.tsx
  apps/webapp/src/script/featureToggles/startupFeatureToggleNames.ts
  apps/webapp/src/script/featureToggles/startupFeatureToggles.test.ts
  apps/webapp/src/script/main/app.ts
  apps/webapp/src/script/repositories/media/MediaDevicesHandler.test.ts
  apps/webapp/src/script/repositories/media/MediaDevicesHandler.ts
  apps/webapp/test/helper/TestFactory.js
Due: app_webapp

Name base64 and hexadecimal dimensions
  eslint.config.mjs
  libraries/bazinga64/src/Converter.ts
  libraries/bazinga64/src/Decoder.ts
Due: none

Enforce magic-number checks in the API client
  eslint.config.mjs
  libraries/api-client/src/apiClient.ts
  libraries/api-client/src/asset/assetApi.ts
  libraries/api-client/src/auth/accessTokenStore.ts
  libraries/api-client/src/auth/cookieStore.ts
  libraries/api-client/src/auth/parseAccessToken.ts
  libraries/api-client/src/cells/cellsStorage/s3Service.ts
  libraries/api-client/src/client/clientApi.ts
  libraries/api-client/src/conversation/conversation.ts
  libraries/api-client/src/conversation/conversationApi/conversationApi.ts
  libraries/api-client/src/conversation/federatedBackendsError.ts
  libraries/api-client/src/conversation/mutedStatus.ts
  libraries/api-client/src/http/httpClient.ts
  libraries/api-client/src/http/incrementalRetryBackoff.ts
  libraries/api-client/src/meetings/meetingSchema.ts
  libraries/api-client/src/self/consentType.ts
  libraries/api-client/src/tcp/reconnectingWebsocket.ts
  libraries/api-client/src/team/billing/billingApi.ts
  libraries/api-client/src/team/feature/featureList.types.ts
  libraries/api-client/src/team/invitation/teamInvitationApi.ts
  libraries/api-client/src/team/member/memberApi.ts
  libraries/api-client/src/team/member/permissions.ts
  libraries/api-client/src/team/payment/paymentApi.ts
  libraries/api-client/src/user/userApi.ts
  libraries/api-client/src/utils/backFromSleepHandler/backFromSleepHandler.ts
Due: lib_api_client

Name core protocol limits and cryptographic sizes
  eslint.config.mjs
  libraries/core/src/account.ts
  libraries/core/src/account/accountService.ts
  libraries/core/src/conversation/message/messageService.ts
  libraries/core/src/cryptography/assetCryptography/assetCryptography.ts
  libraries/core/src/cryptography/assetCryptography/crypto.browser.ts
  libraries/core/src/cryptography/assetCryptography/crypto.node.ts
  libraries/core/src/cryptography/messageHashService.ts
  libraries/core/src/messagingProtocols/mls/mlsService/mlsService.ts
  libraries/core/src/messagingProtocols/proteus/proteusService/cryptoClient/coreCryptoWrapper/coreCryptoWrapper.ts
  libraries/core/src/messagingProtocols/proteus/proteusService/cryptoClient/coreCryptoWrapper/prekeysTracker/prekeysTracker.ts
  libraries/core/src/secretStore/encryptedStore.ts
  libraries/core/src/secretStore/secretKeyGenerator.ts
  libraries/core/src/storage/coreDb.ts
  libraries/core/src/team/teamService.ts
  libraries/core/src/util/numberToHex.ts
  libraries/core/src/util/recurringTaskScheduler/recurringTaskScheduler.ts
Due: lib_core

Enforce magic-number checks for queue priorities
  eslint.config.mjs
  libraries/priority-queue/src/Priority.ts
Due: none

Name shared conversion factors
  eslint.config.mjs
  libraries/commons/src/LogFactory.ts
  libraries/commons/src/util/AccentColor.ts
  libraries/commons/src/util/StringUtil.ts
  libraries/commons/src/util/TimeUtil.ts
Due: none

Name webapp component dimensions and delays
  apps/webapp/src/script/components/Modals/DetailViewModal/index.tsx
  apps/webapp/src/script/components/ZoomableImage/ZoomableImage.tsx
  apps/webapp/src/script/components/availabilityIcon/availability.styles.tsx
  apps/webapp/src/script/components/avatar/avatarImage.tsx
  apps/webapp/src/script/components/avatar/avatarInitials.tsx
  apps/webapp/src/script/components/avatar/avatarWrapper.tsx
  apps/webapp/src/script/components/avatar/channelAvatar.styles.ts
  apps/webapp/src/script/components/avatar/channelAvatar.tsx
  apps/webapp/src/script/components/avatar/groupAvatar.tsx
  apps/webapp/src/script/components/avatar/temporaryGuestAvatar.tsx
  apps/webapp/src/script/components/calling/Duration.tsx
  apps/webapp/src/script/components/calling/Pagination/Pagination.tsx
  apps/webapp/src/script/components/cells/shareModal/cellsShareExpirationFields.tsx
  apps/webapp/src/script/components/cells/shareModal/shareModalSerializer.ts
  apps/webapp/src/script/components/configToolbar/configToolbar.tsx
  apps/webapp/src/script/components/conversation/conversationCells/sharedDriveDrop.ts
  apps/webapp/src/script/components/fadingScrollbar/fadingScrollbar.tsx
  apps/webapp/src/script/components/inputBar/inputBar.tsx
  apps/webapp/src/script/components/inputBar/inputBarEditor/richTextEditor/plugins/mentionsPlugin/mentionsPlugin.tsx
  apps/webapp/src/script/components/inputBar/inputBarEditor/richTextEditor/utils/generateNodes.ts
  apps/webapp/src/script/components/inputBar/typingIndicator/index.ts
  apps/webapp/src/script/components/inputBar/usePing/usePing.ts
  apps/webapp/src/script/components/meeting/scheduleMeetingModal/scheduleMeetingForm.tsx
  apps/webapp/src/script/components/messagesList/message/contentMessage/asset/audioAsset/audioAssetSeekBar/audioSeekBarV2/useAudioSeekBar/useAudioSeekBar.ts
  apps/webapp/src/script/components/messagesList/message/contentMessage/asset/audioAsset/audioSeekBar/audioSeekBar.tsx
  apps/webapp/src/script/components/messagesList/message/contentMessage/asset/common/assetLoader/assetLoader.tsx
  apps/webapp/src/script/components/messagesList/message/contentMessage/asset/common/seekBar/seekBar.tsx
  apps/webapp/src/script/components/messagesList/messageList.tsx
  apps/webapp/src/script/components/messagesList/utils/messagesGroup.ts
  apps/webapp/src/script/components/messagesList/utils/scrollUpdater.ts
  apps/webapp/src/script/components/messagesList/utils/virtualizedMessagesGroup.ts
  apps/webapp/src/script/components/messagesList/virtualizedMessagesList/useLoadMessages.ts
  apps/webapp/src/script/components/messagesList/virtualizedMessagesList/useScrollMessages.ts
  apps/webapp/src/script/components/messagesList/virtualizedMessagesList/virtualizedMessagesList.tsx
  eslint.config.mjs
Due: app_webapp

Name UI kit layout and style values
  eslint.config.mjs
  libraries/react-ui-kit/src/dataDisplay/avatar/avatar.tsx
  libraries/react-ui-kit/src/dataDisplay/avatarGrid/avatarGrid.tsx
  libraries/react-ui-kit/src/dataDisplay/icon/groupIcon.tsx
  libraries/react-ui-kit/src/dataDisplay/loading/loading.tsx
  libraries/react-ui-kit/src/dataDisplay/tooltip/tooltip.tsx
  libraries/react-ui-kit/src/identity/colors/colors.ts
  libraries/react-ui-kit/src/identity/logo/logo.tsx
  libraries/react-ui-kit/src/inputs/checkbox/checkbox.tsx
  libraries/react-ui-kit/src/inputs/indicatorRangeInput/indicatorRangeInput.tsx
  libraries/react-ui-kit/src/inputs/rangeInput/rangeInput.tsx
  libraries/react-ui-kit/src/inputs/select/select.styles.ts
  libraries/react-ui-kit/src/inputs/switch/switch.styles.ts
  libraries/react-ui-kit/src/layout/container/container.tsx
  libraries/react-ui-kit/src/layout/headerMenu/headerSubMenu.tsx
  libraries/react-ui-kit/src/layout/headerMenu/menuContent.tsx
  libraries/react-ui-kit/src/navigation/breadcrumbs/breadcrumbs.tsx
  libraries/react-ui-kit/src/surface/menuModal/menuModal.tsx
  libraries/react-ui-kit/src/surface/modal/modal.tsx
  libraries/react-ui-kit/src/surface/tabBar/tabBar.tsx
  libraries/react-ui-kit/src/typography/text/text.tsx
Due: none

fix: keep the prep modal open while the join is running [WPB-28121]
  apps/webapp/src/script/components/meeting/meetingPrep/meetingPrepModal.test.tsx
  apps/webapp/src/script/components/meeting/meetingPrep/meetingPrepModal.tsx
  apps/webapp/src/script/components/meeting/meetingPrep/meetingPrepSurface.tsx
Due: app_webapp

Reduce lint warning budgets
  apps/webapp/project.json
  libraries/api-client/project.json
  libraries/bazinga64/project.json
  libraries/commons/project.json
  libraries/core/project.json
  libraries/priority-queue/project.json
  libraries/react-ui-kit/project.json
Due: app_webapp, lib_core, lib_api_client

fix: fail the call start when the camera cannot be acquired [WPB-28121]
  apps/webapp/src/script/repositories/calling/CallingRepository.test.ts
  apps/webapp/src/script/repositories/calling/CallingRepository.ts
Due: app_webapp

fix: ignore a stale meeting reminder when opening prep [WPB-28121]
  apps/webapp/src/script/components/meeting/createMeetingReminderOsNotifier.test.ts
  apps/webapp/src/script/components/meeting/createMeetingReminderOsNotifier.ts
  apps/webapp/src/script/components/meeting/meetingStore/meetingStoreRoot.tsx
  apps/webapp/src/script/components/meeting/resolveCurrentMeetingReminderPayload.test.ts
  apps/webapp/src/script/components/meeting/resolveCurrentMeetingReminderPayload.ts
Due: app_webapp

fix: pass the prep opener into Meet Now submit [WPB-28121]
  apps/webapp/src/script/components/meeting/meetNowModal/submitMeetNow.ts
  apps/webapp/src/script/components/meeting/meetNowModal/useMeetNowSubmit.ts
Due: app_webapp

Add typed E2E startup feature toggle URL overrides
  apps/webapp/test/e2e_tests/utils/startupFeatureToggleOverrides.spec.ts
  apps/webapp/test/e2e_tests/utils/startupFeatureToggleOverrides.ts
  apps/webapp/tsconfig.playwright.json
Due: app_webapp

Publish the dev channel from meetings-milestone-2.
  .github/workflows/publish-main.yml
Due: none

Expose startup feature toggles in E2E page navigation
  apps/webapp/src/script/auth/route.ts
  apps/webapp/src/script/auth/util/urlUtil.test.ts
  apps/webapp/test/e2e_tests/README.md
  apps/webapp/test/e2e_tests/pageManager/index.ts
  apps/webapp/test/e2e_tests/specs/Navigation/startupFeatureToggles.spec.ts
  apps/webapp/test/e2e_tests/test.fixtures.ts
Due: app_webapp

test: use dedicated startup toggle for E2E navigation
  apps/webapp/src/script/auth/util/urlUtil.test.ts
  apps/webapp/src/script/featureToggles/startupFeatureToggleNames.ts
  apps/webapp/src/script/featureToggles/startupFeatureToggles.test.ts
  apps/webapp/test/e2e_tests/README.md
  apps/webapp/test/e2e_tests/specs/Navigation/startupFeatureToggles.spec.ts
  apps/webapp/test/e2e_tests/utils/startupFeatureToggleOverrides.spec.ts
Due: app_webapp

fix: formatting issues
  apps/webapp/test/e2e_tests/specs/Navigation/startupFeatureToggles.spec.ts
Due: app_webapp

fix: rename testOnlyFeatureToggleName value
  apps/webapp/src/script/featureToggles/startupFeatureToggleNames.ts
Due: app_webapp

refactor: rename feature toggle
  apps/webapp/src/script/auth/util/urlUtil.test.ts
  apps/webapp/src/script/featureToggles/startupFeatureToggleNames.ts
  apps/webapp/src/script/featureToggles/startupFeatureToggles.test.ts
  apps/webapp/test/e2e_tests/README.md
  apps/webapp/test/e2e_tests/specs/Navigation/startupFeatureToggles.spec.ts
  apps/webapp/test/e2e_tests/utils/startupFeatureToggleOverrides.spec.ts
Due: app_webapp

feat: Remove feature flag for viewer permission feature viewerPermissionFeatureToggleName(WPB-27955)
  apps/webapp/src/script/components/FileFullscreenModal/FileHeader/FileHeader.test.tsx
  apps/webapp/src/script/components/Modals/CreateConversation/CreateConversationSteps/Preference.tsx
  apps/webapp/src/script/components/Modals/CreateConversation/utils.test.ts
  apps/webapp/src/script/components/Modals/CreateConversation/utils.ts
  apps/webapp/src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
  apps/webapp/src/script/components/cellsGlobalView/cellsTable/cellsFilePreviewModal/cellsFilePreviewModal.test.tsx
  apps/webapp/src/script/components/cellsGlobalView/cellsTable/cellsTableColumns/cellsTableNameColumn/cellsTableNameColumn.test.tsx
  apps/webapp/src/script/components/cellsGlobalView/common/useShouldRestrictGlobalDriveNodeActions/useShouldRestrictGlobalDriveNodeActions.ts
  apps/webapp/src/script/components/conversation/conversation.tsx
  apps/webapp/src/script/components/conversation/conversationCells/common/cellsSelfUserDriveRole/cellsSelfUserDriveRoleContext.test.ts
  apps/webapp/src/script/components/conversation/conversationCells/common/cellsSelfUserDriveRole/cellsSelfUserDriveRoleContext.tsx
  apps/webapp/src/script/components/conversation/conversationFileDropzone/isConversationFileDropAllowed/isConversationFileDropAllowed.test.ts
  apps/webapp/src/script/components/conversation/conversationFileDropzone/isConversationFileDropAllowed/isConversationFileDropAllowed.ts
  apps/webapp/src/script/components/inputBar/inputBar.test.tsx
  apps/webapp/src/script/components/inputBar/inputBar.tsx
  apps/webapp/src/script/components/messagesList/message/contentMessage/asset/multipartAssets/fileAssetCard/common/fileAssetOptions/fileAssetOptions.test.tsx
  apps/webapp/src/script/components/messagesList/message/contentMessage/asset/multipartAssets/fileAssetCard/common/filePreviewModal/filePreviewModal.test.tsx
  apps/webapp/src/script/featureToggles/startupFeatureToggleNames.ts
  apps/webapp/src/script/featureToggles/startupFeatureToggles.test.ts
  apps/webapp/src/script/page/rightSidebar/conversationDetails/components/conversationDetailsOptions/conversationDetailsOptions.tsx
  apps/webapp/src/script/page/rightSidebar/conversationDetails/conversationDetails.test.tsx
Due: app_webapp

fix: lint formatting issues
  apps/webapp/src/script/components/conversation/conversation.tsx
  apps/webapp/src/script/components/inputBar/inputBar.test.tsx
  apps/webapp/src/script/components/inputBar/inputBar.tsx
Due: app_webapp

fix: preetier issues
  apps/webapp/src/script/components/cellsGlobalView/cellsTable/cellsTableColumns/cellsTableNameColumn/cellsTableNameColumn.test.tsx
  apps/webapp/src/script/components/conversation/conversationCells/common/cellsSelfUserDriveRole/cellsSelfUserDriveRoleContext.test.ts
  apps/webapp/src/script/components/messagesList/message/contentMessage/asset/multipartAssets/fileAssetCard/common/filePreviewModal/filePreviewModal.test.tsx
Due: app_webapp

test: cleanup feature flag from tests
  apps/webapp/src/script/components/FileFullscreenModal/FileFullscreenModal.test.tsx
  apps/webapp/src/script/components/FileFullscreenModal/FileHeader/FileHeader.test.tsx
  apps/webapp/src/script/components/FileFullscreenModal/NoPreviewAvailable/NoPreviewAvailable.test.tsx
  apps/webapp/src/script/components/inputBar/inputBar.test.tsx
  apps/webapp/src/script/components/messagesList/message/contentMessage/asset/multipartAssets/fileAssetCard/common/fileAssetOptions/fileAssetOptions.test.tsx
  apps/webapp/src/script/components/messagesList/message/contentMessage/asset/multipartAssets/fileAssetCard/common/filePreviewModal/filePreviewModal.test.tsx
Due: app_webapp

fix: the TypeScript error by using the exported type
  apps/webapp/src/script/components/FileFullscreenModal/NoPreviewAvailable/NoPreviewAvailable.test.tsx
Due: app_webapp

Revert "fix: lint formatting issues"
  apps/webapp/src/script/components/conversation/conversation.tsx
  apps/webapp/src/script/components/inputBar/inputBar.test.tsx
  apps/webapp/src/script/components/inputBar/inputBar.tsx
Due: app_webapp

fix: keep the prep modal open when the call never starts [WPB-28121]
  apps/webapp/src/script/components/meeting/joinMeetingCall.test.ts
  apps/webapp/src/script/components/meeting/joinMeetingCall.ts
  apps/webapp/src/script/components/meeting/meetingPrep/joinPreparedMeeting.test.ts
  apps/webapp/src/script/components/meeting/meetingPrep/joinPreparedMeeting.ts
  apps/webapp/src/script/components/meeting/useJoinMeetingCall.ts
  apps/webapp/src/script/view_model/CallingViewModel.mocks.ts
  apps/webapp/src/script/view_model/CallingViewModel.ts
Due: app_webapp

fix: type the join result as a boolean [WPB-28121]
  apps/webapp/src/script/components/meeting/useJoinMeetingCall.test.ts
  apps/webapp/src/script/components/meeting/useJoinMeetingCall.ts
  apps/webapp/src/script/view_model/ListViewModel.ts
Due: app_webapp

test: Drive file uploads E2E Test(WPB-29129)
  apps/webapp/test/e2e_tests/specs/Drive/fileUpload.spec.ts
Due: app_webapp

test(e2e): enable Shared Drive direct uploads via startup toggle
  apps/webapp/test/e2e_tests/specs/Drive/fileUpload.spec.ts
Due: app_webapp

test(e2e): cover single-file Shared Drive upload
  apps/webapp/test/e2e_tests/pageManager/index.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/cells/cellsSharedDrive.page.ts
  apps/webapp/test/e2e_tests/specs/Drive/fileUpload.spec.ts
Due: app_webapp

feat: add test for feature flag disabled scenario
  apps/webapp/test/e2e_tests/specs/Drive/fileUpload.spec.ts
Due: app_webapp

Path conditions:
  app_webapp: any of: apps/webapp/**
  app_server: any of: apps/server/**
  lib_core: any of: libraries/core/**
  lib_api_client: any of: libraries/api-client/**
