Repository wireapp/wire-webapp: changes, and which Codecov flags are due for each by the changed paths.
All: app_webapp, app_server, lib_core, lib_api_client

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '45...80'
  status:
    project:
      default:
        target: auto
      app_webapp:
        target: auto
        flags:
          - app_webapp
      app_server:
        target: auto
        flags:
          - app_server
      lib_core:
        target: auto
        flags:
          - lib_core
      lib_api_client:
        target: auto
        flags:
          - lib_api_client
    patch:
      default:
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: 'diff, flags, files'
  behavior: default
  require_changes: no

flags:
  app_webapp:
    paths:
      - 'apps/webapp/**'
    carryforward: false
  app_server:
    paths:
      - 'apps/server/**'
    carryforward: true
  lib_core:
    paths:
      - 'libraries/core/**'
    carryforward: true
  lib_api_client:
    paths:
      - 'libraries/api-client/**'
    carryforward: true

github_checks:
  annotations: false

Revert "fix(tabs): fix design and icons"
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/ConversationTabs.tsx
Due: app_webapp

Revert "chore(tabs): design fixes"
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/ConversationFilterButton/ConversationFilterButton.styles.ts
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/TabsFilterButton/TabsFilterButton.tsx
  apps/webapp/src/types/i18n.d.ts
Due: app_webapp

Revert "feat(tabs): accessibility stuffs"
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/ConversationFilterButton/ConversationFilterButton.styles.ts
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/TabsFilterButton/TabsFilterButton.tsx
Due: app_webapp

Revert "chore(tabs): memoization, brittleness fixes"
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/ConversationTabs.tsx
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/TabsFilterButton/TabsFilterButton.tsx
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/hooks/useDraftConversations.ts
Due: app_webapp

Revert "chore(tabs): get rid of polling, use amplify instead"
  apps/webapp/src/script/components/InputBar/common/draftState/draftState.ts
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/hooks/useDraftConversations.ts
Due: app_webapp

Revert "chore(tabs): clarify why recents should always be visible"
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/ConversationTabs.tsx
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/useSidebarStore.ts
Due: app_webapp

Revert "chore(tabs): no need to duplicate stuff"
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/ConversationTabs.tsx
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/helpers.tsx
Due: app_webapp

Revert "chore(tabs): linter warnings & typo"
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
Due: app_webapp

Revert "fix: wrong icon?"
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/ConversationTabs.tsx
Due: app_webapp

Revert "feat: only filter unread conversations instead all of them..."
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/ConversationTabs.tsx
Due: app_webapp

Revert "feat: filters as tabs pt. 1"
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/ConversationSidebar/ConversationSidebar.tsx
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/ConversationTabs.tsx
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/helpers.tsx
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/useSidebarStore.ts
  apps/webapp/src/script/page/LeftSidebar/panels/Conversations/utils/draftUtils.ts
  apps/webapp/src/types/i18n.d.ts
Due: app_webapp

Update apps/webapp/test/e2e_tests/pageManager/webapp/cells/cellsConversation.page.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/cells/cellsConversation.page.ts
Due: app_webapp

fix: persist audio elements in DOM and forward mic change events
  apps/webapp/src/script/components/calling/CallingOverlayContainer.tsx
  apps/webapp/src/script/repositories/calling/Call.ts
  apps/webapp/src/script/repositories/calling/CallingRepository.ts
Due: app_webapp

chore: Update translations
  apps/webapp/src/i18n/ru-RU.json
Due: app_webapp

chore: Update translations (#20312)
  apps/webapp/src/i18n/ru-RU.json
Due: app_webapp

test: Fix server tests not running [WPB-23299]
  apps/server/jest.config.js
Due: app_server

test: test image preview of different file types
  apps/webapp/src/script/components/InputBar/FilePreviews/FilePreviews.test.tsx
  apps/webapp/src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/MultipartAssets.test.tsx
  apps/webapp/src/script/util/ImageUtil.test.ts
Due: app_webapp

test: Fix server tests not running [WPB-23299] (#20313)
  apps/server/jest.config.js
Due: app_server

chore: Fix publish workflow [WPB-23275]
  .github/workflows/publish-libraries.yml
Due: none

fix: HEIC photo upload stuck on loading, cannot send(WPB-20128) (#20305)
  apps/webapp/src/script/components/Conversation/useFilesUploadDropzone/useFilesUploadDropzone.ts
  apps/webapp/src/script/components/InputBar/FilePreviews/FilePreviews.test.tsx
  apps/webapp/src/script/components/InputBar/FilePreviews/FilePreviews.tsx
  apps/webapp/src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssetPreview.tsx
  apps/webapp/src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/ImageAssetCard/ImageAssetLarge/ImageAssetLarge.tsx
  apps/webapp/src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/ImageAssetCard/ImageAssetSmall/ImageAssetSmall.tsx
  apps/webapp/src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/MultipartAssets.test.tsx
  apps/webapp/src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/MultipartAssets.tsx
  apps/webapp/src/script/util/ImageUtil.test.ts
  apps/webapp/src/script/util/ImageUtil.ts
Due: app_webapp

fix: update labels to resolve translations at render time so they pick up the active locale instead of being frozen at module load(WPB-23271)
  apps/webapp/src/script/components/Cells/ShareModal/CellsShareModalContent.tsx
Due: app_webapp

ci(WPB-22420): fix conditional execution of e2e tests in PR
  .github/workflows/precommit-crit-flows.yml
Due: none

test: modify e2e test to verify ci
  apps/webapp/test/e2e_tests/specs/Edit/edit.spec.ts
Due: app_webapp

Revert "test: modify e2e test to verify ci"
  apps/webapp/test/e2e_tests/specs/Edit/edit.spec.ts
Due: app_webapp

ci(WPB-22420): fix conditional execution of e2e tests in PR (#20311)
  .github/workflows/precommit-crit-flows.yml
Due: none

devops: bump @tony.ganchev/eslint-plugin-header to 3.2.1
  eslint.config.ts
  package.json
  yarn.lock
Due: none

test(WPB-22420): use correct test id for authentication test
  apps/webapp/test/e2e_tests/specs/Authentication/authentication.spec.ts
Due: app_webapp

test(WPB-22420): use correct test id for authentication test (#20317)
  apps/webapp/test/e2e_tests/specs/Authentication/authentication.spec.ts
Due: app_webapp

fixing helm chart syntax
  charts/webapp/templates/_helpers.tpl
Due: none

Upload to the conversation test and updated some of the methods for Drive tests
  apps/webapp/test/e2e_tests/pageManager/webapp/cells/cellsConversation.page.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/conversation.page.ts
  apps/webapp/test/e2e_tests/specs/Drive/searchFilesInGroupConversation-TC-8788.spec.ts
  apps/webapp/test/e2e_tests/specs/Drive/uploadingFileInGroupConversation-TC-8785.spec.ts
Due: app_webapp

chore: Manual release PR creation workflow [WPB-23275]
  .github/workflows/publish-libraries.yml
Due: none

chore: Manual release PR creation workflow [WPB-23275] (#20319)
  .github/workflows/publish-libraries.yml
Due: none

chore(e2e): Added e2e test for searching files in the conversation [WPB-21646] (#20173)
  apps/webapp/test/e2e_tests/README.md
  apps/webapp/test/e2e_tests/pageManager/webapp/cells/cellsConversation.page.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/cells/cellsConversationFiles.page.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/conversation.page.ts
  apps/webapp/test/e2e_tests/specs/Drive/editMultipartMessage-TC-8786.spec.ts
  apps/webapp/test/e2e_tests/specs/Drive/replyingToMultipartMessage-TC-8787.spec.ts
  apps/webapp/test/e2e_tests/specs/Drive/searchFilesInGroupConversation-TC-8788.spec.ts
  apps/webapp/test/e2e_tests/specs/Drive/uploadingFileInGroupConversation-TC-8785.spec.ts
  apps/webapp/test/e2e_tests/utils/asset.util.ts
Due: app_webapp

fix: update labels to resolve translations at render time so they pick up the active locale instead of being frozen at module load(WPB-23271) (#20314)
  apps/webapp/src/script/components/Cells/ShareModal/CellsShareModalContent.tsx
Due: app_webapp

wip: mock permission and show notification checks to trigger notifications push
  apps/webapp/test/e2e_tests/specs/Notifications/notifications.spec.ts
  apps/webapp/test/e2e_tests/test.fixtures.ts
Due: app_webapp

wip: use inline TS function for init script
  apps/webapp/src/script/repositories/notification/NotificationRepository.ts
  apps/webapp/test/e2e_tests/scripts/mock-notifications.js
  apps/webapp/test/e2e_tests/scripts/mock-notifications.ts
  apps/webapp/test/e2e_tests/test.fixtures.ts
Due: app_webapp
