Repository wireapp/wire-webapp: changes, and which Codecov flags are due for each by the changed paths.
All: app_webapp, app_server, lib_core, lib_api_client

fix: bind electron setting api in device settings
  apps/webapp/src/script/page/MainContent/panels/preferences/avPreferences/CallOptions.tsx
Due: app_webapp

feat(api-client): Update WebSocket connection logic to fallback from /websocket to /await on 404 [WPB-23436]
  libraries/api-client/src/tcp/WebSocketClient.ts
  libraries/core/package.json
  yarn.lock
Due: lib_core, lib_api_client

chore: update code owners
  .github/CODEOWNERS
Due: none

remove extra log
  libraries/api-client/src/tcp/WebSocketClient.ts
Due: lib_api_client

cache and cleanup
  libraries/api-client/src/tcp/WebSocketClient.ts
Due: lib_api_client

fix: add hardware acceleration restart modal
  apps/webapp/src/script/page/MainContent/panels/preferences/avPreferences/CallOptions.tsx
  apps/webapp/src/script/page/MainContent/panels/preferences/avPreferences/HardwareAccelerationRestartModal.tsx
  apps/webapp/src/types/i18n.d.ts
Due: app_webapp

use maybe for cachedSocketAddress
  libraries/api-client/package.json
  libraries/api-client/src/tcp/WebSocketClient.ts
  yarn.lock
Due: lib_api_client

chore: update code owners (#20440)
  .github/CODEOWNERS
Due: none

ci: bump @tony.ganchev/eslint-plugin-header to 3.2.1 [WPB-22420] (#20316)
  eslint.config.ts
  package.json
  yarn.lock
Due: none

introduce new findWebSocketAddressPrefix
  libraries/api-client/jest.config.js
  libraries/api-client/package.json
  libraries/api-client/src/tcp/FindWebSocketAddressPrefix.test.ts
  libraries/api-client/src/tcp/FindWebSocketAddressPrefix.ts
  yarn.lock
Due: lib_api_client

consume new function
  libraries/api-client/src/tcp/WebSocketClient.ts
Due: lib_api_client

refactor: improve participantDetails selectors
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/participantDetails.page.ts
  apps/webapp/test/e2e_tests/specs/ParticipantProfile/participantProfile.spec.ts
Due: app_webapp

feat: adds interval handling to wall clock
  apps/webapp/package.json
  apps/webapp/src/script/clock/fakeWallClock.test.ts
  apps/webapp/src/script/clock/fakeWallClock.ts
  apps/webapp/src/script/clock/wallClock.test.ts
  apps/webapp/src/script/clock/wallClock.ts
  eslint.config.ts
  yarn.lock
Due: app_webapp

refactor: remove TC-1463 - notification when removed from group
  apps/webapp/test/e2e_tests/specs/Notifications/notifications.spec.ts
Due: app_webapp

test: implement notification tests
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/conversationDetails.page.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/conversationList.page.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/options.page.ts
  apps/webapp/test/e2e_tests/specs/HistoryBackup/historyBackup.spec.ts
  apps/webapp/test/e2e_tests/specs/Notifications/notifications.spec.ts
Due: app_webapp

refactor: remove unnecessary opening of second conversation
  apps/webapp/test/e2e_tests/specs/Notifications/notifications.spec.ts
Due: app_webapp

fixup! test: implement notification tests
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/conversationDetails.page.ts
Due: app_webapp

fix: upload profile picture to verify it's not shown in notification
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/account.page.ts
  apps/webapp/test/e2e_tests/specs/Notifications/notifications.spec.ts
Due: app_webapp

docs: fix comments for tests using userC
  apps/webapp/test/e2e_tests/specs/Notifications/notifications.spec.ts
Due: app_webapp

fix: verify notification settings are reflected in button
  apps/webapp/test/e2e_tests/specs/Notifications/notifications.spec.ts
Due: app_webapp

test: implement TC-8760
  apps/webapp/test/e2e_tests/specs/Notifications/notifications.spec.ts
Due: app_webapp

refactor: move accept click in modal when removing someone from a group to util
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/conversation.page.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/addMembersToChat-TC-8631.spec.ts
  apps/webapp/test/e2e_tests/specs/Reply/reply.spec.ts
Due: app_webapp

fix: rename test case and fix implementation
  apps/webapp/test/e2e_tests/specs/Notifications/notifications.spec.ts
Due: app_webapp

refactor: fix account settings test to refactor options page POM
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/options.page.ts
  apps/webapp/test/e2e_tests/specs/AccountSettingsSpecs/accountSettings.spec.ts
Due: app_webapp

feat: allow stubbed notifications to be clicked
  apps/webapp/test/e2e_tests/utils/mockNotifications.util.ts
Due: app_webapp

fix(TC-1450): assert all kinds of messages for 1on1 and group
  apps/webapp/test/e2e_tests/specs/Notifications/notifications.spec.ts
Due: app_webapp

refactor: merge TC-1450-1453 into a parameterized test
  apps/webapp/test/e2e_tests/specs/Notifications/notifications.spec.ts
Due: app_webapp

fix: ensure muted conversations don't receive notifications
  apps/webapp/test/e2e_tests/specs/Notifications/notifications.spec.ts
Due: app_webapp

fix jest config
  jest.preset.js
Due: none

transformIgnorePatterns for core
  libraries/core/jest.config.js
Due: lib_core

feat: introduce injectable windowService [WPB-21950]
  apps/webapp/src/script/repositories/event/EventRepository.test.ts
  apps/webapp/src/script/repositories/event/EventRepository.ts
  apps/webapp/src/script/window/windowService.ts
Due: app_webapp

feat(api-client): Update WebSocket connection logic to fallback from /websocket to /await on 404 [WPB-23436] (#20439)
  jest.preset.js
  libraries/api-client/jest.config.js
  libraries/api-client/package.json
  libraries/api-client/src/tcp/FindWebSocketAddressPrefix.test.ts
  libraries/api-client/src/tcp/FindWebSocketAddressPrefix.ts
  libraries/api-client/src/tcp/WebSocketClient.ts
  libraries/core/jest.config.js
  libraries/core/package.json
  yarn.lock
Due: lib_core, lib_api_client

refactor: simplify findWebSocketAddressPrefix to return void
  libraries/api-client/src/tcp/FindWebSocketAddressPrefix.test.ts
  libraries/api-client/src/tcp/FindWebSocketAddressPrefix.ts
  libraries/api-client/src/tcp/WebSocketClient.ts
Due: lib_api_client

refactor: rename findWebSocketAddressPrefix to isWebSocketEndpointAvailable
  libraries/api-client/src/tcp/IsWebSocketEndpointAvailable.test.ts
  libraries/api-client/src/tcp/IsWebSocketEndpointAvailable.ts
  libraries/api-client/src/tcp/WebSocketClient.ts
Due: lib_api_client

rename
  libraries/api-client/src/tcp/WebSocketClient.ts
Due: lib_api_client

renaming
  libraries/api-client/src/tcp/WebSocketClient.ts
Due: lib_api_client

test: disable tests known to always fail [WPB-22420]
  apps/webapp/test/e2e_tests/specs/AppLock/AppLock.spec.ts
  apps/webapp/test/e2e_tests/specs/noInternetCallGuard.spec.ts
Due: app_webapp

use just false
  libraries/api-client/src/tcp/WebSocketClient.ts
Due: lib_api_client

test: disable tests known to always fail [WPB-22420] (#20447)
  apps/webapp/test/e2e_tests/specs/AppLock/AppLock.spec.ts
  apps/webapp/test/e2e_tests/specs/noInternetCallGuard.spec.ts
Due: app_webapp

refactor: simplify findWebSocketAddressPrefix to return void [WPB-23436] (#20446)
  libraries/api-client/src/tcp/IsWebSocketEndpointAvailable.test.ts
  libraries/api-client/src/tcp/IsWebSocketEndpointAvailable.ts
  libraries/api-client/src/tcp/WebSocketClient.ts
Due: lib_api_client

Path conditions:
  app_webapp: any of: apps/webapp/**
  app_server: any of: apps/server/**
  lib_core: any of: libraries/core/**
  lib_api_client: any of: libraries/api-client/**
