Repository wireapp/wire-webapp: changes, and which Codecov flags are due for each by the changed paths.
All: app_webapp, app_server, lib_core, lib_api_client

refactor: remove withConnectedUser from markdown tests
  apps/webapp/test/e2e_tests/specs/Markdown/markdown.spec.ts
Due: app_webapp

refactor: remove withConnectedUser from deepLinks tests
  apps/webapp/test/e2e_tests/specs/DeepLinks/deepLinks.spec.ts
Due: app_webapp

refactor: remove withConnectedUser from groupConversation tests
  apps/webapp/test/e2e_tests/specs/GroupConversation/groupConversation.spec.ts
Due: app_webapp

refactor: remove withConnectedUser from mention tests
  apps/webapp/test/e2e_tests/specs/Mention/mention.spec.ts
Due: app_webapp

refactor: remove withConnectedUser from logs tests
  apps/webapp/test/e2e_tests/specs/Logs/logs.spec.ts
Due: app_webapp

refactor: remove withConnectedUser from folders tests
  apps/webapp/test/e2e_tests/specs/Folders/folders.spec.ts
Due: app_webapp

refactor: remove withConnectedUser from inConversationSearch tests
  apps/webapp/test/e2e_tests/specs/InConversationSearch/inConversationSearch.spec.ts
Due: app_webapp

refactor: remove withConnectedUser from participantProfile tests
  apps/webapp/test/e2e_tests/specs/ParticipantProfile/participantProfile.spec.ts
Due: app_webapp

refactor: remove withConnectedUser from calling tests
  apps/webapp/test/e2e_tests/specs/Calling/calling.spec.ts
Due: app_webapp

refactor: remove withConnectedUser from sendingAssets tests
  apps/webapp/test/e2e_tests/specs/SendingAssets/sendingAssets.spec.ts
Due: app_webapp

test: delete unused import of DeleteAccountModal
  apps/webapp/test/e2e_tests/pageManager/index.ts
Due: app_webapp

feat: add Adam Low's quality handling by `QualityController` logic back - adjust the logic for video resolution `QualityMode` definitions.
  apps/webapp/src/script/components/calling/VideoControls/videoBackgroundPerformancePanel/videoBackgroundPerformancePanel.tsx
  apps/webapp/src/script/repositories/media/backgroundEffects/backgroundEffectsWorkerTypes.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/index.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/pipe/segmenter.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/quality/definitions.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/quality/qualityController.test.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/quality/qualityController.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/quality/samples.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/quality/tuning.ts
  apps/webapp/src/script/repositories/media/backgroundEffectsHandler.ts
Due: app_webapp

createInitialisePendingProposalsTasksOnce
  libraries/core/src/account.test.ts
  libraries/core/src/account.ts
  libraries/core/src/messagingProtocols/mls/mlsService/mlsService.ts
Due: lib_core

remove !
  libraries/core/src/account.ts
Due: lib_core

guard for mls service
  libraries/core/src/account.ts
Due: lib_core

chere: use fire-and-forget invoker in migrated React components
  apps/webapp/project.json
  apps/webapp/src/script/auth/util/test/TestUtil.tsx
  apps/webapp/src/script/components/Badge/components/VerificationBadges/VerificationBadges.tsx
  apps/webapp/src/script/components/Cells/common/useCellPublicLink/useCellPublicLink.test.ts
  apps/webapp/src/script/components/Cells/common/useCellPublicLink/useCellPublicLink.ts
  apps/webapp/src/script/components/ConfigToolbar/ConfigToolbar.tsx
  apps/webapp/src/script/components/Conversation/Conversation.tsx
  apps/webapp/src/script/components/InputBar/InputBar.test.tsx
  apps/webapp/src/script/components/InputBar/InputBar.tsx
  apps/webapp/src/script/components/InputBar/usePing/usePing.ts
  apps/webapp/src/script/components/MessagesList/Message/MessageWrapper.tsx
  apps/webapp/src/script/components/MessagesList/utils/useLoadConversation.ts
  apps/webapp/src/script/components/Modals/DetailViewModal/DetailViewModalFooter.tsx
  apps/webapp/src/script/components/Modals/DetailViewModal/index.tsx
  apps/webapp/src/script/components/UserDevices/components/DeviceCard/DeviceCard.test.tsx
  apps/webapp/src/script/components/UserSearchableList/UserSearchableList.tsx
  apps/webapp/src/script/components/calling/CallingCell/CallingCell.test.tsx
  apps/webapp/src/script/components/calling/CallingCell/CallingCell.tsx
  apps/webapp/src/script/components/calling/CallingOverlayContainer.tsx
  apps/webapp/src/script/components/calling/FullscreenVideoCall.tsx
  apps/webapp/src/script/page/MainContent/panels/Collection/Collection.tsx
  apps/webapp/src/script/page/MainContent/panels/preferences/DevicesPreferences/DevicesPreference.test.tsx
  apps/webapp/src/script/page/MainContent/panels/preferences/DevicesPreferences/components/DeviceDetailsPreferences/DeviceDetailsPreferences.test.tsx
  apps/webapp/src/script/page/testSupport/rootContextTestSupport.tsx
  eslint.config.ts
  libraries/core/src/taskExecution/fireAndForgetInvoker/fireAndForgetInvoker.ts
Due: app_webapp, lib_core

Update libraries/core/src/account.ts
  libraries/core/src/account.ts
Due: lib_core

feat: support dynamic resolution changes
  apps/webapp/src/script/repositories/media/backgroundEffects/backgroundEffectsController.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/pipe/segmenter.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/quality/definitions.ts
Due: app_webapp

Remove unused method from MLS service
  apps/webapp/__mocks__/@wireapp/core.ts
  libraries/core/src/messagingProtocols/mls/mlsService/mlsService.ts
Due: app_webapp, lib_core

feat: integrate performance sampling and dynamic quality adjustment logic via `QualityController`
  apps/webapp/src/script/repositories/media/backgroundEffects/backgroundEffectsController.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/helper/samples.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/pipe/segmenter.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/pipe/worker.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/quality/qualityController.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/quality/samples.ts
Due: app_webapp

fix: remove unnecessary whitespace in `changeResolution` condition
  apps/webapp/src/script/repositories/media/backgroundEffects/backgroundEffectsController.ts
Due: app_webapp

refactor: remove unused function isTitleVisible
  apps/webapp/test/e2e_tests/pageManager/webapp/modals/passwordAdvancedSecurity.modal.ts
Due: app_webapp

refactor: remove unused function isTitleHidden
  apps/webapp/test/e2e_tests/pageManager/webapp/modals/passwordAdvancedSecurity.modal.ts
Due: app_webapp

fix: connection warning text
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/Modals/UserModal/UserModal.tsx
  apps/webapp/src/types/i18n.d.ts
Due: app_webapp

feat: update de- DE locale links [WPB-23924]
  apps/webapp/src/script/Config.ts
  apps/webapp/src/script/auth/localeConfig.ts
  apps/webapp/src/script/auth/supportedLocales.ts
  apps/webapp/src/script/externalRoute.ts
  apps/webapp/src/script/page/MainContent/panels/preferences/AboutPreferences.tsx
Due: app_webapp

Remove premature test files for unimplemented AI modules
  apps/webapp/src/test/001-consecutive-failure-tracker-mock.test.ts
  apps/webapp/src/test/002-select-conversations-to-scan-mock.test.ts
  apps/webapp/src/test/003-prompt-service-real.test.ts
  apps/webapp/src/test/004-ai-settings-service-real.test.ts
  apps/webapp/src/test/005-ollama-client-mock.test.ts
  apps/webapp/src/test/006-run-sub-report-mock.test.ts
  apps/webapp/src/test/007-run-final-report-mock.test.ts
  apps/webapp/src/test/008-tokenize-real.test.ts
  apps/webapp/src/test/009-use-reports-store-mock.test.ts
  apps/webapp/src/test/010-use-ai-settings-draft-store-mock.test.ts
Due: app_webapp

docs(adr): revise release process around trunk-based workflow
  docs/decision-records/0002-automated-quality-assurance-gated-release-process.md
  docs/decision-records/0002-trunk-based-automated-release-process.md
Due: none

fix: update type for SupportedLocale
  apps/webapp/src/script/auth/supportedLocales.ts
Due: app_webapp

refactor: delete unused isActionButtonVisible function
  apps/webapp/test/e2e_tests/pageManager/webapp/modals/base.modal.ts
Due: app_webapp

refactor: delete unused getModalText function
  apps/webapp/test/e2e_tests/pageManager/webapp/modals/base.modal.ts
Due: app_webapp

refactor: delete unused getModalTitle function
  apps/webapp/test/e2e_tests/pageManager/webapp/modals/base.modal.ts
Due: app_webapp

refactor: delete unused isModalPresent function
  apps/webapp/test/e2e_tests/pageManager/webapp/modals/base.modal.ts
Due: app_webapp

refactor: delete unused clickCancel function
  apps/webapp/test/e2e_tests/pageManager/webapp/modals/leaveConversation.modal.ts
Due: app_webapp

refactor: extend LeaveConversationModal from OptionModal
  apps/webapp/test/e2e_tests/pageManager/webapp/modals/leaveConversation.modal.ts
Due: app_webapp

fix: disable retry for 503 status code [WPB-25507]
  libraries/api-client/src/http/httpClient.test.ts
  libraries/api-client/src/http/incrementalRetryBackoff.test.ts
  libraries/api-client/src/http/incrementalRetryBackoff.ts
  libraries/api-client/src/http/incrementalRetryBackoffRunner.test.ts
Due: lib_api_client

Disabled Youtube link check as they implemented some anti-bot check
  apps/webapp/test/e2e_tests/specs/LinkPreview/linkPreview.spec.ts
Due: app_webapp

Path conditions:
  app_webapp: any of: apps/webapp/**
  app_server: any of: apps/server/**
  lib_core: any of: libraries/core/**
  lib_api_client: any of: libraries/api-client/**
