Repository wireapp/wire-webapp: changes, and which Codecov flags are due for each by the changed paths.
All: app_webapp, app_server, lib_core, lib_api_client

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '45...80'
  status:
    project:
      default:
        target: auto
      app_webapp:
        target: auto
        flags:
          - app_webapp
      app_server:
        target: auto
        flags:
          - app_server
      lib_core:
        target: auto
        flags:
          - lib_core
      lib_api_client:
        target: auto
        flags:
          - lib_api_client
    patch:
      default:
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: 'diff, flags, files'
  behavior: default
  require_changes: no

flags:
  app_webapp:
    paths:
      - 'apps/webapp/**'
    carryforward: false
  app_server:
    paths:
      - 'apps/server/**'
    carryforward: true
  lib_core:
    paths:
      - 'libraries/core/**'
    carryforward: true
  lib_api_client:
    paths:
      - 'libraries/api-client/**'
    carryforward: true

github_checks:
  annotations: false

fix: record init app start before setup work
  apps/webapp/src/script/main/app.ts
Due: app_webapp

chore: report unexpected startup failures
  apps/webapp/src/script/main/app.ts
  apps/webapp/src/script/main/reportStartupFailure.test.ts
  apps/webapp/src/script/main/reportStartupFailure.ts
Due: app_webapp

fix(server): build config-lib before server compile on dev
  apps/server/project.json
  apps/server/tsconfig.json
Due: app_server

chore: rename monotonic clock factory
  apps/webapp/src/script/main/index.tsx
  apps/webapp/src/script/time/monotonicClock.test.ts
  apps/webapp/src/script/time/monotonicClock.ts
Due: app_webapp

fix(webapp): keep workspace path mappings out of CI type-check
  apps/webapp/tsconfig.build.json
Due: app_webapp

feat(meetings): allow hosts to delete meetings for everyone
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/Meeting/DeleteMeetingErrors.ts
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingList.tsx
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingAction/MeetingAction.tsx
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingAction/getMeetingActionEntries.test.tsx
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingAction/getMeetingActionEntries.tsx
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingListItem.tsx
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItemGroup.tsx
  apps/webapp/src/script/components/Meeting/MeetingList/TodayAndOngoingSection/TodayAndOngoingSection.tsx
  apps/webapp/src/script/components/Meeting/Meetings.tsx
  apps/webapp/src/script/components/Meeting/deleteMeetingErrorKeys.ts
  apps/webapp/src/script/components/Meeting/deleteMeetingService.test.ts
  apps/webapp/src/script/components/Meeting/deleteMeetingService.ts
  apps/webapp/src/script/components/Meeting/showDeleteMeetingModal.tsx
  apps/webapp/src/script/components/Meeting/utils/isMeetingHost.test.ts
  apps/webapp/src/script/components/Meeting/utils/isMeetingHost.ts
  apps/webapp/src/script/repositories/meetings/meetingsApiDataSource.test.ts
  apps/webapp/src/script/repositories/meetings/meetingsApiDataSource.ts
  apps/webapp/src/script/repositories/meetings/meetingsDataSource.ts
  apps/webapp/src/script/repositories/meetings/meetingsRepository.ts
Due: app_webapp

update translation file of webapp
  apps/webapp/src/i18n/en-US.json
Due: app_webapp

test: move startup failure test out of lint input
  apps/webapp/test/unit_tests/main/reportStartupFailureSpec.ts
Due: app_webapp

feat: start WebSocket watchdog after reconnect URL resolves
  apps/webapp/test/e2e_tests/specs/Guestroom/guestroom.spec.ts
  libraries/api-client/src/tcp/reconnectingWebsocket.test.ts
  libraries/api-client/src/tcp/reconnectingWebsocket.ts
Due: app_webapp, lib_api_client

test: stabilize SCIM and guestroom Playwright flows
  apps/webapp/test/e2e_tests/pageManager/webapp/modals/joinGuestLinkPassword.modal.ts
  apps/webapp/test/e2e_tests/specs/AccountSettings/accountSettings.spec.ts
Due: app_webapp

test: use password join dialog as stable modal locator
  apps/webapp/test/e2e_tests/pageManager/webapp/modals/joinGuestLinkPassword.modal.ts
Due: app_webapp

test: stabilize enterprise guestroom login flow
  apps/webapp/test/e2e_tests/pageManager/webapp/modals/joinGuestLinkPassword.modal.ts
  apps/webapp/test/e2e_tests/specs/Guestroom/guestroom.spec.ts
Due: app_webapp

chore: remove npm minimal age gate exception
  .yarnrc.yml
Due: none

fix: webapp Jest resolution for ESM import exports
  apps/webapp/jest.config.ts
  apps/webapp/jest.resolver.cjs
Due: app_webapp

chore: update Playwright workflow image with dependency bump
  .github/workflows/e2e-tests.yml
  renovate.json
Due: none

chore: disable lock file maintenance
  renovate.json
Due: none

ci: use mirrored Playwright image
  .github/workflows/e2e-tests.yml
  renovate.json
Due: none

fix: clarify `processedVideoStream` usage in participant comments
  apps/webapp/src/script/repositories/calling/Participant.ts
Due: app_webapp

ci: add E2E label to Playwright Renovate updates
  renovate.json
Due: none

test: wait for any visible guestroom post-login locator
  apps/webapp/test/e2e_tests/specs/Guestroom/guestroom.spec.ts
Due: app_webapp

test: extract E2E locator visibility functions
  apps/webapp/test/e2e_tests/locators/visibility.ts
  apps/webapp/test/e2e_tests/specs/AccountSettings/accountSettings.spec.ts
  apps/webapp/test/e2e_tests/specs/Guestroom/guestroom.spec.ts
Due: app_webapp

Replace meeting split button with a single dropdown trigger.
  apps/webapp/src/script/components/Meeting/MeetingMultiActionButton/MeetingMultiActionButton.styles.ts
  apps/webapp/src/script/components/Meeting/MeetingMultiActionButton/MeetingMultiActionButton.test.tsx
  apps/webapp/src/script/components/Meeting/MeetingMultiActionButton/MeetingMultiActionButton.tsx
Due: app_webapp

Fix create meeting button icon rendering and spacing.
  apps/webapp/src/script/components/Meeting/MeetingMultiActionButton/MeetingMultiActionButton.styles.ts
  apps/webapp/src/script/components/Meeting/MeetingMultiActionButton/MeetingMultiActionButton.tsx
Due: app_webapp

feat: add Production promotion to release-cloud workflow
  .github/workflows/release-cloud.yml
  bin/releaseMetadataCli.test.ts
  bin/releaseMetadataCli.ts
Due: none

Use conversation membership for meeting participants instead of emails.
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingList.tsx
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingAction/MeetingAction.tsx
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingAction/getMeetingActionEntries.test.tsx
  apps/webapp/src/script/components/Meeting/MeetingSubmitErrors.ts
  apps/webapp/src/script/components/Meeting/ScheduleFormErrors.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingErrorKeys.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingService.test.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/scheduleMeetingService.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/useScheduleMeetingModal.ts
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/useScheduleMeetingSubmit.ts
  apps/webapp/src/script/components/Meeting/computeMeetingParticipantDiff.test.ts
  apps/webapp/src/script/components/Meeting/computeMeetingParticipantDiff.ts
  apps/webapp/src/script/components/Meeting/getInvitedEmailsFromSelectedUsers.ts
  apps/webapp/src/script/components/Meeting/mapApiMeetingToListMeeting.test.ts
  apps/webapp/src/script/components/Meeting/mapApiMeetingToListMeeting.ts
  apps/webapp/src/script/components/Meeting/mapMeetingToScheduleFormState.test.ts
  apps/webapp/src/script/components/Meeting/mapScheduleFormToCreateMeeting.test.ts
  apps/webapp/src/script/components/Meeting/mapScheduleFormToCreateMeeting.ts
  apps/webapp/src/script/components/Meeting/mapScheduleFormToUpdateMeeting.test.ts
  apps/webapp/src/script/components/Meeting/mapScheduleFormToUpdateMeeting.ts
  apps/webapp/src/script/components/Meeting/partitionMeetingsByDay.test.ts
  apps/webapp/src/script/components/Meeting/useEditMeeting.ts
  apps/webapp/src/script/components/Meeting/utils/canEditMeeting.test.ts
  apps/webapp/src/script/repositories/meetings/meetingsApiDataSource.ts
  apps/webapp/src/script/repositories/meetings/meetingsDataSource.ts
  apps/webapp/src/script/repositories/meetings/meetingsRepository.ts
Due: app_webapp

ci: split production tagging from deployment
  .github/workflows/release-cloud.yml
Due: none

Fix edit meeting by resolving ConversationRepository from mainViewModel.
  apps/webapp/src/script/components/Meeting/useEditMeeting.ts
Due: app_webapp

ci: add release branch creation workflow
  .github/workflows/create-release-branch.yml
  bin/releaseMetadata.test.ts
  bin/releaseMetadata.ts
  bin/releaseMetadataCli.test.ts
  bin/releaseMetadataCli.ts
Due: none

ci: validate source branch input for release branch creation
  .github/workflows/create-release-branch.yml
Due: none

feat: add Datadog Logs startup observability
  apps/webapp/src/script/observability/createDataDogLogsApplicationObservability.test.ts
  apps/webapp/src/script/observability/createDataDogLogsApplicationObservability.ts
Due: app_webapp

feat: prefer Datadog Logs for startup observability
  apps/webapp/src/script/observability/createApplicationObservability.test.ts
  apps/webapp/src/script/observability/createApplicationObservability.ts
  apps/webapp/src/script/observability/createApplicationObservabilityFromConfig.ts
Due: app_webapp

feat: remove unused RUM startup observability
  apps/webapp/src/script/observability/createDataDogApplicationObservability.test.ts
  apps/webapp/src/script/observability/createDataDogApplicationObservability.ts
Due: app_webapp

Revert "fix: optimize renderer for WebGL through ANGLE on Direct3D [WPB-25918]"
  apps/webapp/src/script/repositories/media/VideoBackgroundEffects.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/backgroundEffectsController.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/pipe/options.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/pipe/renderer.ts
  apps/webapp/src/script/repositories/media/backgroundEffectsHandler.ts
Due: app_webapp

feat: remove WebSocket connectivity diagnostics banner action
  apps/webapp/src/script/featureToggles/startupFeatureToggleNames.ts
  apps/webapp/src/script/featureToggles/startupFeatureToggles.test.ts
  apps/webapp/src/script/page/appMain.tsx
  apps/webapp/src/script/view_model/WarningsContainer/WarningsContainer.test.tsx
  apps/webapp/src/script/view_model/WarningsContainer/WarningsContainer.tsx
  apps/webapp/src/script/view_model/WarningsContainer/webSocketConnectivityDiagnostics.ts
Due: app_webapp

ci: add Production rollback workflow
  .github/workflows/rollback-production.yml
  bin/releaseMetadata.test.ts
  bin/releaseMetadata.ts
  bin/releaseMetadataCli.test.ts
  bin/releaseMetadataCli.ts
Due: none

test: skip enterprise-dependent E2E tests
  apps/webapp/test/e2e_tests/specs/AccountSettings/accountSettings.spec.ts
  apps/webapp/test/e2e_tests/specs/Calling/calling.spec.ts
  apps/webapp/test/e2e_tests/specs/ClearConversationContent/clearConversationContent.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/channelsCall-TC-8755.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/channelsManagement-TC-8752.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/groupCalls-TC-8632.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/groupVideoCall-TC-8637.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/loginWithClaimedDomain-TC-8781.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/messagesInChannels-TC-8753.spec.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/onPremLoginRedirect-TC-8757.spec.ts
  apps/webapp/test/e2e_tests/specs/Drive/drive.spec.ts
  apps/webapp/test/e2e_tests/specs/Federation/federation.spec.ts
  apps/webapp/test/e2e_tests/specs/Guestroom/guestroom.spec.ts
Due: app_webapp

chore: format code with latest Prettier version
  apps/webapp/src/script/auth/module/action/creator/InvitationActionCreator.ts
  apps/webapp/src/script/auth/module/action/creator/UserActionCreator.ts
  apps/webapp/src/script/components/InputBar/InputBarEditor/RichTextEditor/plugins/TypeaheadMenuPlugin/TypeaheadMenuPlugin.tsx
  apps/webapp/src/script/components/Meeting/loadMeetingsList.ts
  apps/webapp/src/script/components/MessagesList/Message/ContentMessage/asset/index.tsx
  apps/webapp/src/script/components/calling/VideoControls/videoBackgroundPerformancePanel/capabilityInformationValidator.test.ts
  apps/webapp/src/script/mls/MLSConversations.ts
  apps/webapp/src/script/repositories/conversation/ConversationLabelRepository.ts
  apps/webapp/src/script/repositories/event/EventRepository.test.ts
  apps/webapp/src/script/repositories/media/VideoBackgroundEffects.ts
  apps/webapp/src/script/ui/contextMenu.tsx
  libraries/api-client/src/notification/consumableNotification.ts
  libraries/api-client/src/tcp/reconnectingWebsocket.backFromSleep.test.ts
  libraries/core/src/messagingProtocols/mls/mlsService/coreCryptoMlsError.ts
  libraries/core/src/notification/notificationService.ts
Due: app_webapp, lib_core, lib_api_client

Fix asset assertions in federation e2e tests [WPB-22420]
  apps/webapp/test/e2e_tests/specs/Federation/federation.spec.ts
Due: app_webapp

Fix other uses of role img to verify a message contains an image
  apps/webapp/test/e2e_tests/specs/ClearConversationContent/clearConversationContent.spec.ts
  apps/webapp/test/e2e_tests/specs/SendingAssets/sendingAssets.spec.ts
Due: app_webapp
