Repository wireapp/wire-webapp: changes, and which Codecov flags are due for each by the changed paths.
All: app_webapp, app_server, lib_core, lib_api_client

Lint remaining library paths
  .ls-lint.yml
Due: none

Migrate server paths to camelCase
  .ls-lint.yml
  apps/server/.ebextensions/environment00.config
  apps/server/.ebextensions/logRotation10.config
  apps/server/.ebextensions/nginx20.config
  apps/server/.platform/confighooks/predeploy/npmInstall01.sh
  apps/server/.platform/hooks/predeploy/npmInstall01.sh
  apps/server/bin/copyServerAssets.js
  apps/server/certificate/developmentCert.pem
  apps/server/certificate/developmentKey.pem
  apps/server/certificate/rootCa.pem
  apps/server/certificate/rootCaKey.pem
  apps/server/index.ts
  apps/server/package.json
  apps/server/project.json
  apps/server/robots/robotsDisallow.txt
  apps/server/server.test.ts
  apps/server/server.ts
  docs/nx-monorepo-integration-overview.md
  eslint.config.mjs
  libraries/config/README.md
  libraries/config/src/server.config.ts
  libraries/telemetry/README.md
Due: app_server

fix: resolved unwanted merged change and added tests
  libraries/core/src/messagingProtocols/mls/mlsService/mlsService.test.ts
  libraries/core/src/messagingProtocols/mls/mlsService/mlsService.ts
Due: lib_core

fix: handle emoji in group name [WPB-23973]
  apps/webapp/src/script/repositories/conversation/ConversationRepository.ts
  apps/webapp/src/script/repositories/event/preprocessor/EventStorageMiddleware/EventStorageMiddleware.test.ts
  apps/webapp/src/script/repositories/event/preprocessor/EventStorageMiddleware/EventStorageMiddleware.ts
Due: app_webapp

Allow authentication environment in simple-git v4
  tools/release-metadata/webappVersionSynchronizationGit.ts
Due: none

Classify failed MLS key package claims separately
  libraries/core/src/conversation/conversationService/conversationService.types.ts
  libraries/core/src/messagingProtocols/mls/mlsService/mlsService.test.ts
  libraries/core/src/messagingProtocols/mls/mlsService/mlsService.ts
Due: lib_core

Report MLS key package claim failures accurately
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/meeting/shared/submit/showMeetingPartialAddFailureModal.test.ts
  apps/webapp/src/script/components/meeting/shared/submit/showMeetingPartialAddFailureModal.tsx
  apps/webapp/src/script/components/messagesList/message/failedToAddUsersMessage.test.tsx
  apps/webapp/src/script/components/messagesList/message/failedToAddUsersMessage.tsx
Due: app_webapp

Add v19 meeting link creation support
  apps/webapp/src/script/Config.ts
  apps/webapp/src/script/components/meeting/mapApiMeetingToSeries.test.ts
  apps/webapp/src/script/components/meeting/mapApiMeetingToSeries.ts
  apps/webapp/src/script/components/meeting/mapMeetNowCommandToCreateMeeting.test.ts
  apps/webapp/src/script/components/meeting/mapMeetNowCommandToCreateMeeting.ts
  apps/webapp/src/script/components/meeting/mapScheduleCommandToCreateMeeting.test.ts
  apps/webapp/src/script/components/meeting/mapScheduleCommandToCreateMeeting.ts
  apps/webapp/src/script/components/meeting/meetNowModal/meetNowModal.test.tsx
  apps/webapp/src/script/components/meeting/meetingStore/createMeetingStore.ts
  apps/webapp/src/script/components/meeting/meetingStore/meetingStoreDeps.ts
  apps/webapp/src/script/components/meeting/meetingStore/meetingStoreRoot.test.tsx
  apps/webapp/src/script/components/meeting/meetingStore/meetingStoreRoot.tsx
  apps/webapp/src/script/components/meeting/scheduleMeetingModal/useScheduleMeetingSubmit.ts
  apps/webapp/src/script/components/meeting/shared/service/meetingService.test.ts
  apps/webapp/src/script/components/meeting/shared/service/meetingService.ts
  apps/webapp/src/script/components/meeting/types/meetingSeries.ts
  apps/webapp/src/script/repositories/conversation/ConversationRepository.ts
  apps/webapp/src/script/repositories/meetings/meetingsApiDataSource.test.ts
  apps/webapp/src/script/repositories/meetings/meetingsApiDataSource.ts
  apps/webapp/src/script/repositories/meetings/meetingsDataSource.ts
  apps/webapp/src/script/repositories/meetings/meetingsRepository.ts
  apps/webapp/src/script/util/canUseMeetings.test.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/meetings.page.ts
  apps/webapp/test/e2e_tests/specs/Meetings/meetings.spec.ts
  libraries/api-client/src/meetings/createMeeting.ts
  libraries/api-client/src/meetings/meeting.ts
  libraries/api-client/src/meetings/meetingSchema.test.ts
  libraries/api-client/src/meetings/meetingSchema.ts
  libraries/api-client/src/meetings/meetingsApi.test.ts
  libraries/api-client/src/meetings/meetingsApi.ts
Due: app_webapp, lib_api_client

refactor: centralize Cells upload permission checks
  apps/webapp/src/script/components/conversation/conversation.tsx
  apps/webapp/src/script/components/conversation/conversationFileDropzone/isConversationFileDropAllowed/isConversationFileDropAllowed.test.ts
  apps/webapp/src/script/components/conversation/conversationFileDropzone/isConversationFileUploadAllowed/isConversationFileUploadAllowed.test.ts
  apps/webapp/src/script/components/conversation/conversationFileDropzone/isConversationFileUploadAllowed/isConversationFileUploadAllowed.ts
  apps/webapp/src/script/components/inputBar/inputBar.test.tsx
  apps/webapp/src/script/components/inputBar/inputBar.tsx
  apps/webapp/src/script/components/inputBar/useFileHandling/useFileHandling.test.ts
  apps/webapp/src/script/components/inputBar/useFileHandling/useFileHandling.ts
Due: app_webapp

Fix lint
  apps/webapp/src/script/components/meeting/mapApiMeetingToSeries.test.ts
  apps/webapp/src/script/components/meeting/mapScheduleCommandToCreateMeeting.test.ts
Due: app_webapp

fix: add decodeConversationNameForStorage function
  apps/webapp/src/script/repositories/event/preprocessor/EventStorageMiddleware/EventStorageMiddleware.ts
Due: app_webapp

feat: handle deleted useraccount [WPB-24742]
  apps/webapp/src/script/repositories/conversation/ConversationRepository.ts
  apps/webapp/src/script/repositories/conversation/TeamMemberLeave.test.ts
Due: app_webapp

Remove rotate meeting link related code from this PR
  apps/webapp/src/script/components/meeting/meetingStore/createMeetingStore.ts
  apps/webapp/src/script/components/meeting/meetingStore/meetingStoreDeps.ts
  apps/webapp/src/script/components/meeting/meetingStore/meetingStoreRoot.tsx
  apps/webapp/src/script/repositories/meetings/meetingsApiDataSource.ts
  apps/webapp/src/script/repositories/meetings/meetingsDataSource.ts
  apps/webapp/src/script/repositories/meetings/meetingsRepository.ts
  apps/webapp/test/e2e_tests/specs/Meetings/meetings.spec.ts
  libraries/api-client/src/meetings/meetingsApi.test.ts
  libraries/api-client/src/meetings/meetingsApi.ts
Due: app_webapp, lib_api_client

Add stable WebApp version operations
  package.json
  tools/release-metadata/webappVersion.test.ts
  tools/release-metadata/webappVersion.ts
  yarn.lock
Due: none

Add pull request release-impact policy
  project.json
  tools/release-metadata/pullRequestReleaseImpact.test.ts
  tools/release-metadata/pullRequestReleaseImpact.ts
Due: none

Enforce pull request SemVer labels in GitHub Actions
  .github/workflows/pull-request-semver-policy.yml
Due: none

Label Renovate pull requests as SemVer patches
  renovate.json
Due: none

Add pull request SemVer policy CLI
  eslint.config.mjs
  project.json
  tools/release-cli/pullRequestSemverPolicy.mts
  tools/release-cli/pullRequestSemverPolicy.test.ts
Due: none

Simplify pull request release-impact validation
  tools/release-metadata/pullRequestReleaseImpact.ts
Due: none

feat: handle unexpected reset of app lock [WPB-25901]
  apps/webapp/src/script/page/appLock/appLock.test.tsx
  apps/webapp/src/script/page/appLock/appLock.tsx
  apps/webapp/src/script/repositories/team/TeamRepository.test.ts
  apps/webapp/src/script/repositories/team/TeamRepository.ts
  apps/webapp/src/script/repositories/team/TeamService.test.ts
  apps/webapp/src/script/repositories/team/TeamService.ts
  apps/webapp/src/script/repositories/user/appLockRepository.test.ts
  apps/webapp/src/script/repositories/user/appLockRepository.ts
  apps/webapp/src/script/repositories/user/appLockState.test.ts
  apps/webapp/src/script/repositories/user/appLockState.ts
Due: app_webapp

Resolve WebApp release versions from pull request impacts
  tools/release-metadata/webappReleaseVersion.test.ts
  tools/release-metadata/webappReleaseVersion.ts
Due: none

add @crit-flow-web for direct upload E2E tests(WPB-29070)
  apps/webapp/test/e2e_tests/specs/Drive/fileUpload.spec.ts
Due: app_webapp

feat: add call security line [WPB-29244]
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/calling/CallSecurityLine/CallSecurityLine.styles.ts
  apps/webapp/src/script/components/calling/CallSecurityLine/CallSecurityLine.test.tsx
  apps/webapp/src/script/components/calling/CallSecurityLine/CallSecurityLine.tsx
  apps/webapp/src/script/components/calling/FullscreenVideoCall.tsx
  libraries/config/src/client.config.ts
  libraries/config/src/env.ts
Due: app_webapp

feat: show key updates on the call security line [WPB-29244]
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/calling/CallSecurityLine/CallSecurityLine.test.tsx
  apps/webapp/src/script/components/calling/CallSecurityLine/CallSecurityLine.tsx
  apps/webapp/src/script/components/calling/CallSecurityLine/callPeople.test.ts
  apps/webapp/src/script/components/calling/CallSecurityLine/callPeople.ts
  apps/webapp/src/script/components/calling/CallSecurityLine/keyUpdateQueue.test.ts
  apps/webapp/src/script/components/calling/CallSecurityLine/keyUpdateQueue.ts
  apps/webapp/src/script/components/calling/FullscreenVideoCall.tsx
Due: app_webapp

feat: animate key updates and show rejoins on the call security line [WPB-29244]
  apps/webapp/src/script/components/calling/CallSecurityLine/CallSecurityLine.styles.ts
  apps/webapp/src/script/components/calling/CallSecurityLine/CallSecurityLine.tsx
  apps/webapp/src/script/components/calling/CallSecurityLine/keyUpdateQueue.test.ts
  apps/webapp/src/script/components/calling/CallSecurityLine/keyUpdateQueue.ts
  libraries/react-ui-kit/src/dataDisplay/icon/index.ts
  libraries/react-ui-kit/src/dataDisplay/icon/updateIcon.tsx
Due: app_webapp

feat: announce call key updates to screen readers [WPB-29244]
  apps/webapp/src/script/components/calling/CallSecurityLine/CallSecurityLine.test.tsx
  apps/webapp/src/script/components/calling/CallSecurityLine/CallSecurityLine.tsx
Due: app_webapp

Configure jscpd code duplication checks
  .gitignore
  jscpd.json
  package.json
  yarn.lock
Due: none

Run duplication check and upload report in CI
  .github/workflows/continuous-integration.yml
Due: none

Use the application clock for message loading debounce
  apps/webapp/src/script/components/messagesList/virtualizedMessagesList/useLoadMessages.test.ts
  apps/webapp/src/script/components/messagesList/virtualizedMessagesList/useLoadMessages.ts
Due: app_webapp

Cover independent message loading debounces
  apps/webapp/src/script/components/messagesList/virtualizedMessagesList/useLoadMessages.test.ts
Due: app_webapp

Set ESLint warning limits to measured counts
  apps/webapp/project.json
  libraries/api-client/project.json
  libraries/core/project.json
  libraries/store-engine-dexie/project.json
Due: app_webapp, lib_core, lib_api_client

Path conditions:
  app_webapp: any of: apps/webapp/**
  app_server: any of: apps/server/**
  lib_core: any of: libraries/core/**
  lib_api_client: any of: libraries/api-client/**
