Repository wireapp/wire-webapp: changes, and which Codecov flags are due for each by the changed paths.
All: app_webapp, app_server, lib_core, lib_api_client

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '45...80'
  status:
    project:
      default:
        target: auto
      app_webapp:
        target: auto
        flags:
          - app_webapp
      app_server:
        target: auto
        flags:
          - app_server
      lib_core:
        target: auto
        flags:
          - lib_core
      lib_api_client:
        target: auto
        flags:
          - lib_api_client
    patch:
      default:
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: 'diff, flags, files'
  behavior: default
  require_changes: no

flags:
  app_webapp:
    paths:
      - 'apps/webapp/**'
    carryforward: false
  app_server:
    paths:
      - 'apps/server/**'
    carryforward: true
  lib_core:
    paths:
      - 'libraries/core/**'
    carryforward: true
  lib_api_client:
    paths:
      - 'libraries/api-client/**'
    carryforward: true

github_checks:
  annotations: false

fix: establish MLS for meeting conversations after login
  apps/webapp/src/script/components/Meeting/joinMeetingCall.test.ts
  apps/webapp/src/script/components/Meeting/joinMeetingCall.ts
  apps/webapp/src/script/mls/MLSConversations.test.ts
  apps/webapp/src/script/mls/MLSConversations.ts
Due: app_webapp

Use pull request merge commits in continuous integration
  .github/workflows/continuous-integration.yml
Due: none

Clarify Release WebApp job names
  .github/workflows/release-webapp.yml
Due: none

Remove backendUrl input and define it in e2e-test.yml
  .github/workflows/e2e-tests-nightly.yml
  .github/workflows/e2e-tests.yml
Due: none

chart bump only one version
  charts/webapp/Chart.yaml
Due: none

test: access repository core without any casts in MLS tests.
  apps/webapp/src/script/mls/MLSConversations.test.ts
Due: app_webapp

Simplify WebApp release summaries
  bin/renderWebappReleaseSummary.test.ts
  bin/renderWebappReleaseSummary.ts
Due: none

Remove backendUrl parameter from precommit-slot-run.yml and it's callers
  .github/workflows/precommit-e2e-tests.yml
  .github/workflows/precommit-slot-run.yml
  .github/workflows/publish-and-deploy-webapp.yml
  .github/workflows/release-webapp.yml
Due: none

remove superfluous annotation
  charts/webapp/templates/httproute.yaml
Due: none

Add delete meeting flows for hosts and participants
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingAction/MeetingAction.tsx
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingAction/getMeetingActionEntries.test.tsx
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingAction/getMeetingActionEntries.tsx
  apps/webapp/src/script/components/Meeting/MeetingSubmitErrors.ts
  apps/webapp/src/script/components/Meeting/Meetings.tsx
  apps/webapp/src/script/components/Meeting/meetingConversationSync.ts
  apps/webapp/src/script/components/Meeting/meetingConversationTeardown.ts
  apps/webapp/src/script/components/Meeting/meetingStore/createMeetingStore.test.ts
  apps/webapp/src/script/components/Meeting/meetingStore/createMeetingStore.ts
  apps/webapp/src/script/components/Meeting/meetingStore/meetingStoreDeps.ts
  apps/webapp/src/script/components/Meeting/shared/delete/showDeleteMeetingModal.tsx
  apps/webapp/src/script/components/Meeting/shared/service/deleteMeeting.test.ts
  apps/webapp/src/script/components/Meeting/shared/service/deleteMeeting.ts
  apps/webapp/src/script/components/Meeting/shared/service/meetingService.test.ts
  apps/webapp/src/script/components/Meeting/shared/submit/deleteMeetingSubmitErrorKeys.ts
  apps/webapp/src/script/components/Meeting/shared/submit/meetingSubmitErrorKeys.ts
  apps/webapp/src/script/components/Meeting/useDeleteMeeting.ts
  apps/webapp/src/script/components/Meeting/utils/canDeleteMeeting.test.ts
  apps/webapp/src/script/components/Meeting/utils/canDeleteMeeting.ts
  apps/webapp/src/script/repositories/conversation/ConversationRepository.ts
  apps/webapp/src/script/repositories/meetings/meetingsApiDataSource.ts
  apps/webapp/src/script/repositories/meetings/meetingsDataSource.ts
  apps/webapp/src/script/repositories/meetings/meetingsRepository.ts
  libraries/api-client/src/event/conversationEvent.ts
  libraries/webapp-events/src/index.ts
Due: app_webapp, lib_api_client

rename meetings files to camelCase
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingAction/MeetingAction.tsx
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingAction/getMeetingActionEntries.tsx
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/meetingListItem.tsx
  apps/webapp/src/script/components/Meeting/Meetings.tsx
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/useScheduleMeetingSubmit.test.tsx
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/useScheduleMeetingSubmit.ts
  apps/webapp/src/script/components/Meeting/meetNowModal/meetNowModal.test.tsx
  apps/webapp/src/script/components/Meeting/meetNowModal/submitMeetNow.ts
  apps/webapp/src/script/components/Meeting/meetNowModal/useMeetNowSubmit.test.tsx
  apps/webapp/src/script/components/Meeting/meetingStore/createMeetingStore.ts
  apps/webapp/src/script/components/Meeting/meetingStore/meetingStoreDeps.ts
  apps/webapp/src/script/components/Meeting/shared/service/deleteMeeting.test.ts
  apps/webapp/src/script/components/Meeting/shared/service/deleteMeeting.ts
  apps/webapp/src/script/components/Meeting/shared/service/meetingService.test.ts
  apps/webapp/src/script/components/Meeting/shared/service/meetingService.ts
  apps/webapp/src/script/components/Meeting/shared/submit/deleteMeetingSubmitErrorKeys.ts
  apps/webapp/src/script/components/Meeting/shared/submit/meetingSubmitErrorKeys.test.ts
  apps/webapp/src/script/components/Meeting/shared/submit/meetingSubmitErrorKeys.ts
  apps/webapp/src/script/components/Meeting/shared/submit/shouldRefreshMeetingsListAfterSubmitError.test.ts
  apps/webapp/src/script/components/Meeting/shared/submit/shouldRefreshMeetingsListAfterSubmitError.ts
  apps/webapp/src/script/components/Meeting/shared/submit/showMeetingSubmitError.ts
  apps/webapp/src/script/components/Meeting/useEditMeeting.ts
  apps/webapp/src/script/page/mainContent/mainContent.tsx
Due: app_webapp

Harden delete meeting flows against partial failures.
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/MeetingAction/MeetingAction.tsx
  apps/webapp/src/script/components/Meeting/MeetingSubmitErrors.ts
  apps/webapp/src/script/components/Meeting/meetingStore/createMeetingStore.ts
  apps/webapp/src/script/components/Meeting/shared/service/deleteMeeting.test.ts
  apps/webapp/src/script/components/Meeting/shared/service/deleteMeeting.ts
  apps/webapp/src/script/components/Meeting/shared/submit/deleteMeetingSubmitErrorKeys.ts
  apps/webapp/src/script/components/Meeting/shared/submit/meetingSubmitErrorKeys.ts
  apps/webapp/src/script/components/Meeting/shared/submit/shouldRefreshMeetingsListAfterSubmitError.test.ts
  apps/webapp/src/script/components/Meeting/shared/submit/shouldRefreshMeetingsListAfterSubmitError.ts
  apps/webapp/src/script/components/Meeting/shared/submit/submitDeleteMeeting.test.ts
  apps/webapp/src/script/components/Meeting/shared/submit/submitDeleteMeeting.ts
  apps/webapp/src/script/components/Meeting/useDeleteMeeting.ts
Due: app_webapp

Show Beta release summary before E2E
  .github/workflows/release-webapp.yml
  bin/renderWebappReleaseSummary.test.ts
  bin/renderWebappReleaseSummary.ts
Due: none

Rename MeetingAction folder and files to camelCase.
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/meetingAction/getMeetingActionEntries.test.tsx
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/meetingAction/getMeetingActionEntries.tsx
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/meetingAction/meetingAction.styles.ts
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/meetingAction/meetingAction.tsx
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/meetingAction/meetingActionTranslationKeys.ts
Due: app_webapp

Simplify host delete-for-all to rely on DELETE /meetings.
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/meetingAction/getMeetingActionEntries.test.tsx
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/meetingAction/getMeetingActionEntries.tsx
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/meetingAction/meetingAction.tsx
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/meetingListItem.tsx
  apps/webapp/src/script/components/Meeting/Meetings.tsx
  apps/webapp/src/script/components/Meeting/meetingStore/createMeetingStore.ts
  apps/webapp/src/script/components/Meeting/meetingStore/meetingStoreDeps.ts
  apps/webapp/src/script/components/Meeting/shared/service/deleteMeeting.test.ts
  apps/webapp/src/script/components/Meeting/shared/service/deleteMeeting.ts
  apps/webapp/src/script/components/Meeting/shared/submit/deleteMeetingSubmitErrorKeys.ts
  apps/webapp/src/script/components/Meeting/shared/submit/shouldRefreshMeetingsListAfterSubmitError.test.ts
  apps/webapp/src/script/components/Meeting/shared/submit/shouldRefreshMeetingsListAfterSubmitError.ts
  apps/webapp/src/script/components/Meeting/shared/submit/showMeetingSubmitError.ts
  apps/webapp/src/script/components/Meeting/shared/submit/submitDeleteMeeting.test.ts
  apps/webapp/src/script/components/Meeting/shared/submit/submitDeleteMeeting.ts
  libraries/api-client/src/event/conversationEvent.ts
Due: app_webapp, lib_api_client

Remove unused removeAllOtherMeetingParticipants helper.
  apps/webapp/src/script/components/Meeting/meetingConversationTeardown.ts
Due: app_webapp

Harden delete meeting outcomes, copy, and recurring warnings.
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/MeetingListItem/meetingListItem.tsx
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/meetingListItemGroup.tsx
  apps/webapp/src/script/components/Meeting/meetingConversationTeardown.ts
  apps/webapp/src/script/components/Meeting/meetingStore/createMeetingStore.test.ts
  apps/webapp/src/script/components/Meeting/shared/delete/showDeleteMeetingModal.test.ts
  apps/webapp/src/script/components/Meeting/shared/delete/showDeleteMeetingModal.tsx
  apps/webapp/src/script/components/Meeting/shared/service/deleteMeeting.ts
  apps/webapp/src/script/components/Meeting/shared/submit/deleteMeetingSubmitErrorKeys.ts
  apps/webapp/src/script/components/Meeting/shared/submit/meetingSubmitErrorKeys.ts
  apps/webapp/src/script/components/Meeting/shared/submit/shouldRefreshMeetingsListAfterSubmitError.test.ts
  apps/webapp/src/script/components/Meeting/shared/submit/shouldRefreshMeetingsListAfterSubmitError.ts
  apps/webapp/src/script/components/Meeting/shared/submit/submitDeleteMeeting.test.ts
  apps/webapp/src/script/components/Meeting/shared/submit/submitDeleteMeeting.ts
  apps/webapp/src/script/components/Meeting/useDeleteMeeting.ts
Due: app_webapp

Fix meeting.delete routing so invitee lists update.
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingList.tsx
  apps/webapp/src/script/components/Meeting/MeetingList/MeetingListItemGroup/meetingListItemGroup.tsx
  apps/webapp/src/script/components/Meeting/MeetingList/meetingList.test.tsx
  apps/webapp/src/script/components/Meeting/Meetings.tsx
  apps/webapp/src/script/components/Meeting/meetingStore/createMeetingStore.test.ts
  apps/webapp/src/script/components/Meeting/shared/service/deleteMeeting.test.ts
  apps/webapp/src/script/components/Meeting/shared/submit/deleteMeetingSubmitErrorKeys.ts
  apps/webapp/src/script/components/Meeting/shared/submit/meetingSubmitErrorKeys.ts
  apps/webapp/src/script/components/Meeting/shared/submit/submitDeleteMeeting.test.ts
  apps/webapp/src/script/repositories/conversation/ConversationRepository.ts
  apps/webapp/src/script/repositories/event/EventRepository.test.ts
  apps/webapp/src/script/repositories/event/EventRepository.ts
  apps/webapp/src/script/repositories/event/EventType.ts
  libraries/api-client/src/event/backendEvent.ts
  libraries/api-client/src/event/conversationEvent.ts
  libraries/api-client/src/event/index.ts
  libraries/api-client/src/event/meetingEvent.ts
Due: app_webapp, lib_api_client

Clean up delete-meeting renames and duplicate helpers.
  apps/webapp/src/script/components/Meeting/meetingSubmitErrors.ts
  apps/webapp/src/script/components/Meeting/meetings.tsx
  apps/webapp/src/script/components/Meeting/shared/service/deleteMeeting.test.ts
  apps/webapp/src/script/components/Meeting/shared/submit/shouldRefreshMeetingsListAfterSubmitError.test.ts
  apps/webapp/src/script/components/Meeting/shared/submit/shouldRefreshMeetingsListAfterSubmitError.ts
  apps/webapp/src/script/components/Meeting/shared/submit/submitDeleteMeeting.ts
Due: app_webapp

Fix core handleEvent when meeting events omit conversation.
  libraries/core/src/conversation/conversationService/conversationService.ts
Due: lib_core

Fix meeting.styles case rename and refresh i18n keys.
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/Meeting/meeting.styles.ts
Due: app_webapp

chore: Update translations
  apps/webapp/src/i18n/ru-RU.json
Due: app_webapp

Format Meeting delete-flow test files with Prettier.
  apps/webapp/src/script/components/Meeting/meetingStore/createMeetingStore.test.ts
  apps/webapp/src/script/components/Meeting/shared/submit/submitDeleteMeeting.test.ts
  apps/webapp/src/script/components/Meeting/utils/canDeleteMeeting.test.ts
Due: app_webapp

chore: Update translations
  apps/webapp/src/i18n/de-DE.json
Due: app_webapp

Increase timeout for TC-3128 and TC-2927
  apps/webapp/test/e2e_tests/specs/Calling/calling.spec.ts
  apps/webapp/test/e2e_tests/specs/Federation/federation.spec.ts
Due: app_webapp

Fix formatting for federation.spec.ts
  apps/webapp/test/e2e_tests/specs/Federation/federation.spec.ts
Due: app_webapp

fix: cells empty search results message
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsStateInfo/CellStateInfo.styles.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsStateInfo/CellsStateInfo.tsx
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsTable/CellsTable.styles.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsTable/CellsTable.tsx
  apps/webapp/src/script/components/Conversation/ConversationCells/ConversationCells.tsx
  apps/webapp/src/script/components/cells/common/CellsStateInfo/CellsStateInfo.styles.ts
  apps/webapp/src/script/components/cells/common/CellsStateInfo/CellsStateInfo.test.tsx
  apps/webapp/src/script/components/cells/common/CellsStateInfo/CellsStateInfo.tsx
  apps/webapp/src/script/components/cellsGlobalView/cellsGlobalView.tsx
  apps/webapp/src/script/components/cellsGlobalView/cellsStateInfo/cellsStateInfo.tsx
  apps/webapp/src/script/components/cellsGlobalView/cellsTable/cellsTable.styles.ts
  apps/webapp/src/script/components/cellsGlobalView/cellsTable/cellsTable.tsx
Due: app_webapp

fix: lint failure camelCase
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsStateInfo/CellsStateInfo.tsx
  apps/webapp/src/script/components/cells/common/CellsStateInfo/CellsStateInfo.test.tsx
  apps/webapp/src/script/components/cellsGlobalView/cellsStateInfo/cellsStateInfo.tsx
Due: app_webapp

fix: renamed file paths
  apps/webapp/src/script/components/Conversation/ConversationCells/ConversationCells.tsx
  apps/webapp/src/script/components/Conversation/ConversationCells/cellsStateInfo/cellsStateInfo.tsx
  apps/webapp/src/script/components/cells/common/cellsStateInfo/cellsStateInfo.styles.ts
  apps/webapp/src/script/components/cells/common/cellsStateInfo/cellsStateInfo.test.tsx
  apps/webapp/src/script/components/cells/common/cellsStateInfo/cellsStateInfo.tsx
Due: app_webapp

fix(i18n): update English localization for file type labels
  apps/webapp/src/i18n/en-US.json
Due: app_webapp

Publish Beta summary before E2E validation
  bin/renderWebappReleaseSummary.test.ts
  bin/renderWebappReleaseSummary.ts
Due: none

chore: Update translations
  apps/webapp/src/i18n/en-US.json
Due: app_webapp

Remove increased timeout forTC-3128
  apps/webapp/test/e2e_tests/specs/Federation/federation.spec.ts
Due: app_webapp

test: assert cells search race outcomes [WPB-20817]
  apps/webapp/src/script/components/cellsGlobalView/useSearchCellsNodes/useSearchCellsNodes.test.ts
Due: app_webapp

test: clarify cells search test doubles [WPB-20817]
  apps/webapp/src/script/components/cellsGlobalView/useSearchCellsNodes/useSearchCellsNodes.test.ts
Due: app_webapp

chore: clarify cells search cleanup ref usage [WPB-20817]
  apps/webapp/src/script/components/cellsGlobalView/useSearchCellsNodes/useSearchCellsNodes.ts
Due: app_webapp

fix: harden cells search against stale requests [WPB-20817]
  apps/webapp/src/script/components/cellsGlobalView/useSearchCellsNodes/useSearchCellsNodes.test.ts
  apps/webapp/src/script/components/cellsGlobalView/useSearchCellsNodes/useSearchCellsNodes.ts
Due: app_webapp

fix: add request version gate to ignore stale search responses [WPB-20817]
  apps/webapp/src/script/components/cellsGlobalView/useSearchCellsNodes/useSearchCellsNodes.test.ts
  apps/webapp/src/script/components/cellsGlobalView/useSearchCellsNodes/useSearchCellsNodes.ts
Due: app_webapp

chore: use logger for stale cells search requests [WPB-20817]
  apps/webapp/src/script/components/cellsGlobalView/useSearchCellsNodes/useSearchCellsNodes.test.ts
  apps/webapp/src/script/components/cellsGlobalView/useSearchCellsNodes/useSearchCellsNodes.ts
Due: app_webapp
