Repository wireapp/wire-webapp: changes, and which Codecov flags are due for each by the changed paths.
All: app_webapp, app_server, lib_core, lib_api_client

Fix copy-pasting text in the input area adding empty lines (#21084)
  apps/webapp/src/script/components/InputBar/InputBarEditor/RichTextEditor/plugins/ReplaceCarriageReturnPlugin/ReplaceCarriageReturnPlugin.ts
Due: app_webapp

fix: duplicate focus outline on full search input
  apps/webapp/src/script/page/MainContent/panels/Collection/FullSearch.tsx
Due: app_webapp

fix: store last used virtual background id and restore it when virtual background is enabled again.
  apps/webapp/src/script/components/calling/VideoControls/VideoControls.tsx
  apps/webapp/src/script/repositories/media/backgroundEffectsHandler.test.ts
  apps/webapp/src/script/repositories/media/backgroundEffectsHandler.ts
  apps/webapp/src/script/repositories/media/useBackgroundEffectsStore.ts
Due: app_webapp

fix: code review compliance
  apps/webapp/src/script/components/calling/VideoControls/VideoControls.tsx
  apps/webapp/src/script/repositories/media/backgroundEffectsHandler.test.ts
  apps/webapp/src/script/repositories/media/backgroundEffectsHandler.ts
  apps/webapp/src/script/repositories/media/useBackgroundEffectsStore.test.ts
  apps/webapp/src/script/repositories/media/useBackgroundEffectsStore.ts
Due: app_webapp

fix: disable high quality checkbox [WPB-24521] (#21069)
  apps/webapp/src/script/components/calling/VideoControls/VideoBackgroundSettings/VideoBackgroundSettings.test.tsx
  apps/webapp/src/script/components/calling/VideoControls/VideoBackgroundSettings/VideoBackgroundSettings.tsx
Due: app_webapp

fix(ci): fail the required precommit Playwright check when upstream E2E fails
  .github/workflows/precommit-crit-flows.yml
Due: none

add early return instead of nested ifs
  apps/webapp/src/script/view_model/ActionsViewModel.ts
Due: app_webapp

fix(ci): fail the required precommit Playwright check when upstream E2E fails (#21093)
  .github/workflows/precommit-crit-flows.yml
Due: none

fix: restore last used virtual background [WPB-24451] (#21068)
  apps/webapp/src/script/components/calling/VideoControls/VideoControls.tsx
  apps/webapp/src/script/repositories/media/backgroundEffectsHandler.test.ts
  apps/webapp/src/script/repositories/media/backgroundEffectsHandler.ts
  apps/webapp/src/script/repositories/media/useBackgroundEffectsStore.test.ts
  apps/webapp/src/script/repositories/media/useBackgroundEffectsStore.ts
Due: app_webapp

fix(mls): log actual conversation IDs in MLS decryption messages
  libraries/core/src/messagingProtocols/mls/eventHandler/events/messageAdd/messageAdd.ts
  libraries/core/src/messagingProtocols/mls/mlsService/mlsService.ts
Due: lib_core

ci: add realistic timeouts to Playwright workflows
  .github/workflows/e2e-tests.yml
  .github/workflows/playwright-crit-flow-tests.yml
  .github/workflows/playwright-smoke-tests.yml
  .github/workflows/run-cells-crit-flow-e2e-tests.yml
Due: none

ci: stop automatic pull request labeling
  .github/labeler.yml
  .github/workflows/label.yml
Due: none

fix(mls): log actual conversation IDs in MLS decryption messages (#21095)
  libraries/core/src/messagingProtocols/mls/eventHandler/events/messageAdd/messageAdd.ts
  libraries/core/src/messagingProtocols/mls/mlsService/mlsService.ts
Due: lib_core

fix: duplicate focus outline on full search input (#21089)
  apps/webapp/src/script/page/MainContent/panels/Collection/FullSearch.tsx
Due: app_webapp

fix: refactor pipeline initialization logic to ensure proper state handling and prevent multiple calls.
  apps/webapp/src/script/repositories/media/backgroundEffects/effects/backgroundEffectsController.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/effects/capability.ts
Due: app_webapp

ci: add realistic timeouts to Playwright workflows (#21096)
  .github/workflows/e2e-tests.yml
  .github/workflows/playwright-crit-flow-tests.yml
  .github/workflows/playwright-smoke-tests.yml
  .github/workflows/run-cells-crit-flow-e2e-tests.yml
Due: none

made pushing into the services list more functional
  apps/webapp/src/script/page/RightSidebar/conversationDetails/conversationDetails.tsx
Due: app_webapp

remove predicate in groupParticipantService.tsx
  apps/webapp/src/script/page/RightSidebar/groupParticipantService/groupParticipantService.tsx
Due: app_webapp

add error message in ActionsViewModel.ts
  apps/webapp/src/script/view_model/ActionsViewModel.ts
Due: app_webapp

feat: remove Countly retry reporting startup flag
  apps/webapp/src/script/components/AppContainer/AppContainer.tsx
  apps/webapp/src/script/featureToggles/startupFeatureToggleNames.ts
  apps/webapp/src/script/featureToggles/startupFeatureToggles.test.ts
  apps/webapp/src/script/main/app.ts
  apps/webapp/src/script/repositories/tracking/EventTrackingRepository.ts
Due: app_webapp

refactored serviceEntity fetching in conversationDetails.tsx
  apps/webapp/src/script/page/RightSidebar/conversationDetails/conversationDetails.tsx
Due: app_webapp

explicit null check
  apps/webapp/src/script/page/RightSidebar/groupParticipantService/groupParticipantService.tsx
Due: app_webapp

feat: app details view (WPB-21440) (#21081)
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/Avatar/AvatarImage.tsx
  apps/webapp/src/script/components/panel/ServiceDetails.styles.ts
  apps/webapp/src/script/components/panel/ServiceDetails.tsx
  apps/webapp/src/script/page/RightSidebar/RightSidebar.tsx
  apps/webapp/src/script/page/RightSidebar/conversationDetails/conversationDetails.tsx
  apps/webapp/src/script/page/RightSidebar/groupParticipantService/groupParticipantService.tsx
  apps/webapp/src/script/repositories/integration/ServiceEntity.ts
  apps/webapp/src/script/repositories/team/TeamRepository.ts
  apps/webapp/src/script/view_model/ActionsViewModel.ts
  apps/webapp/src/types/i18n.d.ts
Due: app_webapp

revert show apps tab in connect flow
  apps/webapp/src/script/page/LeftSidebar/panels/StartUI/StartUI.tsx
Due: app_webapp

remove whitelisted services from app feature availability check
  apps/webapp/src/script/components/Modals/CreateConversation/CreateConversationSteps/Preference.test.tsx
  apps/webapp/src/script/components/Modals/CreateConversation/CreateConversationSteps/Preference.tsx
  apps/webapp/src/script/components/Modals/GroupCreation/GroupCreationModal.test.tsx
  apps/webapp/src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
  apps/webapp/src/script/page/RightSidebar/guestServicesOptions/components/servicesOptions/serviceOptions.test.tsx
  apps/webapp/src/script/page/RightSidebar/guestServicesOptions/components/servicesOptions/servicesOptions.tsx
  apps/webapp/src/script/page/RightSidebar/guestServicesOptions/guestServicesOptions.test.tsx
  apps/webapp/src/script/util/featureUtil.test.ts
  apps/webapp/src/script/util/featureUtil.ts
Due: app_webapp

ci: stop automatic pull request labeling (#21097)
  .github/labeler.yml
  .github/workflows/label.yml
Due: none

fix(api-client): normalize axios header values after upgrade
  libraries/api-client/src/asset/assetApi.ts
  libraries/api-client/src/team/member/memberApi.ts
Due: lib_api_client

test: add critical-flow smoke test for bootstrap runtime errors
  apps/webapp/test/e2e_tests/specs/CriticalFlow/startupHasNoConsoleErrors.spec.ts
Due: app_webapp

test: run bootstrap smoke test before the sharded E2E suite
  .github/workflows/e2e-tests.yml
Due: none

test: limit bootstrap smoke test to real runtime errors
  apps/webapp/test/e2e_tests/specs/CriticalFlow/startupHasNoConsoleErrors.spec.ts
Due: app_webapp

test: add critical-flow smoke test for bootstrap runtime errors [WPB-22420] (#21094)
  .github/workflows/e2e-tests.yml
  apps/webapp/test/e2e_tests/specs/CriticalFlow/startupHasNoConsoleErrors.spec.ts
Due: app_webapp

feat: remove Countly retry reporting startup flag (#21098)
  apps/webapp/src/script/components/AppContainer/AppContainer.tsx
  apps/webapp/src/script/featureToggles/startupFeatureToggleNames.ts
  apps/webapp/src/script/featureToggles/startupFeatureToggles.test.ts
  apps/webapp/src/script/main/app.ts
  apps/webapp/src/script/repositories/tracking/EventTrackingRepository.ts
Due: app_webapp

ci: run E2E shards in Playwright container
  .github/workflows/e2e-tests.yml
  renovate.json
Due: none

ci: run E2E shards in Playwright container (#21103)
  .github/workflows/e2e-tests.yml
  renovate.json
Due: none

revert show apps tab in connect flow (#21104)
  apps/webapp/src/script/page/LeftSidebar/panels/StartUI/StartUI.tsx
Due: app_webapp

remove whitelisted services from app feature availability check (#21105)
  apps/webapp/src/script/components/Modals/CreateConversation/CreateConversationSteps/Preference.test.tsx
  apps/webapp/src/script/components/Modals/CreateConversation/CreateConversationSteps/Preference.tsx
  apps/webapp/src/script/components/Modals/GroupCreation/GroupCreationModal.test.tsx
  apps/webapp/src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
  apps/webapp/src/script/page/RightSidebar/guestServicesOptions/components/servicesOptions/serviceOptions.test.tsx
  apps/webapp/src/script/page/RightSidebar/guestServicesOptions/components/servicesOptions/servicesOptions.tsx
  apps/webapp/src/script/page/RightSidebar/guestServicesOptions/guestServicesOptions.test.tsx
  apps/webapp/src/script/util/featureUtil.test.ts
  apps/webapp/src/script/util/featureUtil.ts
Due: app_webapp

chore(style): format Renovate configuration with Prettier
  renovate.json
Due: none

fix: replace close button with x and update performance panel styles [WPB-24452] (#21073)
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/calling/VideoControls/videoBackgroundPerformancePanel/videoBackgroundPerformancePanel.styles.ts
  apps/webapp/src/script/components/calling/VideoControls/videoBackgroundPerformancePanel/videoBackgroundPerformancePanel.tsx
  apps/webapp/src/types/i18n.d.ts
Due: app_webapp

Path conditions:
  app_webapp: any of: apps/webapp/**
  app_server: any of: apps/server/**
  lib_core: any of: libraries/core/**
  lib_api_client: any of: libraries/api-client/**
