Repository wireapp/wire-webapp: changes, and which Codecov flags are due for each by the changed paths.
All: app_webapp, app_server

test(WPB-19934): fix and refactor Accessability tests
  apps/webapp/src/script/components/TitleBar/TitleBar.tsx
  apps/webapp/test/e2e_tests/pageManager/index.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/conversation.page.ts
  apps/webapp/test/e2e_tests/specs/Accessibility/Accessibility.spec.ts
Due: app_webapp

chore(core): monorepo integration setup
  .gitignore
  apps/webapp/jest.config.ts
  apps/webapp/package.json
  apps/webapp/src/script/util/DebugUtil.ts
  codecov.yml
  eslint.config.ts
  jest.preset.js
  libraries/core/.eslintrc.json
  libraries/core/jest.config.js
  libraries/core/package.json
  libraries/core/project.json
  libraries/core/src/conversation/AssetService/AssetService.ts
  libraries/core/src/conversation/message/MessageService.ts
  libraries/core/src/cryptography/AssetCryptography/crypto.browser.ts
  libraries/core/src/cryptography/MessageHashService.ts
  libraries/core/src/index.ts
  libraries/core/src/messagingProtocols/mls/E2EIdentityService/E2EIService.types.ts
  libraries/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceInternal.ts
  libraries/core/src/messagingProtocols/mls/E2EIdentityService/Steps/Authorization.ts
  libraries/core/src/messagingProtocols/proteus/ProteusService/CryptoClient/CryptoboxWrapper.ts
  libraries/core/src/notification/NotificationService.ts
  libraries/core/src/secretStore/encryptedStore.ts
  libraries/core/src/user/UserService.ts
  libraries/core/src/util/bufferUtils.ts
  libraries/core/src/util/index.ts
  libraries/core/tsconfig.eslint.json
  libraries/core/tsconfig.json
  package.json
  yarn.lock
Due: app_webapp

chore(deps): upgrade libsodium-wrappers-sumo to 0.8.0
  apps/webapp/package.json
  apps/webapp/src/script/repositories/backup/BackUpHeader.ts
  apps/webapp/src/script/repositories/backup/BackupHeader.test.tsx
  apps/webapp/src/script/repositories/backup/zipWorker.ts
  apps/webapp/src/script/repositories/user/AppLockRepository.ts
  yarn.lock
Due: app_webapp

chore: remove libsodium 0.7.16 workaround script
  bin/fix-libsodium-wrappers.js
  package.json
Due: none

fix(webapp): optimize webpack snapshot watching for monorepo
  apps/webapp/webpack.config.dev.js
Due: app_webapp

docs: add core library information to all documentation
  .github/copilot-instructions.md
  CLAUDE.md
  README.md
Due: none

docs: rewrite copilot instructions with critical info first
  .github/copilot-instructions.md
Due: none

test(WPB-19934): fix and refactor Accessability tests (#20046)
  apps/webapp/src/script/components/TitleBar/TitleBar.tsx
  apps/webapp/test/e2e_tests/pageManager/index.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/conversation.page.ts
  apps/webapp/test/e2e_tests/specs/Accessibility/Accessibility.spec.ts
Due: app_webapp

fix(lint): add core library tsconfig to ESLint import resolver
  eslint.config.ts
Due: none

chore(deps): dedupe and pin dependency versions across monorepo
  apps/server/package.json
  apps/webapp/package.json
  libraries/core/package.json
  package.json
  yarn.lock
Due: app_webapp, app_server

fix(build): ensure library dependencies are built before webapp
  apps/webapp/project.json
  nx.json
Due: app_webapp

fix(lint): resolve ESLint import errors for @wireapp/core modules
  eslint.config.ts
  tsconfig.eslint.json
Due: none

ci: add core library coverage upload to Codecov
  .github/workflows/ci.yml
Due: none

chore(docs): add and update nx documentation
  docs/how-to-work-with-nx.md
  docs/nx-monorepo-integration-overview.md
Due: none

chore(docs): add and update nx documentation
  docs/how-to-work-with-nx.md
Due: none

chore: bump react-ui-kit
  apps/webapp/package.json
  yarn.lock
Due: app_webapp

chore(nx): fix eslint setup for monorepo, remove old eslint config from core
  eslint.config.ts
  libraries/core/.eslintrc.json
  libraries/core/src/demo/index.html
  libraries/core/tsconfig.eslint.json
Due: none

chore: Monorepo integration
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/publish-libraries.yml
  codecov.yml
  docs/library-publishing.md
  eslint.config.ts
  libraries/api-client/jest.config.js
  libraries/api-client/package.json
  libraries/api-client/project.json
  libraries/api-client/src/APIClient.ts
  libraries/api-client/src/asset/AssetAPI.ts
  libraries/api-client/src/cells/CellsAPI.ts
  libraries/api-client/src/conversation/NewConversation.ts
  libraries/api-client/tsconfig.eslint.json
  libraries/api-client/tsconfig.json
  libraries/core/package.json
  nx.json
  package.json
  tsconfig.base.json
  tsconfig.eslint.json
  yarn.lock
Due: none

chore(nx): build libraries before linting and testing
  .github/workflows/ci.yml
  tsconfig.base.json
Due: none

dev:packages
  libraries/api-client/src/APIClient.ts
  package.json
Due: none

fix: clean up video source on stream change and component unmount
  apps/webapp/src/script/page/MainContent/panels/preferences/avPreferences/CameraPreferences.tsx
Due: app_webapp

chore: update project configuration to ensure build dependencies are resolved before serving and watching
  CLAUDE.md
  apps/server/project.json
  libraries/core/project.json
  nx.json
  package.json
Due: app_server

feat: refactor cells node share modal, add password, expiration section(WPB-20913)
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/Cells/ShareModal/CellsShareModalContent.tsx
  apps/webapp/src/script/components/Cells/ShareModal/useCellExpirationToggle.ts
  apps/webapp/src/script/components/Cells/ShareModal/useCellPasswordToggle.ts
  apps/webapp/src/script/components/CellsGlobalView/CellsTable/CellsTableColumns/CellsShareModal/CellsShareModal.styles.ts
  apps/webapp/src/script/components/CellsGlobalView/CellsTable/CellsTableColumns/CellsShareModal/CellsShareModal.tsx
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsNodeShareModal/CellsNodeShareModal.styles.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsNodeShareModal/CellsNodeShareModal.tsx
  apps/webapp/src/style/common/mixins.less
  apps/webapp/src/style/foundation/themes.less
  apps/webapp/src/types/i18n.d.ts
Due: app_webapp

test(search): add regression tests for user search functionality
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/startUI.page.ts
  apps/webapp/test/e2e_tests/specs/Search/search.spec.ts
Due: app_webapp

test(WPB-19967): Add regression tests for user search functionality (#20045)
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/startUI.page.ts
  apps/webapp/test/e2e_tests/specs/Search/search.spec.ts
Due: app_webapp

build all
  .github/workflows/publish-libraries.yml
Due: none

remove jest config
  libraries/api-client/jest.config.js
Due: none

remove demo and start scripts
  libraries/api-client/demo.ts
  libraries/api-client/package.json
Due: none

remove tsconfig
  libraries/api-client/tsconfig.eslint.json
Due: none

remove demo command
  libraries/api-client/project.json
Due: none

update docs
  docs/library-publishing.md
Due: none

feat: add dark/light theme support for switch component [WPB-20913] (#20043)
  apps/webapp/package.json
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/AppContainer/AppContainer.tsx
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsNodeShareModal/CellsNodeShareModal.styles.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsNodeShareModal/CellsNodeShareModal.tsx
  apps/webapp/src/types/i18n.d.ts
  yarn.lock
Due: app_webapp

fix: update background color for focus-visible on inactive buttons
  apps/webapp/src/script/components/calling/VideoControls/VideoControls.styles.ts
  apps/webapp/src/style/foundation/video-calling.less
Due: app_webapp

fix: update background color for focus-visible on inactive buttons (#20063)
  apps/webapp/src/script/components/calling/VideoControls/VideoControls.styles.ts
  apps/webapp/src/style/foundation/video-calling.less
Due: app_webapp

feat: create shared password generate section with independent state handling(WPB-20913)
  apps/webapp/src/script/components/Cells/ShareModal/CellsShareModalContent.tsx
  apps/webapp/src/script/components/Cells/ShareModal/CellsSharePasswordStyles.ts
  apps/webapp/src/script/components/CellsGlobalView/CellsTable/CellsTableColumns/CellsShareModal/CellsShareModal.styles.ts
  apps/webapp/src/script/components/CellsGlobalView/CellsTable/CellsTableColumns/CellsShareModal/CellsShareModal.tsx
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsNodeShareModal/CellsNodeShareModal.styles.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsNodeShareModal/CellsNodeShareModal.tsx
Due: app_webapp

Refactor: Extract env config to shared library
  apps/server/config/index.ts
  apps/server/package.json
  apps/server/project.json
  apps/webapp/package.json
  apps/webapp/project.json
  apps/webapp/src/types/Wire.types.ts
  apps/webapp/tsconfig.json
  libraries/config/.env.localhost
  libraries/config/README.md
  libraries/config/package.json
  libraries/config/project.json
  libraries/config/src/client.config.ts
  libraries/config/src/config.types.ts
  libraries/config/src/env.ts
  libraries/config/src/index.ts
  libraries/config/src/server.config.ts
  libraries/config/tsconfig.json
  plans/refactor-env-config-to-shared-library.md
  yarn.lock
Due: app_webapp, app_server

chore: add plans to gitignore
  .gitignore
  plans/refactor-env-config-to-shared-library.md
Due: none

feat: add Jest config for config-lib
  libraries/config/jest.config.js
Due: none

feat: add build:libs script to build all libraries
  package.json
Due: none

Path conditions:
  app_webapp: any of: apps/webapp/**
  app_server: any of: apps/server/**
