Repository wireapp/wire-webapp: changes, and which Codecov flags are due for each by the changed paths.
All: app_webapp, app_server, lib_core, lib_api_client

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '45...80'
  status:
    project:
      default:
        target: auto
      app_webapp:
        target: auto
        flags:
          - app_webapp
      app_server:
        target: auto
        flags:
          - app_server
      lib_core:
        target: auto
        flags:
          - lib_core
      lib_api_client:
        target: auto
        flags:
          - lib_api_client
    patch:
      default:
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: 'diff, flags, files'
  behavior: default
  require_changes: no

flags:
  app_webapp:
    paths:
      - 'apps/webapp/**'
    carryforward: false
  app_server:
    paths:
      - 'apps/server/**'
    carryforward: true
  lib_core:
    paths:
      - 'libraries/core/**'
    carryforward: true
  lib_api_client:
    paths:
      - 'libraries/api-client/**'
    carryforward: true

github_checks:
  annotations: false

chore(api-client): Trigger publish [WPB-23275]
  libraries/api-client/src/APIClient.ts
Due: lib_api_client

chore(api-client): Trigger publish [WPB-23275] (#20364)
  libraries/api-client/src/APIClient.ts
Due: lib_api_client

chore: Auto merge package release PRs [WPB-23275]
  .github/workflows/pr-auto-merge.yml
Due: none

chore: Auto merge package release PRs [WPB-23275] (#20367)
  .github/workflows/pr-auto-merge.yml
Due: none

chore: Add maintenance ticket number to package release PR title [WPB-23275]
  .github/workflows/publish-libraries.yml
Due: none

chore: Add maintenance ticket number to package release PR title [WPB-23275] (#20368)
  .github/workflows/publish-libraries.yml
Due: none

test: hasPreview flag to set true/false based on Preview object
  apps/webapp/src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/useGetMultipartAsset/useGetMultipartAsset.test.ts
Due: app_webapp

fix: Use small file cards when no preview is available(WPB-23340) (#20361)
  apps/webapp/src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/MultipartAssets.test.tsx
  apps/webapp/src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/MultipartAssets.tsx
  apps/webapp/src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/useGetMultipartAsset/useGetMultipartAsset.test.ts
  apps/webapp/src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/useGetMultipartAsset/useGetMultipartAsset.ts
Due: app_webapp

fix: compare original name for old and new name to disable the submit button when renaming(WPB-23294)
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsTableRowOptions/CellsRenameNodeModal/useCellsRenameNodeForm/useCellsRenameNodeForm.ts
Due: app_webapp

fix: rename normalization so trailing/leading spaces don’t change the base name and folders don’t get a dangling . when there’s no extension(WPB-20707)
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsTableRowOptions/CellsRenameNodeModal/useCellsRenameNodeForm/useCellsRenameNodeForm.ts
Due: app_webapp

fix: compare original name for old and new name to disable the submit button when renaming(WPB-23294) (#20372)
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsTableRowOptions/CellsRenameNodeModal/useCellsRenameNodeForm/useCellsRenameNodeForm.ts
Due: app_webapp

moved app endpoint to TeamAPI
  libraries/api-client/src/APIClient.ts
  libraries/api-client/src/team/app/NewApp.ts
  libraries/api-client/src/team/team/TeamAPI.ts
  libraries/api-client/src/team/team/app/NewApp.ts
  libraries/api-client/src/team/team/app/NewAppRequest.ts
  libraries/api-client/src/team/team/app/NewAppResponse.ts
Due: lib_api_client

added apps feature flag
  libraries/api-client/src/team/feature/FeatureAPI.ts
Due: lib_api_client

feat: added app creation to api-client
  libraries/api-client/src/APIClient.ts
  libraries/api-client/src/team/app/AppAPI.ts
  libraries/api-client/src/team/app/NewApp.ts
  libraries/api-client/src/team/app/NewAppRequest.ts
  libraries/api-client/src/team/app/NewAppResponse.ts
Due: lib_api_client

updated NewApp fields
  libraries/api-client/src/team/team/app/NewApp.ts
Due: lib_api_client

feat(WPB-20236): added app creation to api-client (#20365)
  libraries/api-client/src/team/feature/FeatureAPI.ts
  libraries/api-client/src/team/team/TeamAPI.ts
  libraries/api-client/src/team/team/app/NewApp.ts
  libraries/api-client/src/team/team/app/NewAppRequest.ts
  libraries/api-client/src/team/team/app/NewAppResponse.ts
Due: lib_api_client

chore: Remove precommit hooks [WPB-22420]
  .husky/pre-commit
  lint-staged.config.js
  package.json
Due: none

chore: update lock file
  yarn.lock
Due: none

chore: update docs
  README.md
  docs/tech-radar.md
Due: none

chore: Remove precommit hooks [WPB-22420] (#20373)
  .husky/pre-commit
  README.md
  docs/tech-radar.md
  lint-staged.config.js
  package.json
  yarn.lock
Due: none

chore: Do not skip ci for package release PRs [WPB-23275]
  nx.json
Due: none

chore: include ticket number in commit message
  nx.json
Due: none

chore: Do not skip ci for package release PRs [WPB-23275] (#20375)
  nx.json
Due: none

fix(ci): use otto-the-bot token for library release PRs to trigger CI
  .github/workflows/pr-auto-merge.yml
  .github/workflows/publish-libraries-on-merge.yml
  .github/workflows/publish-libraries.yml
Due: none

fix(ci): move Dependabot metadata fetch before approval step
  .github/workflows/pr-auto-merge.yml
Due: none

fix(ci): use otto-the-bot token for library release PRs to trigger CI [WPB-23275] (#20378)
  .github/workflows/pr-auto-merge.yml
  .github/workflows/publish-libraries-on-merge.yml
  .github/workflows/publish-libraries.yml
Due: none

chore(release): publish [WPB-22420]
  libraries/api-client/package.json
  libraries/core/package.json
  yarn.lock
Due: lib_core, lib_api_client

chore(release): publish [WPB-22420] (#20379)
  libraries/api-client/package.json
  libraries/core/package.json
  yarn.lock
Due: lib_core, lib_api_client

fix(ci): fix nx release publish JSON parse error [WPB-23275]
  .github/workflows/publish-libraries-on-merge.yml
  libraries/api-client/package.json
Due: lib_api_client

fix(ci): fix nx release publish JSON parse error [WPB-23275] (#20380)
  .github/workflows/publish-libraries-on-merge.yml
  libraries/api-client/package.json
Due: lib_api_client

chore(ci): Allow manual trigger of publish to npm workflow [WPB-23275]
  .github/workflows/publish-libraries-on-merge.yml
Due: none

chore(ci): Allow manual trigger of publish to npm workflow [WPB-23275] (#20381)
  .github/workflows/publish-libraries-on-merge.yml
Due: none

chore(ci): Use correct repository url in libraries [WPB-23275]
  libraries/api-client/package.json
  libraries/core/package.json
Due: lib_core, lib_api_client

chore(ci): Use correct repository url in libraries [WPB-23275] (#20382)
  libraries/api-client/package.json
  libraries/core/package.json
Due: lib_core, lib_api_client

chore(ci): Make core package private [WPB-23275]
  libraries/core/package.json
Due: lib_core

test(WPB-19959): refactor markdown selectors to use accessibility roles
  apps/webapp/test/e2e_tests/specs/Markdown/markdown.spec.ts
Due: app_webapp

test(WPB-19959): add markdown regression e2e tests
  apps/webapp/test/e2e_tests/specs/Markdown/markdown.spec.ts
Due: app_webapp

test: add markdown regression e2e tests [WPB-19959] (#20371)
  apps/webapp/test/e2e_tests/specs/Markdown/markdown.spec.ts
Due: app_webapp

fix(api-client): add zod back as dependency of api client [WPB-22420]
  libraries/api-client/package.json
  yarn.lock
Due: lib_api_client

fix(api-client): add zod back as dependency of api client [WPB-22420] (#20384)
  libraries/api-client/package.json
  yarn.lock
Due: lib_api_client
