Repository wireapp/wire-webapp: changes, and which Codecov flags are due for each by the changed paths.
All: app_webapp, app_server, lib_core, lib_api_client

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '45...80'
  status:
    project:
      default:
        target: auto
      app_webapp:
        target: auto
        flags:
          - app_webapp
      app_server:
        target: auto
        flags:
          - app_server
      lib_core:
        target: auto
        flags:
          - lib_core
      lib_api_client:
        target: auto
        flags:
          - lib_api_client
    patch:
      default:
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: 'diff, flags, files'
  behavior: default
  require_changes: no

flags:
  app_webapp:
    paths:
      - 'apps/webapp/**'
    carryforward: false
  app_server:
    paths:
      - 'apps/server/**'
    carryforward: true
  lib_core:
    paths:
      - 'libraries/core/**'
    carryforward: true
  lib_api_client:
    paths:
      - 'libraries/api-client/**'
    carryforward: true

github_checks:
  annotations: false

duplicate file upload should be renamed- shared drive direct upload
  apps/webapp/test/e2e_tests/specs/Drive/fileUpload.spec.ts
Due: app_webapp

Remove old bot, add new app for reporting
  .github/actions/notify-deployoholics/action.yml
  .github/workflows/e2e-tests-nightly.yml
  .github/workflows/precommit-e2e-tests.yml
  .github/workflows/precommit-slot-run.yml
  .github/workflows/publish-main.yml
  .github/workflows/redeploy-production-from-tag.yml
  .github/workflows/release-webapp.yml
  .github/workflows/repair-production-distribution.yml
  .github/workflows/rollback-production.yml
Due: none

Add v19 meeting link creation support
  apps/webapp/src/script/Config.ts
  apps/webapp/src/script/components/meeting/mapApiMeetingToSeries.test.ts
  apps/webapp/src/script/components/meeting/mapApiMeetingToSeries.ts
  apps/webapp/src/script/components/meeting/mapMeetNowCommandToCreateMeeting.test.ts
  apps/webapp/src/script/components/meeting/mapMeetNowCommandToCreateMeeting.ts
  apps/webapp/src/script/components/meeting/mapScheduleCommandToCreateMeeting.test.ts
  apps/webapp/src/script/components/meeting/mapScheduleCommandToCreateMeeting.ts
  apps/webapp/src/script/components/meeting/meetNowModal/meetNowModal.test.tsx
  apps/webapp/src/script/components/meeting/meetingStore/createMeetingStore.ts
  apps/webapp/src/script/components/meeting/meetingStore/meetingStoreDeps.ts
  apps/webapp/src/script/components/meeting/meetingStore/meetingStoreRoot.test.tsx
  apps/webapp/src/script/components/meeting/meetingStore/meetingStoreRoot.tsx
  apps/webapp/src/script/components/meeting/scheduleMeetingModal/useScheduleMeetingSubmit.ts
  apps/webapp/src/script/components/meeting/shared/service/meetingService.test.ts
  apps/webapp/src/script/components/meeting/shared/service/meetingService.ts
  apps/webapp/src/script/components/meeting/types/meetingSeries.ts
  apps/webapp/src/script/repositories/conversation/ConversationRepository.ts
  apps/webapp/src/script/repositories/meetings/meetingsApiDataSource.test.ts
  apps/webapp/src/script/repositories/meetings/meetingsApiDataSource.ts
  apps/webapp/src/script/repositories/meetings/meetingsDataSource.ts
  apps/webapp/src/script/repositories/meetings/meetingsRepository.ts
  apps/webapp/src/script/util/canUseMeetings.test.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/meetings.page.ts
  apps/webapp/test/e2e_tests/specs/Meetings/meetings.spec.ts
  libraries/api-client/src/meetings/createMeeting.ts
  libraries/api-client/src/meetings/meeting.ts
  libraries/api-client/src/meetings/meetingSchema.test.ts
  libraries/api-client/src/meetings/meetingSchema.ts
  libraries/api-client/src/meetings/meetingsApi.test.ts
  libraries/api-client/src/meetings/meetingsApi.ts
Due: app_webapp, lib_api_client

Fix lint
  apps/webapp/src/script/components/meeting/mapApiMeetingToSeries.test.ts
  apps/webapp/src/script/components/meeting/mapScheduleCommandToCreateMeeting.test.ts
Due: app_webapp

Remove rotate meeting link related code from this PR
  apps/webapp/src/script/components/meeting/meetingStore/createMeetingStore.ts
  apps/webapp/src/script/components/meeting/meetingStore/meetingStoreDeps.ts
  apps/webapp/src/script/components/meeting/meetingStore/meetingStoreRoot.tsx
  apps/webapp/src/script/repositories/meetings/meetingsApiDataSource.ts
  apps/webapp/src/script/repositories/meetings/meetingsDataSource.ts
  apps/webapp/src/script/repositories/meetings/meetingsRepository.ts
  apps/webapp/test/e2e_tests/specs/Meetings/meetings.spec.ts
  libraries/api-client/src/meetings/meetingsApi.test.ts
  libraries/api-client/src/meetings/meetingsApi.ts
Due: app_webapp, lib_api_client

Renamed webhook url and token for results reporting
  .github/actions/notify-deployoholics/action.yml
  .github/workflows/precommit-slot-run.yml
  .github/workflows/publish-main.yml
  .github/workflows/redeploy-production-from-tag.yml
  .github/workflows/release-webapp.yml
  .github/workflows/repair-production-distribution.yml
  .github/workflows/rollback-production.yml
Due: none

Update .github/workflows/precommit-e2e-tests.yml
  .github/workflows/precommit-e2e-tests.yml
Due: none

Change var names ub precommit-e2e-tests.yml
  .github/workflows/precommit-e2e-tests.yml
Due: none

TMP add notify_deployoholics to be always true
  .github/workflows/precommit-e2e-tests.yml
Due: none

Reformat text and remove status
  .github/actions/notify-deployoholics/action.yml
  .github/workflows/precommit-slot-run.yml
  .github/workflows/publish-main.yml
  .github/workflows/redeploy-production-from-tag.yml
  .github/workflows/release-webapp.yml
  .github/workflows/repair-production-distribution.yml
  .github/workflows/rollback-production.yml
Due: none

Revert "TMP add notify_deployoholics to be always true"
  .github/workflows/precommit-e2e-tests.yml
Due: none

add E2E test user without upload permission cannot start an upload
  apps/webapp/test/e2e_tests/specs/Drive/fileUpload.spec.ts
Due: app_webapp
