Repository wireapp/wire-webapp: changes, and which Codecov flags are due for each by the changed paths.
All: app_webapp, app_server, lib_core, lib_api_client

fix: prevent command injection by passing grep as env var
  .github/workflows/e2e-tests.yml
Due: none

fix: [Web] Conversation search has a wrong Search placeholder(WPB-23058)
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsHeader/CellsHeader.tsx
Due: app_webapp

ci(WPB-19585): Add workflow to run e2e tests across different environments (#20156)
  .github/workflows/e2e-tests.yml
  .github/workflows/precommit-crit-flows.yml
  apps/webapp/test/e2e_tests/.env.fulu.tpl
  apps/webapp/test/e2e_tests/.env.imai.tpl
  apps/webapp/test/e2e_tests/.env.staging.tpl
  apps/webapp/test/e2e_tests/pageManager/index.ts
Due: app_webapp

Applied more review suggestions
  apps/webapp/test/e2e_tests/README.md
  apps/webapp/test/e2e_tests/pageManager/webapp/cells/cellsConversation.page.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/cells/cellsConversationFiles.page.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/Cells/uploadingFileInGroupConversation.spec.ts
Due: app_webapp

Changed placeholder value and improved locators
  apps/webapp/test/e2e_tests/pageManager/webapp/cells/cellsConversation.page.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/cells/cellsConversationFiles.page.ts
Due: app_webapp

ci(WPB-19585): change type of backendUrl input of e2e workflow
  .github/workflows/e2e-tests.yml
Due: none

ci(WPB-19585): change type of backendUrl input of e2e workflow (#20231)
  .github/workflows/e2e-tests.yml
Due: none

fix: Conversation tab name localised cells(WPB-23086)
  apps/webapp/src/script/components/Conversation/ConversationTabs/ConversationTabs.tsx
Due: app_webapp

fix: add aria role to tooltip (#7843)
  src/DataDisplay/Tooltip/Tooltip.tsx
Due: none

fix: add aria role to tooltip (#7843)
  react-ui-kit/src/DataDisplay/Tooltip/Tooltip.tsx
Due: none

chore: Publish [skip ci]
  react-ui-kit/CHANGELOG.md
  react-ui-kit/package.json
Due: none

chore: Publish [skip ci]
  CHANGELOG.md
  package.json
Due: none

fix: Conversation tab name localised cells(WPB-23086) (#20233)
  apps/webapp/src/script/components/Conversation/ConversationTabs/ConversationTabs.tsx
Due: app_webapp

chore(WPB-22420): upgrade @wireapp/react-ui-kit to v9.73.9
  apps/webapp/package.json
  yarn.lock
Due: app_webapp

chore(WPB-22420): upgrade @wireapp/react-ui-kit to v9.73.9 (#20234)
  apps/webapp/package.json
  yarn.lock
Due: app_webapp

chore: add testKey as annotation to test
  apps/webapp/test/e2e_tests/test.fixtures.ts
Due: app_webapp

fix: use "testid" as attribute name for automatic pickup in testiny
  apps/webapp/test/e2e_tests/test.fixtures.ts
Due: app_webapp

feat: Collabora support for missing file extensions [WPB-22586]
  apps/webapp/src/script/util/FileTypeUtil.test.ts
  apps/webapp/src/script/util/FileTypeUtil.ts
Due: app_webapp

docs: add comment on which specs need to be updated
  apps/webapp/test/e2e_tests/test.fixtures.ts
Due: app_webapp

test: fix duplicate test id
  apps/webapp/test/e2e_tests/specs/2FA-for-TeamsSpecs/2fa-for-teams.spec.ts
Due: app_webapp

fix: Correct translation for drive tab title [WPB-23102]
  apps/webapp/src/i18n/de-DE.json
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsHeader/CellsHeader.tsx
  apps/webapp/src/types/i18n.d.ts
Due: app_webapp

Update apps/webapp/src/i18n/de-DE.json
  apps/webapp/src/i18n/de-DE.json
Due: app_webapp

chore: remove test trigger from workflow
  .github/workflows/e2e-tests-nightly.yml
Due: none

ci: add nightly pipeline to run tests and report to testiny
  .github/workflows/e2e-tests-nightly.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/playwright-regression-flow-tests.yml
  apps/webapp/playwright.config.ts
Due: app_webapp

ci: add explicit concurrency control
  .github/workflows/e2e-tests-nightly.yml
Due: none

ci(WPB-20496): Add nightly pipeline to upload e2e test results to Testiny (#20178)
  .github/workflows/e2e-tests-nightly.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/playwright-regression-flow-tests.yml
  apps/webapp/playwright.config.ts
  apps/webapp/test/e2e_tests/specs/2FA-for-TeamsSpecs/2fa-for-teams.spec.ts
  apps/webapp/test/e2e_tests/test.fixtures.ts
Due: app_webapp

chore: remove unnecessarry logs [WPB-22748]
  libraries/core/src/Account.ts
  libraries/core/src/messagingProtocols/proteus/EventHandler/events/otrMessageAdd/otrMessageAdd.ts
Due: lib_core

chore: remove unnecessary logs [WPB-22748] (#20237)
  libraries/core/src/Account.ts
  libraries/core/src/messagingProtocols/proteus/EventHandler/events/otrMessageAdd/otrMessageAdd.ts
Due: lib_core

fix test
  apps/webapp/src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/FileAssetCard/common/FileAssetOptions/FileAssetOptions.test.tsx
Due: app_webapp

fix: Correct translation for drive tab title [WPB-23102] (#20236)
  apps/webapp/src/i18n/de-DE.json
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsHeader/CellsHeader.tsx
  apps/webapp/src/types/i18n.d.ts
Due: app_webapp

feat: Conversation search misses Shared Drive button(WPB-23027)
  apps/webapp/project.json
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/page/MainContent/panels/Collection/Collection.tsx
  apps/webapp/src/types/i18n.d.ts
Due: app_webapp

fix: the search input field should be in active state in the Shared drive/Files Tab(WPB-23027)
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsHeader/CellsHeader.styles.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsHeader/CellsHeader.tsx
Due: app_webapp

fix: remove unwanted changes
  apps/webapp/project.json
Due: app_webapp

rename job to test
  .github/workflows/ci.yml
Due: none

ci: push PR docker images to quay [WPB-22715] (#20093)
  .github/workflows/ci.yml
  bin/push_docker.js
Due: none

chore: helm chart - allow multiple installs in same namespace [WPB-22715] (#20153)
  charts/webapp/templates/_helpers.tpl
  charts/webapp/templates/deployment.yaml
  charts/webapp/templates/ingress.yaml
  charts/webapp/templates/poddisruptionbudget.yaml
  charts/webapp/templates/service.yaml
  charts/webapp/values.yaml
Due: none

test(WPB-22420): fix TC-60 for SCIM integration
  apps/webapp/test/e2e_tests/pageManager/webapp/modals/confirmLogout.modal.ts
  apps/webapp/test/e2e_tests/specs/AccountSettingsSpecs/accountSettings.spec.ts
Due: app_webapp

refactor: wrap test in describe to ensure cleanup is ran
  apps/webapp/test/e2e_tests/specs/AccountSettingsSpecs/accountSettings.spec.ts
Due: app_webapp

fix: handle profile img upload on logging enable env [WPB-23055]
  apps/webapp/src/script/repositories/assets/AssetRepository.ts
  apps/webapp/src/script/repositories/conversation/MessageRepository.ts
  apps/webapp/src/script/repositories/team/TeamState.ts
  apps/webapp/src/script/repositories/user/UserRepository.ts
  libraries/core/src/linkPreview/LinkPreviewService.ts
Due: app_webapp, lib_core

test(WPB-22420): fix TC-60 for SCIM integration (#20240)
  apps/webapp/test/e2e_tests/pageManager/webapp/modals/confirmLogout.modal.ts
  apps/webapp/test/e2e_tests/specs/AccountSettingsSpecs/accountSettings.spec.ts
Due: app_webapp

Path conditions:
  app_webapp: any of: apps/webapp/**
  app_server: any of: apps/server/**
  lib_core: any of: libraries/core/**
  lib_api_client: any of: libraries/api-client/**
