Repository wireapp/wire-webapp: changes, and which Codecov flags are due for each by the changed paths.
All: app_webapp, app_server, lib_core, lib_api_client

chore: enforce unknown-typed Promise catch callbacks (#20707)
  apps/server/index.ts
  apps/webapp/src/script/auth/page/ConversationJoin.tsx
  apps/webapp/src/script/auth/page/Login.tsx
  apps/webapp/src/script/auth/page/SingleSignOnForm.tsx
  apps/webapp/src/script/components/Conversation/useFilesUploadDropzone/useFilesUploadDropzone.ts
  apps/webapp/src/script/components/MessagesList/Message/ContentMessage/asset/AudioAsset/AudioAsset.tsx
  apps/webapp/src/script/components/MessagesList/Message/ContentMessage/asset/VideoAsset/VideoAsset.tsx
  apps/webapp/src/script/components/UserDevices/components/DeviceDetails/DeviceDetails.tsx
  apps/webapp/src/script/page/MainContent/panels/preferences/avPreferences/InputLevel.tsx
  apps/webapp/src/script/repositories/audio/AudioRepository.ts
  apps/webapp/src/script/repositories/backup/BackupRepository.ts
  apps/webapp/src/script/repositories/calling/AudioSpeakerFactory.ts
  apps/webapp/src/script/repositories/calling/CallingRepository.ts
  apps/webapp/src/script/repositories/client/ClientRepository.test.ts
  apps/webapp/src/script/repositories/client/ClientRepository.ts
  apps/webapp/src/script/repositories/conversation/ConversationRepository.ts
  apps/webapp/src/script/repositories/cryptography/CryptographyMapper.test.ts
  apps/webapp/src/script/repositories/media/MediaStreamHandler.ts
  apps/webapp/src/script/repositories/media/VideoBackgroundBlur.ts
  apps/webapp/test/e2e_tests/scripts/send-playwright-results-to-testiny.ts
  eslint.config.ts
  libraries/core/src/messagingProtocols/mls/EventHandler/events/messageAdd/messageAdd.ts
  libraries/core/src/messagingProtocols/proteus/ProteusService/CryptoClient/CoreCryptoWrapper/CoreCryptoWrapper.ts
Due: app_webapp, app_server, lib_core

chore: normalize auth nullability for strictNullChecks
  apps/webapp/src/script/auth/module/action/ValidationError.ts
  apps/webapp/src/script/auth/module/reducer/inviteReducer.ts
  apps/webapp/src/script/auth/module/reducer/selfReducer.ts
  apps/webapp/src/script/auth/module/selector/SelfSelector.ts
  apps/webapp/src/script/auth/page/SetEmail.tsx
  apps/webapp/src/script/auth/page/SetPassword.tsx
Due: app_webapp

chore(ci): cut redundant webapp build from validation jobs
  project.json
Due: none

feat: persist preferred background effect so that settings remain after the app restarts
  apps/webapp/src/script/repositories/media/BackgroundEffectsHandler.ts
  apps/webapp/src/script/util/DebugUtil.ts
Due: app_webapp

feat: prevent caching of version metadata and log deployed startup version
  apps/server/index.ts
  apps/server/routes/RedirectRoutes.test.ts
  apps/server/routes/RedirectRoutes.ts
  apps/server/serverStartupLog.test.ts
  apps/server/serverStartupLog.ts
Due: app_server

feat: prevent caching of version metadata and log deployed startup version (#20710)
  apps/server/index.ts
  apps/server/routes/RedirectRoutes.test.ts
  apps/server/routes/RedirectRoutes.ts
  apps/server/serverStartupLog.test.ts
  apps/server/serverStartupLog.ts
Due: app_server

chore(ci): cut redundant webapp build from validation jobs (#20709)
  project.json
Due: none

chore: normalize auth nullability for strictNullChecks (#20708)
  apps/webapp/src/script/auth/module/action/ValidationError.ts
  apps/webapp/src/script/auth/module/reducer/inviteReducer.ts
  apps/webapp/src/script/auth/module/reducer/selfReducer.ts
  apps/webapp/src/script/auth/module/selector/SelfSelector.ts
  apps/webapp/src/script/auth/page/SetEmail.tsx
  apps/webapp/src/script/auth/page/SetPassword.tsx
Due: app_webapp

ci: stop rerunning unit tests in publish workflow
  .github/workflows/publish.yml
Due: none

ci: stop rerunning unit tests in publish workflow (#20711)
  .github/workflows/publish.yml
Due: none

test(e2e): align markdown composer coverage with editor behavior
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/conversation.page.ts
  apps/webapp/test/e2e_tests/specs/Markdown/markdown.spec.ts
Due: app_webapp

use pre exisiting funciton
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/conversation.page.ts
Due: app_webapp

feat: prevent caching for client version check responses
  apps/server/routes/client-version-check/ClientVersionCheckRoute.test.ts
  apps/server/routes/client-version-check/ClientVersionCheckRoute.ts
Due: app_server

feat: prevent caching for client version check responses (#20714)
  apps/server/routes/client-version-check/ClientVersionCheckRoute.test.ts
  apps/server/routes/client-version-check/ClientVersionCheckRoute.ts
Due: app_server

clear input before typing
  apps/webapp/test/e2e_tests/pageManager/webapp/pages/conversation.page.ts
Due: app_webapp

fix reply tests
  apps/webapp/test/e2e_tests/specs/Reply/reply.spec.ts
Due: app_webapp

test: add uploaded and re-downloaded file test (TC-764, TC-765)
  apps/webapp/test/e2e_tests/specs/SendingAssets/sendingAssets.spec.ts
Due: app_webapp

test: implement TC-767
  apps/webapp/test/e2e_tests/specs/SendingAssets/sendingAssets.spec.ts
Due: app_webapp

test: add drag & drop test (TC-497)
  apps/webapp/test/e2e_tests/specs/SendingAssets/sendingAssets.spec.ts
  apps/webapp/test/e2e_tests/utils/asset.util.ts
Due: app_webapp

test: add delete audio message test (TC-111)
  apps/webapp/test/e2e_tests/specs/SendingAssets/sendingAssets.spec.ts
Due: app_webapp

test: write copy message via options test (TC-500)
  apps/webapp/test/e2e_tests/specs/SendingAssets/sendingAssets.spec.ts
Due: app_webapp

test: write copy & paste an image test (TC-498)
  apps/webapp/test/e2e_tests/specs/SendingAssets/sendingAssets.spec.ts
Due: app_webapp

test: verify conversation image open in fullscreen (TC-1193)
  apps/webapp/test/e2e_tests/specs/SendingAssets/sendingAssets.spec.ts
Due: app_webapp

refactor: remove redundant second user from test suite
  apps/webapp/test/e2e_tests/specs/SendingAssets/sendingAssets.spec.ts
Due: app_webapp

test: add cancel file upload test (TC-773)
  apps/webapp/test/e2e_tests/specs/SendingAssets/sendingAssets.spec.ts
Due: app_webapp

test: add TC-3728 verify obfuscated files are not downloadable
  apps/webapp/test/e2e_tests/specs/SendingAssets/sendingAssets.spec.ts
Due: app_webapp

refactor: switch default sender to User A for sending assets scenarios
  apps/webapp/test/e2e_tests/specs/SendingAssets/sendingAssets.spec.ts
Due: app_webapp

fix(server): resolve lint errors
  apps/server/Server.ts
  apps/server/routes/RedirectRoutes.ts
  apps/server/routes/client-version-check/ClientVersionCheckRoute.ts
Due: app_server

fix all lint errors and lint the server
  apps/server/config.ts
  apps/server/index.ts
  apps/server/project.json
  apps/server/routes/config/ConfigRoute.ts
  apps/server/serverStartupLog.ts
Due: app_server

chore: add server lint target and fix existing server lint violations
  apps/server/Server.ts
  apps/server/config.ts
  apps/server/index.ts
  apps/server/project.json
  apps/server/routes/RedirectRoutes.ts
  apps/server/routes/Root.ts
  apps/server/routes/client-version-check/ClientVersionCheckRoute.ts
  apps/server/routes/config/ConfigRoute.ts
  apps/server/routes/error/ErrorRoutes.ts
  apps/server/serverStartupLog.ts
  apps/server/util/TimeUtil.ts
Due: app_server

chore: add server lint target and fix existing server lint violations (#20717)
  apps/server/Server.ts
  apps/server/config.ts
  apps/server/index.ts
  apps/server/project.json
  apps/server/routes/RedirectRoutes.ts
  apps/server/routes/Root.ts
  apps/server/routes/client-version-check/ClientVersionCheckRoute.ts
  apps/server/routes/config/ConfigRoute.ts
  apps/server/routes/error/ErrorRoutes.ts
  apps/server/serverStartupLog.ts
  apps/server/util/TimeUtil.ts
Due: app_server

ci: enforce WPB Jira key pattern in PR linking workflow
  .github/workflows/jira-lint-and-link.yml
Due: none

fix: Use correct websocket address [WPB-22420]
  libraries/api-client/src/tcp/WebSocketClient.ts
Due: lib_api_client

remove the payload
  apps/webapp/src/script/repositories/event/EventRepository.ts
Due: app_webapp

fix: Use correct websocket address [WPB-22420] (#20721)
  apps/webapp/src/script/repositories/event/EventRepository.ts
  libraries/api-client/src/tcp/WebSocketClient.ts
Due: app_webapp, lib_api_client

chore: establish gradual filename policy enforcement
  .github/workflows/ci.yml
  .ls-lint.yml
  package.json
  yarn.lock
Due: none

chore: establish gradual filename policy enforcement (#20724)
  .github/workflows/ci.yml
  .ls-lint.yml
  package.json
  yarn.lock
Due: none

chore(ci): rename publish workflow to publish-and-deploy-webapp
  .github/workflows/publish-and-deploy-webapp.yml
  docs/nx-monorepo-integration-overview.md
Due: none

chore(ci): rename publish workflow to publish-and-deploy-webapp (#20726)
  .github/workflows/publish-and-deploy-webapp.yml
  docs/nx-monorepo-integration-overview.md
Due: none

Path conditions:
  app_webapp: any of: apps/webapp/**
  app_server: any of: apps/server/**
  lib_core: any of: libraries/core/**
  lib_api_client: any of: libraries/api-client/**
