Repository wireapp/wire-webapp: changes, and which Codecov flags are due for each by the changed paths.
All: app_webapp, app_server, lib_core, lib_api_client

Add React translation rendering startup toggle
  apps/webapp/src/script/featureToggles/startupFeatureToggleNames.ts
  apps/webapp/src/script/featureToggles/startupFeatureToggles.test.ts
Due: app_webapp

test: new uploadNew in cellsApi
  libraries/api-client/src/cells/cellsApi.test.ts
Due: lib_api_client

Render group creation headers as React components
  apps/webapp/src/script/components/messagesList/message/memberMessage.test.tsx
  apps/webapp/src/script/components/messagesList/message/memberMessage.tsx
Due: app_webapp

Preserve sender names in React-rendered group headers
  apps/webapp/src/script/components/messagesList/message/memberMessage.test.tsx
  apps/webapp/src/script/components/messagesList/message/memberMessage.tsx
  apps/webapp/src/script/repositories/entity/message/memberMessage.ts
Due: app_webapp

Merge pull request #22011 from wireapp/fix/learn-more-to-new-tab-WPB-27368
  apps/webapp/src/script/auth/component/layout.tsx
Due: app_webapp

Change test title
  apps/webapp/test/e2e_tests/specs/TeamUpgrade/teamUpgrade.spec.ts
Due: app_webapp

Render group header sender markers independently of formatting
  apps/webapp/src/script/components/messagesList/message/memberMessage.test.tsx
  apps/webapp/src/script/components/messagesList/message/memberMessage.tsx
  apps/webapp/src/script/repositories/entity/message/memberMessage.ts
Due: app_webapp

fix: handle e2ei certificate update [WPB-24220] (#20846)
  apps/webapp/src/script/e2eIdentity/e2eIdentityEnrollment.ts
Due: app_webapp

fix: update background color for focus-visible on inactive buttons (#20063)
  apps/webapp/src/style/foundation/video-calling.less
Due: app_webapp

feat: update Publish and deploy webapp for q3-2026
  .github/workflows/publish-and-deploy-webapp.yml
Due: none

Fix lint issue
  apps/webapp/test/e2e_tests/specs/TeamUpgrade/teamUpgrade.spec.ts
Due: app_webapp

Simplify merging of team collaborators, team members and apps.
  apps/webapp/src/script/page/rightSidebar/addParticipants/addParticipants.tsx
  apps/webapp/src/script/repositories/team/TeamRepository.ts
Due: app_webapp

Fix app details modal padding in left sidebar. Remove app short description in app list item in right sidebar.
  apps/webapp/src/script/components/ServiceList/components/ServiceListItem/ServiceListItem.tsx
  apps/webapp/src/style/modal/service-modal.less
Due: app_webapp

Fix failing team repository test.
  apps/webapp/src/script/repositories/team/TeamRepository.test.ts
Due: app_webapp

Touch up.
  apps/webapp/src/script/page/leftSidebar/panels/startUi/startUi.tsx
  apps/webapp/src/script/page/rightSidebar/addParticipants/addParticipants.test.tsx
  apps/webapp/src/script/repositories/team/TeamState.ts
  libraries/api-client/src/team/team/collaborator/teamCollaborator.ts
  libraries/api-client/src/team/team/teamApi.ts
Due: app_webapp, lib_api_client

Fix linter error.
  apps/webapp/src/script/repositories/team/TeamRepository.ts
Due: app_webapp

feat(shared-drive): retry failed uploads
  apps/webapp/src/script/components/conversation/conversationCells/sharedDriveUploadController.test.ts
  apps/webapp/src/script/components/conversation/conversationCells/sharedDriveUploadController.ts
  apps/webapp/src/script/components/conversation/conversationCells/sharedDriveUploadStatus.test.ts
  apps/webapp/src/script/components/conversation/conversationCells/sharedDriveUploadStatus.ts
  apps/webapp/src/script/components/conversation/conversationCells/sharedDriveUploadStatusPopup.styles.ts
  apps/webapp/src/script/components/conversation/conversationCells/sharedDriveUploadStatusPopup.test.tsx
  apps/webapp/src/script/components/conversation/conversationCells/sharedDriveUploadStatusPopup.tsx
  apps/webapp/src/script/components/conversation/conversationCells/sharedDriveUploadStatusPopupHost.test.tsx
  apps/webapp/src/script/components/conversation/conversationCells/sharedDriveUploadStatusPopupHost.tsx
  apps/webapp/src/script/repositories/cells/upload/process.test.ts
Due: app_webapp

fix(dev): prevent duplicate server startup
  tools/development/start-server.ts
Due: none

revert(dev): remove server startup guard
  tools/development/start-server.ts
Due: none

fix(shared-drive): preserve retry refresh behavior
  apps/webapp/src/script/components/conversation/conversationCells/sharedDriveUploadController.test.ts
  apps/webapp/src/script/components/conversation/conversationCells/sharedDriveUploadController.ts
Due: app_webapp

Add marker-based React translation rendering
  apps/webapp/src/script/util/localizerUtil/reactLocalizerUtil.test.tsx
  apps/webapp/src/script/util/localizerUtil/reactLocalizerUtil.tsx
Due: app_webapp

fix(shared-drive): use theme variables in popup
  apps/webapp/src/script/components/conversation/conversationCells/sharedDriveUploadStatusPopup.styles.ts
  apps/webapp/src/script/components/conversation/conversationCells/sharedDriveUploadStatusPopup.test.tsx
Due: app_webapp

fix(shared-drive): match failed popup state
  apps/webapp/src/script/components/conversation/conversationCells/sharedDriveUploadStatusPopup.styles.ts
  apps/webapp/src/script/components/conversation/conversationCells/sharedDriveUploadStatusPopup.test.tsx
  apps/webapp/src/script/components/conversation/conversationCells/sharedDriveUploadStatusPopup.tsx
Due: app_webapp

fix(shared-drive): render uploaded file icon
  apps/webapp/src/script/components/conversation/conversationCells/sharedDriveUploadStatusPopup.test.tsx
  apps/webapp/src/script/components/conversation/conversationCells/sharedDriveUploadStatusPopup.tsx
Due: app_webapp

docs(shared-drive): add popup visual validation
  docs/pr-screenshots/WPB-28305/failed-popup.png
  docs/pr-screenshots/WPB-28305/success-popup.png
Due: none

chore(shared-drive): remove committed screenshots
  docs/pr-screenshots/WPB-28305/failed-popup.png
  docs/pr-screenshots/WPB-28305/success-popup.png
Due: none

fix(shared-drive): show completed upload progress
  apps/webapp/src/script/components/conversation/conversationCells/sharedDriveUploadStatusPopup.styles.ts
  apps/webapp/src/script/components/conversation/conversationCells/sharedDriveUploadStatusPopup.test.tsx
  apps/webapp/src/script/components/conversation/conversationCells/sharedDriveUploadStatusPopup.tsx
Due: app_webapp

Render federation stop messages with React
  apps/webapp/src/script/components/messagesList/message/federationStopMessage.test.tsx
  apps/webapp/src/script/components/messagesList/message/federationStopMessage.tsx
Due: app_webapp

Import participants from an existing group/channel while creating meeting
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/UserSearchableList/UserSearchableList.tsx
  apps/webapp/src/script/components/meeting/meetingParticipantsPicker/meetingConversationsSearchableList.test.tsx
  apps/webapp/src/script/components/meeting/meetingParticipantsPicker/meetingConversationsSearchableList.tsx
  apps/webapp/src/script/components/meeting/meetingParticipantsPicker/meetingParticipantsPicker.styles.ts
  apps/webapp/src/script/components/meeting/meetingParticipantsPicker/meetingParticipantsPicker.test.tsx
  apps/webapp/src/script/components/meeting/meetingParticipantsPicker/meetingParticipantsPicker.tsx
  apps/webapp/src/script/components/meeting/meetingParticipantsPicker/participantPickerUtils.ts
  apps/webapp/src/script/components/meeting/meetingParticipantsPicker/useMeetingParticipantsPicker.test.ts
  apps/webapp/src/script/components/meeting/meetingParticipantsPicker/useMeetingParticipantsPicker.ts
  apps/webapp/src/script/featureToggles/startupFeatureToggleNames.ts
  apps/webapp/src/script/featureToggles/startupFeatureToggles.test.ts
Due: app_webapp

Render send failure warnings with React translations
  apps/webapp/src/script/components/messagesList/message/contentMessage/warnings/completeFailureToSend/completeFailureToSend.test.tsx
  apps/webapp/src/script/components/messagesList/message/contentMessage/warnings/completeFailureToSend/completeFailureToSend.tsx
  apps/webapp/src/script/components/messagesList/message/federationStopMessage.test.tsx
  apps/webapp/src/script/components/messagesList/message/federationStopMessage.tsx
Due: app_webapp

Render decrypt error messages with React translations
  apps/webapp/src/script/components/messagesList/message/decryptErrorMessage.test.tsx
  apps/webapp/src/script/components/messagesList/message/decryptErrorMessage.tsx
Due: app_webapp

Improve a11y
  apps/webapp/src/script/components/UserSearchableList/UserSearchableList.tsx
  apps/webapp/src/script/components/meeting/meetingParticipantsPicker/meetingConversationsSearchableList.tsx
Due: app_webapp

fix(cells): stop infinite upload retries offline [WPB-28305]
  libraries/api-client/src/cells/cellsApi.test.ts
  libraries/api-client/src/cells/cellsApi.ts
Due: lib_api_client

fix(cells): bound upload node retries
  libraries/api-client/src/cells/cellsApi.ts
Due: lib_api_client

fix: failing test
  libraries/core/src/messagingProtocols/mls/mlsService/mlsService.test.ts
Due: lib_core

Rename meeting conversation selector
  apps/webapp/src/script/components/meeting/shared/service/syncMeetingConversationName.ts
  apps/webapp/src/script/repositories/conversation/ConversationSelectors.ts
  apps/webapp/src/script/repositories/conversation/ConversationState.ts
  apps/webapp/src/script/view_model/CallingViewModel.mocks.ts
  apps/webapp/src/script/view_model/CallingViewModel.test.ts
  apps/webapp/src/script/view_model/CallingViewModel.ts
Due: app_webapp

Add React node replacements to translation rendering
  apps/webapp/src/script/components/messagesList/message/contentMessage/warnings/completeFailureToSend/completeFailureToSend.tsx
  apps/webapp/src/script/components/messagesList/message/decryptErrorMessage.tsx
  apps/webapp/src/script/components/messagesList/message/federationStopMessage.tsx
  apps/webapp/src/script/util/localizerUtil/reactLocalizerUtil.test.tsx
  apps/webapp/src/script/util/localizerUtil/reactLocalizerUtil.tsx
Due: app_webapp

Render permission warnings with React translations
  apps/webapp/src/script/view_model/WarningsContainer/WarningsContainer.test.tsx
  apps/webapp/src/script/view_model/WarningsContainer/WarningsContainer.tsx
Due: app_webapp

Path conditions:
  app_webapp: any of: apps/webapp/**
  app_server: any of: apps/server/**
  lib_core: any of: libraries/core/**
  lib_api_client: any of: libraries/api-client/**
