Repository wireapp/wire-webapp: changes, and which Codecov flags are due for each by the changed paths.
All: app_webapp, app_server, lib_core, lib_api_client

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '45...80'
  status:
    project:
      default:
        target: auto
      app_webapp:
        target: auto
        flags:
          - app_webapp
      app_server:
        target: auto
        flags:
          - app_server
      lib_core:
        target: auto
        flags:
          - lib_core
      lib_api_client:
        target: auto
        flags:
          - lib_api_client
    patch:
      default:
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: 'diff, flags, files'
  behavior: default
  require_changes: no

flags:
  app_webapp:
    paths:
      - 'apps/webapp/**'
    carryforward: false
  app_server:
    paths:
      - 'apps/server/**'
    carryforward: true
  lib_core:
    paths:
      - 'libraries/core/**'
    carryforward: true
  lib_api_client:
    paths:
      - 'libraries/api-client/**'
    carryforward: true

github_checks:
  annotations: false

chore: skip workflow for external fork PRs [WPB-22420] (#21017)
  .github/workflows/jira-lint-and-link.yml
  .github/workflows/precommit-crit-flows.yml
Due: none

fix: camera permission issue for fresh session where deviceId is empty [WPB-22321] (#21007)
  apps/webapp/src/script/repositories/media/MediaConstraintsHandler.test.ts
  apps/webapp/src/script/repositories/media/MediaConstraintsHandler.ts
Due: app_webapp

test(WPB-24426): rewrite Wire Drive tests (#20954)
  apps/webapp/test/e2e_tests/pageManager/index.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/cells/cellsConversation.page.ts
  apps/webapp/test/e2e_tests/specs/Drive/drive.spec.ts
  apps/webapp/test/e2e_tests/specs/Drive/editMultipartMessage-TC-8786.spec.ts
  apps/webapp/test/e2e_tests/specs/Drive/replyingToMultipartMessage-TC-8787.spec.ts
  apps/webapp/test/e2e_tests/specs/Drive/searchFilesInGroupConversation-TC-8788.spec.ts
  apps/webapp/test/e2e_tests/specs/Drive/uploadingFileInGroupConversation-TC-8785.spec.ts
  apps/webapp/test/e2e_tests/test.fixtures.ts
  apps/webapp/test/e2e_tests/utils/userActions.ts
Due: app_webapp

ci: scope Renovate Yarn deduplication to lockfile maintenance pull requests
  renovate.json
Due: none

fix: Messages that contain assets do not make the asset content available to the search engine(WPB-22078)
  apps/webapp/src/script/repositories/conversation/ConversationService.test.ts
  apps/webapp/src/script/repositories/conversation/ConversationService.ts
Due: app_webapp

fix: update copyright year
  apps/webapp/src/script/repositories/conversation/ConversationService.test.ts
Due: app_webapp

chore: extend incremental filename enforcement to E2EI dpop challenge
  .ls-lint.yml
  libraries/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceInternal.ts
  libraries/core/src/messagingProtocols/mls/E2EIdentityService/Steps/DpopChallenge/DpopChallenge.ts
  libraries/core/src/messagingProtocols/mls/E2EIdentityService/Steps/DpopChallenge/index.ts
Due: lib_core

ci: scope Renovate Yarn deduplication to lockfile maintenance pull requests (#21037)
  renovate.json
Due: none

chore: extend incremental filename enforcement to E2EI core services
  .ls-lint.yml
  libraries/core/src/Account.ts
  libraries/core/src/messagingProtocols/mls/E2EIdentityService/Connection/AcmeServer/acmeService.ts
  libraries/core/src/messagingProtocols/mls/E2EIdentityService/Connection/AcmeServer/acmeService.types.ts
  libraries/core/src/messagingProtocols/mls/E2EIdentityService/Steps/DpopChallenge/DpopChallenge.types.ts
  libraries/core/src/messagingProtocols/mls/E2EIdentityService/Steps/account.ts
  libraries/core/src/messagingProtocols/mls/E2EIdentityService/Steps/authorization.ts
  libraries/core/src/messagingProtocols/mls/E2EIdentityService/Steps/certificate.ts
  libraries/core/src/messagingProtocols/mls/E2EIdentityService/Steps/oidcChallenge.ts
  libraries/core/src/messagingProtocols/mls/E2EIdentityService/Steps/order.ts
  libraries/core/src/messagingProtocols/mls/E2EIdentityService/e2eiService.types.ts
  libraries/core/src/messagingProtocols/mls/E2EIdentityService/e2eiServiceExternal.test.ts
  libraries/core/src/messagingProtocols/mls/E2EIdentityService/e2eiServiceExternal.ts
  libraries/core/src/messagingProtocols/mls/E2EIdentityService/e2eiServiceInternal.ts
  libraries/core/src/messagingProtocols/mls/E2EIdentityService/index.ts
  libraries/core/src/messagingProtocols/mls/MLSService/mlsService.ts
Due: lib_core

fix: renamed local state var name
  apps/webapp/src/script/page/AppLock/AppLock.tsx
Due: app_webapp

chore: extend incremental filename enforcement to core root files
  .ls-lint.yml
  apps/webapp/src/script/main/app.ts
  libraries/core/src/account.test.ts
  libraries/core/src/account.ts
  libraries/core/src/coreError.ts
  libraries/core/src/index.ts
  libraries/core/src/messagingProtocols/mls/MLSService/mlsService.ts
  libraries/core/src/messagingProtocols/mls/utils/mlsId.ts
  libraries/core/src/notification/notificationService.ts
Due: app_webapp, lib_core

remove redundant unit test
  apps/webapp/src/script/repositories/integration/IntegrationMapper.test.ts
Due: app_webapp

fix: local type event declaration conflict
  apps/webapp/src/script/repositories/conversation/ConversationService.ts
Due: app_webapp

fix: updated setup modal text
  apps/webapp/src/script/page/AppLock/AppLock.tsx
Due: app_webapp

fixed missing check on conversation protocol
  apps/webapp/src/script/page/RightSidebar/addParticipants/addParticipants.tsx
Due: app_webapp

streamlined field assignments in ServiceEntity.ts
  apps/webapp/src/script/repositories/integration/ServiceEntity.ts
Due: app_webapp

chore: extend incremental filename enforcement to core proteus directories
  .ls-lint.yml
  libraries/core/src/account.ts
  libraries/core/src/client/clientService.ts
  libraries/core/src/conversation/conversationService/conversationService.ts
  libraries/core/src/conversation/message/messageService.test.ts
  libraries/core/src/messagingProtocols/proteus/eventHandler/events/index.ts
  libraries/core/src/messagingProtocols/proteus/eventHandler/events/otrMessageAdd/index.ts
  libraries/core/src/messagingProtocols/proteus/eventHandler/events/otrMessageAdd/otrMessageAdd.ts
  libraries/core/src/messagingProtocols/proteus/index.ts
  libraries/core/src/messagingProtocols/proteus/proteusService/cryptoClient/coreCryptoWrapper/coreCryptoWrapper.ts
  libraries/core/src/messagingProtocols/proteus/proteusService/cryptoClient/coreCryptoWrapper/index.ts
  libraries/core/src/messagingProtocols/proteus/proteusService/cryptoClient/coreCryptoWrapper/prekeysTracker/index.ts
  libraries/core/src/messagingProtocols/proteus/proteusService/cryptoClient/coreCryptoWrapper/prekeysTracker/prekeysTracker.store.ts
  libraries/core/src/messagingProtocols/proteus/proteusService/cryptoClient/coreCryptoWrapper/prekeysTracker/prekeysTracker.test.ts
  libraries/core/src/messagingProtocols/proteus/proteusService/cryptoClient/coreCryptoWrapper/prekeysTracker/prekeysTracker.ts
  libraries/core/src/messagingProtocols/proteus/proteusService/cryptoClient/cryptoClient.types.ts
  libraries/core/src/messagingProtocols/proteus/proteusService/cryptoClient/cryptoboxWrapper.ts
  libraries/core/src/messagingProtocols/proteus/proteusService/cryptoClient/index.ts
  libraries/core/src/messagingProtocols/proteus/proteusService/cryptoMigrationStateStore.ts
  libraries/core/src/messagingProtocols/proteus/proteusService/decryptionErrorGenerator/decryptionErrorGenerator.test.ts
  libraries/core/src/messagingProtocols/proteus/proteusService/decryptionErrorGenerator/decryptionErrorGenerator.ts
  libraries/core/src/messagingProtocols/proteus/proteusService/decryptionErrorGenerator/index.ts
  libraries/core/src/messagingProtocols/proteus/proteusService/identityClearer.ts
  libraries/core/src/messagingProtocols/proteus/proteusService/index.ts
  libraries/core/src/messagingProtocols/proteus/proteusService/proteusService.mocks.ts
  libraries/core/src/messagingProtocols/proteus/proteusService/proteusService.test.ts
  libraries/core/src/messagingProtocols/proteus/proteusService/proteusService.ts
  libraries/core/src/messagingProtocols/proteus/proteusService/proteusService.types.ts
  libraries/core/src/messagingProtocols/proteus/proteusService/sessionIdMigrator.ts
  libraries/core/src/messagingProtocols/proteus/proteusService/userDomainFilters.ts
  libraries/core/src/messagingProtocols/proteus/proteusService/withMockedGenerics.test.ts
  libraries/core/src/messagingProtocols/proteus/utility/sessionHandler/sessionHandler.test.ts
  libraries/core/src/messagingProtocols/proteus/utility/sessionHandler/sessionHandler.ts
Due: lib_core

refactor(deeplinks): align formatting
  apps/webapp/test/e2e_tests/specs/DeepLinks/deepLinks.spec.ts
Due: app_webapp

chore: record missing MLS dpop challenge filename renames
  libraries/core/src/messagingProtocols/mls/e2eIdentityService/steps/dpopChallenge/dpopChallenge.ts
  libraries/core/src/messagingProtocols/mls/e2eIdentityService/steps/dpopChallenge/dpopChallenge.types.ts
Due: lib_core

chore: remove semantic pull request title enforcement
  .github/pr-title-checker-config.json
  .github/workflows/semantic-commit-lint.yml
Due: none

chore: remove semantic pull request title enforcement (#21043)
  .github/pr-title-checker-config.json
  .github/workflows/semantic-commit-lint.yml
Due: none

fix: move errorMessage component out
  apps/webapp/src/script/page/AppLock/AppLock.tsx
Due: app_webapp

feat: search for apps (WPB-20363) (#21035)
  apps/webapp/src/script/components/UserSearchableList/UserSearchableList.tsx
  apps/webapp/src/script/externalRoute.ts
  apps/webapp/src/script/page/RightSidebar/addParticipants/addParticipants.tsx
  apps/webapp/src/script/repositories/integration/IntegrationMapper.ts
  apps/webapp/src/script/repositories/integration/IntegrationRepository.ts
  apps/webapp/src/script/repositories/integration/ServiceEntity.ts
Due: app_webapp

fix: keep sso login button disabled instead of doing nothing on click [WPB-22420]
  apps/webapp/src/script/auth/page/SingleSignOnForm.tsx
Due: app_webapp

refactor: remove playwright test tabsFiltersFlagOff.spec.ts
  apps/webapp/test/e2e_tests/specs/RegressionSpecs/tabsFiltersFlagOff.spec.ts
Due: app_webapp

update ConversationRepository.ts to pick only qualifiedId from userEntites in addUsers
  apps/webapp/src/script/repositories/conversation/ConversationRepository.ts
Due: app_webapp

updated ServiceEntity.ts to include isApp check and qualifiedId
  apps/webapp/src/script/page/RightSidebar/groupParticipantService/groupParticipantService.tsx
  apps/webapp/src/script/repositories/integration/ServiceEntity.ts
Due: app_webapp

updated IntegrationMapper.ts to set qualifiedIds of services
  apps/webapp/src/script/repositories/integration/IntegrationMapper.ts
Due: app_webapp

review fixes
  apps/webapp/src/script/page/RightSidebar/RightSidebar.tsx
  apps/webapp/src/script/page/RightSidebar/addParticipants/addParticipants.tsx
  apps/webapp/src/script/repositories/integration/IntegrationMapper.ts
Due: app_webapp

updated ServiceListItem.tsx to display apps
  apps/webapp/src/script/components/ServiceList/components/ServiceListItem/ServiceListItem.tsx
Due: app_webapp

fixed mapping of apps as services in RightSidebar.tsx
  apps/webapp/src/script/guards/Panel.ts
  apps/webapp/src/script/guards/Service.ts
  apps/webapp/src/script/page/RightSidebar/RightSidebar.tsx
Due: app_webapp

fix Avatar to allow apps to be displayed as services as well
  apps/webapp/src/script/components/Avatar/Avatar.tsx
Due: app_webapp

reintroduce qualifiedId in IntegrationMapper.ts
  apps/webapp/src/script/repositories/integration/IntegrationMapper.ts
Due: app_webapp

fix: ensure monotonic timestamps in segmentation pipeline for Firefox
  apps/webapp/src/script/repositories/media/backgroundEffects/effects/backgroundEffectsController.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/pipelines/mainWebGlPipeline.ts
Due: app_webapp

test: reduce flake by limiting number of parallel tests per agent to 1 [WPB-22420] (#21020)
  apps/webapp/playwright.config.ts
Due: app_webapp

fix: keep sso login button disabled instead of doing nothing on click [WPB-22420] (#21044)
  apps/webapp/src/script/auth/page/SingleSignOnForm.tsx
Due: app_webapp

fix: Add monotonic timestamp handling and adjust WebGL pipeline logging
  apps/webapp/src/script/repositories/media/backgroundEffects/effects/capability.ts
  apps/webapp/src/script/repositories/media/backgroundEffects/pipelines/mainWebGlPipeline.ts
Due: app_webapp
