Repository wireapp/wire-webapp: changes, and which Codecov flags are due for each by the changed paths.
All: app_webapp, app_server

codecov.yml:

codecov:
  require_ci_to_pass: yes
  status:
    project:
      target: 40%
      threshold: 5%
    app_webapp:
      target: auto
      flags:
        - app_webapp
    app_server:
      target: auto
      flags:
        - app_server

coverage:
  precision: 2
  round: down
  range: '45...80'
  status:
    project:
      app_webapp:
        informational: true
        only_pulls: true
      app_server:
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout:  "diff, flags, files"
  behavior: default
  require_changes: no

flags:
  app_webapp:
    paths:
      - 'apps/webapp/**'
  app_server:
    paths:
      - 'apps/server/**'

github_checks:
  annotations: false

chore(npm): update packages to the latest minor version available [WPB-22420] (#20032)
  .github/copilot-instructions.md
  .prettierignore
  apps/server/templates/error.html
  apps/webapp/package.json
  apps/webapp/src/style/fonts/zeta-neue.css
  bin/transalations_generate_types.js
  bin/zip.js
  codecov.yml
  docs/ADRs/2025-12-29-nx-monorepo-migration.md
  docs/ADRs/README.md
  package.json
  project.json
  yarn.lock
Due: app_webapp, app_server

chore(libsodium): fix libsodium dependency
  .github/copilot-instructions.md
  bin/fix-libsodium-wrappers.js
  package.json
  yarn.lock
Due: none

chore(libsodium): fix libsodium dependency (#20034)
  .github/copilot-instructions.md
  bin/fix-libsodium-wrappers.js
  package.json
  yarn.lock
Due: none

fix team state
  src/script/repositories/conversation/MessageRepository.ts
  src/script/repositories/team/TeamState.ts
Due: none

chore: fix libsodium issue by upgrading
  apps/webapp/package.json
  bin/fix-libsodium-wrappers.js
  libraries/core/package.json
  package.json
  yarn.lock
Due: app_webapp

Improve background effects demo and segmentation
  apps/webapp/src/page/testBackgroundEffects.html
  apps/webapp/src/script/repositories/media/VideoBackgroundBlur.ts
  apps/webapp/webpack.config.common.js
  apps/webapp/webpack.config.dev.js
  check-video-blur-versions.sh
  src/script/repositories/media/backgroundEffectsV2/README.md
  src/script/repositories/media/backgroundEffectsV2/debug/DebugModes.ts
  src/script/repositories/media/backgroundEffectsV2/effects/BackgroundEffectsController.ts
  src/script/repositories/media/backgroundEffectsV2/effects/VideoSource.ts
  src/script/repositories/media/backgroundEffectsV2/effects/capability.ts
  src/script/repositories/media/backgroundEffectsV2/index.ts
  src/script/repositories/media/backgroundEffectsV2/quality/QualityController.ts
  src/script/repositories/media/backgroundEffectsV2/renderer/WebGLRenderer.ts
  src/script/repositories/media/backgroundEffectsV2/segmentation/segmenter.ts
  src/script/repositories/media/backgroundEffectsV2/shaders/compositeBlur.frag
  src/script/repositories/media/backgroundEffectsV2/shaders/compositeVirtual.frag
  src/script/repositories/media/backgroundEffectsV2/shaders/debugOverlay.frag
  src/script/repositories/media/backgroundEffectsV2/shaders/downsample.frag
  src/script/repositories/media/backgroundEffectsV2/shaders/fullscreen.vert
  src/script/repositories/media/backgroundEffectsV2/shaders/gaussianBlurH.frag
  src/script/repositories/media/backgroundEffectsV2/shaders/gaussianBlurV.frag
  src/script/repositories/media/backgroundEffectsV2/shaders/jointBilateralMask.frag
  src/script/repositories/media/backgroundEffectsV2/shaders/maskUpsample.frag
  src/script/repositories/media/backgroundEffectsV2/shaders/temporalMask.frag
  src/script/repositories/media/backgroundEffectsV2/test-basic.ts
  src/script/repositories/media/backgroundEffectsV2/types.ts
  src/script/repositories/media/backgroundEffectsV2/worker/bgfx.worker.ts
Due: app_webapp

Rename backgroundEffectsV2 module to BackgroundEffects and update all references
  apps/webapp/src/script/repositories/media/VideoBackgroundBlur.ts
  apps/webapp/webpack.config.dev.js
  check-video-blur-versions.sh
  src/script/repositories/media/BackgroundEffects/README.md
  src/script/repositories/media/BackgroundEffects/debug/DebugModes.test.ts
  src/script/repositories/media/BackgroundEffects/debug/DebugModes.ts
  src/script/repositories/media/BackgroundEffects/effects/BackgroundEffectsController.ts
  src/script/repositories/media/BackgroundEffects/effects/VideoSource.test.ts
  src/script/repositories/media/BackgroundEffects/effects/VideoSource.ts
  src/script/repositories/media/BackgroundEffects/effects/capability.test.ts
  src/script/repositories/media/BackgroundEffects/effects/capability.ts
  src/script/repositories/media/BackgroundEffects/index.ts
  src/script/repositories/media/BackgroundEffects/quality/QualityController.test.ts
  src/script/repositories/media/BackgroundEffects/quality/QualityController.ts
  src/script/repositories/media/BackgroundEffects/renderer/WebGLRenderer.ts
  src/script/repositories/media/BackgroundEffects/segmentation/segmenter.test.ts
  src/script/repositories/media/BackgroundEffects/segmentation/segmenter.ts
  src/script/repositories/media/BackgroundEffects/shaders/compositeBlur.frag
  src/script/repositories/media/BackgroundEffects/shaders/compositeVirtual.frag
  src/script/repositories/media/BackgroundEffects/shaders/debugOverlay.frag
  src/script/repositories/media/BackgroundEffects/shaders/downsample.frag
  src/script/repositories/media/BackgroundEffects/shaders/fullscreen.vert
  src/script/repositories/media/BackgroundEffects/shaders/gaussianBlurH.frag
  src/script/repositories/media/BackgroundEffects/shaders/gaussianBlurV.frag
  src/script/repositories/media/BackgroundEffects/shaders/jointBilateralMask.frag
  src/script/repositories/media/BackgroundEffects/shaders/maskUpsample.frag
  src/script/repositories/media/BackgroundEffects/shaders/temporalMask.frag
  src/script/repositories/media/BackgroundEffects/test-basic.ts
  src/script/repositories/media/BackgroundEffects/types.ts
  src/script/repositories/media/BackgroundEffects/worker/bgfx.worker.ts
Due: app_webapp

Fix main pipeline: only enable desynchronized for OffscreenCanvas
  src/script/repositories/media/BackgroundEffects/effects/BackgroundEffectsController.ts
  src/script/repositories/media/BackgroundEffects/renderer/WebGLRenderer.ts
  src/script/repositories/media/BackgroundEffects/test-basic.ts
Due: none

Add performance stats tracking and metrics callback
  src/script/repositories/media/BackgroundEffects/effects/BackgroundEffectsController.ts
  src/script/repositories/media/BackgroundEffects/test-basic.ts
  src/script/repositories/media/BackgroundEffects/types.ts
  src/script/repositories/media/BackgroundEffects/worker/bgfx.worker.ts
Due: none

fix: preparing for playwright tests
  apps/webapp/src/page/testBackgroundEffects.html
  src/script/repositories/media/BackgroundEffects/README.md
  src/script/repositories/media/BackgroundEffects/effects/BackgroundEffectsController.ts
  src/script/repositories/media/BackgroundEffects/index.ts
  src/script/repositories/media/BackgroundEffects/test-basic.ts
  src/script/repositories/media/BackgroundEffects/types.ts
Due: app_webapp

Fix canvas2d pipeline and reduce blur downsample scale
  src/script/repositories/media/BackgroundEffects/effects/BackgroundEffectsController.ts
  src/script/repositories/media/BackgroundEffects/quality/QualityController.ts
  src/script/repositories/media/BackgroundEffects/renderer/WebGLRenderer.ts
  src/script/repositories/media/BackgroundEffects/segmentation/segmenter.ts
Due: none

Refactor BackgroundEffects: add pipeline architecture and modular components
  src/script/repositories/media/BackgroundEffects/effects/BackgroundEffectsController.ts
  src/script/repositories/media/BackgroundEffects/effects/FrameSource.ts
  src/script/repositories/media/BackgroundEffects/pipelines/Canvas2DPipeline.ts
  src/script/repositories/media/BackgroundEffects/pipelines/MainWebGLPipeline.ts
  src/script/repositories/media/BackgroundEffects/pipelines/PassthroughPipeline.ts
  src/script/repositories/media/BackgroundEffects/pipelines/Pipeline.ts
  src/script/repositories/media/BackgroundEffects/pipelines/WorkerWebGLPipeline.ts
  src/script/repositories/media/BackgroundEffects/renderer/BackgroundRenderer.ts
  src/script/repositories/media/BackgroundEffects/renderer/RenderPasses.ts
  src/script/repositories/media/BackgroundEffects/renderer/ShaderPrograms.ts
  src/script/repositories/media/BackgroundEffects/renderer/WebGLRenderer.ts
  src/script/repositories/media/BackgroundEffects/renderer/WebGLResources.ts
  src/script/repositories/media/BackgroundEffects/segmentation/maskPostProcessor.ts
  src/script/repositories/media/BackgroundEffects/segmentation/mediaPipeSegmenter.ts
  src/script/repositories/media/BackgroundEffects/segmentation/segmenter.test.ts
  src/script/repositories/media/BackgroundEffects/segmentation/segmenter.ts
  src/script/repositories/media/BackgroundEffects/segmentation/segmenterTypes.ts
  src/script/repositories/media/BackgroundEffects/shared/mask.ts
  src/script/repositories/media/BackgroundEffects/shared/metrics.ts
  src/script/repositories/media/BackgroundEffects/shared/quality.ts
  src/script/repositories/media/BackgroundEffects/shared/timestamps.ts
  src/script/repositories/media/BackgroundEffects/types.ts
  src/script/repositories/media/BackgroundEffects/worker/bgfx.worker.ts
  src/script/repositories/media/BackgroundEffects/worker/contextLoss.ts
  src/script/repositories/media/BackgroundEffects/worker/frameProcessor.ts
  src/script/repositories/media/BackgroundEffects/worker/handlers.ts
  src/script/repositories/media/BackgroundEffects/worker/state.ts
Due: none

Add UI elements for background effects controls
  apps/server/config/client.config.ts
  apps/server/config/env.ts
  apps/webapp/src/i18n/en-US.json
  apps/webapp/src/script/components/calling/CallingOverlayContainer.tsx
  apps/webapp/src/script/components/calling/FullscreenVideoCall.tsx
  apps/webapp/src/script/components/calling/VideoControls/BackgroundEffects/BackgroundEffectsMenu.tsx
  apps/webapp/src/script/components/calling/VideoControls/BackgroundEffects/BackgroundEffectsPicker.styles.ts
  apps/webapp/src/script/components/calling/VideoControls/BackgroundEffects/BackgroundEffectsPicker.tsx
  apps/webapp/src/script/components/calling/VideoControls/VideoControls.styles.ts
  apps/webapp/src/script/components/calling/VideoControls/VideoControls.tsx
  apps/webapp/src/script/components/calling/VideoControls/VideoControlsSelect/VideoControlsSelect.tsx
  apps/webapp/src/script/repositories/calling/CallingRepository.ts
  apps/webapp/src/script/repositories/calling/Participant.ts
  apps/webapp/src/script/util/DebugUtil.ts
  apps/webapp/src/types/i18n.d.ts
  src/script/repositories/media/VideoBackgroundEffects.ts
Due: app_webapp, app_server

fix: improve background effects UX
  apps/webapp/src/script/repositories/calling/CallingRepository.ts
  src/script/repositories/media/BackgroundEffects/effects/BackgroundEffectsController.ts
  src/script/repositories/media/BackgroundEffects/effects/FrameSource.ts
  src/script/repositories/media/VideoBackgroundEffects.ts
Due: app_webapp

feat: implement dynamic blur strength and improve quality controller
  src/script/repositories/media/BackgroundEffects/pipelines/Canvas2DPipeline.ts
  src/script/repositories/media/BackgroundEffects/quality/QualityController.test.ts
  src/script/repositories/media/BackgroundEffects/quality/QualityController.ts
  src/script/repositories/media/BackgroundEffects/quality/blur.ts
  src/script/repositories/media/BackgroundEffects/quality/definitions.ts
  src/script/repositories/media/BackgroundEffects/quality/index.ts
  src/script/repositories/media/BackgroundEffects/renderer/WebGLRenderer.ts
  src/script/repositories/media/BackgroundEffects/shaders/gaussianBlurH.frag
  src/script/repositories/media/BackgroundEffects/shaders/gaussianBlurV.frag
  src/script/repositories/media/BackgroundEffects/test-basic.ts
  src/script/repositories/media/BackgroundEffects/worker/frameProcessor.ts
  src/script/repositories/media/BackgroundEffects/worker/handlers.ts
  src/script/repositories/media/BackgroundEffects/worker/state.ts
Due: none

Refactor quality module: reorganize metrics and add capability policy
  src/script/repositories/media/BackgroundEffects/README.md
  src/script/repositories/media/BackgroundEffects/effects/BackgroundEffectsController.ts
  src/script/repositories/media/BackgroundEffects/effects/capability.ts
  src/script/repositories/media/BackgroundEffects/pipelines/Canvas2DPipeline.ts
  src/script/repositories/media/BackgroundEffects/pipelines/MainWebGLPipeline.ts
  src/script/repositories/media/BackgroundEffects/pipelines/Pipeline.ts
  src/script/repositories/media/BackgroundEffects/pipelines/WorkerWebGLPipeline.ts
  src/script/repositories/media/BackgroundEffects/quality/capabilityPolicy.ts
  src/script/repositories/media/BackgroundEffects/quality/index.ts
  src/script/repositories/media/BackgroundEffects/quality/metrics.ts
  src/script/repositories/media/BackgroundEffects/types.ts
  src/script/repositories/media/BackgroundEffects/worker/contextLoss.ts
  src/script/repositories/media/BackgroundEffects/worker/frameProcessor.ts
  src/script/repositories/media/BackgroundEffects/worker/handlers.ts
  src/script/repositories/media/BackgroundEffects/worker/state.ts
Due: none

WIP: mid-development checkpoint - segmentation and pipeline updates
  src/script/repositories/media/BackgroundEffects/debug/DebugModes.test.ts
  src/script/repositories/media/BackgroundEffects/debug/DebugModes.ts
  src/script/repositories/media/BackgroundEffects/effects/BackgroundEffectsController.ts
  src/script/repositories/media/BackgroundEffects/pipelines/Canvas2DPipeline.ts
  src/script/repositories/media/BackgroundEffects/pipelines/MainWebGLPipeline.ts
  src/script/repositories/media/BackgroundEffects/pipelines/Pipeline.ts
  src/script/repositories/media/BackgroundEffects/pipelines/WorkerWebGLPipeline.ts
  src/script/repositories/media/BackgroundEffects/quality/QualityController.ts
  src/script/repositories/media/BackgroundEffects/quality/definitions.ts
  src/script/repositories/media/BackgroundEffects/quality/resolve.ts
  src/script/repositories/media/BackgroundEffects/renderer/ShaderPrograms.ts
  src/script/repositories/media/BackgroundEffects/renderer/WebGLRenderer.ts
  src/script/repositories/media/BackgroundEffects/segmentation/mediaPipeSegmenter.ts
  src/script/repositories/media/BackgroundEffects/segmentation/segmenter.ts
  src/script/repositories/media/BackgroundEffects/segmentation/segmenterTypes.ts
  src/script/repositories/media/BackgroundEffects/shaders/debugOverlay.frag
  src/script/repositories/media/BackgroundEffects/shaders/maskDilate.frag
  src/script/repositories/media/BackgroundEffects/shaders/maskErode.frag
  src/script/repositories/media/BackgroundEffects/shared/metrics.ts
  src/script/repositories/media/BackgroundEffects/test-basic.ts
  src/script/repositories/media/BackgroundEffects/types.ts
  src/script/repositories/media/BackgroundEffects/worker/contextLoss.ts
  src/script/repositories/media/BackgroundEffects/worker/frameProcessor.ts
  src/script/repositories/media/BackgroundEffects/worker/handlers.ts
  src/script/repositories/media/BackgroundEffects/worker/state.ts
Due: none

fix: harden background effects integration
  apps/webapp/src/script/components/calling/VideoControls/VideoControls.tsx
  apps/webapp/src/script/repositories/calling/CallingRepository.ts
  apps/webapp/src/script/repositories/calling/Participant.ts
  src/script/repositories/media/VideoBackgroundEffects.ts
Due: app_webapp

refactor: major quality controller improvements with debt-based system
  src/script/repositories/media/BackgroundEffects/pipelines/Canvas2DPipeline.ts
  src/script/repositories/media/BackgroundEffects/pipelines/MainWebGLPipeline.ts
  src/script/repositories/media/BackgroundEffects/quality/QualityController.test.ts
  src/script/repositories/media/BackgroundEffects/quality/QualityController.ts
  src/script/repositories/media/BackgroundEffects/quality/blur.ts
  src/script/repositories/media/BackgroundEffects/quality/capabilityPolicy.ts
  src/script/repositories/media/BackgroundEffects/quality/definitions.ts
  src/script/repositories/media/BackgroundEffects/quality/index.ts
  src/script/repositories/media/BackgroundEffects/quality/metrics.ts
  src/script/repositories/media/BackgroundEffects/quality/resolve.ts
  src/script/repositories/media/BackgroundEffects/quality/samples.ts
  src/script/repositories/media/BackgroundEffects/quality/tuning.ts
  src/script/repositories/media/BackgroundEffects/worker/contextLoss.ts
  src/script/repositories/media/BackgroundEffects/worker/frameProcessor.ts
  src/script/repositories/media/BackgroundEffects/worker/handlers.ts
  src/script/repositories/media/BackgroundEffects/worker/state.ts
Due: none

docs: Add limited release status to Background Effects README
  src/script/repositories/media/BackgroundEffects/README.md
Due: none

feat: Support edit for multipart messages [WPB-20940] (#20030)
  apps/webapp/src/script/repositories/conversation/EventBuilder/EventBuilder.ts
  apps/webapp/src/script/repositories/conversation/EventMapper.ts
  apps/webapp/src/script/repositories/conversation/MessageRepository.test.ts
  apps/webapp/src/script/repositories/conversation/MessageRepository.ts
  apps/webapp/src/script/repositories/cryptography/CryptographyMapper.ts
  apps/webapp/src/script/repositories/entity/message/Message.test.ts
  apps/webapp/src/script/repositories/entity/message/Message.ts
  apps/webapp/src/script/repositories/event/preprocessor/EventStorageMiddleware/eventHandlers/editedEventHandler.ts
  apps/webapp/src/script/repositories/event/preprocessor/EventStorageMiddleware/eventHandlers/getCommonMessageUpdates.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/cells/cellsConversation.page.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/components/inputBarControls.component.ts
  apps/webapp/test/e2e_tests/specs/CriticalFlow/Cells/editMultipartMessage-TC-8786.spec.ts
Due: app_webapp

BOM + text_content + "uuid1, uuid2, uuid3"
  apps/webapp/src/script/message/MessageHasher.ts
  apps/webapp/src/script/util/StringUtil.ts
Due: app_webapp

chore: apply Nx configuration and source changes from dev_test_squash
  libraries/core/.eslintrc.json
  libraries/core/README.md
  libraries/core/jest.config.js
  libraries/core/package.json
  libraries/core/project.json
  libraries/core/src/Account.test.ts
  libraries/core/src/conversation/AssetService/AssetService.ts
  libraries/core/src/conversation/SubconversationService/SubconversationService.test.ts
  libraries/core/src/conversation/index.ts
  libraries/core/src/conversation/message/MessageService.ts
  libraries/core/src/cryptography/AssetCryptography/crypto.browser.ts
  libraries/core/src/cryptography/MessageHashService.ts
  libraries/core/src/demo/index.html
  libraries/core/src/index.ts
  libraries/core/src/messagingProtocols/mls/E2EIdentityService/E2EIService.types.ts
  libraries/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceExternal.test.ts
  libraries/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceInternal.ts
  libraries/core/src/messagingProtocols/mls/E2EIdentityService/Steps/Authorization.ts
  libraries/core/src/messagingProtocols/mls/E2EIdentityService/index.ts
  libraries/core/src/messagingProtocols/mls/MLSService/MLSService.test.ts
  libraries/core/src/messagingProtocols/proteus/ProteusService/CryptoClient/CryptoboxWrapper.ts
  libraries/core/src/notification/NotificationService.ts
  libraries/core/src/secretStore/encryptedStore.ts
  libraries/core/src/user/UserService.ts
  libraries/core/src/util/bufferUtils.ts
  libraries/core/src/util/index.ts
  libraries/core/tsconfig.eslint.json
  libraries/core/tsconfig.json
Due: none

chore: apply remaining changes from dev_test_squash
  .github/copilot-instructions.md
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/ci.yml
  .gitignore
  README.md
  apps/server/project.json
  apps/webapp/jest.config.ts
  apps/webapp/package.json
  apps/webapp/project.json
  apps/webapp/src/script/repositories/backup/BackUpHeader.ts
  apps/webapp/src/script/repositories/backup/BackupHeader.test.tsx
  apps/webapp/src/script/repositories/backup/zipWorker.ts
  apps/webapp/src/script/repositories/conversation/EventBuilder/EventBuilder.ts
  apps/webapp/src/script/repositories/conversation/EventMapper.ts
  apps/webapp/src/script/repositories/conversation/MessageRepository.test.ts
  apps/webapp/src/script/repositories/conversation/MessageRepository.ts
  apps/webapp/src/script/repositories/cryptography/CryptographyMapper.ts
  apps/webapp/src/script/repositories/entity/message/Message.ts
  apps/webapp/src/script/repositories/event/preprocessor/EventStorageMiddleware/eventHandlers/editedEventHandler.ts
  apps/webapp/src/script/repositories/event/preprocessor/EventStorageMiddleware/eventHandlers/getCommonMessageUpdates.ts
  apps/webapp/src/script/repositories/user/AppLockRepository.ts
  apps/webapp/src/script/util/DebugUtil.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/cells/cellsConversation.page.ts
  apps/webapp/test/e2e_tests/pageManager/webapp/components/inputBarControls.component.ts
  codecov.yml
  eslint.config.ts
  jest.preset.js
  package.json
  yarn.lock
Due: app_webapp, app_server

fix: remove Message.test.ts that calls non-existent getMultipartAssets method
  apps/webapp/src/script/repositories/entity/message/Message.test.ts
Due: app_webapp

use promise.all
  apps/webapp/src/script/repositories/event/preprocessor/RepliesUpdaterMiddleware.ts
Due: app_webapp

remove as any
  apps/webapp/src/script/repositories/conversation/EventBuilder/EventBuilder.ts
  apps/webapp/src/script/repositories/event/preprocessor/RepliesUpdaterMiddleware.ts
Due: app_webapp

update tests
  apps/webapp/src/script/repositories/event/preprocessor/QuoteDecoderMiddleware.test.ts
Due: app_webapp

feat: enhance focus management and accessibility of ChooseScreen.tsx. also add screen/window names for voiceover
  apps/webapp/src/script/components/calling/ChooseScreen.tsx
  apps/webapp/src/script/components/calling/chooseScreen.test.tsx
Due: app_webapp

feat: allow focus to move into the ChooseScreen dialog when open
  apps/webapp/src/script/components/calling/FullscreenVideoCall.tsx
Due: app_webapp

chore(webpack): only watch @wireapp/ node modules and repository changes
  apps/webapp/webpack.config.dev.js
Due: app_webapp

feat: improve border styles in ChooseScreen
  apps/webapp/src/style/components/calling/choose-screen.less
Due: app_webapp

test: improve test coverage of ChooseScreen.tsx
  apps/webapp/src/script/components/calling/chooseScreen.test.tsx
Due: app_webapp

event record guard
  apps/webapp/src/script/repositories/event/EventService.ts
  apps/webapp/src/script/repositories/storage/record/EventRecordGuards.ts
  apps/webapp/src/script/repositories/storage/record/index.ts
Due: app_webapp
