Repository wireapp/wire-webapp: changes, and which Codecov flags are due for each by the changed paths.
All: app_webapp, app_server, lib_core, lib_api_client

Prevent Nx from restoring stale webapp metadata
  apps/webapp/project.json
Due: app_webapp

Preserve development versions for non-production tags
  .github/workflows/create_docker_image.yml
  .github/workflows/publish-and-deploy-webapp.yml
  .github/workflows/redeploy-production-from-tag.yml
  .github/workflows/rollback-production.yml
  bin/releaseMetadata.test.ts
  bin/releaseMetadata.ts
  bin/releaseMetadataCli.test.ts
  bin/releaseMetadataCli.ts
Due: none

Validate production distribution metadata
  bin/productionDistribution.test.ts
  bin/productionDistribution.ts
  bin/productionDistributionCli.ts
  bin/validate-production-distribution.sh
Due: none

Update Deliver Main metadata summaries
  .github/workflows/publish-main.yml
Due: none

Restrict artifact validation to local cache-busted assets
  bin/buildArtifactMetadata.test.ts
  bin/buildArtifactMetadata.ts
Due: none

Separate Nx build outputs before artifact assembly
  .gitignore
  apps/server/bin/assembleBuild.mts
  apps/server/bin/copy_server_assets.js
  apps/server/bin/generateVersionFile.mts
  apps/server/bin/tsconfig.json
  apps/server/project.json
  apps/webapp/project.json
  apps/webapp/webpack.config.common.js
  package.json
Due: app_webapp, app_server

Validate authoritative metadata in main artifacts
  .github/workflows/publish-main.yml
  apps/server/project.json
  apps/webapp/project.json
  apps/webapp/webpack.config.common.js
  bin/buildArtifactMetadata.test.ts
  bin/buildArtifactMetadata.ts
  bin/validateBuildArtifact.mts
  nx.json
Due: app_webapp, app_server

Render Release Cloud artifact build metadata
  .github/workflows/release-cloud.yml
  bin/renderReleaseCloudSummary.test.ts
  bin/renderReleaseCloudSummary.ts
Due: none

Exercise intended production metadata validation branches
  bin/productionDistribution.test.ts
Due: none

Centralize webapp build metadata validation
  .github/workflows/continuous-integration.yml
  .github/workflows/create_docker_image.yml
  .github/workflows/deploy-to-test-env.yml
  .github/workflows/precommit-e2e-tests.yml
  .github/workflows/publish-and-deploy-webapp.yml
  .github/workflows/publish-main.yml
  .github/workflows/redeploy-production-from-tag.yml
  .github/workflows/release-cloud.yml
  .github/workflows/rollback-production.yml
  apps/server/bin/generateVersionFile.mts
  apps/server/buildMetadata.ts
  apps/webapp/webpack.config.common.js
  libraries/config/package.json
  libraries/config/src/buildMetadata.test.ts
  libraries/config/src/buildMetadata.ts
  libraries/config/src/index.ts
  yarn.lock
Due: app_webapp, app_server

Build telemetry before copying server assets
  apps/server/project.json
Due: app_server

Preserve real legacy production artifact metadata
  bin/productionDistribution.test.ts
  bin/productionDistribution.ts
Due: none

Separate webapp version from asset cache key
  apps/server/bin/generateVersionFile.mts
  apps/server/buildMetadata.test.ts
  apps/server/buildMetadata.ts
  apps/server/config.ts
  apps/server/project.json
  apps/webapp/project.json
  apps/webapp/src/page/auth.ejs
  apps/webapp/src/page/index.ejs
  apps/webapp/src/page/unsupported.ejs
  apps/webapp/webpack.config.common.js
  bin/buildArtifactMetadata.test.ts
  bin/buildArtifactMetadata.ts
  bin/productionDistribution.test.ts
  libraries/config/src/buildMetadata.test.ts
  libraries/config/src/buildMetadata.ts
  libraries/config/src/index.ts
Due: app_webapp, app_server

Load authoritative metadata in server runtime configuration
  apps/server/buildMetadata.test.ts
  apps/server/buildMetadata.ts
  apps/server/config.ts
Due: app_server

Replace Result guards with narrowing assertions
  apps/server/buildMetadata.test.ts
  bin/buildArtifactMetadata.test.ts
  bin/productionDistribution.test.ts
Due: app_server

Increase timeout for TC-3220
  apps/webapp/test/e2e_tests/specs/Federation/federation.spec.ts
Due: app_webapp

Build config before running production distribution CLI
  .github/workflows/continuous-integration.yml
  bin/publish-development-helm.sh
  bin/publish-production-helm.sh
  bin/run-production-distribution-cli.sh
  bin/update-wire-builds.sh
  bin/validate-production-distribution.sh
Due: none

comments
  charts/webapp/values.yaml
Due: none

Stop running continuous integration on main pushes
  .github/workflows/continuous-integration.yml
Due: none

feat: sort shared drive tags alphabetically [WPB-21608]
  apps/webapp/src/script/components/Conversation/ConversationCells/common/sortTagsAlphabetically/sortTagsAlphabetically.test.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/common/sortTagsAlphabetically/sortTagsAlphabetically.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/common/useAllCellsTagsStore/useAllCellsTagsStore.test.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/common/useAllCellsTagsStore/useAllCellsTagsStore.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/useGetAllCellsNodes/transformDataToCellsNodes.ts
  apps/webapp/src/script/components/cellsGlobalView/cellsHeader/cellsFilters/cellsFiltersMenu/useGetAllTags/useGetAllTags.ts
  apps/webapp/src/script/components/cellsGlobalView/transformCellsNodes/transformCellsNodes.ts
Due: app_webapp

fix: keep created shared drive tags sorted [WPB-21608]
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsTableRowOptions/CellsTagsModal/useTagsManagement/useTagsManagement.test.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsTableRowOptions/CellsTagsModal/useTagsManagement/useTagsManagement.ts
  apps/webapp/src/script/components/Conversation/ConversationCells/useGetAllCellsNodes/transformDataToCellsNodes.test.ts
  apps/webapp/src/script/components/cellsGlobalView/cellsHeader/cellsFilters/cellsFiltersMenu/useGetAllTags/useGetAllTags.test.ts
  apps/webapp/src/script/components/cellsGlobalView/transformCellsNodes/transformCellsNodes.test.ts
Due: app_webapp

external-dns annotation
  charts/webapp/templates/httproute.yaml
Due: none

does bumping do something?
  charts/webapp/Chart.yaml
Due: none

Expose validated build metadata through /version
  apps/server/Server.ts
  apps/server/config.ts
  apps/server/index.ts
  apps/server/routes/redirectRoutes.ts
  apps/server/server.test.ts
Due: app_server

Export asset version from artifact validation
  bin/buildArtifactMetadataOutput.ts
  bin/validateBuildArtifact.mts
  bin/validateBuildArtifact.test.ts
Due: none

Validate complete build metadata during runtime verification
  .github/actions/verify-webapp-runtime/action.yml
  .github/actions/verify-webapp-runtime/verify-webapp-runtime.sh
  .github/workflows/publish-main.yml
  .github/workflows/release-cloud.yml
  apps/server/server.test.ts
  bin/validateBuildArtifact.mts
  bin/validateRuntimeResponses.mts
  bin/validateRuntimeResponses.ts
  bin/verifyWebappRuntime.test.ts
Due: app_server

Pass complete artifact metadata to runtime verification
  .github/workflows/publish-main.yml
  .github/workflows/release-cloud.yml
Due: none

Show asset version in main delivery summaries
  .github/workflows/publish-main.yml
Due: none

Show asset version in Release Cloud summaries
  .github/workflows/release-cloud.yml
  bin/renderReleaseCloudSummary.test.ts
  bin/renderReleaseCloudSummary.ts
Due: none

Document complete webapp build metadata contract
  docs/decision-records/0002-trunk-based-automated-release-process.md
Due: none

Correct runtime verification summary wording
  bin/renderReleaseCloudSummary.test.ts
  bin/renderReleaseCloudSummary.ts
Due: none

Include validated metadata in rollback summaries
  .github/workflows/rollback-production.yml
Due: none

Validate metadata for production redeploy artifacts
  .github/workflows/redeploy-production-from-tag.yml
Due: none

Use validated commit in rollback notifications
  .github/workflows/rollback-production.yml
Due: none

fix(webapp): close Meet Now modal after partial create failures
  apps/webapp/src/script/components/Meeting/MeetingSubmitErrors.ts
  apps/webapp/src/script/components/Meeting/meetNowModal/meetNowTypes.ts
  apps/webapp/src/script/components/Meeting/meetNowModal/submitMeetNow.ts
  apps/webapp/src/script/components/Meeting/meetNowModal/useMeetNowSubmit.test.tsx
  apps/webapp/src/script/components/Meeting/shared/service/meetingService.test.ts
  apps/webapp/src/script/components/Meeting/shared/service/meetingService.ts
  apps/webapp/src/script/components/Meeting/shared/submit/meetingSubmitErrorKeys.ts
  apps/webapp/src/script/components/Meeting/shared/submit/shouldRefreshMeetingsListAfterSubmitError.test.ts
  apps/webapp/src/script/components/Meeting/shared/submit/shouldRefreshMeetingsListAfterSubmitError.ts
Due: app_webapp

test(webapp): use ScheduleMeetingCommand in meeting store test
  apps/webapp/src/script/components/Meeting/meetingStore/createMeetingStore.test.ts
Due: app_webapp

Preserve legacy recovery artifact compatibility
  .github/workflows/redeploy-production-from-tag.yml
  .github/workflows/rollback-production.yml
  bin/buildArtifactArchive.ts
  bin/legacyBuildMetadata.ts
  bin/productionDistribution.ts
  bin/recoveryBuildArtifactMetadata.test.ts
  bin/recoveryBuildArtifactMetadata.ts
  bin/recoveryBuildArtifactMetadataOutput.ts
  bin/validateRecoveryBuildArtifact.mts
Due: none

test(webapp): narrow Maybe values in meeting store edit tests
  apps/webapp/src/script/components/Meeting/meetingStore/createMeetingStore.test.ts
Due: app_webapp

Return one router from redirect routes
  apps/server/routes/redirectRoutes.ts
  apps/server/server.test.ts
Due: app_server

refactor(webapp): use UpdateMeetingCommand in shared meeting service
  apps/webapp/src/script/components/Meeting/Meetings.tsx
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/useScheduleMeetingSubmit.test.tsx
  apps/webapp/src/script/components/Meeting/ScheduleMeetingModal/useScheduleMeetingSubmit.ts
  apps/webapp/src/script/components/Meeting/mapScheduleFormToUpdateMeetingCommand.test.ts
  apps/webapp/src/script/components/Meeting/mapScheduleFormToUpdateMeetingCommand.ts
  apps/webapp/src/script/components/Meeting/mapUpdateCommandToUpdateMeeting.test.ts
  apps/webapp/src/script/components/Meeting/mapUpdateCommandToUpdateMeeting.ts
  apps/webapp/src/script/components/Meeting/meetingStore/createMeetingStore.ts
  apps/webapp/src/script/components/Meeting/meetingStore/meetingStoreDeps.ts
  apps/webapp/src/script/components/Meeting/shared/service/meetingService.test.ts
  apps/webapp/src/script/components/Meeting/shared/service/meetingService.ts
  apps/webapp/src/script/components/Meeting/shared/types/meetingCommandTypes.ts
Due: app_webapp

Path conditions:
  app_webapp: any of: apps/webapp/**
  app_server: any of: apps/server/**
  lib_core: any of: libraries/core/**
  lib_api_client: any of: libraries/api-client/**
